<div class="panel-header">
  <div class="step-instructions col-sm-6">
    <h3>Tell us what you've seen and read</h3>
    <p>Hummingbird learns from your ratings to improve your recommendations.</p>
  </div>
  {{#if canContinue}}
    {{#link-to 'onboarding.finish' class='btn btn-primary continue-button categories'}}Continue{{/link-to}}
  {{else}}
    <a class='btn btn-primary continue-button no-continue'>
      Rate <strong>{{remainingRatings}} more</strong> to continue</strong>
    </a>
  {{/if}}
</div>

<div class="library-tab-wrapper col-sm-8">
  <ul class="library-tabs inline-list">
    <li>
      <a {{action 'mangaTab' false}} {{bind-attr class=":anime-tab showManga::active"}}>Anime</a>
    </li>
    <li>
      <a {{action 'mangaTab' true}} {{bind-attr class=":manga-tab showManga:active"}}>Manga</a>
    </li>
  </ul>
</div>

<div class="search-section col-sm-4">
  <div class="search-wrapper">
    <i class="fa fa-search"></i>
    {{input value=searchTerm class="library-search-widget" type="text" placeholder="Search by title..."}}
  </div>
</div>

<ul class="library-thumbs">
  {{#if showManga}}
    {{#each mangaData}}
      <li class="block-grid-item">
        <div class="thumbnail">
          <img {{bind-attr src=posterImage}} />
        </div>
        <span class="library-title">{{englishTitle}}</span>
        <div class="awesome-rating-widget">
          <h5 class="sidebar-title text-center">Your Rating</h5>
          {{awesome-rating type=currentUser.ratingType editable="true" action="setLibraryRating" rating=libraryEntry.rating}}
        </div>
      </li>
    {{else}}
      No search results ...
    {{/each}}
  {{else}}
    {{#each animeData}}
      <li class="block-grid-item">
        <div class="thumbnail">
          <img {{bind-attr src=posterImage}} />
        </div>
        <span class="library-title">{{canonicalTitle}}</span>
        <div class="awesome-rating-widget">
          <h5 class="sidebar-title text-center">Your Rating</h5>
          {{awesome-rating type=currentUser.ratingType editable="true" action="setLibraryRating" rating=libraryEntry.rating}}
        </div>
      </li>
    {{else}}
      No search results ...
    {{/each}}
  {{/if}}
</ul>

<div class="pull-right">
{{#link-to 'onboarding.library'}}Skip{{/link-to}}
</div>
