<div class="group-content">
  <div class="row">
    <div class="secondary-info">

      {{! Group Details }}
      <div class="group-about-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Group Details</h3>
        </div>
        <div class="panel-body">
          <p class="about">{{group.about}}</p>
        </div>
      </div>

      {{! Ad unit }}
      <div class="feed-sm-sidebar-advert">
        {{ad-unit adId="1298407" adClass="257f81e798bd68dd81e60f42838f361f"}}
      </div>

      {{! Group Members }}
      <div class="group-members-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Group Members</h3>
        </div>
        <div class="panel-body">
          <ul>
            {{#each member in group.recentMembers}}
              <li {{bind-attr data-tooltip=member.user.username}}>
                {{#link-to 'user' member.user.username}}
                  {{avatar member.user 'thumb'}}
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
          <div class="more-wrapper">
            {{#link-to 'group.members' class='view-more-button'}}
              View All ({{group.memberCount}})
            {{/link-to}}
          </div>
        </div>
      </div>

      {{! Suggested Groups }}
      <div class="group-suggestions-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Suggested Groups</h3>
        </div>
        <div class="panel-body">
          <ul>
            {{#each group in suggestedGroups}}
              <li>Name: {{group.name}} - Members: {{group.memberCount}}<li>
            {{/each}}
          </ul>
          <div class="more-wrapper">
            <a href="#" class="view-more-button">
              View All
            </a>
          </div>
        </div>
      </div>

      {{! Ad unit }}
      <div class="feed-sidebar-advert">
        {{ad-unit adId="1298406" adClass="257f81e798bd68dd81e60f42838f361f"}}
      </div>
    </div>

    {{! Group Feed }}
    <div class="group-feed">
      {{post-comment action="postComment"}}
      {{each content itemController="story" itemViewClass="story"}}
      {{#if canLoadMore}}
        {{load-more classNames="light" action="loadNextPage"}}
      {{/if}}
    </div>
  </div>
</div>
