.anime-discover.anime-show.anime-show-full
  .row
    .three.columns
      = render partial: 'anime/card', locals: {data: [@anime, @watchlist, 'twelve']}

    .nine.columns
      .panel.top-bar
        %h4= title "#{@anime.title} Quotes"
        %a{"data-reveal-id" => "submit-quote", :href => "#"}
          %span= "Submit a quote for #{@anime.title}"
          
      - @quotes.each do |quote|
        %fieldset
          %blockquote
            = quote.content
            - if quote.character_name
              %cite #{quote.character_name}
          %p.option-bar
            - if quote.creator
              (Submitted by #{link_to quote.creator.name, quote.creator}) 
              |
            = pluralize quote.votes.to_i, "vote"
            
            - if current_user && quote.has_evaluation?(:votes, current_user)
              = link_to vote_anime_quote_path(@anime, quote, type: "down"), method: :post do
                %i.icon-star
            - else
              = link_to vote_anime_quote_path(@anime, quote, type: "up"), method: :post do
                %i.icon-star-empty
            |
            = link_to "report", "#"

#submit-quote.reveal-modal{:class => "[expand, xlarge, large, medium, small]"}
  = render 'quotes/new'

