- title "#{@anime.title} Quotes"

%h1= yield(:title)

- @quotes.each do |quote|
  %blockquote
    = quote.content
    —
    = quote.character_name
    - if quote.creator
      (Submitted by #{quote.creator.name})

%p= link_to "[Submit quote]", new_anime_quote_url(@anime)
