.anime-discover.anime-show.anime-show-full.quote-page
  .row
    .large-2.columns.no-padding
      .quote-thumb
        = image_tag @anime.poster_image.url(:large), alt: @anime.canonical_title(current_user)
        - if false
          .large-12.columns.no-padding
            %a.small.button.split.padded{:href => "#"}
              Want to Watch
              %span{"data-dropdown" => "drop1"}
            %ul#drop1.f-dropdown.watchlist-button{"data-dropdown-content" => ""}
              %li
                %a{:href => "#"} Currently Watching
              %li
                %a{:href => "#"} Completed
              %li
                %a{:href => "#"} On Hold
              %li
                %a{:href => "#"} Dropped
              %li
                %a{:href => "#"} Remove 

    .large-7.columns.center-column
      .panel.center
        %h4.center= title "#{@anime.canonical_title(current_user)} Quotes"
        %hr
        = link_to "Back to Anime Page", anime_path(@anime)
        or
        %a{"data-reveal-id" => "submit-quote", :href => "#"}
          %span= "Submit New Quote"


          
      - @quotes.each do |quote|
        .large-12.columns.panel.no-padding.rounded-panel
          .large-12.columns.panel-head
            %p.head-title
              - if quote.creator
                Submitted by #{link_to quote.creator.name, quote.creator}
                |
              %a.tip-top(href="javascript:void(0)" data-tooltip title="Coming soon!") report
            %p.head-action
              = render partial: "quotes/votes", locals: {quote: quote}
          %hr.block-divider
          .large-12.columns
            %p.quote-content
              = quote.content
              - if quote.character_name
                %cite &mdash; #{quote.character_name}

    .large-3.columns
      %h5 SCREENCAPS
      - @gallery.each do |gallery|
        = image_tag gallery.image.url(:thumb)

#submit-quote.reveal-modal{:class => "medium"}
  = render 'quotes/new'

