.anime-discover.anime-show.anime-show-full
  .row
    .large-3.columns
      = render partial: 'anime/card', locals: {data: [@anime, @watchlist, 'large-12']}

    .large-9.columns
      .panel.top-bar
        %h4= title "#{@anime.canonical_title(current_user)} Quotes"
        %a{"data-reveal-id" => "submit-quote", :href => "#"}
          %span= "Submit a quote for #{@anime.canonical_title(current_user)}"
          
      - @quotes.each do |quote|
        %fieldset
          %blockquote
            = quote.content
            - if quote.character_name
              %cite #{quote.character_name}
          %p.option-bar
            - if quote.creator
              (Submitted by #{link_to quote.creator.name, quote.creator}) 
              |
            = render partial: "quotes/votes", locals: {quote: quote}
            |
            = link_to "report", "#"

#submit-quote.reveal-modal{:class => "[expand, xlarge, large, medium, small]"}
  = render 'quotes/new'

