<div class="update-panel">
  <div class="user-image">
    {{#link-to 'user' user}}{{avatar user "thumb_small"}}{{/link-to}}
  </div>
  <div class="comment-content">
    <h4 class="story-title">
      {{#link-to 'user' user}}{{user.username}}{{/link-to}}
      followed
      {{pluralize substoryCount "user" "users"}}
    </h4>
    <p class="secondary">
      {{time-ago time=createdAt}}
      {{#if canDeleteStory}}
        ·
        <a class="remove-post" {{action "deleteStory"}}>remove</a>
      {{/if}}
    </p>
  </div>
  <div class="row">
    <div class="comment-text">
      <div class="clearfix"></div>
      <ul class="follow-bubbles">
        {{#each displaySubstories}}
          <li>
            {{#link-to 'user' user}}
              <div class="user-bubble">
                <div class="bubble-avatar">
                  {{avatar user "thumb_small"}}
                </div>
                <h4 class="bubble-name">{{user.username}}</h4>
              </div>
            {{/link-to}}
          </li>
        {{/each}}
        {{#if moreThanTwoSubstories}}
          <li class="view-more">
            {{#if loadingAll}}
              <i class="fa fa-spin fa-spinner"></i>
            {{else}}
              <a {{action "toggleShowAll"}}>
                {{#if showAll}}
                  Show Less
                {{else}}
                  Show More
                {{/if}}
              </a>
            {{/if}}
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
