<div class="container">
  <div class="permalink-wrapper">
    <div class="user-feed">
      {{view "story" content=this}}
    </div>
    <div class="col-sm-5">
      <div class="follow-panel">
        {{#link-to 'user' user}}
          <div class="follow-cover" {{bind-attr style=user.coverImageStyle}}></div>
        {{/link-to}}
        <div class="user-avatar">
          {{#link-to 'user' user}}
            {{avatar user 'thumb'}}
          {{/link-to}}

          {{follow-button user=user}}

        </div>
        <div class="user-info">
          <h4>
            {{#link-to 'user' user}}
              {{user.username}}
            {{/link-to}}
          </h4>
          <p class="mini-bio">
            {{user.truncatedBio}}
          </p>
        </div>
      </div>

      {{#if group}}
        {{group-box group=group}}
      {{/if}}

      {{#unless currentUser.isSignedIn}}
        <div class="guest-cta">
          <p>{{user.username}} is using Hummingbird to track, discover and discuss anime and manga with friends. Don't miss any of {{user.username}}'s updates.</p>
          {{#link-to 'sign-up' class="btn follow-button"}}Create an Account{{/link-to}}
        </div>
      {{/unless}}
    </div>
  </div>
</div>
