%hr.feed-divider
.row
  .large-12.columns
    - if substory.substory_type == "followed"
      - followed_user = substory.target
      .small-1.large-1.columns.no-padding.hide-for-small
        = avatar_link followed_user
      .large-11.columns
        = user_link followed_user
        %p.time
          %span.time-ago
            = distance_of_time_in_words_to_now substory.created_at
            ago
            / · <a href="#">Like</a> · <a href="#">Comment</a>
    - elsif %w[liked_quote submitted_quote].include? substory.substory_type
      .small-1.large-1.columns.no-padding.hide-for-small
        = avatar_link substory.user
      .large-11.columns
        = user_link substory.user, you: true
        = substory.substory_type == "liked_quote" ? "liked" : "added"
        a quote.
        %p.quote-preview
          %i
            "#{substory.target.content}" &mdash; #{substory.target.character_name}
        %p.time
          %span.time-ago
            = distance_of_time_in_words_to_now substory.created_at
            ago
            / · <a href="#">Like</a> · <a href="#">Comment</a>
    - elsif substory.substory_type == "watchlist_status_update"
      .small-1.large-1.columns.no-padding.hide-for-small
        = avatar_link substory.user
      .large-11.columns
        - if substory.user == current_user
          = t (substory.data["new_status"] + " html").parameterize.underscore.to_sym, scope: 'stories.watchlist_status_updates.first_person', user: user_link(substory.user, you: true)
        - else
          = t (substory.data["new_status"] + " html").parameterize.underscore.to_sym, scope: 'stories.watchlist_status_updates.third_person', user: user_link(substory.user)
        %p.time
          %span.time-ago
            = distance_of_time_in_words_to_now substory.created_at
            ago
            / · <a href="#">Like</a> · <a href="#">Comment</a>
          
    - else
      %pre= substory.to_yaml
