<div class="library-entry" data-test-selector="library-list-entry">
  <div class="entry-wrapper" {{action 'toggleDisplay'}}>
    <div class="entry-left medium-7 columns">
      <div class="entry-title">
        <span>
          {{media.canonicalTitle}}
        </span>
      </div>
    </div>
    <div class="entry-right medium-5 columns">
      <div class="entry-progress">
        {{one-way-input value=entry.episodesWatched update=(action (mut entry.episodesWatched))
          placeholder="0"}}
        <span><span class="sep">/</span> {{episodeCount}}</span>
      </div>
      <div class="entry-rating">
        <span>{{rating}}</span>
      </div>
      <div class="entry-type">
        <span>{{type}}</span>
      </div>
    </div>
  </div>

  {{#if isOpened}}
    <div class="library-dropdown">
      <div class="drop-arrow"></div>
      <div class="small-12 columns">
        {{one-way-input value=entry.notes update=(action (mut entry.notes))
          placeholder=personalNote
          class="personal-notes"}}
      </div>
      <div class="medium-2 columns">
        <img class="drop-thumb" src={{media.posterImage}}>
      </div>
      <div class="medium-6 columns">
        <h4 class="drop-title">
          {{link-to media.canonicalTitle 'anime.show' media}}
        </h4>
        <ul class="genres">
          {{#each media.genres as |genre|}}
            <li>{{genre}}</li>
          {{/each}}
        </ul>
        <p class="drop-description">
          {{media.synopsis}}
        </p>
      </div>
      <div class="medium-4 columns">
        <div class="drop-options">
          <div class="status-select">
            {{! TODO: Implement dropdown }}
            <button class="button" data-toggle="status-dropdown">
              <span>{{status}}</span>
            </button>
          </div>
          <div class="dropdown-rating">
            {{! TODO: Implement dropdown }}
            <button class="button" type="button" data-toggle="privacy-dropdown">Private</button>
            {{! TODO: Implement rating component }}
            <div class="rating-options">
              <span class="icon-container" data-rating="1">
                <i class="fa fa-star-o"></i>
              </span>
              <span class="icon-container" data-rating="2">
                <i class="fa fa-star-o"></i>
              </span>
              <span class="icon-container" data-rating="3">
                <i class="fa fa-star-o"></i>
              </span>
              <span class="icon-container" data-rating="4">
                <i class="fa fa-star-o"></i>
              </span>
              <span class="icon-container" data-rating="5">
                <i class="fa fa-star-o"></i>
              </span>
            </div>
          </div>
          <div class="rewatch">
            {{! TODO: How is this handled? }}
            <button class="button" type="button" data-toggle="privacy-dropdown">Rewatch</button>
            <label>
              <span>Rewatched</span>
              {{one-way-input value=entry.rewatchCount update=(action (mut entry.rewatchCount))
                placeholder="0"}}
              <span>times</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>
