.topic-reply.row
  %a.anchor{:name => "post#{post.id}"}
  .discussions.large-12.columns
    .topic-view
      - if post.pending_review?
        .moderation
          = t(".pending_review")
          - if forem_admin_or_moderator?(post.topic.forum)
            - if local_assigns[:mass_moderation]
              = render "forem/posts/moderation_tools", :post => post
            - else
              = form_tag forem.forum_moderate_posts_path(post.topic.forum), :method => :put do
                = render "forem/posts/moderation_tools", :post => post

      .large-1.columns.avatar.hide-for-small
        = avatar_link post.user, :thumb_small

      .large-11.columns.topic-info{:class => ('ninja-ban' if user_signed_in? and current_user.admin? and post.user.ninja_banned?)}
        .username= link_to post.user, main_app.user_path(post.user)
        %p.sub-text{:datetime => post.created_at.to_s(:db)}= "#{time_ago_in_words(post.created_at)} #{t("ago")}"
        .topic-body 
          = forem_format(post.text)

