/ %a{:name => "post-#{post.id}"}
/ <div id='post_#{post.id}' class='reply_to_post post #{cycle('odd', 'even')}'>
/ .user
/   .username
/     = link_to_if Forem.user_profile_links, post.user, [main_app, post.user]
/   .icon= image_tag post.user.avatar.url(:thumb)
/ .contents
/   %a{:href => "#post-#{post.id}"}
/     %time{:datetime => post.created_at.to_s(:db)}= "#{time_ago_in_words(post.created_at)} #{t("ago")}"
/   = forem_format(post.text)
/   - if post.reply_to
/     %span.in_reply_to
/       = link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user}", "#post-#{post.reply_to.id}"
