<a name='post-<%= post.id %>'></a>
<div id='post_<%= post.id %>' class='reply_to_post post <%= cycle('odd', 'even') -%>'>

  <div class='user'>
    <div class='username'>
      <%= link_to_if Forem.user_profile_links, post.user, [main_app, post.user] %>
    </div>
    <div class='icon'><%= forem_avatar(post.user, :size => 60) %></div>
  </div>

  <div class='contents'>
    <a href='#post-<%= post.id %>'>
      <time datetime="<%= post.created_at.to_s(:db) -%>"><%= "#{time_ago_in_words(post.created_at)} #{t("ago")}" %></time>
    </a>
    <%= forem_format(post.text) %>

    <% if post.reply_to %>
      <span class='in_reply_to'>
        <%= link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user}", "#post-#{post.reply_to.id}" %>
      </span>
    <% end %>
  </div>
</div>