.reveal-modal{:class => "small", :id => "watchlist_#{watchlist.anime.slug}"}
  .row
    .twelve.columns
      = form_for watchlist do |f|
        = f.hidden_field :anime_id
        %fieldset
          %legend Update Your Watchlist
          .row
            .twelve.columns
              %h3= watchlist.anime.title
              
            .twelve.columns.line-break
              %label Watchlist Status
              = f.select :status, options_for_select(Watchlist.valid_statuses, watchlist.status)
          
            .twelve.columns.line-break
              %label Episodes Watched
              .row.collapse
                .three.mobile-three.columns
                  = f.number_field :episodes_watched, :min => 0
                .three.mobile-one.columns.end
                  %span.postfix Out of #{watchlist.anime.episode_count}

            .twelve.columns.modal-rating.line-break
              %label Rating (optional)
              - if user_signed_in? and current_user.star_rating
                .twelve.columns
                  .star-rating
                    = f.select "rating", [["1 star", -2], ["2 stars", -1], ["3 stars", 0], ["4 stars", 1], ["5 stars", 2]]

              - else

                .four.columns.like
                  = radio_button_tag(:"watchlist_rating_#{watchlist.anime.slug}", 2, watchlist.positive?)
                  = f.label :"rating_#{watchlist.anime.slug}_2"

                .four.columns.meh
                  // This code works for selecting but attempting to submit it errors.
                  = radio_button_tag(:"watchlist_rating_#{watchlist.anime.slug}", 0, watchlist.meh?)
                  = f.label :"rating_#{watchlist.anime.slug}_0"

                .four.columns.dislike
                  // This code works for selecting but attempting to submit it errors.
                  = radio_button_tag(:"watchlist_rating_#{watchlist.anime.slug}", -2, watchlist.negative?)
                  = f.label :"rating_#{watchlist.anime.slug}_-2"

                /.four.columns.like
                /  = f.radio_button "rating", 2
                /  = f.label :"rating_2"
                /.four.columns.meh
                /  = f.radio_button "rating", 0
                /  = f.label :"rating_0"
                /.four.columns.dislike
                /  = f.radio_button "rating", -2
                /  = f.label :"rating_-2"

            .twelve.columns{:style => "margin-bottom: 0px;"}
              %input.button.padded{:type => "submit", :value => "Update Watchlist"}
