.reveal-modal.anime-discover.anime-show.anime-show-full{:class => "small", :id => "watchlist_#{watchlist.anime.slug}"}
  .row
    .large-12.columns
      = form_for watchlist do |f|
        = f.hidden_field :anime_id, value: watchlist.anime.slug
        %fieldset
          %legend Update Your Watchlist
          .row
            .large-12.columns
              %h3= watchlist.anime.canonical_title(current_user)
              
            .large-12.columns.line-break
              %label Watchlist Status
              = f.select :status, options_for_select(Watchlist.valid_statuses, watchlist.status)
            
            // Styles need fixed
            .large-12.columns.line-break{:style => "padding: 0px;"} 
              %label Episodes Watched
              .row.collapse
                .large-3.mobile-three.columns
                  = f.number_field :episodes_watched, :min => 0, :max => watchlist.anime.episode_count
                .large-3.mobile-one.columns.end
                  %span.postfix Out of #{watchlist.anime.episode_count}

              / // Styles need fixed
              / .large-12.columns.user-watchlist{:style => "padding: 0px;"}
              /   = render partial: "episodes/list_four", locals: {episodes: select_four_episodes(watchlist, watchlist.anime), anime: watchlist.anime, write: true}

            .large-12.columns.modal-rating.line-break
              %label Rating (optional)
              - if user_signed_in? and current_user.star_rating
                .large-12.columns
                  .star-rating
                    = f.select "rating", [["", nil], ["1 star", -2], ["2 stars", -1], ["3 stars", 0], ["4 stars", 1], ["5 stars", 2]], selected: watchlist.rating

              - else

                .large-4.columns.like
                  = radio_button_tag(:"watchlist_rating_#{watchlist.anime.slug}", 2, watchlist.positive?)
                  = f.label :"rating_#{watchlist.anime.slug}_2"

                .large-4.columns.meh
                  = radio_button_tag(:"watchlist_rating_#{watchlist.anime.slug}", 0, watchlist.meh?)
                  = f.label :"rating_#{watchlist.anime.slug}_0"

                .large-4.columns.dislike
                  = radio_button_tag(:"watchlist_rating_#{watchlist.anime.slug}", -2, watchlist.negative?)
                  = f.label :"rating_#{watchlist.anime.slug}_-2"

            .large-12.columns{:style => "margin-bottom: 0px;"}
              .large-6.columns{:style => "margin-top: 10px;"}
                - if watchlist.id
                  = link_to "Remove from Watchlist", remove_from_watchlist_path(anime_id: watchlist.anime.id), method: :post
              .large-6.columns
                %input.button.padded{:type => "submit", :value => "Update Watchlist"}


.reveal-modal.anime-discover.anime-show{:class => "medium", :id => "preview_#{watchlist.anime.slug}"}
  .row
    .large-12.columns.center{:style => "text-align: center; border-bottom: 1px solid #eee; padding-bottom: 15px; margin-bottom: 10px;"}
      .large-6.columns{:style => "border-right: 1px solid #eee;"}
        %a{:href => "#"}
        = link_to watchlist.anime do
          %i.fa.fa-sign-in
          View Full Details

      .large-6.columns
        %a{"data-reveal-id" => "watchlist_#{watchlist.anime.slug}", :href => "#"}
          %i.fa.fa-list-alt
          Add to Watchlist
    .anime-details.cards.cf
      .details-left.large-4.columns{:style => "padding: 0px;"}
        - watchlist.anime.gallery_images.limit(4).each do |image|
          .large-12.columns
            = image_tag image.image.url(:thumb)
        
      .details-right.large-8.columns
        %h3{:style => "margin-top: 0px;"}= watchlist.anime.canonical_title(current_user)
        .genres
          %p 
          Genres:
          = watchlist.anime.genres.map {|x| link_to(x.name, x) }.join(", ").html_safe
        .synopsis
          %strong Status: #{watchlist.anime.status}
          %p= watchlist.anime.synopsis

