.reveal-modal.anime-discover.anime-show.anime-show-full{:class => "small", :id => "watchlist_#{watchlist.anime.slug}"}
  .row
    .twelve.columns
      = form_for watchlist do |f|
        = f.hidden_field :anime_id
        %fieldset
          %legend Update Your Watchlist
          .row
            .twelve.columns
              %h3= watchlist.anime.title
              
            .twelve.columns.line-break
              %label Watchlist Status
              = f.select :status, options_for_select(Watchlist.valid_statuses, watchlist.status)
            
            // Styles need fixed
            .twelve.columns.line-break{:style => "padding: 0px;"} 
              %label Episodes Watched
              .row.collapse
                .three.mobile-three.columns
                  = f.number_field :episodes_watched, :min => 0, :max => watchlist.anime.episode_count
                .three.mobile-one.columns.end
                  %span.postfix Out of #{watchlist.anime.episode_count}

              / // Styles need fixed
              / .twelve.columns.user-watchlist{:style => "padding: 0px;"}
              /   = render partial: "episodes/list_four", locals: {episodes: select_four_episodes(watchlist, watchlist.anime), anime: watchlist.anime, write: true}

            .twelve.columns.modal-rating.line-break
              %label Rating (optional)
              - if user_signed_in? and current_user.star_rating
                .twelve.columns
                  .star-rating
                    = f.select "rating", [["", nil], ["1 star", -2], ["2 stars", -1], ["3 stars", 0], ["4 stars", 1], ["5 stars", 2]], selected: watchlist.rating

              - else

                .four.columns.like
                  = radio_button_tag(:"watchlist_rating_#{watchlist.anime.slug}", 2, watchlist.positive?)
                  = f.label :"rating_#{watchlist.anime.slug}_2"

                .four.columns.meh
                  = radio_button_tag(:"watchlist_rating_#{watchlist.anime.slug}", 0, watchlist.meh?)
                  = f.label :"rating_#{watchlist.anime.slug}_0"

                .four.columns.dislike
                  = radio_button_tag(:"watchlist_rating_#{watchlist.anime.slug}", -2, watchlist.negative?)
                  = f.label :"rating_#{watchlist.anime.slug}_-2"

            .twelve.columns{:style => "margin-bottom: 0px;"}
              .six.columns{:style => "margin-top: 10px;"}
                = link_to "Remove from Watchlist", remove_from_watchlist_path(watchlist.anime)
              .six.columns
                %input.button.padded{:type => "submit", :value => "Update Watchlist"}


.reveal-modal.anime-discover.anime-show{:class => "medium", :id => "preview_#{watchlist.anime.slug}"}
  .twelve.columns.center{:style => "text-align: center; border-bottom: 1px solid #eee; padding-bottom: 15px; margin-bottom: 10px;"}
    .six.columns{:style => "border-right: 1px solid #eee;"}
      %a{:href => "#"}
      = link_to watchlist.anime do
        %i.icon-signin
        View Full Details

    .six.columns
      %a{"data-reveal-id" => "watchlist_#{watchlist.anime.slug}", :href => "#"}
        %i.icon-list-alt
        Add to Watchlist
  .anime-details.cards.cf
    .details-left.four.columns{:style => "padding: 0px;"}
      - watchlist.anime.gallery_images.limit(4).each do |image|
        .twelve.columns
          = image_tag image.image.url(:thumb)
      
    .details-right.eight.columns
      %h3{:style => "margin-top: 0px;"}= watchlist.anime.title
      .genres
        %p 
        Genres:
        = watchlist.anime.genres.map {|x| link_to(x.name, x) }.join(", ").html_safe
      .synopsis
        %strong Status: #{watchlist.anime.status}
        %p= watchlist.anime.synopsis

