<li {{bind-attr class=":notifications :searchbar showSearchbar:isactive:isinactive"}}>
  {{#if showSearchbar}}
    {{input class="search-field" value=searchTerm placeholder="Search for..."}}
  {{/if}}
  <a {{action 'toggleSearchbar'}} class="search-link">
    <i class='fa fa-search' style="position: relative; bottom: initial;"></i>
  </a>
  <ul {{bind-attr class=":search-dropdown"}}>
    {{#each result in instantSearchResults}}
      <li class="search-result">
        <img class="search-result-thumb" {{bind-attr src="result.image"}} />
        <span class="search-result-title">{{result.title}}</span>
        <span class="search-result-badge badge">{{result.type}}</span>
        <div class="search-result-break"></div>
      </li>
    {{/each}}
  </ul>
</li>
<li class='dropdown notifications'>
  <a class='dropdown-toggle notification-link' data-toggle='dropdown' href='#'>
    <i class='fa fa-bell active'>&nbsp;{{strpad newNotifications.length}}</i>
  </a>
  <ul class='dropdown-menu notification-dropdown right-nav-section'>
    {{#each panelNotifications}}
      <li>
        <a {{bind-attr class=":clearfix :notification seen:nonew:new"}}='clearfix notification new' href='#'>
          <div class='col-xs-1 col-sm-1 col-md-1 user-avatar'>
            <img {{bind-attr src="source_avatar"}}>
          </div>
          <div class='col-xs-11 col-sm-11 col-md-11 user-info'>
            <h5 class='username'>
              {{source_user}}
              <small class='user-action'>
                wrote a comment on your profile.
              </small>
            </h5>
            <small>{{time-ago time=created_at}}</small>
          </div>
        </a>
      </li>
    {{else}}
      <li>
        <span>You don't have any notifications yet.</span>
      </li>
    {{/each}}
    <li>
      {{!-- <a href='#'>View All Notifications</a> --}}
      {{#link-to 'notifications'}}View All Notifications{{/link-to}}
    </li>
  </ul>
</li>
