<li {{bind-attr class=":header-item :searchbar showSearchbar:isactive:isinactive"}}>
  {{#if showSearchbar}}
    {{instant-search class="search-field" action="submitSearch" focusLost="hideSearchfield" value=searchTerm placeholder="Search for..."}}
  {{/if}}
  <a {{action 'showSearchfield'}} class="search-link">
    <i class='fa fa-search' style="position: relative; bottom: initial;"></i>
  </a>
  {{#if showSearchbar}}
    {{#if hasInstantSearchResults}}
    <ul class="search-dropdown">
      {{#each result in instantSearchResults}}
        <li class="search-result">
          <a {{bind-attr href="result.link" title="result.title"}}>
            <div class="search-result-thumb">
              <img {{bind-attr src="result.image"}} />
            </div>
            <div class="search-result-title">{{result.title}}</div>
            <span {{bind-attr class=":search-result-badge :badge result.type"}}>{{result.type}}</span>
            <div class="search-result-break"></div>
          </a>
        </li>
      {{/each}}
      {{!--
      <li class="search-result search-result-more">
        {{#link-to 'search' searchTerm}}View more (enter){{/link-to}}
      </li>
      --}}
    </ul>
    {{/if}}
  {{/if}}
</li>
