= form_for(User.new, :as => :user, :url => registration_path(:user)) do |f|
  = f.label :name
  = f.text_field :name, :autofocus => true

  = f.label :email
  = f.email_field :email

  = f.label :password
  = f.password_field :password

  = f.label :password_confirmation
  = f.password_field :password_confirmation

  = f.submit "Sign up"
