- @active_tab = :account_settings
= render "users/dash"

.dashboard
  .row.content-body
    .twelve.columns
      .account-settings
        %h3= title "Edit Account Settings"

        = form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f|
          = devise_error_messages!

          .nine.columns.push-three
            %p 
              = f.label :name
              = f.text_field :name
            %p
              = f.label :email
              = f.email_field :email

              - if devise_mapping.confirmable? and resource.pending_reconfirmation?
                %p Currently waiting confirmation for: #{resource.unconfirmed_email}
            %p
              = f.label :short_bio
              = f.text_area :bio
            %p 
              = f.label :password, "New Password"
              %i (leave blank if you don't want to change it)
              = f.password_field :password, :autocomplete => "off"

            %p.password-confirmation-box
              = f.label :password_confirmation
              = f.password_field :password_confirmation
            
            %p
              = f.label :sfw_filter
              = f.check_box :sfw_filter

            %p
              = f.label :star_rating
              = f.check_box :star_rating
              
            %p
              = f.submit "Update"

          / Sidebar
          .three.columns.pull-nine
            %ul.side-nav
              %li
                = f.label :avatar
                %span.user-avatar= image_tag current_user.avatar_url
                = f.file_field :avatar
              %li

  .row.content-body
    .twelve.columns
      %a(name="import")
      %h3 Import
      - if @user.staged_import
        - if @user.staged_import.data[:complete]
          %p Import is done, #{link_to "review it", review_import_path(@user.staged_import)}!
        - else
          %p Import is in progress.
      - else
        = form_tag(controller: 'imports', action: 'myanimelist') do
          %fieldset
            %legend Import from MyAnimeList
            .row
              .five.columns
                .six.columns
                  %label.right MyAnimeList Username:
                .six.columns
                  %input(name="mal_username")
            .row
              %input(type="submit" class="small button" value="Import")

:javascript
  $(".password-confirmation-box").slideUp();
  $("div.dashboard input#user_password").focus(function() {
    $(".password-confirmation-box").slideDown();
  });
  $("div.dashboard input#user_password").blur(function() {
    if ($("div.dashboard input#user_password").val().length > 0) {
      $(".password-confirmation-box").slideUp();
    }
  });
