.dashboard
  .row.content-body
    .twelve.columns
      .panel.profile-bar
        .user-block.mobile-twelve
          %figure.user-avatar= image_tag(current_user.avatar_url)
          %figcaption.karma 10,042
          %figcaption.karma-title karma
        .user-information 
          %h4.username= current_user.name
          %p.bio 
            - if not current_user.bio.nil?
              = current_user.bio
            - else
              (Edit profile link goes here)
          .anime-life
            %p Life Spent on Anime:
            %p 1 month, 4 days, 21 hours and 7 minutes
        .genre-graph
          %span.title Most Watched Genres
          %ul.graphs


      .profile-bar-subnav
      
      .account-settings
        %h3= title "Edit Account Settings"

        = form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f|
          = devise_error_messages!

          .nine.columns.push-three
            %p 
              = f.label :name
              = f.text_field :name
            %p
              = f.label :email
              = f.email_field :email

              - if devise_mapping.confirmable? and resource.pending_reconfirmation?
                %p Currently waiting confirmation for: #{resource.unconfirmed_email}
            %p
              = f.label :bio
              = f.text_field :bio
            %p 
              = f.label :password, "New Password"
              %i (leave blank if you don't want to change it)
              = f.password_field :password, :autocomplete => "off"

              = f.label :password_confirmation
              = f.password_field :password_confirmation
              = f.submit "Update"

          / Sidebar
          .three.columns.pull-nine
            %ul.side-nav
              %li
                = f.label :avatar
                %span.user-avatar= image_tag current_user.avatar_url
                = f.file_field :avatar
              %li
              

