- @active_tab = :account_settings

.dashboard
  .row.content-body
    .large-12.columns
      .account-settings
        / .large-12.columns.option-bar
        /   .large-2.columns
        /     %p.option-title Edit Account
        /   .large-9.columns.options
        /     %ul.status-tabs.inline-list
        /       %li.active#tab-general= link_to "General", "#general", onclick: "showRelevantSections('general')"
        /       %li#tab-notifications
        /         %a{:href => "#notifications", :onclick => "showRelevantSections(&quot;notifications&quot;)"} Notifications
        /       %li#tab-connections
        /         %a{:href => "#connections", :onclick => "showRelevantSections(&quot;connections&quot;)"} Connections

        .large-12.columns.library-status-header
          %h5.status General Settings
        .row
          .large-12.columns#general
            = form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { method: :put, multipart: true, class: 'custom' }) do |f|
              = devise_error_messages!

              .large-7.columns{:style => "background: #fff;"}
                %p 
                  = f.label :name
                  = f.text_field :name
                %p
                  = f.label :email
                  = f.email_field :email

                  - if devise_mapping.confirmable? and resource.pending_reconfirmation?
                    %p Currently waiting confirmation for: #{resource.unconfirmed_email}

                %p
                  = f.label :mini_bio
                  = f.text_area :bio, rows: 5

                %p
                  = f.label :about_me
                  = f.text_area :about, rows: 5

                %p 
                  = f.label :password, "New Password"
                  = f.password_field :password, :autocomplete => "off"

                %p.password-confirmation-box
                  = f.label :password_confirmation
                  = f.password_field :password_confirmation

                .safe-for-work
                  .large-6.columns
                    %h5.switch-label Adult Content
                  .large-6.columns
                    .switch
                      = f.radio_button :sfw_filter, true
                      = f.label :sfw_filter_true, "Off"
                      = f.radio_button :sfw_filter, false
                      = f.label :sfw_filter_true, "On"
                      %span


                .rating-system
                  .large-6.columns
                    %h5.switch-label Rating System
                  .large-6.columns
                    .switch
                      = f.radio_button :star_rating, false
                      = f.label :star_rating_true, "Simple"
                      = f.radio_button :star_rating, true
                      = f.label :star_rating_false, "Advanced"
                      %span

                .title-language
                  .large-6.columns
                    %h5.switch-label Title Language
                  .large-6.columns
                    = f.select :title_language_preference, %w[canonical romanized english].map {|x| [x.titleize, x] }

              .large-5.columns
                %ul.side-nav
                  %li
                    %label Avatar (190x190)
                    %span.user-avatar= image_tag current_user.avatar_url
                    = f.file_field :avatar

                  %li
                    %label Cover (1400x330)
                    = image_tag @user.cover_image.url(:thumb), :class => "cover-image"
                    = f.file_field :cover_image

              .large-12.columns{:style => "margin-top: 30px;"}
                .large-8.columns.large-centered   
                  = f.submit "Update", :class => "button padded expand"

      .large-12.columns.library-status-header{:style => "border-top: 1px solid #f1f1f1; margin-top: 20px;"}
        %h5.status Connection Settings

      .row
        .large-12.columns#connection-settings
          -# .large-12.columns.neon-alley.facebook-connect
          -#   .large-10.columns.no-padding
          -#     .large-1.columns.no-padding
          -#       = image_tag "https://si0.twimg.com/profile_images/2344625017/j467pvyrkn9317tpwr1e_bigger.jpeg", :class => "connect-icon"
          -#     .large-11.columns
          -#       %h4 Neon Alley
          -#       %p Receive personalized recommendations and sync Activity Feed.
          -#   .large-2.columns.no-padding{:style => "margin-top: 20px;"}
          -#     - if current_user.neon_alley_integration?
          -#       %a.button.padded.na-disconnect Disconnect
          -#     - else
          -#       %a.button.padded.na-connect Connect

          -#   :coffee
          -#     path = #{user_toggle_connection_path(current_user).inspect}

          -#     addButtonLoader = (selector) ->
          -#       selector.html $("<i class='fa fa-spin fa-spinner'></i>")
              
          -#     connect_na = ->
          -#       addButtonLoader $("a.na-connect")
          -#       $.ajax path,
          -#         method: 'post'
          -#         data:
          -#           connection: 'neonalley'
          -#           enable: true
          -#         success: ->
          -#           $("a.na-connect").removeClass("na-connect").addClass("na-disconnect").html("Disconnect").click disconnect_na
              
          -#     disconnect_na = ->
          -#       addButtonLoader $("a.na-disconnect")
          -#       $.ajax path,
          -#         method: 'post'
          -#         data:
          -#           connection: 'neonalley'
          -#           disable: true
          -#         success: ->
          -#           $("a.na-disconnect").removeClass("na-disconnect").addClass("na-connect").html("Connect").click connect_na

          -#     $("a.na-disconnect").click disconnect_na
          -#     $("a.na-connect").click connect_na

          .large-12.columns.facebook-connect
            .large-8.columns
              %a(name="facebook_connect")
                %h3{:style => "margin-top: -4px"} Facebook Connect
            .large-4.columns
              - if @user.facebook_id
                .big-facebook-button.off
                  %i.fa.fa-facebook
                  = link_to "Disconnect", user_disconnect_facebook_path(current_user), method: :post
              - else
                .big-facebook-button
                  %i.fa.fa-facebook
                  = link_to "Connect to Facebook", omniauth_authorize_path(resource_name, :facebook)

          .large-12.columns.mal-import
            .large-12.columns
              %a(name="import")
                %h3{:style => "margin-top: -4px; margin-bottom: 5px;"} MyAnimeList Import
              %p Due to recent restrictions on the MyAnimeList API, the only way to currently import your MAL account is by <a href="http://myanimelist.net/panel.php?go=export" target="_blank">exporting your anime list</a> and uploading it using the form below.
              %form#malimport(action="/mal_import" method="post" enctype="multipart/form-data")
                %input(type="file" name="animelist")
                %input(type="hidden" name="authenticity_token"){value: form_authenticity_token}
              :javascript
                $("form#malimport input").change(function() {
                  $("form#malimport").submit();
                });

:javascript
  $(".password-confirmation-box").slideUp();
  $("div.dashboard input#user_password").focus(function() {
    $(".password-confirmation-box").slideDown();
  });
  $("div.dashboard input#user_password").blur(function() {
    if ($("div.dashboard input#user_password").val().length == 0) {
      $(".password-confirmation-box").slideUp();
    }
  });
