- @active_tab = :account_settings

.dashboard
  .row.content-body
    .large-12.columns
      .account-settings
        / .large-12.columns.option-bar
        /   .large-2.columns
        /     %p.option-title Edit Account
        /   .large-9.columns.options
        /     %ul.status-tabs.inline-list
        /       %li.active#tab-general= link_to "General", "#general", onclick: "showRelevantSections('general')"
        /       %li#tab-notifications
        /         %a{:href => "#notifications", :onclick => "showRelevantSections(&quot;notifications&quot;)"} Notifications
        /       %li#tab-connections
        /         %a{:href => "#connections", :onclick => "showRelevantSections(&quot;connections&quot;)"} Connections

        .large-12.columns.library-status-header
          %h5.status General Settings
        .row
          .large-12.columns#general
            = form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f|
              = devise_error_messages!

              .large-7.columns
                %p 
                  = f.label :name
                  = f.text_field :name
                %p
                  = f.label :email
                  = f.email_field :email

                  - if devise_mapping.confirmable? and resource.pending_reconfirmation?
                    %p Currently waiting confirmation for: #{resource.unconfirmed_email}

                %p
                  = f.label :about_me
                  = f.text_area :about, rows: 5

                %p 
                  = f.label :password, "New Password"
                  = f.password_field :password, :autocomplete => "off"

                %p.password-confirmation-box
                  = f.label :password_confirmation
                  = f.password_field :password_confirmation

                .safe-for-work
                  .large-6.columns
                    %h5.switch-label Adult Content
                  .large-6.columns
                    .switch
                      %input#x{:checked => "", :name => "sfw", :type => "radio"}/
                      %label{:for => "x", :onclick => ""} Off
                      %input#x1{:name => "sfw", :type => "radio"}/
                      %label{:for => "x1", :onclick => ""} On
                      %span


                .rating-system
                  .large-6.columns
                    %h5.switch-label Rating System
                  .large-6.columns
                    .switch
                      %input#x{:checked => "", :name => "rating", :type => "radio"}/
                      %label{:for => "x", :onclick => ""} Simple
                      %input#x1{:name => "rating", :type => "radio"}/
                      %label{:for => "x1", :onclick => ""} Advanced
                      %span

              .large-5.columns
                %ul.side-nav
                  %li
                    = f.label :avatar
                    %span.user-avatar= image_tag current_user.avatar_url
                    = f.file_field :avatar

                  %li 
                    = f.label :cover_image
                    = image_tag @user.cover_image.url(:thumb), :class => "cover-image"
                    = f.file_field :cover_image

              .large-12.columns{:style => "margin-top: 5px;"}
                .large-8.columns.large-centered   
                  = f.submit "Update", :class => "button expand"

      .large-12.columns.library-status-header{:style => "border-top: 1px solid #f1f1f1; margin-top: 20px;"}
        %h5.status Connection Settings

      .row
        .large-12.columns#connection-settings

          .large-12.columns.facebook-connect
            .large-8.columns
              %a(name="facebook_connect")
                %h3{:style => "margin-top: -4px"} Facebook Connect
            .large-4.columns
              - if @user.facebook_id
                .big-facebook-button.off
                  %i.icon-facebook
                  = link_to "Disconnect", user_disconnect_facebook_path(current_user), method: :post
              - else
                .big-facebook-button
                  %i.icon-facebook
                  = link_to "Connect to Facebook", omniauth_authorize_path(resource_name, :facebook)

          .large-12.columns.mal-import
            .large-6.columns
              %a(name="import")
                %h3{:style => "margin-top: -4px"} MyAnimeList Import
            .large-6.columns
              - if @user.staged_import
                - if @user.staged_import.data[:applying]
                  %p Your import is currently being applied. This can take some time to finish, especially if you have a large watchlist.
                - elsif @user.staged_import.data[:complete]
                  %p Your import is ready! #{link_to "Check it out.", review_import_path}
                - else
                  %p 
                    %span.in_progress Your import is currently in progress. 
                    %span.check_back Please check back shortly!
                    = link_to "Cancel", review_cancel_path, class: 'button'
                  :javascript
                    function checkForCompletion() {
                      $.getJSON("/users.json", function(data) { 
                        if (!data["import_staging_completed"]) {
                          $("span.check_back").html("Hang on, this won't take too long!");
                          setTimeout("checkForCompletion()", 5000);
                        }
                        else {
                          $("span.in_progress").html("Your import is ready!");
                          $("span.check_back").html("<a href='#{review_import_path}'>Check it out.</a>");
                        }
                      });
                    }
                    checkForCompletion();
                  
              - else
                = form_tag("/imports/myanimelist/new") do
                  .row.collapse
                    .large-5.columns
                      .large-8.columns
                        = text_field_tag :mal_username, @user.mal_username
                      .large-4.columns
                        %input(type="submit" class="button expand postfix" value="Import")

:javascript
  $(".password-confirmation-box").slideUp();
  $("div.dashboard input#user_password").focus(function() {
    $(".password-confirmation-box").slideDown();
  });
  $("div.dashboard input#user_password").blur(function() {
    if ($("div.dashboard input#user_password").val().length == 0) {
      $(".password-confirmation-box").slideUp();
    }
  });
