{{#if favoriteList}}
  {{#each favorite in favoriteList}}
    {{#if isEditing}}
      <li class="grid-list grid-draggable clearfix" {{bind-attr data-id=favorite.id}}>
        {{!-- <span class="grid-position">{{favorite.favRank}}</span> --}}
        <img class="grid-list-thumb" {{bind-attr src=favorite.item.posterImage}} />

        {{!-- This is needed since we don't have canonical titles for manga --}}
        {{#if isAnimeContainer}}<span class="grid-list-title">{{favorite.item.canonicalTitle}}</span>
        {{else}}<span class="grid-list-title">{{favorite.item.englishTitle}}</span>{{/if}}

        <span class="grid-position" {{action 'deleteFavorite' favorite}}><i class="fa fa-times-circle"></i></span>
      </li>
    {{else}}
      <li class="grid-thumb" {{bind-attr data-id=favorite.id}}>
        {{#if isAnimeContainer}}
          {{#link-to 'anime' favorite.item}}
            <div class="thumbnail">
              <img {{bind-attr src=favorite.item.posterImage}} />
            </div>
          {{/link-to}}
        {{else}}
          {{#link-to 'manga' favorite.item}}
            <div class="thumbnail">
              <img {{bind-attr src=favorite.item.posterImage}} />
            </div>
          {{/link-to}}
        {{/if}}
      </li>
    {{/if}}
  {{/each}}
  {{#if isEditing}}
    <div class="grid-list fav-search clearfix">
      {{favorite-search action="pushFavorite" favorites=favoriteList type=containerType currentUser=currentUser}}
    </div>
  {{/if}}
{{else}}
  {{#if isEditing}}
    <div class="grid-list fav-search clearfix">
      {{favorite-search action="pushFavorite" favorites=favoriteList type=containerType currentUser=currentUser}}
    </div>
  {{else}}
    <div class="no-favorites text-center">
      {{#if viewingSelf}}
        <h3>You have no favorites.</h3>
        <a href="https://forums.hummingbird.me/t/how-to-adding-an-anime-to-your-favorites">How to add Favorites</a>
      {{else}}
        <h3>{{user.username}} has no favorites.</h3>
        <p>Clearly they're an individual of fine, discerning tastes.</p>
      {{/if}}
    </div>
  {{/if}}
{{/if}}
