{{#if favoriteList}}
  {{#each favorite in favoriteList}}
    {{#if isEditing}}
      <li class="grid-list clearfix" {{bind-attr data-id=favorite.id}}>
        <span class="grid-position">{{favorite.favRank}}</span>
        <img class="grid-list-thumb" {{bind-attr src=favorite.item.posterImage}} />
        <span class="grid-list-title">{{favorite.item.canonicalTitle}}</span>
        <span class="grid-list-title" {{action 'deleteFavorite' favorite}}>(x)</span>
      </li>
    {{else}}
      <li class="grid-thumb" {{bind-attr data-id=favorite.id}}>
        {{#link-to 'anime' favorite.item.id}}
          <div class="thumbnail">
            <div class="move-overlay">
              <i class="fa fa-arrows">
              </i>
            </div>
            <img {{bind-attr src=favorite.item.posterImage}} />
          </div>
        {{/link-to}}
      </li>
    {{/if}}
  {{/each}}
{{else}}
    <div class="no-favorites text-center">
      {{#if viewingSelf}}
        <h3>You have no favorites.</h3>
        <a href="https://forums.hummingbird.me/t/how-to-adding-an-anime-to-your-favorites"> How to add Favorites</a>
      {{else}}
        <h3>{{user.username}} has no favorites.</h3>
        <p>Clearly they're an individual of fine, discerning tastes.</p>
      {{/if}}
    </div>
{{/if}}
