%ul.anime-list
  - @results.each do |anime|
    %li.search-result.cf
      .large-1.columns.hide-for-small.thumbnail.no-padding-right
        = image_tag anime.poster_image.url(:medium)
      .small-12.large-11.columns
        .large-12.columns.title
          = link_to anime.canonical_title(current_user), anime
          %span.hide (2002)
        .large-9.columns.synopsis
          %p
            = truncate(anime.synopsis, length: 280, separator: ' ')
            - if anime.synopsis.length > 280
              %span
                %a{:onclick => "$(this).parent().parent().html('#{j anime.synopsis}')"} [read more]
          // Truncate this to around the length of the above, if possible
          //= anime.synopsis
        .large-3.columns
          .large-12.columns.no-padding
            .watchlist-status-button{:"data-anime" => anime.slug, :"data-status" => (@watchlist_status[anime.id] || "false").parameterize}

= paginate @results
