<h1>Sign In</h1>

{{#if errorMessage}}
  {{#alert-box type="alert" closable=false}}
    {{errorMessage}}
  {{/alert-box}}
{{/if}}

<form {{action 'authenticateWithOAuth2' on='submit'}}>
  <label for="identification">Login</label>
  {{one-way-input value=identification placeholder="Username or Email"
    update=(action (mut identification))}}

  <label for="password">Password</label>
  {{one-way-input value=password placeholder="Password" type="password"
    update=(action (mut password))}}

  <button type="submit" disabled={{isSubmitDisabled}}>Sign In</button>
</form>
