.row
  .large-12.columns
    .large-9.columns.recs-left-side.no-padding-right
      %h3.top-title= title 'Anime Recommendations'
      %hr.title-divider

      - unless current_user.recommendations_up_to_date
        .panel.rounded-panel
          %span.updating_recommendations We're updating your recommendations. 
          %span.check_back Check back in a minute!
        :javascript
          function checkForCompletion() {
            $.getJSON("/users.json", function(data) { 
              if (!data["recommendations_up_to_date"]) {
                $("span.check_back").html("Hang on!");
                setTimeout("checkForCompletion()", 5000);
              }
              else {
                $("span.updating_recommendations").html("We're done updating your recommendations.");
                $("span.check_back").html("<a href='/anime?filter=recommended'>Check them out!</a>");
              }
            });
          }
          checkForCompletion();
      

      / Neon Alley Recommendations
      - if current_user.neon_alley_integration?
        .large-12.columns.panel.no-padding.rounded-panel
          .large-12.columns.panel-head
            %p.head-title Anime you'll love on <strong>Neon Alley</strong>
            - if false
              %p.head-action= link_to "view more", "#"
          %hr.block-divider
          - if @neon_alley.length == 0
            %h5.default-state.center Uh oh, we don't have any recommendations for you yet!
          - else
            %ul.small-block-grid-2.large-block-grid-5.single-recs
              - @neon_alley.each do |anime|
                %li.single-rec
                  .rec-thumbnail
                    %p.wanna-watch
                      %a.small.button want to watch
                    = link_to (image_tag anime.cover_image(:thumb), alt: anime.canonical_title(current_user.title_language_preference)), anime
                  %p.title= anime.canonical_title(current_user.title_language_preference)
                  .hide= link_to "Not Interested", "#", :class => "not-interested"

      / By status recommendations
      - @status_categories.each do |category|
        .large-12.columns.panel.no-padding.rounded-panel
          .large-12.columns.panel-head
            %p.head-title 
              Based on the anime 
              = @word_before[category] 
              %strong= category.titleize
            - if false
              %p.head-action= link_to "view more", "#"
          %hr.block-divider
          - if @recommendations[category].length == 0
            %h5.default-state.center Uh oh, we don't have any recommendations for you yet!
          - else
            %ul.small-block-grid-2.large-block-grid-5.single-recs
              - @recommendations[category][0..4].each do |anime|
                %li.single-rec
                  .rec-thumbnail
                    %p.wanna-watch
                      %a.small.button 
                        %i.icon-plus
                        Plan to Watch
                    = link_to (image_tag anime.cover_image(:thumb), alt: anime.canonical_title(current_user.title_language_preference)), anime
                  %p.title= anime.canonical_title(current_user.title_language_preference)
                  .hide= link_to "Not Interested", "#", :class => "not-interested"

    .large-3.columns.recs-right-side
      / filter panel
      .large-12.columns.panel.no-padding.rounded-panel
        .large-12.columns.panel-head
          %p.head-title By Library
        %hr.block-divider
          %ul.filter-options
            %li
              = link_to "Overview", "#", :class => "active"
            %li
              = link_to "Currently Watching", "#"
            %li
              = link_to "Plan to Watch", "#"
            %li
              = link_to "Completed", "#"

      - if current_user.neon_alley_integration?
        .large-12.columns.panel.no-padding.rounded-panel
          .large-12.columns.panel-head
            %p.head-title By Service
            %p.head-action= link_to "edit", "#"
          %hr.block-divider
            %ul.filter-options
              %li
                = link_to "Neon Alley", "#"

      - if false
        .large-12.columns.panel.no-padding.rounded-panel
          .large-12.columns.panel-head
            %p.head-title By Genre
            %p.head-action= link_to "edit", "#"
          %hr.block-divider
            %ul.filter-options
              %li
                = link_to "Action", "#"
              %li
                = link_to "Slice of Life", "#"
              %li
                = link_to "Ecchi", "#"



/ .tooltip-contents.hide
/   .large-12.columns
/     %h4 Death Note
/     %p Yagami Light is a 17-year-old genius from Japan who is tired of his life, school, and the state of the world as he knows it. One day, on the way home from class, Light stumbles upon a dark notebook with "Death Note" written on the front... <a href="#">read more</a>
/     %h6 Because you added:
/     .large-12.columns.no-padding
/       .large-2.columns
/         = link_to (image_tag "http://hummingbird.me/system/141d05611a95fdfaec3f77581aaacd0cc2826dfe_thumb.jpg?1361873644", :class => "rec-image"), "#"
/       .large-2.columns
/         = link_to (image_tag "http://hummingbird.me/system/141d05611a95fdfaec3f77581aaacd0cc2826dfe_thumb.jpg?1361873644", :class => "rec-image"), "#"
/       .large-2.columns
/         = link_to (image_tag "http://hummingbird.me/system/141d05611a95fdfaec3f77581aaacd0cc2826dfe_thumb.jpg?1361873644", :class => "rec-image"), "#"
/       .large-2.columns.end
/         = link_to (image_tag "http://hummingbird.me/system/141d05611a95fdfaec3f77581aaacd0cc2826dfe_thumb.jpg?1361873644", :class => "rec-image"), "#"



/ :coffee
/   $(".rec-image").tooltip
/     placement: 'right'
/     html: true
/     delay:
/       show: 700
/       hide: 100
/     title: $(".tooltip-contents").html()
