<li {{bind-attr class=":notification seen::new"}}>
  <a {{bind-attr href=link}}>
    <div class="avatar">
      {{avatar sourceUser 'thumb_small'}}
    </div>
    <div class="content">
      {{notification-message this}}

      <div class="time">{{time-ago time=createdAt}}</div>
    </div>
  </a>
</li>
