<div class="container">
  <h1>Admin Panel</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul>
            <li><a class="btn" href="/kotodama/rails_admin">Biribiri Admin</a></li>
            <li><a class="btn" href="/kotodama/sidekiq">Sidekiq Dashboard</a></li>
            <li><a class="btn" href="/kotodama/pghero">PG Hero</a></li>
            <li><a class="btn" href="/kibana">Kibana</a></li>
            <li>
              {{#link-to 'edits' class="btn"}}
                {{pluralize pending_count "Pending Edit" "Pending Edits"}}
              {{/link-to}}
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Registrations over the last week</div>
        <div class="panel-body">
          {{ember-chart type="Line" data=graphData options=graphOptions}}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Daily stats</div>
        <div class="panel-body no-padding no-vpadding">
          <table class="table table-striped small-content">
            <tbody>
              <tr><td>Registrations</td><td>{{accountsNew}}</td></tr>
              <tr><td>Confirmed Accounts</td><td>{{accountsCnf}}</td></tr>
              <tr><td>Active Accounts</td><td>{{activeaccs}}</td></tr>
              <tr><td>Feed posts</td><td>{{feedposts}}</td></tr>
              <tr><td>Feed updates</td><td>{{feedcomments}}</td></tr>
              <tr><td>Feed likes</td><td>{{feedlikes}}</td></tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Deploy Hummingbird [Current: {{sha_hash}}]</div>
        <div class="panel-body">
          <button class="form-control btn status-button" {{action 'deploy'}}>Good Luck!</button>
          {{#if hasDeployed}}
            <button class="btn btn-success form-control" {{action 'reload'}}>Deployment successful!</button>
          {{/if}}
          <button class="form-control btn btn-danger" {{action 'publishUpdate'}}>Make 'em Reload!</button>
        </div>
      </div>
    </div>


    <div class="col-md-8 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">Set Hummingbird Blotter</div>
        <div class="panel-body">
          {{#if hasBlotter}}
            <div class="row">
              <div class="col-md-8 col-xs-8">
                <blockquote>
                  {{blotterMesgFix}}
                </blockquote>
              </div>
              <div class="col-md-4 col-xs-4">
                <button class="form-control btn status-button" {{action 'clearBlotter'}}>
                  <i class="fa fa-trash"></i> Clear
                </button>
              </div>
            </div>
          {{/if}}
          <div class="row">
            <div class="col-md-6 col-xs-6">
              {{input type="text" value=blotterMesg class="form-control" placeholder="Blotter Message"}}
            </div>
            <div class="col-md-3 col-xs-3">
              {{input type="url" value=blotterLink class="form-control" placeholder="Blotter Link"}}
            </div>
            <div class="col-md-3 col-xs-3">
              <button class="form-control btn status-button" {{action 'saveBlotter'}}>Save</button>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Import from MAL</div>
        <div class="panel-body">
          <form method="get" action="/kotodama/find_or_create_by_mal">
            <div class="row">
              <div class="col-md-3 col-xs-3">
                <select name="media" size="1" class="form-control">
                  <option value="anime">Anime</option>
                  <option value="manga">Manga</option>
                </select>
              </div>
              <div class="col-md-3 col-xs-3">
                <input type="number" name="mal_id" class="form-control" placeholder="MAL ID" />
              </div>
              <div class="col-md-3 col-xs-3">
                <input type="submit" value="Import" class="form-control btn status-button" />
              </div>
              <div class="col-md-3 col-xs-3">
                {{#if nonMalAnime}}
                  <button class="form-control btn btn-default" {{action 'toggleNonMal'}}>No MAL-ID Anime</button>
                {{/if}}
              </div>
            </div>
          </form>
          {{#if showNonMal}}
            <table class="table table-striped">
              <tbody>
                {{#each nonMalAnime}}
                  <tr><td>{{#link-to 'anime' slug}}{{title}}{{/link-to}}</td></tr>
                {{/each}}
              </tbody>
            </table>
          {{/if}}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">PRO Deals Needing Refill</div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>Partner</th>
              <th>Deal</th>
              <th colspan="2">Codes Remaining</th>
            </thead>
            <tbody>
              {{#each deal in partnerDeals itemController="kotodama.partner-deal"}}
                <tr>
                  <td>{{deal.partner_name}}</td>
                  <td>{{deal.deal_title}}</td>
                  <td>{{deal.codes_remaining}}</td>
                  <td>
                    {{#if deal.isRefilling}}
                      Refilling...
                    {{else}}
                      {{#if deal.hasRefilled}}
                        Refilled!
                      {{else}}
                        <label>
                          {{view "file-upload" action="uploadCodesFile"}}
                          <i class="fa fa-upload"></i> Refill
                        </label>
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

      {{!--
      <div class="panel panel-default">
        <div class="panel-heading">Reported content</div>
        <div class="panel-body no-padding no-vpadding">
          <table class="table table-striped">
            <tbody>
              {{#each reportedContent}}
                <tr>
                  <td>{{this}}</td>
                  <td>cybrox</td>
                  <td>
                    {{#link-to 'index'}}<i class="fa fa-eye"></i>{{/link-to}}
                    {{#link-to 'index'}}<i class="fa fa-pencil"></i>{{/link-to}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      --}}
    </div>
  </div>
</div>
