<div class="pro-card">
  <div class="panel panel-default">
    <div class="panel-body pro-panel">

      {{#if currentUser.isPro}}
        <h1>You're PRO all day, every day.</h1>
        <!-- If one-time -->
        {{!-- <h1>You're PRO as it gets for 28 more days.</h1> --}}

        <p>Thanks for giving us your greasy, dirty money. We promise to use it to buy solid gold chairs and evil, hairless cats. With the money that's left over, we'll be putting it back into Hummingbird so that we can build out features faster, afford more reliable servers and grow our community.</p>
        <a href="#">I'd like to cancel my PRO subscription</a>
      {{else}}
        <h1>Let's take our relationship to the next level.</h1>
        <p><strong>Hummingbird PRO</strong> is our premium membership. It upgrades your account with some neat extras, you’ll receive special benefits from our PRO partners and most importantly you’ll be directly supporting us to continue making magic happen. We’re talking about love, baby.</p>

        <div class="purchase-block">
          <div class="btn-group" role="group" aria-label="...">
            <!-- Currently selected tab should have the class '.active' -->
            <button type="button" {{bind-attr class=":btn :btn-default subscriptionActive:active"}} {{action "setCurrentTab" "subscription"}}>Subscription</button>
            <button type="button" {{bind-attr class=":btn :btn-default onetimeActive:active"}} {{action "setCurrentTab" "onetime"}}>One-time / Gift</button>
          </div>

        <!-- Subscription option -->
        <!-- This form should only be shown if the 'Subscription' button above is clicked -->
        {{#if subscriptionActive}}
          <div class="payment-wrapper">
            <p>What type of subscription would you like?</p>
            <ul>
              <li>
                <input name="period" type="radio" id="period_monthly" value="monthly" class="nomargin">
                <label for="period_monthly">monthly - $4.99</label>
              </li>
              <li>
                <input name="period" type="radio" id="period_yearly" value="yearly" class="nomargin" checked="checked">
                <label for="period_yearly">yearly - $39.99 (~$3.50/month)</label>
              </li>
            </ul>
            <button class="pro-button" type="button">Purchase PRO</button>
          </div>
        {{/if}}
        <!-- End Subscription option -->

        <!-- One-time option -->
        <!-- This form should only be shown if the 'One-time / Gift' button above is clicked -->
        {{#if onetimeActive}}
          <div class="payment-wrapper">
            <p>How many months?</p>
            <select id="months" name="months" class="pro-dropdown">
              <option value="1">1 month: $3.99</option>
              <option value="3">3 months: $11.97</option>
              <option value="12" selected="">12 months   (special price!): $29.99</option>
              <option value="24">24 months   (special price!): $59.98</option>
              <option value="36">36 months   (special price!): $89.97</option>
            </select>
            <ul>
              <li>
                <input type="radio" id="notgift" name="gift" value="0">
                <label for="notgift">purchase for myself</label>
              </li>
              <li>
                <input type="radio" id="gift" name="gift" value="1" checked="">
                <label for="gift">purchase as a gift</label>
                <!-- Gift Details should only be shown if the #gift radio is checked -->
                <div class="gift-details">
                  <label>
                    who should receive this gold?
                    <input id="recipient" type="text" name="recipient" value="" placeholder="Enter a username..." size="13" maxlength="20" class="inline">
                  </label>
                  <ul class="indent">
                    <li>
                      <label>
                        <input type="checkbox" id="message" name="message" value="message">
                        include a message?
                      </label>
                    </li>
                    <li>
                      <textarea rows="3" name="giftmessage" id="giftmessage" placeholder="Go ahead, say something clever..." class="giftmessage"></textarea>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <button class="pro-button">Purchase PRO</button>
          </div>
        {{/if}}
        <!-- End One-time option -->
      {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="pro-card">
  <div class="panel panel-default">
    <div class="panel-body pro-panel">
      <h1>What you get.</h1>
      <ul class="perks">
        <li><span>Ad-free browsing experience</span></li>
        <li><span>Exclusive PRO badge beside your name</span></li>
        <li><span>Early Access to New Features</span></li>
        <li><span>Special benefits from our PRO partners</span></li>
      </ul>
      <ul class="pro-partners">
        <h1>From our PRO partners.</h1>
        <li>
          <div class="partner-logo">
            <img src="http://media.animevice.com/uploads/0/4/4994-trsi_large.png">
          </div>
          <div class="partner-deal">
            <h4>One Year of Rightstuf 'Got Anime' Membership</h4>
            <p>Receive special offers and discounts on purchases, including an additional 10% off their already low prices!</p>
            {{#if currentUser.isPro}}
              <!-- This should be shown be default -->
              <a class="redeem-button">Redeem Offer</a>
              <!-- Offer clipping and instructions should only be shown AFTER the offer has been redeemed -->
              {{!-- <div class="offer-clipping">humlzhz83q</div>
              <p class="redemption-instructions">Claim your code above, then use it during Rightstuf checkout with the Got Anime? membership in your cart.</p> --}}
            {{/if}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
