<div class="panel-header">
  <div class="step-instructions col-sm-7">
    <h3>What categories are you interested in?</h3>
    <p>We will use your favorite categories to improve the recommendations we calculate for you.</p>
  </div>
  <div class="next-step col-sm-5">
    {{#if canContinue}}
      {{#link-to 'onboarding.library' class='btn btn-primary continue-button categories'}}Continue{{/link-to}}
    {{else}}
      <a class='btn btn-primary continue-button no-continue'>
        Select <strong>{{remainingFavorites}} more</strong>
      </a>
    {{/if}}
  </div>
</div>

<div class="genre-panel-wrapper">
  {{#if loading}}
    {{loading-indicator}}
  {{else}}
    {{#each genres as |genre|}}
      <div class="genre-panel">
        <div {{bind-attr class=":genre genre.favorite:active"}} {{action "toggleFavorite" genre}}>
          <span>{{genre.model.name}}</span>
        </div>
      </div>
    {{/each}}
  {{/if}}
</div>
