<div class="panel-header">
  <div class="step-instructions col-sm-7">
    <h3>Last Step, Follow People!</h3>
    <p>Follow users to stay up-to-date on everything they're watching, reading and doing.</p>
  </div>
  <div class="next-step col-sm-5">
    {{#link-to 'user.index' currentUser.id class='btn btn-primary continue-button finish'}}Finish Account Setup{{/link-to}}
  </div>
</div>

<div class="library-tab-wrapper col-sm-8">
  <ul class="library-tabs inline-list">
    <li>
      <a href="#" class="anime-tab active">Featured on Hummingbird</a>
    </li>
  </ul>
</div>

{{!--
  <div class="search-section col-sm-4">
    <div class="search-wrapper">
      <i class="fa fa-search"></i>
      <input class="library-search-widget" type="text" placeholder="Search by username...">
    </div>
  </div>
--}}

<div class="featured-user-wrapper">
  {{#each userList as |user|}}
    <div class="follow-panel-wrapper">
      <div class="follow-panel">
        {{#link-to 'user' user.username}}
          <div class="follow-cover" {{bind-attr style=user.coverImageStyle}}></div>
        {{/link-to}}
        <div class="user-avatar">
          <a {{bind-attr href=user.userLink}}>
            {{avatar user 'thumb'}}
          </a>
          {{follow-button user=user}}
        </div>
        <div class="user-info">
          <h4>{{#link-to 'user' user.username}}{{user.username}}{{/link-to}}</h4>
          <p class="mini-bio">
            {{user.truncatedBio}}
          </p>
        </div>
      </div>
    </div>
  {{/each}}
</div>
