<div class="quote-bubble pull-left cl">
  <div class="review-quote">
    <div class="media">
      <div class="quick-rating">
        <i {{bind-attr class=":fa review.positive:fa-smile-o:fa-frown-o"}}></i>
      </div>
      <div class="media-body">
        <p>"{{review.model.summary}}"</p>
        <div class="review-details">
          <div class="review-likes">
            {{review.model.positiveVotes}} out of {{review.model.totalVotes}} users found this review helpful.
          </div>
          <div class="full-review">
            {{#link-to 'reviews.show' review.model.id}}Full Review…{{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="review-source media">
    {{#link-to 'user' review.model.user}}
      <div class="reviewer-avatar">
        {{avatar review.model.user 'thumb'}}
      </div>
      <div class="reviewer-name">
        <div>
          {{review.model.user.username}}
        </div>
      </div>
    {{/link-to}}
  </div>
</div>
