.panel
  %h1(style="text-align: center")= title "Admin Panel"

.row

  .large-3.columns
    .panel
      %ul
        %li= link_to "Biribiri Admin", "/kotodama/rails_admin", class: 'button padded'
        %li= link_to "Sidekiq Dashboard", "/kotodama/sidekiq", class: 'button padded secondary'
        %li= link_to "Beanstalkd View", "/kotodama/beanstalkd", class: 'button padded secondary'
        %li= link_to "A/B Tests", "/kotodama/split", class: 'button padded secondary'

  .panel.large-9.columns
    .row
      .large-9.columns
        %h4 Actions
        %hr
        .panel
          %h5 Create or Update by MAL ID
          %form(method="get" action="/kotodama/find_or_create_by_mal")
            .row.collapse
              .large-8.columns
                %input(type="number" name="mal_id" placeholder="MAL ID")
              .large-4.columns
                %input.button.small.prefix(type="submit" value="Submit")

        .panel
          %h5 Anime without MAL IDs
          - if @anime_without_mal_id.length > 0
            %ul
              - @anime_without_mal_id.each do |anime|
                %li= anime_link anime
          - else
            %em (Nothing here.)

      .large-3.columns
        %h4 Statistics
        %hr
        %table
          %tr
            %td Signups
            %td= @total_beta
          %tr
            %td Invites Sent
            %td= @invited_beta
          %tr
            %td Registrations
            %td= @user_count

