%h1(style="text-align: center")= title "Admin Panel"

.row
  .large-3.columns
    %ul.nav-bar.vertical
      %li= link_to "Rails Admin", "/kotodama/rails_admin"
      %li= link_to "Sidekiq Dashboard", "/kotodama/sidekiq"
      %li= link_to "Forem Admin", forem.admin_root_url
      %li= link_to "A/B Tests", "/kotodama/split"
  .panel.large-9.columns
    .row
      .large-5.columns
        %table
          %tr
            %td Number of sign-ups
            %td= @total_beta
          %tr 
            %td Number of invites sent
            %td= @invited_beta
          %tr
            %td Number of users registered
            %td= @user_count
        
        %h5 Recent Invite Requests
        %table
          - @recent_beta.each do |bi|
            %tr
              %td= bi.email
              %td= distance_of_time_in_words_to_now(bi.created_at, true)

      .large-7.columns
        .panel
          .section-container.accordion(data-section)
            .section
              %p.title(data-section-title) Create/Update Anime
              .content(data-section-content)
                %form(method="get" action="/kotodama/find_or_create_by_mal")
                  .row.collapse
                    .large-8.columns
                      %input(type="number" name="mal_id" placeholder="MAL ID")
                    .large-4.columns
                      %input.button.small.prefix(type="submit" value="Submit")
            .section
              %p.title(data-section-title) Invite to Beta
              .content(data-section-content)
                %form(method="get" action="/kotodama/invite_to_beta")
                  .row.collapse
                    .large-8.columns
                      %input(type="email" name="email" placeholder="Email ID")
                    .large-4.columns
                      %input.button.small.prefix(type="submit" value="Submit")
