<div class="library-entry" data-test-selector="library-entry">
  <div class="entry-wrapper">
    {{! Entry Title }}
    <div class="medium-7 columns entry-left">
      <div class="entry-title" data-test-selector="library-entry-title">
        <span>{{media.canonicalTitle}}</span>
      </div>
    </div>

    <div class="medium-5 columns entry-right">
      {{! Entry Progress }}
      <div class="entry-progress">
        {{#if isOwner}}
          {{one-way-number entry.progress
            update=(perform updateProperty "progress")
            placeholder="0"
          }}
          <span>
            <span class="sep">/</span>
            {{totalProgress}}
          </span>
        {{else}}
          <span>
            {{entry.progress}} / {{totalProgress}}
          </span>
        {{/if}}
      </div>

      {{! Entry Rating }}
      <div class="entry-rating">
        <span>{{rating}}</span>
      </div>

      {{! Entry Type }}
      <div class="entry-type">
        <span>{{type}}</span>
      </div>
    </div>
  </div>

  {{! Expanded Info }}
  {{#if isExpanded}}
    <div class="library-dropdown">
      <div class="drop-arrow"></div>

      {{! Notes }}
      <div class="small-12 columns">
        {{#if isOwner}}
          {{one-way-text entry.notes
            update=(perform updateProperty "notes")
            placeholder=(t "users.library.notes" title=media.canonicalTitle)
            class="personal-notes"
          }}
        {{else}} {{! Only show if the user has notes }}
          {{#if entry.notes}}
            {{one-way-text entry.notes
                class="personal-notes"
                readonly=true}}
          {{/if}}
        {{/if}}
      </div>

      {{! Poster Image }}
      <div class="medium-2 columns">
        <img class="drop-thumb" src={{media.posterImage}}>
      </div>

      {{! Media Info }}
      <div class="medium-6 columns">
        <h4 class="drop-title">
          {{link-to media.canonicalTitle (concat mediaType ".show") media}}
        </h4>
        <ul class="genres">
          {{#each media.genres as |genre|}}
            <li>{{genre.name}}</li>
          {{/each}}
        </ul>
        <p class="drop-description">
          {{media.synopsis}}
        </p>
      </div>

      {{! Options }}
      <div class="medium-4 columns">
        <div class="drop-options">
          {{#if isOwner}}
            {{! Library Status }}
            <div class="status-select">
              {{library-dropdown
                entry=entry
                mediaType=mediaType
                update=(action "updateEntry" "status")
                delete=(action "deleteEntry")
              }}
            </div>
          {{/if}}

          <div class="dropdown-rating">
            {{! Privacy }}
            {{#if isOwner}}
              <button type="button" class="dropdown button" data-toggle="{{entry.id}}-privacy-dropdown">
                {{if entry.private (t "users.library.private") (t "users.library.public")}}
              </button>

              {{!-- TODO: Needs to be changed to Bootstrap
              {{#zf-dropdown id=(concat entry.id "-privacy-dropdown")}}
                <ul class="no-bullet">
                  <li>
                    <a {{action (perform updateProperty "private" (not entry.private) false)}}>
                      {{if entry.private (t "users.library.public") (t "users.library.private")}}
                    </a>
                  </li>
                </ul>
              {{/zf-dropdown}}
              --}}
            {{/if}}

            {{! Rating }}
            <div class="rating-options">
              {{#each (repeat 5) as |_|}}
                <span class="icon-container" data-rating="1">
                  {{fa-icon "star-o"}}
                </span>
              {{/each}}
            </div>
          </div>

          {{! Rewatch }}
          <div class="rewatch">
            {{#if isOwner}}
              <button type="button" class="button" {{action "rewatch"}}>
                {{t "users.library.rewatch"}}
              </button>
            {{/if}}

            <label>
              <span>{{t "users.library.rewatched"}}</span>
              {{#if isOwner}}
                {{one-way-number entry.reconsumeCount
                    update=(perform updateProperty "reconsumeCount")}}
              {{else}}
                <span>{{entry.reconsumeCount}}</span>
              {{/if}}
              <span>{{t "users.library.times"}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>
