<ul class="series-metadata">
  <li>{{model.mangaType}}</li>
  <li>
    {{#if model.volumeCount}}
      {{model.volumeCount}}
    {{else}}
      ?
    {{/if}}
    volumes
  </li>
  <li>
    {{#if model.chapterCount}}
      {{model.chapterCount}}
    {{else}}
      ?
    {{/if}}
    chapters
  </li>
</ul>
