<div class="update-panel">
  <div class="row">
    <div class="user-info-bar">
      <div class="user-image">
        {{#link-to 'user' poster}}
          {{avatar poster "thumb_small"}}
        {{/link-to}}
      </div>
      <div class="comment-content">
        <h4 class="story-title">
          {{#link-to 'user' poster}}{{poster.username}}{{/link-to}}
          {{#unless selfPost}}
            <i class="fa fa-share reply-icon"></i>
            {{#link-to 'user' user}}{{user.username}}{{/link-to}}
          {{/unless}}
        </h4>
        <p class="secondary">
          {{time-ago time=createdAt}}
          {{#if canDeleteStory}}
            ·
            <a class="remove-post" {{action "deleteStory"}}>remove</a>
          {{/if}}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 clearfix">
        <p {{bind-attr class=":comment-text isExpanded:full-post" }}>{{{comment}}}</p>
    </div>
    {{#if overflowing}}
      <div class="view-more">
        <a {{action "toggleFullPost"}}>{{showMoreText}}</a>
      </div>
    {{/if}}
  </div>
</div>

{{#if currentUser.isAdmin}}

<div class="comment-replies">
  {{#if currentUser.isSignedIn}}
    <div class="actions">
      <div class="btn reply-button" {{action toggleShowReplyForm}}>
        <i class="fa fa-reply"></i> Reply
      </div>
    </div>
    {{#if showReplyForm}}
      <div class="reply-form">
        {{expanding-textarea value=reply rows="1" placeholder="Write something interesting..." enterAction="submitReply"}}
      </div>
    {{/if}}
  {{/if}}
  {{#each substory in displaySubstories}}
    <div {{bind-attr class=":reply substory.isNew"}}>
      {{#link-to 'user' substory.user}}
        {{substory.user.username}}
      {{/link-to}}
      {{substory.reply}}
      {{time-ago time=substory.createdAt}}
      {{#if canDeleteStory}}
        <a class="remove-post" {{action deleteSubstory substory}}>remove</a>
      {{/if}}
    </div>
  {{/each}}
  {{#if moreThanTwoSubstories}}
    <div class="view-more">
      {{#if loadingAll}}
        <i class="fa fa-spin fa-spinner"></i>
      {{else}}
        <a {{action "toggleShowAll"}}>
          {{#if showAll}}
            Show Less
          {{else}}
            Show More
          {{/if}}
        </a>
      {{/if}}
    </div>
  {{/if}}
</div>

{{/if}}
