<div class="update-panel">
  <div class="user-image">
    {{#link-to 'user' user}}{{avatar user "thumb_small"}}{{/link-to}}
  </div>
  <div class="comment-content">
    <h4 class="story-title">
      {{#link-to 'user' user}}{{user.username}}{{/link-to}}
      followed
      {{pluralize followsCount.length "user" "users"}}
    </h4>
    <ul class="inline-list secondary">
      {{#if belongsToUser}}
        <li>
          ·
          <a class="remove-post" {{action "deleteStory"}}>remove</a>
        </li>
        <li>{{time-ago time=createdAt}}</li>
      {{/if}}
    </ul>
  </div>
  <div class="row">
    <div class="comment-text">
      <div class="clearfix"></div>
      <ul class="follow-bubbles">
        {{#each followedUser in followedUsers}}
          <li>
            {{#link-to 'user' followedUser}}
              <div class="user-bubble">
                <div class="bubble-avatar">
                  {{avatar followedUser "thumb_small"}}
                </div>
                <h4 class="bubble-name">{{followedUser.username}}</h4>
              </div>
            {{/link-to}}
          </li>
        {{/each}}
        {{#if moreThanFourFollows}}
          <a {{action "toggleShowAll"}}>
            {{#if showAll}}
              Show Less
            {{else}}
              Show More
            {{/if}}
          </a>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
