.login-register-card
  .row
    .large-8.columns.large-centered
      .panel.login-box.signup
        - if @beta_invite.invited?
          .login-title
            You have already been invited to the beta.
          .no-account.large-12.columns
            %p We have sent an email to #{@beta_invite.email} with registration instructions. 
            %p= link_to "Resend Registration Instructions", resend_beta_invite_path(email: @beta_invite.email), method: :post, class: 'button padded'
        - else
          .login-title 
            You are currently in the waiting list.
          .login-title
            There are
            %strong= pluralize @beta_invite.before_count, "person"
            ahead of you and
            %strong= pluralize @beta_invite.after_count, "person"
            after you.
          .no-account.large-12.columns
            %p= @beta_invite.email
            %p 
              :javascript
                function showInviteCodeForm() {
                  $(".invite-code").show();
                }
              %a(href="javascript: showInviteCodeForm();") Have an invite code?
              .invite-code.hide
                %form(method="get" action="/beta_invites/invite_code")
                  %input(name="invite_code" placeholder="Invite Code")
                  %input(name="email" type="hidden"){:value => @beta_invite.email}
                  %input(type="submit")
