.login-register-card
  .row
    .eight.columns.centered
      .panel.login-box.signup
        - if @beta_invite.invited?
          .login-title
            You have already been invited to the beta.
          .no-account.twelve.columns
            %p We have sent an email to #{@beta_invite.email} with registration instructions. 
            %p= link_to "Resend Registration Instructions", resend_beta_invite_path(email: @beta_invite.email), method: :post, class: 'button'
        - else
          .login-title 
            You are currently in the waiting list.
          .login-title
            There are
            %strong= pluralize @beta_invite.before_count, "person"
            ahead of you and
            %strong= pluralize @beta_invite.after_count, "person"
            after you.
          .no-account.twelve.columns
            %p= @beta_invite.email
