<div class="container">
  {{#each model as |user|}}
    <div class="follow-panel-wrapper">
      <div class="follow-panel">
        {{#link-to 'user' user.username}}
          <div class="follow-cover" {{bind-attr style=user.coverImageStyle}}></div>
        {{/link-to}}
        <div class="user-avatar">
          <a {{bind-attr href=user.userLink}}>
            {{avatar user 'thumb'}}
          </a>
          {{follow-button user=user}}
        </div>
        <div class="user-info">
          <h4>{{#link-to 'user' user.username}}{{user.username}}{{/link-to}}</h4>
          <p class="mini-bio">
            {{user.truncatedBio}}
          </p>
        </div>
      </div>
    </div>
  {{/each}}
</div>

{{#if canLoadMore}}
  {{load-more action="loadNextPage"}}
{{/if}}
