<div class="container">
  {{#each model as |follower|}}
    <div class="follow-panel-wrapper">
      <div class="follow-panel">
        {{#link-to 'user' follower.username}}
          <div class="follow-cover" {{bind-attr style=follower.coverImageStyle}}></div>
        {{/link-to}}
        <div class="user-avatar">
          <a {{bind-attr href=follower.userLink}}>
            {{avatar follower 'thumb'}}
          </a>
          {{follow-button user=follower}}
        </div>
        <div class="user-info">
          <h4>{{#link-to 'user' follower.username}}{{follower.username}}{{/link-to}}</h4>
          <p class="mini-bio">
            {{follower.truncatedBio}}
          </p>
        </div>
      </div>
    </div>
  {{/each}}
</div>

{{#if canLoadMore}}
  {{load-more action="loadNextPage"}}
{{/if}}
