<div class="user-review-listing">
  {{#each model as |review|}}
    <div class="review-columns">
      {{#link-to 'reviews.show' review.anime.id review.id}}
        <div class="review">
          <h4 class="reviewer-name">{{review.anime.displayTitle}}</h4>
          <span class="review-stars">
            {{stars review.rating}}
          </span>
          <p class="review-summary"> {{review.summary}}</p>
          <p class="review-likes"> {{review.positiveVotes}} out of {{review.totalVotes}} users found this review helpful.</p>
        </div>
      {{/link-to}}
    </div>
  {{/each}}
</div>

{{#if canLoadMore}}
  {{load-more classNames="light" action="loadNextPage"}}
{{/if}}
