.dashboard
  .row.content-body
    .twelve.columns
      .panel.profile-bar
        .user-block.mobile-twelve
          %figure.user-avatar= image_tag(@user.avatar_url)
          %figcaption.karma 10,042
          %figcaption.karma-title karma
        .user-information 
          %h4.username= @user.name
          %p.bio 
            - if not @user.bio.nil?
              = @user.bio
            - else
              (Edit profile link goes here)
          .anime-life
            %p Life Spent Watching Anime:
            %p= format_minutes @user.life_spent_on_anime
        .genre-graph
          %span.title Most Watched Genres
          %ul.graphs
            - @user.top_genres.each do |genre, freq|
              %li.chart
                .percentage{"data-percent" => (freq * 100).to_i}
                  %span #{(freq*100).to_i}%
                .label= link_to genre.name, genre

      .profile-bar-subnav
        %dl.sub-nav
          %dd{:class => ("active" if @active_tab == :profile)}
            = link_to "Profile", user_path(@user)
          %dd{:class => ("active" if @active_tab == :watchlist)}
            = link_to "Watchlist", user_watchlist_path(@user)
          %dd{:class => ("active" if @active_tab == :reviews)}
            = link_to "Reviews", user_reviews_path(@user)
          - if user_signed_in? and @user == current_user
            %dd{:class => ("active" if @active_tab == :account_settings)}
              = link_to "Account Settings", edit_user_registration_path



:javascript
  $(function() {
      $('.percentage').easyPieChart({
          animate: 1000,
          barColor: '#f3a43d',
          size: 83,
      });
  });



