.user-banner
  %figure
    .overlay
    .img-background{:style => "background: url(\"#{@user.cover_image.url}\") no-repeat center center; background-size: cover;"}

.dashboard
  .profile-bar-subnav
    .row.content-body
      .wrapper.large-12.columns
        %ul.inline-list.sub-nav
          %li{:class => ("active" if @active_tab == :profile)}
            = link_to "Profile", user_path(@user)
          %li{:class => ("active" if @active_tab == :watchlist)}
            = link_to "Watchlist", user_watchlist_path(@user)
          %li{:class => ("active" if @active_tab == :forum_posts)}
            = link_to "Forum Posts", user_forum_posts_path(@user)
          - if user_signed_in? and @user == current_user
            %li{:class => ("active" if @active_tab == :account_settings)}
              = link_to "Account Settings", edit_user_registration_path

  .row.content-body
    .profile-bar.large-12.mobile-four.columns
      .large-5.mobile-four.columns.large-centered
        .user-block
          %figure.user-avatar
            = image_tag(@user.avatar_url)
            .karma-circle
              %figcaption.karma= number_with_delimiter @user.reputation_for(:karma).to_i
              %figcaption.karma-title karma

          %h2.username= @user.name
          %p.bio.hide-for-small
            = @user.bio
          %hr.hide-for-small
          %p.hide-for-small I've watched <strong>#{format_minutes @user.life_spent_on_anime}</strong> of anime.      

:javascript
  $(function() {
      $('.percentage').easyPieChart({
          animate: 1000,
          barColor: '#f3a43d',
          size: 83,
      });
  });



