- title "#{@user.name}'s Activity Feed"

.large-12.columns.option-bar.hide-for-small
  .small-6.large-2.columns
    %p.option-title Activity Feed

  .small-12.large-9.columns.options
    %ul.status-tabs.inline-list
      %li.active#tab-all= link_to "All", "#all", onclick: "showRelevantSections('all')"
      %li= link_to "Comments", "#comments", onclick: "showRelevantSections('comments')"
      %li= link_to "Library", "#library", onclick: "showRelevantSections('library')"
      %li= link_to "Events", "#events", onclick: "showRelevantSections('events')"

.large-12.columns.feed.no-padding
  %ul.feed-list.activity-feed
  
  .center.activity-feed-spinner
    %i.icon.icon-spin.icon-spinner.icon-4x

:coffee
  @getUserFeedItems("#{@user.to_param}")
  
  infiniteScrollLoader = ->
    if $(window).scrollTop() > $(".activity-feed-spinner").offset().top
      @getUserFeedItems("#{@user.to_param}")

  setInterval infiniteScrollLoader, 500

- if user_signed_in? and current_user.admin?
  .large-12.columns.feed.no-padding
    .large-12.columns.feed-form
      %form
        %input{:placeholder => "What are you up to?", :type => "text"}/

    %ul.feed-list


      // Feed Item
      %li.feed-item.cf
        .large-12.columns.feed-wrapper
          .small-3.large-2.columns.no-padding-right
            = link_to image_tag("http://hummingbird.me/system/users/avatars/000/002/176/thumb/oie_8122923EXQ0pdVN.gif?1368009670"), "#"
          .small-9.large-10.columns
            %h4.anime-feed-title <a href="#">Canxopener</a> posted on your wall

            // Users part of activity
            %hr.feed-divider
            .row
              .large-12.columns
                %p.wall-post-copy My body is ready!
                %p.time <span class="time-ago">24 minutes ago</a> · <a href="#">Like</a> · <a href="#">Comment</a>
