- title "#{@user.name}'s Activity Feed"

.large-12.columns.option-bar.hide-for-small
  .small-6.large-2.columns
    %p.option-title Activity Feed

  .small-12.large-9.columns.options
    %ul.status-tabs.inline-list
      %li.active#tab-all= link_to "All", "#all", onclick: "showRelevantSections('all')"
      %li= link_to "Comments", "#comments", onclick: "showRelevantSections('comments')"
      %li= link_to "Library", "#library", onclick: "showRelevantSections('library')"
      %li= link_to "Events", "#events", onclick: "showRelevantSections('events')"

.large-12.columns.feed.no-padding
  - if user_signed_in?
    .large-12.columns.feed-form
      = form_tag(user_comment_path(@user), method: "post") do
        %input.comment(placeholder="Write something..." type="text" name="comment" autocomplete="off")

  %ul.feed-list.activity-feed
  
  .center.activity-feed-spinner
    %i.icon.icon-spin.icon-spinner.icon-4x

:coffee
  @getUserFeedItems("#{@user.to_param}")
  
  infiniteScrollLoader = ->
    if $(window).scrollTop() + 2000 > $(".activity-feed-spinner").offset().top
      @getUserFeedItems("#{@user.to_param}")

  setInterval infiniteScrollLoader, 500

