- title "#{@user.name}'s Activity Feed"

.large-12.columns.option-bar.hide-for-small
  .small-6.large-2.columns
    %p.option-title Activity Feed


  .small-12.large-9.columns.options
    %ul.status-tabs.inline-list
      %li.active#tab-all= link_to "All", "#all", onclick: "showRelevantSections('all')"
      %li= link_to "Comments", "#comments", onclick: "showRelevantSections('comments')"
      %li= link_to "Library", "#library", onclick: "showRelevantSections('library')"
      %li= link_to "Events", "#events", onclick: "showRelevantSections('events')"

.large-12.columns.feed.no-padding
  %ul.feed-list
    = render @stories
  %p
    = paginate @stories

- if user_signed_in? and current_user.admin?
  .large-12.columns.feed.no-padding
    .large-12.columns.feed-form
      %form
        %input{:placeholder => "What are you up to?", :type => "text"}/

    %ul.feed-list

      // Feed Item
      %li.feed-item.cf
        .large-12.columns.feed-wrapper
          .small-3.large-2.columns.no-padding-right
            = link_to image_tag("http://hummingbird.me/system/f7e34ca9700bc93ce85e43ca2e43656beaf5f69c_thumb.jpg?1361875391"), "#"
          .small-9.large-10.columns
            %h4.anime-feed-title Soul Eater
            .anime-feed-genres <a href="#">Action</a> · <a href="#">Adventure</a> · <a href="#">Comedy</a>

            // Users part of activity
            %hr.feed-divider
            .row
              .large-12.columns
                .small-1.large-1.columns.no-padding.hide-for-small
                  = link_to image_tag("http://localhost:3000/system/users/avatars/000/000/002/thumb/avatar.png?1366949440"), "#"
                .large-11.columns
                  <a href="#">You</a> plan to watch
                  %p.time <span class="time-ago">24 minutes ago</a> · <a href="#">Like</a> · <a href="#">Comment</a>

      // Feed Item
      %li.feed-item.cf
        .large-12.columns.feed-wrapper
          .small-3.large-2.columns.no-padding-right
            = link_to image_tag("http://hummingbird.me/system/2b571c8fd79a61a1f81827d986f66a93a06c40e3_thumb.jpg?1361877888"), "#"
          .small-9.large-10.columns
            %h4.anime-feed-title Attack on Titan
            .anime-feed-genres <a href="#">Action</a> · <a href="#">Drama</a> · <a href="#">Fantasy</a>

            // Users part of activity
            %hr.feed-divider
            .row
              .large-12.columns
                .small-1.large-1.columns.no-padding.hide-for-small
                  = link_to image_tag("http://localhost:3000/system/users/avatars/000/000/002/thumb/avatar.png?1366949440"), "#"
                .large-11.columns
                  <a href="#">You</a> watched episode 04
                  %p.time <span class="time-ago">24 minutes ago</a> · <a href="#">Like</a> · <a href="#">Comment</a>

      // Feed Item
      %li.feed-item.cf
        .large-12.columns.feed-wrapper
          .small-3.large-2.columns.no-padding-right
            = link_to image_tag("http://localhost:3000/system/users/avatars/000/000/002/thumb/avatar.png?1366949440"), "#"
          .small-9.large-10.columns
            %h4.anime-feed-title <a href="#">You</a> started following 4 People

            // Users part of activity
            %hr.feed-divider
            .row
              .large-12.columns
                .small-1.large-1.columns.no-padding.hide-for-small
                  = link_to image_tag("http://hummingbird.me/system/users/avatars/000/000/001/thumb/av.jpg?1367013865"), "#"
                .large-11.columns
                  <a href="#">Vikhyat</a>
                  %p.time <span class="time-ago">24 minutes ago</a> · <a href="#">Like</a> · <a href="#">Comment</a>

            // Users part of activity
            %hr.feed-divider
            .row
              .large-12.columns
                .small-1.large-1.columns.no-padding.hide-for-small
                  = link_to image_tag("http://hummingbird.me/system/users/avatars/000/000/001/thumb/av.jpg?1367013865"), "#"
                .large-11.columns
                  <a href="#">Vikhyat</a>
                  %p.time <span class="time-ago">24 minutes ago</a> · <a href="#">Like</a> · <a href="#">Comment</a>
          .large-12.columns.center
            %a.show-more{:href => "#"} 
              <i class="icon-angle-down"></i> 
              Show More

      // Feed Item
      %li.feed-item.cf
        .large-12.columns.feed-wrapper
          .small-3.large-2.columns.no-padding-right
            = link_to image_tag("http://hummingbird.me/system/d85ed62ca413ab215b4ce85c3c3fefb29760ef9c_thumb.jpg?1361873647"), "#"
          .small-9.large-10.columns
            %h4.anime-feed-title Texhnolyze
            .anime-feed-genres <a href="#">Action</a> · <a href="#">Drama</a> · <a href="#">Sci-Fi</a>

            // Users part of activity
            %hr.feed-divider
            .row
              .large-12.columns
                .small-1.large-1.columns.no-padding.hide-for-small
                  = link_to image_tag("http://localhost:3000/system/users/avatars/000/000/002/thumb/avatar.png?1366949440"), "#"
                .large-11.columns
                  <a href="#">You</a> liked a quote
                  %p.quote-preview
                    %i "It's quiet now. But I wonder how long it will last." — Onishi
                %p.time <span class="time-ago">24 minutes ago</a> · <a href="#">Like</a> · <a href="#">Comment</a>

      // Feed Item
      %li.feed-item.cf
        .large-12.columns.feed-wrapper
          .small-3.large-2.columns.no-padding-right
            = link_to image_tag("http://hummingbird.me/system/users/avatars/000/002/176/thumb/oie_8122923EXQ0pdVN.gif?1368009670"), "#"
          .small-9.large-10.columns
            %h4.anime-feed-title <a href="#">Canxopener</a> posted on your wall

            // Users part of activity
            %hr.feed-divider
            .row
              .large-12.columns
                %p.wall-post-copy My body is ready!
                %p.time <span class="time-ago">24 minutes ago</a> · <a href="#">Like</a> · <a href="#">Comment</a>