- title "#{@user.name}'s Activity Feed"

.large-12.columns.option-bar.hide-for-small
  .small-6.large-2.columns
    %p.option-title Activity Feed

  .small-12.large-9.columns.options
    %ul.status-tabs.inline-list
      %li.active#tab-all= link_to "All", "#all", onclick: "showRelevantSections('all')"
      %li= link_to "Comments", "#comments", onclick: "showRelevantSections('comments')"
      %li= link_to "Library", "#library", onclick: "showRelevantSections('library')"
      %li= link_to "Events", "#events", onclick: "showRelevantSections('events')"

.large-12.columns.feed.no-padding
  - if user_signed_in?
    .large-12.columns.feed-form
      %form.comment
        %textarea.comment(placeholder="Write something..." name="comment")
        %button.button.padded(type="submit") Post


  %ul.feed-list.activity-feed

  .center.activity-feed-spinner
    %i.fa.fa-spin.fa-spinner.fa-4x

:coffee
  @submitInProgress = false
  that = this
  $("textarea.comment").autosize(append: "\n")
  $("textarea.comment").focus ->
    $("form.comment button").slideDown()
  $("form.comment").submit ->
    if $("textarea.comment").val().length > 0
      unless that.submitInProgress
        that.submitInProgress = true
        $("form.comment .posting-indicator").fadeIn()
        $("form.comment button").html("<i class='fa fa-spin fa-spinner'></i>")
        $("form.comment button").attr("disabled", true)
        $.ajax
          type: "post"
          url: "#{user_comment_path(@user)}.json"
          data:
            comment: $("textarea.comment").val()
          success: (story) ->
            StoryCollectionView.addStories story
            $("form.comment button").html("Post")
            $("form.comment button").attr("disabled", false)
            $("textarea.comment").val("")
            setTimeout (-> that.submitInProgress = false), 5000
          error: ->
            alert "Something went wrong. Please try again later."
    return false

  @getUserFeedItems("#{@user.to_param}")

  infiniteScrollLoader = ->
    if $(window).scrollTop() + 2000 > $(".activity-feed-spinner").offset().top
      @getUserFeedItems("#{@user.to_param}")

  setInterval infiniteScrollLoader, 500

