- title "#{@user.name}'s Activity Feed"

.large-12.columns.option-bar.hide-for-small
  .small-6.large-2.columns
    %p.option-title Activity Feed

  .small-12.large-9.columns.options
    %ul.status-tabs.inline-list
      %li.active#tab-all= link_to "All", "#all", onclick: "showRelevantSections('all')"
      %li= link_to "Comments", "#comments", onclick: "showRelevantSections('comments')"
      %li= link_to "Library", "#library", onclick: "showRelevantSections('library')"
      %li= link_to "Events", "#events", onclick: "showRelevantSections('events')"

.large-12.columns.feed.no-padding
  - if user_signed_in?
    .large-12.columns.feed-form
      %form.comment
        .posting-indicator
          %i.icon-spin.icon-spinner
        %input.comment(placeholder="Write something..." type="text" name="comment" autocomplete="off")

  %ul.feed-list.activity-feed
  
  .center.activity-feed-spinner
    %i.icon.icon-spin.icon-spinner.icon-4x

:coffee
  @submitInProgress = false
  that = this
  $("form.comment").submit ->
    unless that.submitInProgress
      that.submitInProgress = true
      $("form.comment .posting-indicator").fadeIn()
      $.ajax
        type: "post"
        url: "#{user_comment_path(@user)}.json"
        data: 
          comment: $("input.comment").val()
        success: (story) ->
          StoryCollectionView.addStories story
          $("form.comment .posting-indicator").fadeOut()
          setTimeout (-> that.submitInProgress = false), 5000
          $("input.comment").val("")
        error: ->
          alert "Something went wrong. Please try again later."
    return false
  
  @getUserFeedItems("#{@user.to_param}")
  
  infiniteScrollLoader = ->
    if $(window).scrollTop() + 2000 > $(".activity-feed-spinner").offset().top
      @getUserFeedItems("#{@user.to_param}")

  setInterval infiniteScrollLoader, 500

