.large-12.columns.library-status-header
  %h5.status
    - if @active_tab == :followers
      - title "#{@user.name}'s Followers"
      %span Followers
    - else
      - title "Followed by #{@user.name}"
      %span Following



.large-12.columns.follow-following
  %ul.anime-list
    - @results.each do |user|
      %li
        .large-8.columns.search-result.no-padding-left.no-padding-right
          .large-1.columns.hide-for-small.user-avatar.no-padding
            = image_tag user.avatar.url(:thumb)
          .small-12.large-11.columns
            .large-12.columns.title
              = link_to user.name, user

            .large-12.columns.synopsis
              %p
                - if user.about and user.about.strip.length > 0
                  = truncate(user.about, length: 230, separator: ' ')
                - else
                  I've watched #{format_minutes user.life_spent_on_anime} of anime.

        .large-4.columns
          .large-12.columns.no-padding
            = render partial: "users/follow_button", locals: {user: user}

  = paginate @results

