%ul.anime-list
  - @results.each do |user|
    %li.large-12.columns.search-result.no-padding-left.no-padding-right
      .large-1.columns.hide-for-small.user-avatar.no-padding-right
        = image_tag user.avatar.url(:thumb)
      .small-12.large-11.columns
        .large-12.columns.title
          = link_to user.name, user

        .large-9.columns.synopsis
          %p
            - if user.about and user.about.strip.length > 0
              = truncate(user.about, length: 230, separator: ' ')
            - else
              I've watched #{format_minutes user.life_spent_on_anime} of anime.

        .large-3.columns
          .large-12.columns.no-padding
            - if user_signed_in? and user != current_user
              - if user.followers.include? current_user
                = link_to "Unfollow", user_follow_path(user), class: "small button", method: :post
              - else
                = link_to "Follow", user_follow_path(user), class: "small button", method: :post
      
= paginate @results

