= render "dash"

.home.user-reviews 
  .row.content-body
    .title.twelve-columns
      %h3 Recent Reviews
    .six.columns
      .panel
        .three.columns
          = image_tag "http://localhost:3000/system/anime/cover_images/000/000/002/thumb/14331.jpg?1360397873"
          .vote-blocks.twelve.columns
            %span.dislike.twelve.columns
              %strong.active :(
        .nine.columns
          %h3 Cowboy Bebop
          %p People who know me know that I'm not a fan of episodic anime series unless they're either one season (12-14 episodes) long or a slice of life series. Why? They have a tendency to get boring, or repetitive. But all rules and preferences have exceptions. You know what? Cowboy Bebop is that exception... <a href="#">Read More</a>

    .six.columns
      .panel
        .three.columns
          = image_tag "http://localhost:3000/system/anime/cover_images/000/000/002/thumb/14331.jpg?1360397873"
          .vote-blocks.twelve.columns
            %span.like.twelve.columns
              %strong.active :)
        .nine.columns
          %h3 Cowboy Bebop
          %p People who know me know that I'm not a fan of episodic anime series unless they're either one season (12-14 episodes) long or a slice of life series. Why? They have a tendency to get boring, or repetitive. But all rules and preferences have exceptions. You know what? Cowboy Bebop is that exception... <a href="#">Read More</a>

    .six.columns
      .panel
        .three.columns
          = image_tag "http://localhost:3000/system/anime/cover_images/000/000/002/thumb/14331.jpg?1360397873"
          .vote-blocks.twelve.columns
            %span.dislike.twelve.columns
              %strong.active :(

        .nine.columns
          %h3 Cowboy Bebop
          %p People who know me know that I'm not a fan of episodic anime series unless they're either one season (12-14 episodes) long or a slice of life series. Why? They have a tendency to get boring, or repetitive. But all rules and preferences have exceptions. You know what? Cowboy Bebop is that exception... <a href="#">Read More</a>

    .six.columns
      .panel
        .three.columns
          = image_tag "http://localhost:3000/system/anime/cover_images/000/000/002/thumb/14331.jpg?1360397873"
          .vote-blocks.twelve.columns
            %span.dislike.twelve.columns
              %strong.active :(
        .nine.columns
          %h3 Cowboy Bebop
          %p People who know me know that I'm not a fan of episodic anime series unless they're either one season (12-14 episodes) long or a slice of life series. Why? They have a tendency to get boring, or repetitive. But all rules and preferences have exceptions. You know what? Cowboy Bebop is that exception... <a href="#">Read More</a>

    .six.columns
      .panel
        .three.columns
          = image_tag "http://localhost:3000/system/anime/cover_images/000/000/002/thumb/14331.jpg?1360397873"
          .vote-blocks.twelve.columns
            %span.like.twelve.columns
              %strong.active :)
        .nine.columns
          %h3 Cowboy Bebop
          %p People who know me know that I'm not a fan of episodic anime series unless they're either one season (12-14 episodes) long or a slice of life series. Why? They have a tendency to get boring, or repetitive. But all rules and preferences have exceptions. You know what? Cowboy Bebop is that exception... <a href="#">Read More</a>

    .six.columns
      .panel
        .three.columns
          = image_tag "http://localhost:3000/system/anime/cover_images/000/000/002/thumb/14331.jpg?1360397873"
          .vote-blocks.twelve.columns
            %span.like.twelve.columns
              %strong.active :)
                
        .nine.columns
          %h3 Cowboy Bebop
          %p People who know me know that I'm not a fan of episodic anime series unless they're either one season (12-14 episodes) long or a slice of life series. Why? They have a tendency to get boring, or repetitive. But all rules and preferences have exceptions. You know what? Cowboy Bebop is that exception... <a href="#">Read More</a>

  .twelve.columns.pagination-centered
    %ul.pagination
      %li.arrow.unavailable
        %a{:href => ""} &laquo;
      %li.current
        %a{:href => ""} 1
      %li
        %a{:href => ""} 2
      %li
        %a{:href => ""} 3
      %li
        %a{:href => ""} 4
      %li.unavailable
        %a{:href => ""} &hellip;
      %li
        %a{:href => ""} 12
      %li
        %a{:href => ""} 13
      %li.arrow
        %a{:href => ""} &raquo;
