- title "#{@user.name}'s Profile"

= render "dash"

.profile.anime-discover.user-reviews
  .row.content-body
    .row
      .twelve.columns
        .six.columns
          .title.twelve-columns
            %h3 About Me
          .twelve.columns
            %p= markdown @user.about

        .six.columns
          .title.twelve-columns
            %h3 Favorite Anime
          .genre-graph
            %ul.inline-list.graphs
              - @user.top_genres.each do |genre, freq|
                %li.chart
                  .percentage{"data-percent" => (freq * 100).to_i}
                    %span #{(freq*100).to_i}%
                  = link_to genre.name, genre
    .row
      .twelve.columns
        .title.twelve-columns
          %h3 Favorite Characters
        .anime-grid.twelve.columns
          .twelve.columns
            %img{:src => "http://cl.ly/image/3F003w3B3c0h/fav-chars.jpg"}
          
    / .row
    /   .twelve.columns
    /     .title.twelve.columns
    /       %h3 Genre Cloud
    /     .genre-cloud.twelve.columns
    /       // http://vallandingham.me/building_a_bubble_cloud.html
    /       = image_tag "http://f.cl.ly/items/3W1T1C3w18243O2k0C0D/bubblecloud.png"   
    .row
      .twelve.columns
        .title.twelve-columns
          %h3 Last Reviewed
        = render partial: "reviews/review_summary", collection: @latest_reviews, as: :review
        - if @latest_reviews.length == 0
          %p Nothing here.
    
    .row
      .five.columns
        - @anime_history.each do |category, animes|
          .title.twelve-columns
            %h3= category.to_s.titleize
          .anime-preview.twelve.columns
            - animes.each do |anime|
              .four.columns
                = link_to image_tag(anime.cover_image.url(:thumb)), anime
            - if animes.length == 0
              %p Nothing here.
            
      .side-content.seven.columns
        .title.twelve-columns
          %h3 Comments
        .comment.twelve.columns
          = image_tag "http://cl.ly/image/3Y2C2T1z1O10/comments.jpg"
        / .comment.twelve.columns
        /   .comment-avatar.two.columns
        /     = image_tag "http://placekitten.com/g/300/300"
        /   .comment-text.ten.columns
        /     %p <strong>Ikusagami</strong> 
        /     %p Hey, I really loved your latest review!
        /     %p 1 Hour Ago

        / .comment.twelve.columns
        /   .comment-avatar.two.columns
        /     = image_tag "http://placekitten.com/g/300/300"
        /   .comment-text.ten.columns
        /     %p <strong>Gadrarth</strong> 
        /     %p Sorry, I forgot you replied again to my profile. Moving aside from Gintama, why did you give Evangelion such a low score even though it revolutionized anime back then and is considered to be one of the deepest shows, seeing as you liked shows like Full metal alchemist brotherhood and serial experiments lain which feature similar themes.
        /     %p 3 Hours Ago

        / .comment.twelve.columns
        /   .comment-avatar.two.columns
        /     = image_tag "http://placekitten.com/g/300/300"
        /   .comment-text.ten.columns
        /     %p <strong>Nikorin</strong>
        /     %p 
        /       is Aria the only anime that you gave 10 score? 
        /       I'm giving it to every anime that I could put in "favourites" box :P Maybe I'm too soft...and my scores have 5 years already... must redo them X...X
        /     %p 9 Hours Ago

        / .comment.twelve.columns
        /   .comment-avatar.two.columns
        /     = image_tag "http://placekitten.com/g/300/300"
        /   .comment-text.ten.columns
        /     %p <strong>Potsuu</strong>
        /     %p Reading your reviews is an adventure. Every sentence, a whole new meaning. And if i may say so, you are one of the best reviewers out there.
        /     %p 1 day Ago
        / .comment-links.inline-list
        /   %span= link_to "Add Comment"
        /   %span= link_to "View All"

     
