.row.user-watchlist
  .large-2.columns.sidebar
    .large-12.columns.avatar
      = image_tag @user.avatar_url, :class => "avatar-image"
      %span.karma
        = number_with_delimiter @user.reputation_for(:karma).to_i 
        Karma
      %p.last-seen Last Seen - <span class="time-ago">1 hour ago</span>
    .large-12.columns.user-block
      %h4.username= @user.name
      %span.waifu 
        Waifu - 
        = link_to "Haruhi Suzumiya", "#"
    .large-12.columns.user-links
      .link-wrapper
        %ul
          %li= link_to "Activity Feed", "#"
          %li= link_to "About", "#"
          %li= link_to "Library", "#"
          %li= link_to "Reviews", "#"
          %li= link_to "Forum Posts", "#"
          %li= link_to "Following", "#"
          %li= link_to "Followers", "#"

  .large-8.columns.large-offset-2.main-content
    .large-12.columns.watchlist-option-bar
      .large-3.columns
        %p.option-title Anime Library
      .large-8.columns.options
        %ul.status-tabs.inline-list
          %li.active= link_to "All", "#"
          %li= link_to "Currently Watching", "#"
          %li= link_to "Want to Watch", "#"
          %li= link_to "Completed", "#"
          %li= link_to "Dropped", "#"
 
    .large-12.columns.library-status-header
      %h5.status Currently Watching
    .row
      .large-12.columns.library-table
        %table.large-12.columns.fake-table-row
          %thead
            %tr
              %th{:width => "505"}= link_to "Title", "#", :class => "active"
              %th{:width => "95"}= link_to "Progress", "#"
              %th{:width => "68"}= link_to "Rating", "#"
              %th{:width => "65"}= link_to "Type", "#"

        %table.large-12.columns.fake-table-row.library-item
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Attack on Titan", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV

        %table.large-12.columns.fake-table-row.library-item
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Devil Survivor 2 The Animation", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV

        %table.large-12.columns.fake-table-row.library-item
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Fullmetal Alchemist: Brotherhood", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV

        %table.large-12.columns.fake-table-row.library-item
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Kore wa Zombie Desu ka?", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV

        // The class .private makes the private indicator appear
        %table.large-12.columns.fake-table-row.library-item.private
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Boku No Pico", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV

        #divToShow.large-12.columns.library-dropdown{:style => "display:block;"}
          .large-8.columns.meta-content
            .large-12.columns.last-update
              %p Last Library Update: 04-03-13
            .large-2.columns.thumbnail
              = image_tag "http://hummingbird.ly/system/2fc4434fe83de4b00ac707d201b741f44474f385_thumb.jpg?1361874445"
            
            // Left side of dropdown with thumbnail and description
            .large-10.columns.library-item-info
              = link_to "Boku no Pico", "#", :class => "title"
              .rating
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
              %span.description
                #{truncate("During summer vacation, Tamotsu is on break from work happens to visit a particular café. It is at this café that Tamotsu meets Pico, who works there for his grandfather. Tamotsu instantly falls for Pico, believing that Pico is a girl because of his feminine appearance. However, to his disbelief, Pico claims he actually is a guy. Undeterred, Tamotsu pursues a sexual relationship with Pico, to an extent where he even persuades Pico into wearing girl clothes. When Pico asks what is he to Tamotsu, he finds himself unable to answer...", :length => 280, :separator => ' ')}
              %span.description-link= link_to "[Read More]", "#"

          // Right side of dropdown with update content
          .large-4.columns.action-area
            .large-12.columns.library-status
              .large-3.columns.option-label
                %span Status:
              .large-9.columns.status-dropdown
                %form.custom
                  %select.medium
                    %option Currently Watching
                    %option Want to Watch
                    %option Completed
                    %option Dropped

            .large-12.columns.privacy-setting
              .large-3.columns.option-label
                %span Privacy:
              .large-9.columns.privacy-dropdown
                %form.custom
                  %select.medium
                    %option Public
                    %option Private

            .large-12.columns.remove-from-library.text-center
              = link_to "Remove From Library", "#"

        %table.large-12.columns.fake-table-row.library-item
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Natsume Yuujinchou Shi", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV

        %table.large-12.columns.fake-table-row.library-item
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Natsume’s Book of Friends Three", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV

        %table.large-12.columns.fake-table-row.library-item
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Spice and Wolf", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV

        %table.large-12.columns.fake-table-row.library-item
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Children Who Chase Lost Voices", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV

        %table.large-12.columns.fake-table-row.library-item
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Magi: The Labyrinth of Magic", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV



    .large-12.columns.library-status-header
      %h5.status Want to Watch
    .row
      .large-12.columns.library-table
        %table.large-12.columns.fake-table-row
          %thead
            %tr
              %th{:width => "505"}= link_to "Title", "#", :class => "active"
              %th{:width => "95"}= link_to "Progress", "#"
              %th{:width => "68"}= link_to "Rating", "#"
              %th{:width => "65"}= link_to "Type", "#"

        %table.large-12.columns.fake-table-row.library-item
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Colorful", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV

        %table.large-12.columns.fake-table-row.library-item
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Monster", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV

        %table.large-12.columns.fake-table-row.library-item
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Paprika", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV

        %table.large-12.columns.fake-table-row.library-item
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Shigofumi", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV

        %table.large-12.columns.fake-table-row.library-item
          %tr
            %td.library-item-title{:width => "505"}
              = link_to "Magi: The Labyrinth of Magic", "#"
              %span.private-indicator [PRIVATE]
              %i.icon-reorder
            %td{:width => "95"} 03 <span class="bold-count">/ 25</span>
            %td{:width => "68"} <i class="icon-star"></i> 5
            %td{:width => "65"} TV

        


  .large-2.columns.adzone
    = image_tag "http://cl.ly/image/1V3s463b0N31/advert.png", :class => "advert"
:javascript
  $(function() {
    $("table").click(function(event) {
      var control = $('#divToShow').toggle();                  
    });
  });
/ = render "dash"
/ .row.user-watchlist
/   .large-12.columns
/     .row
/       %ul.inline-list.sub-nav
/         - %w(currently_watching plan_to_watch completed on_hold dropped).each do |l|
/           %li{:class => ("active" if @sub_tab == l)}
/             = link_to l.titleize, user_watchlist_path(@user, list: l)

/       %ul.inline-list.view
/         %li.active
/           %a{:href => "#"} <i class="icon-list"></i>
/         %li
/           %a{:href => "#"} <i class="icon-th"></i>

/       %h3= @sub_tab.titleize
/       %table.tableSorter.large-12.columns.responsive
/         %tr.table-head
/           %th Anime Title
/           %th Score
/           /%th Type
/           %th Progress
/           %th Review
/           - if user_signed_in? and @user == current_user
/             %th Update
/         - @watchlist.each do |w|
/           %tr
/             %td= link_to w.anime.canonical_title(current_user), w.anime
/             %td
/               - if w.rating
/                 - if @user.star_rating?
/                   %i.icon-star
/                   = w.rating + 3
/                 - else
/                   - if w.positive?
/                     \:)
/                   - elsif w.meh?
/                     \:|
/                   - elsif w.negative?
/                     \:(
/               - else
/                 \-
/             %td
/               - if w.anime.episode_count and w.anime.episode_count > 0
/                 #{((w.episodes_watched.to_f * 100) / w.anime.episode_count).round}%
/                 (
/                 = w.episodes_watched
/                 \/
/                 = w.anime.episode_count
/                 )
/             %td
/               - if review = @user.reviews.where(anime_id: w.anime).first
/                 = link_to "Read Review", anime_review_path(w.anime, review)
/               - elsif user_signed_in? and @user == current_user
/                 = link_to "Write One!", new_anime_review_path(w.anime)
/               - else
/                 \-
/             %td
/               - if user_signed_in? and @user == current_user
/                 %a{"data-reveal-id" => "watchlist_#{w.anime.slug}", :href => "#"} Update

/ - if user_signed_in? and @user == current_user
/   = render partial: "watchlists/form_modal", collection: @watchlist, as: :watchlist

/ :javascript
/   $(function() {
/     $('table.tableSorter').tableSort();
/   });

