= render "dash"

.row.content-body
  .watchlist-subnav.twelve.columns
    %dl.sub-nav
      %dd= link_to "Currently Watching", user_watchlist_path(@user, list: "currently_watching")
      %dd= link_to "Plan To Watch", user_watchlist_path(@user, list: "plan_to_watch")
      %dd= link_to "Completed", user_watchlist_path(@user, list: "completed")
      %dd= link_to "On Hold", user_watchlist_path(@user, list: "on_hold")
      %dd.active= link_to "Dropped", user_watchlist_path(@user, list: "dropped")