{{#each featuredQuotes}}
  <div class="rounded-block col-sm-12 clearfix no-padding">
    <p><strong>{{characterName}}:</strong> {{content}}</p>
    <span class="favorited-by">
      <span class="favorite-count">Favorited by {{pluralize favoriteCount "user" "users"}} - </span>
      <a {{action "toggleQuoteFavorite" this}}>
        {{#if isFavorite}}
          Unfavorite this quote
        {{else}}
          Favorite this quote
        {{/if}}
      </a>
    </span>
    <span class="report-quote"><a href="#">Report Quote</a></span>
  </div>
{{/each}}

<a {{bind-attr href=fullQuotesURL}} class="btn btn-default">view all</a>
