{{!-- Anime poster image --}}
<div class="poster-container">
  {{#link-to 'anime.index'}}
    <img class="series-poster" {{bind-attr src=posterImage}}>
  {{/link-to}}
  <a {{bind-attr class=":trailer-link hasTrailer::hide"}} {{action "openModal" "youtube" this}}>
    <i {{bind-attr class=":fa :fa-youtube-play"}}></i>
    View Trailer
  </a>
</div>

<div class="middle-column">
  <h2 class="series-title">
    {{#link-to 'anime.index'}}
      {{canonicalTitle}}
      {{#if alternateTitle}}
        <small class="alternate-title">
          ({{alternateTitle}})
        </small>
      {{/if}}
    {{/link-to}}
  </h2>
  <div class="series-infobar">{{partial "anime/infobar"}}</div>
  <div class="synopsis">
    <p>{{{truncate-text text=synopsis length=500 breakLines=true}}}</p>
  </div>

  {{partial "anime/info_tabs"}}
</div>
<div {{bind-attr class=":right-column libraryEntryExists::no-entry"}}>
  <div class="top-buttons">
    <div class="btn-group">
      {{#if libraryEntryExists}}
        {{#if libraryEntry.isFavorite}}
          <button type="button" class="top-button heart active" {{action "toggleFavorite"}}>
            <i class="fa fa-heart"></i> Favorited
          </button>
        {{else}}
          <button type="button" class="top-button heart" {{action "toggleFavorite"}}>
            <i class="fa fa-heart-o"></i> Favorite
          </button>
        {{/if}}
      {{/if}}
      <button {{bind-attr class=":top-button :library-entry :dropdown-toggle libraryStatus:active"}} type="button" data-toggle="dropdown">
        {{#if libraryEntryExists}}
          {{libraryEntry.status}}&nbsp;<i {{bind-attr class=":fa :fa-caret-down"}}></i>
        {{else}}
          Add to Library&nbsp;<i {{bind-attr class=":fa :fa-caret-down"}}></i>
        {{/if}}
      </button>
      <ul class="dropdown-menu">
        <li><a {{action "setLibraryStatus" "Currently Watching"}}>Currently Watching</a></li>
        <li><a {{action "setLibraryStatus" "Plan to Watch"}}>Plan to Watch</a></li>
        <li><a {{action "setLibraryStatus" "Completed"}}>Completed</a></li>
        <li><a {{action "setLibraryStatus" "On Hold"}}>On Hold</a></li>
        <li><a {{action "setLibraryStatus" "Dropped"}}>Dropped</a></li>
        <li><a {{action "removeFromLibrary"}}>Remove from Library</a></li>
      </ul>

    </div>
  </div>
  <div class="series-ratings">
    {{#if currentUser.isSignedIn}}
      {{#if libraryEntryExists}}
        <div class="personal-rating active">
          <h5 class="sidebar-title text-center">Your Rating</h5>
          {{awesome-rating type=currentUser.ratingType editable="true" action="setLibraryRating" rating=libraryEntry.rating}}
        </div>
      {{/if}}
    {{/if}}

    {{#if bayesianRating}}
      <div class="community-rating">
        <h5 class="sidebar-title text-center">Community Rating: {{roundedBayesianRating}}</h5>
        {{community-rating communityRatings}}
      </div>
    {{/if}}
  </div>
  {{#if currentUser.isAdmin}}
    <div class="admin-buttons">
      {{! Move out of admin area when publically released }}
      <button {{action "openModal" "edit-anime" this}}>
        <i class="fa fa-pencil"></i> Edit
      </button>
      <button {{action "deleteAnime"}}>
        <i class="fa fa-trash"></i> Delete
      </button>
    </div>
  {{/if}}
</div>
