<ul class="series-metadata">
  <li>{{showType}}</li>
  <li {{bind-attr title=ageRatingGuide}}>{{ageRating}}</li>
  <li>
    {{displayEpisodeCount}}
    episodes
  </li>
  <li>
    {{#if episodeLength}}
      {{episodeLength}}
    {{else}}
      ?
    {{/if}}
    min
  </li>
  <li>{{formattedAirDates}}</li>
</ul>
