<div class="info-tabs">
  <ul class="nav nav-tabs">
    <li {{bind-attr class="showGenres:active"}}>
      <a {{action "switchTo" "Genres"}}> Genres</a>
    </li>
    <li {{bind-attr class=":hidden-xs showFranchise:active"}}>
      <a {{action "switchTo" "Franchise"}}> Franchise</a>
    </li>
    {{#unless notYetAired}}
      <li {{bind-attr class=":hidden-xs showQuotes:active"}}>
        <a {{action "switchTo" "Quotes"}}> Quotes</a>
      </li>
    {{/unless}}
    <li {{bind-attr class=":dropdown showCast:active"}}>
      <a class="dropdown-toggle" data-toggle="dropdown">
        Cast <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        {{#each language in languages}}
          <li><a {{action "setLanguage" language}}>{{language}}</a></li>
        {{/each}}
      </ul>
    </li>
    <li {{bind-attr class=":hidden-xs showStudios:active"}}>
      <a {{action "switchTo" "Studios"}}> Studios</a>
    </li>
    <li class="dropdown visible-xs">
      <a class="dropdown-toggle" data-toggle="dropdown">
        More <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a {{action "switchTo" "Franchise"}}>Franchise</a></li>
        {{#unless notYetAired}}
          <li><a {{action "switchTo" "Quotes"}}>Quotes</a></li>
        {{/unless}}
        <li><a {{action "switchTo" "Studios"}}>Studios</a></li>
      </ul>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active genre-tab">
      {{#if showFranchise}}
        {{partial "anime/franchise"}}
      {{/if}}
      <div {{bind-attr class=":slider showStudios::hidden"}}>
        {{partial "anime/studios"}}
      </div>
    </div>
  </div>
</div>
