{{!-- {{#if showEpisodes}}
<div class="episode-bar">
  <div class="container">
    <h2 class="grey-title">
      {{#link-to 'episodes'}}
        Episodes
        <i class="fa fa-angle-right"></i>
      {{/link-to}}
    </h2>
    <div class="language-dropdown dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        Subbed
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dubbed</a></li>
      </ul>
    </div>
      <ul class="episode-thumbs block-grid-5">
        {{#each episodesPreview}}
          <li class="block-grid-item">
            <div class="thumbnail">
              {{#link-to 'episodes.show' this}}
                <img {{bind-attr src=thumbnail}}>
                <div class="description">
                  <div class="title">Episode {{number}}</div>
                </div>
                <div class="play-icon">
                  <i class="fa fa-play"></i>
                </div>
              {{/link-to}}
            </div>
          </li>
        {{/each}}
      </ul>
  </div>
</div>
{{/if}}

<div class="container">
  <div class="series-reviews">
    <h2 class="grey-title">
      {{#link-to 'reviews.index'}}
        {{#if recentlyStartedAiring}}
          First Impressions
        {{else}}
          Reviews
        {{/if}}
        <i class="fa fa-angle-right"></i>
      {{/link-to}}
    </h1>
    <div class="review-listing">
      {{partial "anime/trending_reviews"}}
    </div>
  </div>

  <div class="series-gallery">
    <h2 class="grey-title"> 
      Screencaps
    </h1>
    <div class="gallery">
      <ul class="block-grid-2">
        {{#each imageURL in screencaps}}
          <li class="block-grid-item"><img {{bind-attr src=imageURL}}></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

 --}}


<div class="container">
  <!-- Left side start -->
  <div class="series-column">
    <div class="series-panel">

      <div class="poster-container">
        <img class="series-poster" {{bind-attr src=posterImage}}>
        <a {{bind-attr class=":trailer-link hasTrailer::hide"}} {{action "openModal" "youtube" this}}>
          <i {{bind-attr class=":fa :fa-youtube-play"}}></i>
        </a>
      </div>

      <div class="series-info">

        <h3 class="series-title">
          {{canonicalTitle}}
          {{#if alternateTitle}}
            <small class="alternate-title">
              {{alternateTitle}}
            </small>
          {{/if}}
        </h3>

        <div class="series-infobar">{{partial "anime/infobar"}}</div>

        <div class="synopsis">
          <p>{{{truncate-text text=synopsis length=200 breakLines=true}}}</p>
        </div>

        <div class="genres">
          <h5 class="small-label">Genres:</h5>
          <ul class="inline-list">
            <li>Action</li>
            <li>Adventure</li>
            <li>Drama</li>
            <li>Fantasy</li>
            <li>Magic</li>
            <li>Military</li>
          </ul>
        </div>

        <div class="studios">
          <h5 class="small-label">Studios:</h5>
          <ul class="inline-list">
            <li>Bones</li>
            <li>Aniplex</li>
            <li>Square Enix</li>
            <li>FUNimation Entertainment</li>
            <li>Mainchi Broadcasting</li>
          </ul>
        </div>

        <div {{bind-attr class=":user-actions libraryEntryExists::no-entry"}}>
          <div class="btn-group">

            <button {{bind-attr class=":library-button :library-entry :dropdown-toggle libraryStatus:active"}} type="button" data-toggle="dropdown">
              {{#if libraryEntryExists}}
                {{libraryEntry.status}}&nbsp;&nbsp;<i {{bind-attr class=":fa :fa-caret-down"}}></i>
              {{else}}
                Add to Library&nbsp;&nbsp;<i {{bind-attr class=":fa :fa-caret-down"}}></i>
              {{/if}}
            </button>

            <ul class="dropdown-menu">
              <li><a {{action "setLibraryStatus" "Currently Watching"}}>Currently Watching</a></li>
              <li><a {{action "setLibraryStatus" "Plan to Watch"}}>Plan to Watch</a></li>
              <li><a {{action "setLibraryStatus" "Completed"}}>Completed</a></li>
              <li><a {{action "setLibraryStatus" "On Hold"}}>On Hold</a></li>
              <li><a {{action "setLibraryStatus" "Dropped"}}>Dropped</a></li>
              <li><a {{action "removeFromLibrary"}}>Remove from Library</a></li>
            </ul>
          </div>
          {{#if currentUser.isSignedIn}}
            {{#if libraryEntryExists}}
              <div class="personal-rating active">
                {{awesome-rating type=currentUser.ratingType editable="true" action="setLibraryRating" rating=libraryEntry.rating}}
              </div>
            {{/if}}
          {{/if}}
        </div>
      
      </div>
    </div>
    <!-- End series panel -->

    <div class="series-panel">
      <div class="panel-title has-button">
        <h4>Cast</h4>
        <div class="cast-language">
          <div class="btn-group">
            <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              Japanese
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">English</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="series-cast">
        <ul class="cast">
          <li class="character-wrapper">
            <div class="cast-image">
              <image class="actor" src="https://static.hummingbird.me/people/images/000/006/487/original/6487.jpg?1375226712">
              <image class="character" src="https://static.hummingbird.me/characters/images/000/038/505/original/38505.jpg?1375262333">
            </div>
            <div class="cast-name">
              <h4>Yui Ishikawa</h4>
              <small>as Mikasa Ackerman</small>
            </div>
          </li>
          <li class="character-wrapper">
            <div class="cast-image">
              <image class="actor" src="https://static.hummingbird.me/people/images/000/001/550/original/1550.jpg?1375224120">
              <image class="character" src="https://static.hummingbird.me/characters/images/000/038/506/original/38506.jpg?1375262334">
            </div>
            <div class="cast-name">
              <h4>Marina Inoue</h4>
              <small>as Armin Arelet</small>
            </div>
          </li>
          <li class="character-wrapper">
            <div class="cast-image">
              <image class="actor" src="https://static.hummingbird.me/people/images/000/006/097/original/6097.jpg?1375226496">
              <image class="character" src="https://static.hummingbird.me/characters/images/000/038/507/original/38507.jpg?1375262335">
            </div>
            <div class="cast-name">
              <h4>Yuki Kaji</h4>
              <small>as Eren Jäger</small>
            </div>
          </li>
          <li class="character-wrapper">
            <div class="cast-image">
              <image class="actor" src="https://static.hummingbird.me/people/images/000/008/141/original/8141.jpg?1375227516">
              <image class="character" src="https://static.hummingbird.me/characters/images/000/038/508/original/38508.jpg?1375262336">
            </div>
            <div class="cast-name">
              <h4>Ryota Ohsaka</h4>
              <small>as Marco Bodt</small>
            </div>
          </li>
          <li class="character-wrapper">
            <div class="cast-image">
              <image class="actor" src="https://static.hummingbird.me/people/images/000/000/195/original/195.jpg?1375223340">
              <image class="character" src="https://static.hummingbird.me/characters/images/000/039/556/original/39556.jpg?1375263081">
            </div>
            <div class="cast-name">
              <h4>Hiroshi Kamiya</h4>
              <small>as Mikasa Ackerman</small>
            </div>
          </li>
          <li class="character-wrapper">
            <div class="cast-image">
              <image class="actor" src="https://static.hummingbird.me/people/images/000/006/487/original/6487.jpg?1375226712">
              <image class="character" src="https://static.hummingbird.me/characters/images/000/038/505/original/38505.jpg?1375262333">
            </div>
            <div class="cast-name">
              <h4>Yui Ishikawa</h4>
              <small>as Levi</small>
            </div>
          </li>
        </ul>
        <div class="view-more">
          <a href="#">View More Cast</a>
        </div>
      </div>
    </div>
    <!-- End cast -->
    <div class="series-panel">
      <div class="panel-title has-button">
        <h4>Quotes</h4>
        <div class="cast-language">
          <div class="btn-group">
            <a class="btn btn-default" type="button">
              Add Quote
            </a>
          </div>
        </div>
      </div>

      <div class="quote">
        <p>"I want to see and understand the world outside. I don't want to die inside these walls without knowing what's out there!"</p>
        <span class="quote-author">- Eren Jaeger</span>
        <div class="quote-like-box">
          <span class="like-button">
            <a href="#"><i class="fa fa-heart"></i> Like?</i></a>
            {{!-- <a href="#"><i class="fa fa-heart active"></i> Liked!</i></a> --}}
          </span>
          <span class="quote-divider"></span>       
          <span class="total-likes">
            143 Likes
          </span>
        </div>
      </div>
      <div class="quote">
        <p>"I want to see and understand the world outside. I don't want to die inside these walls without knowing what's out there!"</p>
        <span class="quote-author">- Eren Jaeger</span>
        <div class="quote-like-box">
          <span class="like-button">
            <a href="#"><i class="fa fa-heart"></i> Like?</i></a>
            {{!-- <a href="#"><i class="fa fa-heart active"></i> Liked!</i></a> --}}
          </span>
          <span class="quote-divider"></span>       
          <span class="total-likes">
            143 Likes
          </span>
        </div>
      </div>
      <div class="quote">
        <p>"I want to see and understand the world outside. I don't want to die inside these walls without knowing what's out there!"</p>
        <span class="quote-author">- Eren Jaeger</span>
        <div class="quote-like-box">
          <span class="like-button">
            <a href="#"><i class="fa fa-heart"></i> Like?</i></a>
            {{!-- <a href="#"><i class="fa fa-heart active"></i> Liked!</i></a> --}}
          </span>
          <span class="quote-divider"></span>       
          <span class="total-likes">
            143 Likes
          </span>
        </div>
      </div>
      <div class="view-more">
        <a href="#">View More Quotes</a>
      </div>
    </div>
    <!-- quotes end -->


    <div class="series-panel">
      <div class="panel-title">
        <h4>Franchise</h4>
      </div>
      <div class="franchise-show">
        <div class="franchise-poster">
          <img class="series-poster" src="https://static.hummingbird.me/anime/poster_images/000/007/442/large/7442.jpg?1408461368" data-bindattr-1303="1303">
        </div>
        <div class="franchise-info">
          <h4 class="series-title">
            <a id="ember1304" class="ember-view active" href="/anime/attack-on-titan">Attack on Titan</a>
          </h4>
          <ul class="series-metadata">
            <li>TV</li>
            <li title="Violence, Profanity" data-bindattr-1306="1306">R17+</li>
            <li>
              25 episodes
            </li>
            <li>
                24
              min
            </li>
            <li>Aired from 7 Apr 2013 to 28 Sep 2013</li>
          </ul>
          <div>Several hundred years ago, humans were nearly exterminated by giants. Giants are typically several stories tall, seem to have no intelligence, devour human beings and, worst of all, seem to do it for…
            <a data-ember-action="1314" href="javascript:void(0)" style="font-size: 0.8em">
                show more
            </a>
          </div>
        </div>
      </div>  

      <div class="franchise-show">
        <div class="franchise-poster">
          <img class="series-poster" src="https://static.hummingbird.me/anime/poster_images/000/007/442/large/7442.jpg?1408461368" data-bindattr-1303="1303">
        </div>
        <div class="franchise-info">
          <h4 class="series-title">
            <a id="ember1304" class="ember-view active" href="/anime/attack-on-titan">Attack on Titan</a>
          </h4>
          <ul class="series-metadata">
            <li>TV</li>
            <li title="Violence, Profanity" data-bindattr-1306="1306">R17+</li>
            <li>
              25 episodes
            </li>
            <li>
                24
              min
            </li>
            <li>Aired from 7 Apr 2013 to 28 Sep 2013</li>
          </ul>
          <div>Several hundred years ago, humans were nearly exterminated by giants. Giants are typically several stories tall, seem to have no intelligence, devour human beings and, worst of all, seem to do it for…
            <a data-ember-action="1314" href="javascript:void(0)" style="font-size: 0.8em">
                show more
            </a>
          </div>
        </div>
      </div>  
  

      <div class="view-more">
        <a href="#">View More in Franchise</a>
      </div>
    </div>
    <!-- Franchise end -->
  </div>
  <!-- Left side End -->

  <!-- Right Side Start -->
  <div class="community-column">
    <div class="hb-score">
      <h3>Hummingbird Score: <span class="highlight">4.67</span></h3>
    </div>
    <div class="histogram">
      {{community-rating communityRatings}}
      <div class="rating-legend">
        <span class="lowest-rating">
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-long-arrow-right"></i>
        </span>
        <span class="highest-rating">
          <i class="fa fa-long-arrow-left"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </div>
    </div>
    <div class="reviews">
      {{#each trendingReviews}}
        {{partial "media/review_summary"}}
      {{else}}
        <div class="trending-review-empty">
          <i class="empty-icon fa fa-meh-o"></i>
          <p>You came to us for reviews and it seems nobody has written one yet. We're going to take a cold shower to wash away the shame. In the meantime, maybe you could write the first review? The fortune and fame are yours for the taking.</p>
          <a class="btn btn-default" {{bind-attr href=newReviewURL}}>Write the first review</a>
        </div>
      {{/each}}
    </div>
  </div>
</div>