.login-register-card
  .row
    .large-8.columns.large-centered
      .panel.login-box
        %span.login-title= title "Change your password"
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          - unless resource.errors.empty?
            .alert-box.alert= devise_error_messages!
          = f.hidden_field :reset_password_token

          .input-wrap.signup
            .login-input-wrap
              = f.password_field :password, class: 'login-input', placeholder: 'New password', autofocus: true
          .input-wrap.signup
            .login-input-wrap
              = f.password_field :password_confirmation, class: 'login-input', placeholder: 'Confirm new password'
          .signup-step-buttons
            = f.submit "Change my password", id: 'login', class: 'login-button'
        .no-account.large-12.columns= render "devise/shared/links"
