.login-register-card
  .row
    .large-8.columns.large-centered
      .panel.login-box
        %span.login-title= title "Forgot your password?"
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          - unless resource.errors.empty?
            .alert-box.alert= devise_error_messages!

          .input-wrap.signup
            .login-input-wrap
              = f.email_field :email, class: 'login-input', placeholder: 'E-Mail Address'
          .signup-step-buttons
            = f.submit "Send me reset password instructions", id: 'login', class: 'login-button'
        .no-account.large-12.columns= render "devise/shared/links"
