{{#if (and isLoadingData (not section.hasRecords))}}
  <a href="javascript:void(0);">
    {{fa-icon icon="spinner" spin=true}}
  </a>
{{else}}
  <a href="#" class="{{if section.isActive 'active'}}" {{action 'changeSection' section}}>
    {{section.status}}
  </a>
{{/if}}
