.hummingbird-footer
  .history-bar
    %footer.row
      .twelve.columns
        .recently-viewed
          %h1 Recently Viewed
          %ul
            %li.two.columns.has-tip.tip-top{"data-width" => "210", :title => "Cowboy Bebop: Knockin' on Heaven's Door"}= image_tag "http://localhost:3000/system/anime/cover_images/000/000/002/thumb/14331.jpg"

            %li.two.columns.has-tip.tip-top{"data-width" => "210", :title => "Cowboy Bebop: Knockin' on Heaven's Door"}= image_tag "http://localhost:3000/system/anime/cover_images/000/000/002/thumb/14331.jpg"
            
            %li.two.columns.has-tip.tip-top{"data-width" => "210", :title => "Cowboy Bebop: Knockin' on Heaven's Door"}= image_tag "http://localhost:3000/system/anime/cover_images/000/000/002/thumb/14331.jpg"

            %li.two.columns.has-tip.tip-top{"data-width" => "210", :title => "Cowboy Bebop: Knockin' on Heaven's Door"}= image_tag "http://localhost:3000/system/anime/cover_images/000/000/002/thumb/14331.jpg"

            %li.two.columns.has-tip.tip-top{"data-width" => "210", :title => "Cowboy Bebop: Knockin' on Heaven's Door"}= image_tag "http://localhost:3000/system/anime/cover_images/000/000/002/thumb/14331.jpg"

            %li.two.columns.has-tip.tip-top{"data-width" => "210", :title => "Cowboy Bebop: Knockin' on Heaven's Door"}= image_tag "http://localhost:3000/system/anime/cover_images/000/000/002/thumb/14331.jpg"

            %li.two.columns.has-tip.tip-top{"data-width" => "210", :title => "Cowboy Bebop: Knockin' on Heaven's Door"}= image_tag "http://localhost:3000/system/anime/cover_images/000/000/002/thumb/14331.jpg"
  .bottom-bar
    %footer.row
      .twelve.columns
        .row.footer
          .three.columns
            %span.footer-logo Hummingbird
          .nine.columns
            %ul.link-list.right
              %li
                %a{:href => "#"} Discover
              %li
                %a{:href => "#"} Dashboard
              %li
                %a{:href => "#"} Community
            %ul.link-list.right.bottom-list
              %li
                %a{:href => "#"} About Hummingbird
              %li
                %a{:href => "#"} Press
              %li
                %a{:href => "#"} Terms of Service
              %li
                %a{:href => "#"} Privacy Policy
              %li
                %a{:href => "#"} Contact Us

%span "tip-bottom"
