.hummingbird-footer

  - unless @hide_footer_ad
    .large-12.columns.footer-ad.hide-for-small
      %ins(class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-3410319844519574" data-ad-slot="4888559644")
      :javascript
        (adsbygoogle = window.adsbygoogle || []).push({});

  .bottom-bar
    %footer.row
      .large-12.columns
        .row.footer
          .large-6.columns
            .large-12.columns
              %ul.inline-list{:style => "margin-bottom: 0px;"}
                %li.hide-for-small= link_to "About", "#"
                %li= link_to "Explore", "/anime"
                %li= link_to "Dashboard", user_signed_in? ? main_app.user_path(current_user) : "/users/sign_in"
                %li= link_to "Community", "http://forums.hummingbird.me/"

            .large-12.columns
              %ul.inline-list{:style => "opacity: .5; font-size: 12px;"}
                %li.hide-for-small &copy; 2013 Hummingbird.me
                %li= link_to "Terms", "#"
                %li= link_to "Privacy", "/privacy"
                %li= link_to "Contact", "mailto:josh@hummingbird.me"

          .large-6.columns
            .large-12.columns.hide-for-small
              %ul.inline-list.right
                %li 
                  .fb-like{"data-href" => "http://www.facebook.com/pages/Hummingbird/460188747373182?ref=hl", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}
                %li{:style => "background: none; width: 87px;"}
                  %a.twitter-share-button{"data-text" => "Hummingbird is a new and easy way to find anime titles you'll love. #anime", "data-url" => "http://www.hummingbird.ly", "data-via" => "Hummingbird_me", :href => "https://twitter.com/share"} Tweet

