.hummingbird-header-1
  .hummingbird-header-actual
    .contain-to-grid.rounded-panel
      %nav.top-bar.cf
        %section.top-bar-section
          / Left Nav Section
          %ul.left.topnav-links
            %li
              %a(href="/") Home
            %li
              = link_to "Dashboard", user_signed_in? ? "/" : "/users/sign_in"

            %li
              %a{:href => "/anime"} Explore

            %li
              = link_to "Community", "http://forums.hummingbird.me/"

          / Right Nav Section
          %ul.right.right-top-nav

            %li.divider.show-for-small
            - if user_signed_in?
              %li.notification-block
                %a.notification-button{href: "/notifications", class: ("active" if Notification.unseen_count(current_user) > 0)}
                  %i.fa.fa-bell-o
                    - if Notification.unseen_count(current_user) > 0
                      %span.notification-count= "%02d" % Notification.unseen_count(current_user)

              %li.user-block
                = link_to image_tag(current_user.avatar_url, :class => "avatar"), main_app.edit_user_registration_path, :class => "avatar-link-selector"
    
            - else
              %li.guest-block
                %span 
                  %a{:href => main_app.new_user_session_path, :"data-reveal-id" => "signInModal"} Login
                  or 
                  %a{href: main_app.new_user_registration_path} Register

    - if not user_signed_in?
      .guest-banner.hide-for-small
        .large-12.columns
          = link_to "Hummingbird is the easiest way to track, share and discover new anime. Request your invite now - Free.", main_app.new_user_registration_path
          %span.guest-button= link_to "Request Invite", main_app.new_user_registration_path

    - if user_signed_in? and not current_user.confirmed?
      .guest-banner.hide-for-small
        .large-12.columns
          %a(data-tooltip data-width=500 title="You can confirm your email address by clicking on the link in the email you received after registration. If you didn't receive a confirmation email, click on the 'Resend Confirmation Email' button.") Please confirm your email address.
          %span.guest-button= link_to "Resend Confirmation Email", new_confirmation_path(User)
  - unless @hide_cover_image
    = render partial: "shared/header_quote"
      
  - flash.each do |style, message|
    .alert-box{:class => style.to_s}= message
.row
  %h1.announcement Welcome to the Hummingbird Redesign!! <a href="http://forums.hummingbird.me/t/the-new-redesign/7247">Read More</a>

