- if user_signed_in?
  %p
    = image_tag current_user.avatar_url
    = link_to "Sign out", destroy_user_session_path, :method => :delete
    or
    = link_to "Edit profile", edit_user_registration_path
- else
  %p
    = link_to "Sign in", new_user_session_path
    or
    = link_to "Sign up", new_user_registration_path

Header goes here.
