.hummingbird-header
  .top-bar
    .row
      .twelve.columns
        / Navigation
        .row
          .twelve.columns
            %ul.top-bar
              %ul
                %li.name
                  %h1
                    %a{:href => "#"} Hummingbird
                %li.toggle-topbar
                  %a{:href => "#"}
              %section
                %ul.left
                  %li
                    %a{:href => "#"} Discover
                  %li
                    %a{:href => "#"} Dashboard
                  %li
                    = link_to "Community", main_app.forem_path

                %ul.right
                  - if user_signed_in?
                    %li.has-dropdown
                      %span.avatar= link_to image_tag(current_user.avatar_url)
                      %ul.dropdown
                        %li
                          = link_to "Edit profile", main_app.edit_user_registration_path
                        - if current_user.admin?
                          %li 
                            = link_to "Admin panel", "/kotodama"
                        %li
                          = link_to "Sign out", main_app.destroy_user_session_path, :method => :delete
                  - else
                    %li= link_to "Login", main_app.new_user_session_path
                    %li
                      %a{"data-reveal-id" => "register", :href => "#"} Register

                  #register.reveal-modal{:class => "medium"}
                    %h2 Sign up

                    = render "devise/registrations/form"