.anime-discover.anime-show.anime-show-full
  .row
    .three.columns
      = render partial: 'anime/card', locals: {data: [@anime, @watchlist, 'twelve']}

    .nine.columns
      .panel.top-bar
        %h4= title "#{@anime.title} Episode List"
      
      - if user_signed_in?
        .panel
          %h5 Bulk Update
          %p 
            = form_tag(bulk_update_anime_episode_path(@anime, 1)) do
              Mark the first
              = text_field_tag :episode_count, "", size: 4, style: 'width: 50px; display: inline; margin-left: 4px; margin-right: 4px', class: 'inline'
              episodes as viewed.
              = submit_tag "Go >", class: 'button tiny'

      .panel.user-watchlist
        .episode-list{:class => "episode-list-#{@anime.slug}"}
          %ul
            - @episodes.each do |episode, watched|
              %li.episode{:class => ("active" if watched)}
                .title.ten.columns
                  .episode-number e#{"%02d" % episode.number}
                  .episode-title= episode.title
                .view-button.two.columns
                  - if watched
                    %strong
                      = link_to "", watch_anime_episode_path(@anime, episode, watched: false), method: :post
                  - else
                    %strong
                      = link_to "", watch_anime_episode_path(@anime, episode, watched: true), method: :post
      
      - if @anime.thetvdb_series_id
        .panel
          %p 
            The episode information for #{@anime.title} has been provided by
            #{link_to "TheTVDB.com", "http://www.thetvdb.com/?tab=series&id=#{@anime.thetvdb_series_id}"}.
