<h2><%= t('forem.admin.group.index') %></h2>
<%= link_to t('forem.admin.group.new'), forem.new_admin_group_path %>

<table id='groups' class='index subdued' cellspacing='0'>
  <thead>
    <tr>
      <th><%= t('edit', :scope => 'forem.admin.groups') %></th>
      <th><%= t('delete', :scope => 'forem.admin.groups') %></th>
      <th><%= t('name', :scope => 'forem.admin.groups') %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to t('edit'), forem.admin_group_path(group) %></td>
        <td><%= link_to t('delete'), forem.admin_group_path(group), :method => :delete %></td>
        <td><%= link_to forem_emojify(group.name), forem.admin_group_path(group) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
