- if @onboarding
  = render partial: 'onboarding'

.row
  .large-12.columns.home-content

    .large-4.columns.push-8.left-column-content
      = render partial: "shared/forum_widget"

      .large-12.columns.no-padding.trending-block.rounded-panel
        .large-12.columns.block-title
          %h4 Trending Today
        %hr
        %ul
          - @trending_anime.each_with_index do |trending, i|
            %li.large-12.columns.topic-row
              .small-1.columns.no-padding
                %p.count.center= i+1
              .small-11.columns.no-padding-right.forum-title
                .large-12.columns.no-padding
                  = anime_link trending, class: 'trending-title truncate'
                  %i #{trending.user_count} Viewers

      .large-12.columns.no-padding-left.no-padding-right.side-advert.hide-for-small.rounded-panel
        :javascript
          google_ad_client = "ca-pub-3410319844519574";
          /* Homepage Sidebar */
          google_ad_slot = "8094424442";
          google_ad_width = 300;
          google_ad_height = 250;

        %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}

    .large-8.columns.pull-4.left-home-column.no-padding
      .large-12.columns.no-padding.recent-watched
        .recommendations.hide-for-small
          - @recent_anime.each do |watchlist|
            .large-3.columns.no-padding.recommendation
              = image_tag watchlist.anime.poster_image.url(:large)
              .large-12.columns.meta-wrapper
                .meta-data.large-12.columns.no-padding-left
                  %p 
                    %h5.anime-title.truncate= anime_link watchlist.anime
                  .rating{:id => watchlist.anime.slug, :"data-rating" => (watchlist.rating || 0), :"data-anime-slug" => watchlist.anime.slug}
                  %hr
                  .large-6.columns.no-padding
                    Progress:
                  .large-6.columns.no-padding.progress-number
                    %span.progress-updater{:id => watchlist.anime.slug, :"data-anime-slug" => watchlist.anime.slug, :"data-progress" => watchlist.episodes_watched, :"data-total-episodes" => watchlist.anime.episode_count, :"data-allow-increment" => "true"}
                  
                  :javascript
                    initializeRatingInterface($(".rating##{watchlist.anime.slug}"), "#{current_user.star_rating ? "starRatings" : "smileyRatings"}");
                    initializeProgressIncrement($(".progress-updater##{watchlist.anime.slug}"))
          - (4-@recent_anime.length).times do
            .large-3.columns.no-padding.recommendation
              = image_tag "default.jpg"

      .large-12.columns.hide-for-small.no-padding.center.home-banner
        :javascript
          google_ad_client = "ca-pub-3410319844519574";
          /* Homepage Banner */
          google_ad_slot = "9909234847";
          google_ad_width = 728;
          google_ad_height = 90;

        %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}

      .large-12.columns.option-bar
        .small-2.large-4.columns
          %p.option-title Activity Feed
        .small-10.large-8.columns.options
          %ul.status-tabs.inline-list
            %li#tab-all.active
              %a{:href => "#all", :onclick => "showRelevantSections('all')"} All
            %li
              %a{:href => "#comments", :onclick => "showRelevantSections('comments')"} Comments
            %li
              %a{:href => "#library", :onclick => "showRelevantSections('library')"} Library
            %li
              %a{:href => "#events", :onclick => "showRelevantSections('events')"} Events
      .large-12.columns.feed.no-padding
        .large-12.columns.feed-form
          %form.comment
            %textarea.comment(placeholder="Write something..." name="comment")
            %button.button.padded(type="submit") Post

        %ul.feed-list.activity-feed

        .center.activity-feed-spinner
          %i.fa.fa-spin.fa-spinner.fa-4x

        :coffee
          @submitInProgress = false
          that = this
          $("textarea.comment").autosize(append: "\n")
          $("textarea.comment").focus ->
            $("form.comment button").slideDown()
          $("form.comment").submit ->
            if $("textarea.comment").val().length > 0
              unless that.submitInProgress
                that.submitInProgress = true
                $("form.comment .posting-indicator").fadeIn()
                $("form.comment button").html("<i class='fa fa-spin fa-spinner'></i>")
                $("form.comment button").attr("disabled", true)
                $.ajax
                  type: "post"
                  url: "#{user_comment_path(current_user)}.json"
                  data:
                    comment: $("textarea.comment").val()
                  success: (story) ->
                    StoryCollectionView.addStories story
                    $("form.comment button").html("Post")
                    $("form.comment button").attr("disabled", false)
                    $("textarea.comment").val("")
                    setTimeout (-> that.submitInProgress = false), 5000
                  error: ->
                    alert "Something went wrong. Please try again later."
            return false

          @StoryCollectionView.fetchMore "/api/v1/timeline?"
          infiniteScrollLoader = ->
            if $(window).scrollTop() + 2000 > $(".activity-feed-spinner").offset().top
              @StoryCollectionView.fetchMore "/api/v1/timeline?"

          setInterval infiniteScrollLoader, 500

