.large-banner
  %figure
    .overlay
    = image_tag @background_image, style: "height: 720px; width: 100%"

.home.anime-discover.anime-show.login-register-card
  .header-content.row
    .eleven.columns.centered
      %form{:action => "/search", :autocomplete => "off"}
        %input(type="text" name="query"){:placeholder => "Search Anime by Title", :value => params[:query], :autocomplete => "off"}
    .featured-anime.eleven.columns.centered
      .anime-poster.three.columns
        %figure
          = image_tag "http://img1.ak.crunchyroll.com/i/spire4/5e5a8d0f46487186e64687b046e0eb691357673527_full.jpg"
          %figcaption
            %span 
              = image_tag "http://www.placekitten.com/200/200"
        %p= link_to "Problem Children Are Coming...", "#"
      .anime-poster.three.columns
        %figure
          = image_tag "http://img1.ak.crunchyroll.com/i/spire1/147343502675febc265eb48873d70f1f1357163351_full.jpg"
          %span 
            = image_tag "http://www.placekitten.com/200/200"
        %p= link_to "Cuticle Detective Inaba", "#"
      .anime-poster.three.columns
        %figure
          = image_tag "http://img1.ak.crunchyroll.com/i/spire2/9e8550dd5fe4dfbbe7accdb24de70a5b1302295729_full.jpg"
          %span 
            = image_tag "http://www.placekitten.com/200/200"
        %p= link_to "Blue Exorcist", "#"
      .anime-poster.three.columns
        %figure
          = image_tag "http://img1.ak.crunchyroll.com/i/spire1/7c64a48edf3812a52219287c777bee521301957316_full.jpg"
          %span 
            = image_tag "http://www.placekitten.com/200/200"
        %p= link_to "The World Only God Knows", "#"

    .twelve.columns
      %span.login-button Discover More Anime

  .row
    .twelve.columns
      .eight.columns
        .title
          %h3 New Users
        .new-users.twelve.columns
          .two.columns
            = image_tag "http://www.placekitten.com/400/400"
          .two.columns
            = image_tag "http://www.placekitten.com/400/400"
          .two.columns
            = image_tag "http://www.placekitten.com/400/400"
          .two.columns
            = image_tag "http://www.placekitten.com/400/400"
          .two.columns
            = image_tag "http://www.placekitten.com/400/400"
          .two.columns
            = image_tag "http://www.placekitten.com/400/400"

        .title
          %h3 Popular Anime
        .twelve.columns
          - @popular_anime.each do |anime|
            .three.columns
              = link_to image_tag(anime.cover_image.url(:thumb)), anime
        .twelve.columns
          = link_to "View More", "#"

      .trending-anime.four.columns
        .title
          %h3 Trending Anime
        .five.columns
          = image_tag "http://localhost:3000/system/0f7a347f58b56ea08cfccb8016044b26a5cf0ec3_thumb.jpg?1361799255"
        .top-anime.seven.columns
          %p Rank 1
          %p= link_to "Spirited Away", "#"
          %h4 99%

        .twelve.columns
          %ol{:start => "2"}
            %li
              = link_to "Fullmetal Alchemist: Bro...", "#"
              <span>98%</span>
            %li
              = link_to "Gintama': Enchousen", "#"
              <span>94%</span>
            %li
              = link_to "Steins;Gate", "#"
              <span>82%</span>
            %li
              = link_to "Clannad: After Story", "#"
              <span>80%</span>
            %li
              = link_to "Gintama", "#"
              <span>74%</span>
            %li
              = link_to "Legend of the Galactic Heroes", "#"
              <span>74%</span>
            %li
              = link_to "Hajime no Ippo", "#"
              <span>65%</span>
            %li
              = link_to "Fate/Zero 2nd Season", "#"
              <span>56%</span>
            %li
              = link_to "Death Note", "#"
              <span>49%</span>

      - if @latest_reviews.length == 2
        .twelve.columns
          .title
            %h3 Latest Reviews
          = render partial: 'reviews/review_summary', collection: @latest_reviews, as: :review
