.large-banner
  %figure
    .overlay
    = image_tag @background_image, style: "height: 720px; width: 100%"

.home.anime-discover.anime-show.login-register-card
  .header-content.row
    .twelve.columns
      .features
        %h1.salsbury Discover New Anime.
        %h2 Hummingbird is a new and easy way to find <br/>anime titles you'll love.
        .row
          .eight.columns.centered
            %ul.inline-list{:style => "display: inline-block; margin: 0 auto;"}
              %li 
                .fb-like{"data-href" => "http://www.facebook.com/pages/Hummingbird/460188747373182?ref=hl", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}
              %li{:style => "background: none; margin-top: 2px;"}
                %a.twitter-share-button{"data-text" => "Hummingbird is a new and easy way to find anime titles you'll love. #anime", "data-url" => "http://www.hummingbird.ly", "data-via" => "Hummingbird_ly", :href => "https://twitter.com/share"} Tweet


            .LR-sign-up-container{:style => ""}
              %span.LR-sign-up-label{:style => "display: none;"} Request an invite
              #fieldbase.LR-sign-up-container-inner
                %input#input.signup-email{:autofocus => "", :placeholder => "Enter your email...", :type => "email"}
                %input#button.LR-sign-up-submit{:name => "submit", :onclick => "setTimeout(setIframe,2000);", :title => "GO", :type => "submit", :value => "Request Invite"}
            %p We will never share your email address with anyone, period.

        / - if user_signed_in?
        /   %span.login-button= link_to "Discover Anime", anime_index_path
        / - else
        /   %span.login-button= link_to "Request Invite", main_app.new_user_registration_path 

  .row
    .twelve.columns
      .title
        %h3 
          Recent Activity
          /There are <i>78</i> people watching anime right now!
      .watching-now.twelve.columns
        - @recent_anime.each do |watchlist|
          .three.columns
            .panel
              = link_to image_tag(watchlist.anime.cover_image.url(:thumb)), watchlist.anime
              .twelve.columns
                .user-circle.seven.columns.centered
                  %span.avatar= image_tag watchlist.user.avatar.url(:thumb)
              .twelve.columns
                %p.name= link_to watchlist.user.name, watchlist.user      

      - if @latest_reviews.length == 2
        .twelve.columns
          .title
            %h3 Latest Reviews
          = render partial: 'reviews/review_summary', collection: @latest_reviews, as: :review
