.large-banner
  %figure
    .overlay
    = image_tag @background_image, style: "height: 720px; width: 100%"

.home.anime-discover.anime-show.login-register-card
  .header-content.row
    .eleven.columns.centered
      .search
        %form{:action => "/search", :autocomplete => "off"}
          %input.typeahead_home(type="text" name="query"){:placeholder => "Search Anime by Title", :value => params[:query], :autocomplete => "off"}
          %input#nav_search_submit.submit.ss-icon{:type => "submit", :value => "search"}

    .twelve.columns
      .features
        %h2 Discover New Anime. Track What You're Watching.
        .row
          .three.columns
            %span.icon
              = image_tag "icons/import.png", :class => "import", :width => "63px;"
            %h3
              Global Import
            %p
              Already have a MAL account? Not a problem, we'll import everything to
              Hummingbird, quick and easy. Just the way we like it.

          .three.columns
            %span.icon
              = image_tag "icons/review.png", :class => "review", :width => "56px;"
            %h3
              Equal Reviews
            %p
              We show the top rated positive AND negative reviews side-by-side so you
              can easily decide if the anime you're considering is worth your time.

          .three.columns
            %span.icon
              = image_tag "icons/rate.png", :class => "rate", :width => "54px;"
            %h3
              Simple Rating
            %p
              Tedious star rating systems are a thing of the past. We make rating anime
              a breeze so you can spend more time doing what you love.

          .three.columns
            %span.icon
              = image_tag "icons/watchlist.png", :class => "watchlist", :width => "59px;"
            %h3
              Personal Watchlist
            %p
              Track your episode progress, save an anime to watch in the future, stay
              organized. We've got you covered, pinky promise.

        %span.login-button= link_to "Request Invite", main_app.new_user_registration_path 

  .row
    .twelve.columns
      .eight.columns
        .title
          %h3 
            Recent Activity
            /There are <i>78</i> people watching anime right now!
        .watching-now.twelve.columns
          - @recent_anime.each do |watchlist|
            .four.columns
              .panel
                = link_to image_tag(watchlist.anime.cover_image.url(:thumb)), watchlist.anime
                .twelve.columns
                  .user-circle.seven.columns.centered
                    %span.avatar= image_tag watchlist.user.avatar.url(:thumb)
                .twelve.columns
                  %p.name= link_to watchlist.user.name, watchlist.user

      .trending-anime.four.columns
        .title
          %h3 Trending Anime
        .five.columns
          = image_tag "http://localhost:3000/system/0f7a347f58b56ea08cfccb8016044b26a5cf0ec3_thumb.jpg?1361799255"
        .top-anime.seven.columns
          %p Rank 1
          %p= link_to "Spirited Away", "#"
          %h4.positive 99%

        .twelve.columns
          %ol{:start => "2"}
            %li
              = link_to "Fullmetal Alchemist: Bro...", "#"
              %span.positive 98%
            %li
              = link_to "Gintama': Enchousen", "#"
              %span.positive 94%
            %li
              = link_to "Steins;Gate", "#"
              %span.positive 82%
            %li
              = link_to "Clannad: After Story", "#"
              %span.positive 80%
            %li
              = link_to "Gintama", "#"
              %span.positive 74%
            %li
              = link_to "Legend of the Galactic Heroes", "#"
              %span.positive 74%
            %li
              = link_to "Hajime no Ippo", "#"
              %span.negative 65%
            %li
              = link_to "Fate/Zero 2nd Season", "#"
              %span.negative 56%
            %li
              = link_to "Death Note", "#"
              %span.negative 49%

      .four.columns
        .title
          %h3 New Users
        .new-users.twelve.columns
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"

      - if @latest_reviews.length == 2
        .twelve.columns
          .title
            %h3 Latest Reviews
          = render partial: 'reviews/review_summary', collection: @latest_reviews, as: :review
