= render 'shared/header'
.home
  .row.content-body
    / Side Bar
    .three.mobile-twelve.columns
      %ul.accordion
        %li.active
          .title
            %h3 Personalize
          .personalize-filter.content
            %p.active= link_to 'All Anime', '#'
            %p= link_to 'My Recommendations', '#'
            %p= link_to "Anime I Haven't Seen", '#'
            %p= link_to "Anime I Haven't Finished", '#'

      %ul.accordion
        %li.active    
          .title
            %h3 Filter
          .content
            %form.custom
              .row
                .twelve.columns
                  %label{:for => "checkbox1"}
                    %input#checkbox1{:style => "display: none;", :type => "checkbox", :value => ".action"}
                      %span.custom.checkbox
                      Action

                  %label{:for => "checkbox2"}
                    %input#checkbox2{:checked => "", :style => "display: none;", :type => "checkbox", :value => ".comedy"}
                      %span.custom.checkbox.checked
                      Comedy

                  %label{:for => "checkbox2"}
                    %input#checkbox2{:checked => "", :style => "display: none;", :type => "checkbox", :value => ".demons"}
                      %span.custom.checkbox.checked
                      Demons

                  %label{:for => "checkbox2"}
                    %input#checkbox2{:checked => "", :style => "display: none;", :type => "checkbox", :value => ".drama"}
                      %span.custom.checkbox.checked
                      Drama

                  %label{:for => "checkbox2"}
                    %input#checkbox2{:checked => "", :style => "display: none;", :type => "checkbox", :value => ".ecchi"}
                      %span.custom.checkbox.checked
                      Ecchi

    / Thumbnails
    .anime-grid.nine.columns
      .row

        /* Gintama */
        /* ======= */
        .four.mobile-two.columns
          .panel
            %figure
              .overlay
                %h5.title Gintama
                %p.summary #{truncate("Gintama is a story of a handyman named Gintoki, a samurai with no respect for rules set by the invaders, who's ready to take any job to survive.", :length => 300, :omission => '...')}
              %img{:src => "http://vikhyat.net/AnimeGraph/thumbs/9969.jpg"}
            %figcaption Gintama
            .progress.six
              %span.meter{:style => "width: 100%;"}
            %p.watchlist= link_to "- Remove from Watchlist", "#"
            .vote-blocks
              %span.like :)
              %span.dislike :(

        /* Naruto Shippuden */
        /* ================ */
        .four.mobile-two.columns
          .panel
            %figure
              .overlay
                %h5.title Naruto Shippuden
                %p.summary #{truncate("Naruto Uzumaki wants to be the best ninja in the land. He's done well so far, but with the looming danger posed by the mysterious Akatsuki organization, Naruto knows he must train harder than ever and leaves his village for intense exercises that will push him to his limits.", :length => 300, :omission => '...')}
              %img{:src => "http://img1.ak.crunchyroll.com/i/spire3/60d1de8d5ea8caeff26791ade64b83591350422947_full.jpg"}
            %figcaption Naruto Shippuden
            .progress.six
              %span.meter{:style => "width: 20%;"}
            %p.watchlist= link_to "- Remove from Watchlist", "#"
            .vote-blocks
              %span.like :)
              %span.dislike :(

        /* Sword Art Online */
        /* ================ */
        .four.mobile-two.columns
          .panel
            %figure
              .overlay
                %h5.title= link_to "Sword Art Online", Anime.find('sword-art-online')
                %p.summary #{truncate("In the near future, a Virtual Reality Massive Multiplayer Online Role-Playing Game (VRMMORPG) called Sword Art Online has been released where players control their avatars with their bodies using a piece of technology called: Nerve Gear. One day, players discover they cannot log out, as the game creator is holding them captive unless they reach the 100th floor of the game's tower and defeat the final boss. However, if they die in the game, they die in real life. Their struggle for survival starts now...", :length => 300, :omission => '...')}
              %img{:src => "http://img1.ak.crunchyroll.com/i/spire4/5fe886f3daa6485efecf1ea6dc5207931343265548_full.jpg"}
            %figcaption= link_to "Sword Art Online", Anime.find('sword-art-online')
            .progress.six
              %span.meter{:style => "width: 60%;"}
            %p.watchlist= link_to "- Remove from Watchlist", "#"
            .vote-blocks
              %span.like :)
              %span.dislike :(

        /* Problem Children */
        /* ================ */
        .four.mobile-two.columns
          .panel
            %figure
              .overlay
                %h5.title #{truncate("Problem Children are Coming from Another World, Aren't They?", :length => 30, :omission => '...')}
                %p.summary #{truncate("Three problem children - Sakamaki Izayoi, Kudou Asuka, and Kasukabe You - suddenly receive an invitation to another world known as 'Little Garden' from a girl called Black Rabbit. Battles, laughter, sex appeal... anything goes in this new tale of adventure!", :length => 300, :omission => '...')}
              %img{:src => "http://img1.ak.crunchyroll.com/i/spire4/5e5a8d0f46487186e64687b046e0eb691357673527_full.jpg"}
            %figcaption #{truncate("Problem Children are Coming from Another world, Aren't They?", :length => 25, :omission => '...')}
            .progress.six
              %span.meter{:style => "width: 09%;"}
            %p.watchlist= link_to "- Remove from Watchlist", "#"
            .vote-blocks
              %span.like :)
              %span.dislike :(

        /* Blue Exorcist */
        /* ============= */
        .four.mobile-two.columns
          .panel
            %figure
              .overlay
                %h5.title Blue Exorcist
                %p.summary #{truncate("Assiah, the realm of humans, and Gehenna, the realm of demons. Normally, these two dimensions would never intersect, but the demons are now intruding on the material world.", :length => 300, :omission => '...')}
              %img{:src => "http://img1.ak.crunchyroll.com/i/spire2/9e8550dd5fe4dfbbe7accdb24de70a5b1302295729_full.jpg"}
            %figcaption Blue Exorcist
            .progress.six
              %span.meter{:style => "width: 13%;"}
            %p.watchlist= link_to "- Remove from Watchlist", "#"
            .vote-blocks
              %span.like :)
              %span.dislike :(

        /* Cuticle Detective Inaba */
        /* ======================= */
        .four.mobile-two.columns
          .panel
            %figure
              .overlay
                %h5.title Cuticle Detective Inaba
                %p.summary #{truncate("Inaba Hiroshi, the protagonist and head of the Inaba Detective Agency, is approached one day by Inspector Ogino, his former partner from his days as a police dog, asking for his assistance with a certain investigation. The ringleader behind the case is the Italian mafia boss Don Valentino. The red-haired wolf-boy detective with the hair fetish and his lively companions stand up against the ambition of Don Valentino (who is quite clearly a goat) in this new style gag detective anime!", :length => 300, :omission => '...')}
              %img{:src => "http://img1.ak.crunchyroll.com/i/spire1/147343502675febc265eb48873d70f1f1357163351_full.jpg"}
            %figcaption Cuticle Detective Inaba
            .progress.six
              %span.meter{:style => "width: 65%;"}
            %p.watchlist= link_to "- Remove from Watchlist", "#"
            .vote-blocks
              %span.like :)
              %span.dislike :(

        - @anime.each_with_index do |anime, i|
          .four.mobile-two.columns
            .panel
              %figure
                .overlay
                  %h5.title= link_to anime.title, anime
                  %p.summary #{truncate(anime.synopsis, :length => 300, :omission => '...')}
                %img{:src => anime.cover_image_url}
              %figcaption= link_to anime.title, anime
              .progress.six
                %span.meter{:style => "width: #{(rand * 100).to_i}%;"}
              %p.watchlist
                - if @watchlist[i]
                  = link_to "- Remove from Watchlist", remove_from_watchlist_path(anime), :method => :post, :confirm => "Are you sure you want to remove #{anime.title} from your Watchlist?"
                - else
                  = link_to "+ Add to Watchlist", add_to_watchlist_path(anime), :method => :post
              .vote-blocks
                %span.like :)
                %span.dislike :(


  /* Make entire anime grid card overlay a clickable link */
  /* ==================================================== */
  :javascript
    $(".overlay").click(function (e) {
      if (!e.ctrlKey && !e.metaKey) {
        // Handle click without Ctrl/Cmd.
        window.location = $(this).find("a").attr("href");
      }
      else {
        // Click with Ctrl/Cmd.
        window.open( $(this).find("a").attr("href"), "_blank");
      }
      return false;
    });

= render 'shared/footer'

%pre= @watchlist
