.anime-discover.anime-show.home
  .row
    .container.twelve.columns
      .item.three.mobile-two.columns
        .panel
          = image_tag "http://cdn.myanimelist.net/images/anime/2/24096.jpg"
          .twelve.columns
            %span.avatar= image_tag "http://placekitten.com/g/200/200"
            %span.username= link_to "JoshFabian", "#"
          .twelve.columns
            %p watched episode 4 of 
            %p Samurai Champloo

      .item.three.mobile-two.columns
        .panel
          = image_tag "http://cdn.myanimelist.net/images/anime/2/24096.jpg"
          .twelve.columns
            %span.avatar= image_tag "http://placekitten.com/g/200/200"
            %span.username= link_to "JoshFabian", "#"
          .twelve.columns
            %p watched episode 4 of 
            %p Samurai Champloo

      .item.three.mobile-two.columns
        .panel
          = image_tag "http://cdn.myanimelist.net/images/anime/2/24096.jpg"
          .twelve.columns
            %span.avatar= image_tag "http://placekitten.com/g/200/200"
            %span.username= link_to "JoshFabian", "#"
          .twelve.columns
            %p watched episode 4 of 
            %p Samurai Champloo

      .item.three.mobile-two.columns
        .panel
          = image_tag "http://cdn.myanimelist.net/images/anime/2/24096.jpg"
          .twelve.columns
            %span.avatar= image_tag "http://placekitten.com/g/200/200"
            %span.username= link_to "JoshFabian", "#"
          .twelve.columns
            %p watched episode 4 of 
            %p Samurai Champloo


   