- if user_signed_in?
  .large-banner
    %figure
      .overlay
      = image_tag "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/074/original/another3.jpg?1361895288", style: "height: 720px; width: 100%", class: 'background-image'
      :javascript
        var images = [
          "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/076/original/blood.jpg?1361895445",
          "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/074/original/another3.jpg?1361895288",
          "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/072/original/another.jpg?1361895189",
          "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/059/original/darker4.jpg?1361823103",
          "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/058/original/darker3.jpg?1361823078",
          "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/057/original/darker2.jpg?1361823056",
          "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/056/original/darker.jpg?1361823028",
          "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/136/original/melancholy.jpg?1362175820",
          "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/137/original/melancholy3.jpg?1362175882",
        ];
        var randomImage = images[Math.floor(Math.random() * images.length)];
        $('.background-image').attr('src', randomImage);

  .home.anime-discover.anime-show.login-register-card
    .header-content.row
      .large-12.columns
        .features
          %h1.salsbury Discover New Anime.
          %h2 Hummingbird is a new and easy way to find <br/>anime titles you'll love.
          .row
            .large-8.columns.large-centered{:style => "margin-bottom: 40px;"}
              %ul.inline-list{:style => "display: inline-block; margin: 0 auto;"}
                %li 
                  .fb-like{"data-href" => "http://www.facebook.com/pages/Hummingbird/460188747373182?ref=hl", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}
                %li{:style => "background: none; margin-top: 2px;"}
                  %a.twitter-share-button{"data-text" => "Hummingbird is a new and easy way to find anime titles you'll love. #anime", "data-url" => "http://www.hummingbird.ly", "data-via" => "Hummingbird_ly", :href => "https://twitter.com/share"} Tweet


              - if user_signed_in?
                .large-11.columns.large-centered{:style => "margin-top: 40px; height: 60px; margin-bottom: 100px; overflow: visible;"}
                  .search
                    %form{:action => "/search", :autocomplete => "off"}
                      %input.typeahead_home(type="text" name="query" placeholder = "Search Anime by Title" autocomplete="off")
                      %input#nav_search_submit.submit.ss-icon{:type => 'submit', :value => 'search'}
              - else
                = form_for BetaInvite.new, url: beta_invites_path do |f|
                  .LR-sign-up-container{:style => ""}
                    %span.LR-sign-up-label{:style => "display: none;"} Request an invite
                    #fieldbase.LR-sign-up-container-inner
                      = f.email_field :email, class: 'signup-email', placeholder: "Enter your email...", id: 'input'
                      = f.submit "Request Invite", class: 'LR-sign-up-submit', id: 'button'
                  %p We will never share your email address with anyone, period.

    .row
      .large-12.columns
        .title
          %h3 
            Recent Activity
        .watching-now.large-12.columns
          - @recent_anime.each do |watchlist|
            .large-3.columns
              .panel
                = link_to image_tag(watchlist.anime.cover_image.url(:thumb)), watchlist.anime
                .large-12.columns
                  .user-circle.large-7.columns.large-centered
                    %span.avatar= image_tag watchlist.user.avatar.url(:thumb)
                .large-12.columns
                  %p.name= link_to watchlist.user.name, watchlist.user      

        - if @latest_reviews.length == 2
          .large-12.columns
            .title
              %h3 Latest Reviews
            = render partial: 'reviews/review_summary', collection: @latest_reviews, as: :review
- else
  :css
    .hummingbird-header-1, .footer-ad {
      display: none;
    }
  
  .guest-home
    // Nav Bar
    .row.guest-nav
      .large-12.columns
        .small-6.columns
          = image_tag "h-logo.jpg", :class => "h-logo"
        .small-6.columns

          %p.right.hide-for-small.login-link 
            Already a Member?
            = link_to "Login, we missed you!", main_app.new_user_session_path
          %p.right.show-for-small.login-link
            = link_to "Login, we missed you!", main_app.new_user_session_path

    // Tagline Area
    .row.tagline-area
      .large-12.columns
        %h1.center.tagline.hide-for-small Track, Share and Discover New Anime
        %h3.center.small-tagline.show-for-small Track, Share and Discover New Anime
        .large-8.columns.large-centered
          %p.center.flavor-text
            %i.hide-for-small Hummingbird is an anime discovery platform that gives you personalised recommendations based on the anime you love.

    // Top CTA
    .row.top-cta
      .large-6.columns.large-centered
        = form_for BetaInvite.new, url: beta_invites_path do |f|
          .large-8.columns.no-padding
            = f.email_field :email, placeholder: "Enter Email Address..."
          .large-4.columns.no-padding-right.cta-button
            = f.submit "Request Invite", class: 'button expand'

    // Screenshot Banner
    .row.screenshot-banner.hide-for-small
      .large-12.columns.mac-pro
        = image_tag "mac-pro.png"

    // Main features
    .row.main-features
      .large-12.columns
        .large-4.columns
          %h3 
            %i.icon-book
            Curate your library
          %hr
          %p Easily track your Library of anime you’ve watched, plan to watch and are currently watching. Watch anime via Hulu, Crunchyroll and Netflix and more.
        .large-4.columns
          %h3 
            %i.icon-th-list 
            Create & share lists
          %hr
          %p Compile and Share lists of anime such as ‘Series that makes me cry’, ‘Shows to watch with friends’, etc. Share your list for suggestions from friends to perfect it!
        .large-4.columns
          %h3 
            %i.icon-group
            Follow your friends
          %hr
          %p Find and follow your friends to see what they’re watching, enjoying and discussing and give personal recommendations on what to watch next.
      %hr

    // Recommendation Examples
    #recommendationExample

    // Tagline Area
    .row 
      .large-12.columns
        %p.center.secondary-cta-tagline.hide-for-small The easiest way to track, share and discover new anime. <strong>Request your invite now - Free.</strong>
        %p.center.mobile-cta-tagline.show-for-small <strong>Request your invite now - Free.</strong>

    // Bottom CTA
    .row.bottom-cta
      .large-6.columns.large-centered
        = form_for BetaInvite.new, url: beta_invites_path do |f|
          .large-8.columns.no-padding
            = f.email_field :email, placeholder: "Enter Email Address..."
          .large-4.columns.no-padding-right.cta-button
            = f.submit "Request Invite", class: 'button expand'


%script(type="text/template" id="RecommendationExampleTemplate")
  .row 
    .large-12.columns
      %p.center.find-anime <strong>Find Anime</strong> based on your unique taste
      %p.center.find-anime-description.hide-for-small With Hummingbird you’ll get a refreshingly simple way to discover new anime. 
      .small-12.large-8.columns.large-centered
        %form.hide
          .large-12.columns.recommendation-area
            %input{:placeholder => "Try us with your favorite anime...", :type => "text", :class => "recommendation-input"}
            %i.icon-search.search-button
              
        %h3.center.hide-for-small If you liked <a href="#">{{title}}</a>, you may also like...
        %h4.center.show-for-small If you liked <a href="#">{{title}}</a>, you may also like...

  // Recommendation Grid
  .row
    .large-12.columns.no-padding.recommendations
      .small-6.large-3.columns.no-padding.recommendation
        = image_tag "http://img1.ak.crunchyroll.com/i/spire1/d7a8b3541d44709a1df5197947debacc1367432151_full.jpg", :class => "no-padding"
        .large-12.columns.meta-wrapper
          .meta-data
            %h4.anime-title Naruto Shippuden
            %p <a href="#">Action</a> · <a href="#">Comedy</a> · <a href="#">Shounen</a>
            <a href="#" class="more-like-this"><i class="icon-refresh"></i> More Like This</a>
      .small-6.large-3.columns.no-padding.recommendation
        = image_tag "http://img1.ak.crunchyroll.com/i/spire2/654681f8eefdc13ad8dee196ff2a74f71366329524_full.jpg", :class => "no-padding"
        .large-12.columns.meta-wrapper
          .meta-data
            %h4.anime-title Attack on Titan
            %p <a href="#">Action</a> · <a href="#">Drama</a> · <a href="#">Fantasy</a>
            <a href="#" class="more-like-this"><i class="icon-refresh"></i> More Like This</a>
      .small-6.large-3.columns.no-padding.recommendation
        = image_tag "http://img1.ak.crunchyroll.com/i/spire4/bc6a6632d9a1cbf1f8b0d233c26f14901365195220_full.jpg", :class => "no-padding"
        .large-12.columns.meta-wrapper
          .meta-data
            %h4.anime-title #{truncate("Gargantia on the Verdurous Planet", :length => 25)}
            %p <a href="#">Action</a> · <a href="#">Drama</a> · <a href="#">Fantasy</a>
            <a href="#" class="more-like-this"><i class="icon-refresh"></i> More Like This</a>
      .small-6.large-3.columns.no-padding.recommendation
        = image_tag "http://img1.ak.crunchyroll.com/i/spire4/5fe886f3daa6485efecf1ea6dc5207931343265548_full.jpg", :class => "no-padding"
        .large-12.columns.meta-wrapper
          .meta-data
            %h4.anime-title Sword Art Online
            %p <a href="#">Action</a> · <a href="#">Drama</a> · <a href="#">Fantasy</a>
            <a href="#" class="more-like-this"><i class="icon-refresh"></i> More Like This</a>

:coffee
  recommendationExampleTemplate = Hogan.compile $("#RecommendationExampleTemplate").html()
  
  @updateRecommendationExample = (slug) ->
    $.getJSON "/api/v1/anime/" + slug, (anime) ->
      $.getJSON "/api/v1/anime/" + slug + "/similar", (similar) ->
        console.log anime
        console.log similar
    $("#recommendationExample").html recommendationExampleTemplate.render
      title: "Naruto"
      url: "/anime/naruto"

  #updateRecommendationExample "attack-on-titan"

