.row
  .large-12.columns.home-content
    .large-8.columns.left-home-column.no-padding
      .large-12.columns.no-padding.recent-watched
        .recommendations
          - @recent_anime.each do |watchlist|
            .large-3.columns.no-padding.recommendation
              = image_tag watchlist.anime.cover_image.url(:thumb)
              .large-12.columns.meta-wrapper
                .meta-data.large-12.columns.no-padding-left
                  %p 
                    %h5.anime-title= anime_link watchlist.anime
                  .rating{:id => watchlist.anime.slug, :"data-rating" => (watchlist.rating || -3) + 3, :"data-anime-slug" => watchlist.anime.slug}
                  :javascript
                    initializeRatingInterface($(".rating##{watchlist.anime.slug}"), "starRatings");
                  %hr
                  .large-6.columns.no-padding
                    Progress:
                  .large-6.columns.no-padding.progress-number
                    %a.count-add{:href => "#"}
                      %i.icon-angle-up
                      18 <span class="total-episodes">/ 51</span>
          - (4-@recent_anime.length).times do
            .large-3.columns.no-padding.recommendation
              = image_tag "http://placekitten.com/184/274"

      .large-12.columns.hide-for-small.no-padding.center.home-banner
        :javascript
          google_ad_client = "ca-pub-3410319844519574";
          /* Homepage Banner */
          google_ad_slot = "9909234847";
          google_ad_width = 728;
          google_ad_height = 90;

        %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}

      .large-12.columns.option-bar.hide-for-small
        .small-6.large-2.columns
          %p.option-title Activity Feed
        .small-12.large-9.columns.options
          %ul.status-tabs.inline-list
            %li#tab-all.active
              %a{:href => "#all", :onclick => "showRelevantSections('all')"} All
            %li
              %a{:href => "#comments", :onclick => "showRelevantSections('comments')"} Comments
            %li
              %a{:href => "#library", :onclick => "showRelevantSections('library')"} Library
            %li
              %a{:href => "#events", :onclick => "showRelevantSections('events')"} Events
      .large-12.columns.feed.no-padding
        .large-12.columns.feed-form.hide
          %form
            %input{:placeholder => "What are you up to?", :type => "text"}/

        %ul.feed-list.activity-feed
          
        .center.activity-feed-spinner
          %i.icon.icon-spin.icon-spinner.icon-4x

        :coffee
          @StoryCollectionView.fetchMore "/feed.json?"
          
    .large-4.columns
      .large-12.columns.no-padding.forum-block
        .large-6.columns.block-title
          %h4 Forum
        .large-6.columns.block-link
          = link_to "view forums", forem.root_path, class: 'right'
        %hr
        %ul
          - @forum_topics.each do |topic|
            %li.large-12.columns.topic-row
              .large-12.columns.no-padding.forum-title
                .pull-left
                  = link_to truncate(topic.subject, length: 35, separator: ' '), forem.forum_topic_path(topic.forum, topic)
                .forum-time.pull-right
                  %i #{distance_of_time_in_words_to_now(topic.last_post_at)} ago

      .large-12.columns.no-padding.trending-block
        .large-12.columns.block-title
          %h4 Trending Today
        %hr
        %ul
          %li.large-12.columns.topic-row
            .large-1.columns.no-padding
              %p.count.center 1
            .large-11.columns.no-padding-right.forum-title
              .large-12.columns.no-padding
                = link_to "Attack on Titan", "/anime/attack-on-titan", class: "trending-title"
                %i 1165 Viewers
          %li.large-12.columns.topic-row
            .large-1.columns.no-padding
              %p.count.center 2
            .large-11.columns.no-padding-right.forum-title
              .large-12.columns.no-padding
                = link_to "Gargantia on the Verdurous...", "/anime/gargantia-on-the-verdurous-planet", class: "trending-title"
                %i 785 Viewers
          %li.large-12.columns.topic-row
            .large-1.columns.no-padding
              %p.count.center 3
            .large-11.columns.no-padding-right.forum-title
              .large-12.columns.no-padding
                = link_to "OreImo Season 2", "/anime/oreimo-season-2", class: "trending-title"
                %i 655 Viewers
          %li.large-12.columns.topic-row
            .large-1.columns.no-padding
              %p.count.center 4
            .large-11.columns.no-padding-right.forum-title
              .large-12.columns.no-padding
                = link_to "Naruto Shippuuden", "/anime/naruto-shippuuden", class: "trending-title"
                %i 296 Viewers
          %li.large-12.columns.topic-row
            .large-1.columns.no-padding
              %p.count.center 5
            .large-11.columns.no-padding-right.forum-title
              .large-12.columns.no-padding
                = link_to "Sword Art Online", "/anime/sword-art-online", class: "trending-title"
                %i 98 Viewers

      .large-12.columns.no-padding-left.no-padding-right.side-advert
        :javascript
          google_ad_client = "ca-pub-3410319844519574";
          /* Homepage Sidebar */
          google_ad_slot = "8094424442";
          google_ad_width = 300;
          google_ad_height = 250;

        %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}

