.large-banner
  %figure
    .overlay
    = image_tag "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/074/original/another3.jpg?1361895288", style: "height: 720px; width: 100%", class: 'background-image'
    :javascript
      var images = [
        "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/076/original/blood.jpg?1361895445",
        "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/074/original/another3.jpg?1361895288",
        "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/072/original/another.jpg?1361895189",
        "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/059/original/darker4.jpg?1361823103",
        "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/058/original/darker3.jpg?1361823078",
        "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/057/original/darker2.jpg?1361823056",
        "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/056/original/darker.jpg?1361823028",
        "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/136/original/melancholy.jpg?1362175820",
        "http://hakanai.vikhyat.net/system/gallery_images/images/000/000/137/original/melancholy3.jpg?1362175882",
      ];
      var randomImage = images[Math.floor(Math.random() * images.length)];
      $('.background-image').attr('src', randomImage);

.home.anime-discover.anime-show.login-register-card
  .header-content.row
    .large-12.columns
      .features
        %h1.salsbury Discover New Anime.
        %h2 Hummingbird is a new and easy way to find <br/>anime titles you'll love.
        .row
          .large-8.columns.large-centered{:style => "margin-bottom: 40px;"}
            %ul.inline-list{:style => "display: inline-block; margin: 0 auto;"}
              %li 
                .fb-like{"data-href" => "http://www.facebook.com/pages/Hummingbird/460188747373182?ref=hl", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}
              %li{:style => "background: none; margin-top: 2px;"}
                %a.twitter-share-button{"data-text" => "Hummingbird is a new and easy way to find anime titles you'll love. #anime", "data-url" => "http://www.hummingbird.ly", "data-via" => "Hummingbird_ly", :href => "https://twitter.com/share"} Tweet


            - if user_signed_in?
              .large-11.columns.large-centered{:style => "margin-top: 40px; height: 60px; margin-bottom: 100px; overflow: visible;"}
                .search
                  %form{:action => "/search", :autocomplete => "off"}
                    %input.typeahead_home(type="text" name="query" placeholder = "Search Anime by Title" autocomplete="off")
                    %input#nav_search_submit.submit.ss-icon{:type => 'submit', :value => 'search'}
            - else
              = form_for BetaInvite.new, url: beta_invites_path do |f|
                .LR-sign-up-container{:style => ""}
                  %span.LR-sign-up-label{:style => "display: none;"} Request an invite
                  #fieldbase.LR-sign-up-container-inner
                    = f.email_field :email, class: 'signup-email', placeholder: "Enter your email...", id: 'input'
                    = f.submit "Request Invite", class: 'LR-sign-up-submit', id: 'button'
                %p We will never share your email address with anyone, period.

  .row
    .large-12.columns
      .title
        %h3 
          Recent Activity
      .watching-now.large-12.columns
        - @recent_anime.each do |watchlist|
          .large-3.columns
            .panel
              = link_to image_tag(watchlist.anime.cover_image.url(:thumb)), watchlist.anime
              .large-12.columns
                .user-circle.large-7.columns.large-centered
                  %span.avatar= image_tag watchlist.user.avatar.url(:thumb)
              .large-12.columns
                %p.name= link_to watchlist.user.name, watchlist.user      

      - if @latest_reviews.length == 2
        .large-12.columns
          .title
            %h3 Latest Reviews
          = render partial: 'reviews/review_summary', collection: @latest_reviews, as: :review
