.large-banner
  %figure
    .overlay
    = image_tag @background_image, style: "height: 720px; width: 100%"

.home.anime-discover.anime-show.login-register-card
  .header-content.row
    .eleven.columns.centered
      .search
        %form{:action => "/search", :autocomplete => "off"}
          %input.typeahead_home(type="text" name="query"){:placeholder => "Search Anime by Title", :value => params[:query], :autocomplete => "off"}
          %input#nav_search_submit.submit.ss-icon{:type => "submit", :value => "search"}
            
    .featured-anime.eleven.columns.centered
      - @featured_anime.each do |anime|
        .anime-poster.three.columns
          %figure
            = link_to image_tag(anime.cover_image.url(:"thumb@2x")), anime
          %p= link_to anime.title, anime

    .twelve.columns
      = link_to (user_signed_in? ? "/anime" : new_user_registration_path) do
        %span.login-button Discover More Anime

  .row
    .twelve.columns
      .eight.columns
        .title
          %h3 There are <i>78 people</i> watching anime right now!
        .watching-now.twelve.columns
          - @popular_anime.each do |anime|
            .four.columns
              .panel
                = link_to image_tag(anime.cover_image.url(:thumb)), anime
                .twelve.columns
                  .user-circle.seven.columns.centered
                    %span.avatar= image_tag "http://www.placekitten.com/g/400/400"
                .twelve.columns
                  %p.name= link_to "JoshFabian", "#"

      .trending-anime.four.columns
        .title
          %h3 Trending Anime
        .five.columns
          = image_tag "http://localhost:3000/system/0f7a347f58b56ea08cfccb8016044b26a5cf0ec3_thumb.jpg?1361799255"
        .top-anime.seven.columns
          %p Rank 1
          %p= link_to "Spirited Away", "#"
          %h4.positive 99%

        .twelve.columns
          %ol{:start => "2"}
            %li
              = link_to "Fullmetal Alchemist: Bro...", "#"
              %span.positive 98%
            %li
              = link_to "Gintama': Enchousen", "#"
              %span.positive 94%
            %li
              = link_to "Steins;Gate", "#"
              %span.positive 82%
            %li
              = link_to "Clannad: After Story", "#"
              %span.positive 80%
            %li
              = link_to "Gintama", "#"
              %span.positive 74%
            %li
              = link_to "Legend of the Galactic Heroes", "#"
              %span.positive 74%
            %li
              = link_to "Hajime no Ippo", "#"
              %span.negative 65%
            %li
              = link_to "Fate/Zero 2nd Season", "#"
              %span.negative 56%
            %li
              = link_to "Death Note", "#"
              %span.negative 49%

      .four.columns
        .title
          %h3 New Users
        .new-users.twelve.columns
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"
          .three.columns
            = image_tag "http://www.placekitten.com/400/400"

      - if @latest_reviews.length == 2
        .twelve.columns
          .title
            %h3 Latest Reviews
          = render partial: 'reviews/review_summary', collection: @latest_reviews, as: :review
