- if user_signed_in?
  .row
    .large-12.columns.home-content
      .large-8.columns.left-home-column.no-padding
        .large-12.columns.no-padding.recent-watched
          .recommendations
            .large-3.columns.no-padding.recommendation
              = image_tag "http://hummingbird.me/system/f7e34ca9700bc93ce85e43ca2e43656beaf5f69c_thumb.jpg?1361875391"
              .large-12.columns.meta-wrapper
                .meta-data.large-12.columns.no-padding-left
                  %p 
                    %h5.anime-title <a href="#">Soul Eater</a>
                  .rating
                    %i.icon-star-empty
                    %i.icon-star-empty
                    %i.icon-star-empty
                    %i.icon-star-empty
                    %i.icon-star-empty
                  %hr
                  .large-6.columns.no-padding
                    Progress:
                  .large-6.columns.no-padding.progress-number
                    %a.count-add{:href => "#"}
                      %i.icon-angle-up
                      18 <span class="total-episodes">/ 51</span>


            .large-3.columns.no-padding.recommendation
              = image_tag "http://localhost:3000/system/850418cfe0b2e2a27be17bfbf91eb6d37fdf11fb_thumb.jpg?1361877196"
              .large-12.columns.meta-wrapper
                .meta-data.large-12.columns.no-padding-left
                  %p 
                    %h5.anime-title <a href="#">Mirai Nikki (TV)</a>
                  .rating
                    %i.icon-star
                    %i.icon-star
                    %i.icon-star
                    %i.icon-star-empty
                    %i.icon-star-empty
                  %hr
                  .large-6.columns.no-padding
                    Progress:
                  .large-6.columns.no-padding.progress-number
                    %a.count-add{:href => "#"}
                      %i.icon-angle-up
                      03 <span class="total-episodes">/ 26</span>

            .large-3.columns.no-padding.recommendation
              = image_tag "http://hummingbird.me/system/d85ed62ca413ab215b4ce85c3c3fefb29760ef9c_thumb.jpg?1361873647"
              .large-12.columns.meta-wrapper
                .meta-data.large-12.columns.no-padding-left
                  %p 
                    %h5.anime-title <a href="#">Texhnolyze</a>
                  .rating
                    %i.icon-star
                    %i.icon-star
                    %i.icon-star
                    %i.icon-star
                    %i.icon-star-empty
                  %hr
                  .large-6.columns.no-padding
                    Progress:
                  .large-6.columns.no-padding.progress-number
                    %a.count-add{:href => "#"}
                      %i.icon-angle-up
                      67 <span class="total-episodes">/ 251</span>

            .large-3.columns.no-padding.recommendation
              = image_tag "http://hummingbird.me/system/2b571c8fd79a61a1f81827d986f66a93a06c40e3_thumb.jpg?1361877888"
              .large-12.columns.meta-wrapper
                .meta-data.large-12.columns.no-padding-left
                  %p 
                    %h5.anime-title <a href="#">Attack on Titan</a>
                  .rating
                    %i.icon-star
                    %i.icon-star
                    %i.icon-star-empty
                    %i.icon-star-empty
                    %i.icon-star-empty
                  %hr
                  .large-6.columns.no-padding
                    Progress:
                  .large-6.columns.no-padding.progress-number
                    %a.count-add{:href => "#"}
                      %i.icon-angle-up
                      07 <span class="total-episodes">/ 51</span>


        .large-12.columns.hide-for-small.no-padding.center.home-banner
          :javascript
            google_ad_client = "ca-pub-3410319844519574";
            /* Homepage Banner */
            google_ad_slot = "9909234847";
            google_ad_width = 728;
            google_ad_height = 90;

          %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}

        .large-12.columns.option-bar.hide-for-small
          .small-6.large-2.columns
            %p.option-title Activity Feed
          .small-12.large-9.columns.options
            %ul.status-tabs.inline-list
              %li#tab-all.active
                %a{:href => "#all", :onclick => "showRelevantSections('all')"} All
              %li
                %a{:href => "#comments", :onclick => "showRelevantSections('comments')"} Comments
              %li
                %a{:href => "#library", :onclick => "showRelevantSections('library')"} Library
              %li
                %a{:href => "#events", :onclick => "showRelevantSections('events')"} Events
        .large-12.columns.feed.no-padding
          .large-12.columns.feed-form
            %form
              %input{:placeholder => "What are you up to?", :type => "text"}/
          %ul.feed-list
            %li.feed-item.cf
              .large-12.columns.feed-wrapper
                .small-3.large-2.columns.no-padding-right
                  %a{:href => "#"}
                    %img{:alt => "F7e34ca9700bc93ce85e43ca2e43656beaf5f69c_thumb", :src => "http://hummingbird.me/system/f7e34ca9700bc93ce85e43ca2e43656beaf5f69c_thumb.jpg?1361875391"}/
                .small-9.large-10.columns
                  %h4.anime-feed-title Soul Eater
                  .anime-feed-genres
                    %a{:href => "#"} Action
                    ·
                    %a{:href => "#"} Adventure
                    ·
                    %a{:href => "#"} Comedy
                  %hr.feed-divider/
                  .row
                    .large-12.columns
                      .small-1.large-1.columns.no-padding.hide-for-small
                        %a{:href => "#"}
                          %img{:alt => "Avatar", :src => "http://localhost:3000/system/users/avatars/000/000/002/thumb/avatar.png?1366949440"}/
                      .large-11.columns
                        %a{:href => "#"} You
                        plan to watch
                        %p.time
                          %span.time-ago
                            24 minutes ago ·
                            %a{:href => "#"} Like
                            ·
                            %a{:href => "#"} Comment
            %li.feed-item.cf
              .large-12.columns.feed-wrapper
                .small-3.large-2.columns.no-padding-right
                  %a{:href => "#"}
                    %img{:alt => "2b571c8fd79a61a1f81827d986f66a93a06c40e3_thumb", :src => "http://hummingbird.me/system/2b571c8fd79a61a1f81827d986f66a93a06c40e3_thumb.jpg?1361877888"}/
                .small-9.large-10.columns
                  %h4.anime-feed-title Attack on Titan
                  .anime-feed-genres
                    %a{:href => "#"} Action
                    ·
                    %a{:href => "#"} Drama
                    ·
                    %a{:href => "#"} Fantasy
                  %hr.feed-divider/
                  .row
                    .large-12.columns
                      .small-1.large-1.columns.no-padding.hide-for-small
                        %a{:href => "#"}
                          %img{:alt => "Avatar", :src => "http://localhost:3000/system/users/avatars/000/000/002/thumb/avatar.png?1366949440"}/
                      .large-11.columns
                        %a{:href => "#"} You
                        watched episode 04
                        %p.time
                          %span.time-ago
                            24 minutes ago ·
                            %a{:href => "#"} Like
                            ·
                            %a{:href => "#"} Comment
            %li.feed-item.cf
              .large-12.columns.feed-wrapper
                .small-3.large-2.columns.no-padding-right
                  %a{:href => "#"}
                    %img{:alt => "D85ed62ca413ab215b4ce85c3c3fefb29760ef9c_thumb", :src => "http://hummingbird.me/system/d85ed62ca413ab215b4ce85c3c3fefb29760ef9c_thumb.jpg?1361873647"}/
                .small-9.large-10.columns
                  %h4.anime-feed-title Texhnolyze
                  .anime-feed-genres
                    %a{:href => "#"} Action
                    ·
                    %a{:href => "#"} Drama
                    ·
                    %a{:href => "#"} Sci-Fi
                  %hr.feed-divider/
                  .row
                    .large-12.columns
                      .small-1.large-1.columns.no-padding.hide-for-small
                        %a{:href => "#"}
                          %img{:alt => "Avatar", :src => "http://localhost:3000/system/users/avatars/000/000/002/thumb/avatar.png?1366949440"}/
                      .large-11.columns
                        %a{:href => "#"} You
                        liked a quote
                        %p.quote-preview
                          %i "It's quiet now. But I wonder how long it will last." — Onishi
                      %p.time
                        %span.time-ago
                          24 minutes ago ·
                          %a{:href => "#"} Like
                          ·
                          %a{:href => "#"} Comment
            %li.feed-item.cf
              .large-12.columns.feed-wrapper
                .small-3.large-2.columns.no-padding-right
                  %a{:href => "#"}
                    %img{:alt => "Oie_8122923exq0pdvn", :src => "http://hummingbird.me/system/users/avatars/000/002/176/thumb/oie_8122923EXQ0pdVN.gif?1368009670"}/
                .small-9.large-10.columns
                  %h4.anime-feed-title
                    %a{:href => "#"} Canxopener
                    posted on your wall
                  %hr.feed-divider/
                  .row
                    .large-12.columns
                      %p.wall-post-copy My body is ready!
                      %p.time
                        %span.time-ago
                          24 minutes ago ·
                          %a{:href => "#"} Like
                          ·
                          %a{:href => "#"} Comment
      .large-4.columns
        .large-12.columns.no-padding.forum-block
          .large-6.columns.block-title
            %h4 Forum
          .large-6.columns.block-link
            = link_to "view forums", "#", :class => "right"
          %hr
          %ul
            %li.large-12.columns.topic-row
              .large-10.columns.no-padding.forum-title
                = link_to "Name the worst anime or drama you..."
              .large-2.columns.no-padding.forum-time
                %i 12 min ago

            %li.large-12.columns.topic-row
              .large-10.columns.no-padding.forum-title
                = link_to "What can't you put in the trash th..."
              .large-2.columns.no-padding.forum-time
                %i 12 min ago

            %li.large-12.columns.topic-row
              .large-10.columns.no-padding.forum-title
                = link_to "Staying friends with your ex"
              .large-2.columns.no-padding.forum-time
                %i 12 min ago

            %li.large-12.columns.topic-row
              .large-10.columns.no-padding.forum-title
                = link_to "Who are you? Express who you a..."
              .large-2.columns.no-padding.forum-time
                %i 12 min ago

            %li.large-12.columns.topic-row
              .large-10.columns.no-padding.forum-title
                = link_to "How do men feel about women s..."
              .large-2.columns.no-padding.forum-time
                %i 12 min ago

            %li.large-12.columns.topic-row
              .large-10.columns.no-padding.forum-title
                = link_to "Do you find it hard to make frien..."
              .large-2.columns.no-padding.forum-time
                %i 12 min ago

            %li.large-12.columns.topic-row
              .large-10.columns.no-padding.forum-title
                = link_to "Who drinks green tea?"
              .large-2.columns.no-padding.forum-time
                %i 12 min ago

            %li.large-12.columns.topic-row
              .large-10.columns.no-padding.forum-title
                = link_to "Doomsday Prepping"
              .large-2.columns.no-padding.forum-time
                %i 12 min ago

            %li.large-12.columns.topic-row
              .large-10.columns.no-padding.forum-title
                = link_to "Daily Rant Thread"
              .large-2.columns.no-padding.forum-time
                %i 12 min ago

            %li.large-12.columns.topic-row
              .large-10.columns.no-padding.forum-title
                = link_to "[Spoilers] Attack on Titan E08"
              .large-2.columns.no-padding.forum-time
                %i 12 min ago

        .large-12.columns.no-padding.trending-block
          .large-12.columns.block-title
            %h4 Trending Today
          %hr
          %ul
            %li.large-12.columns.topic-row
              .large-1.columns.no-padding
                %p.count.center 1
              .large-11.columns.no-padding-right.forum-title
                .large-12.columns.no-padding
                  = link_to "Attack on Titan", "#", :class => "trending-title"
                  %i 203 Viewers
            %li.large-12.columns.topic-row
              .large-1.columns.no-padding
                %p.count.center 2
              .large-11.columns.no-padding-right.forum-title
                .large-12.columns.no-padding
                  = link_to "Naruto Shippuden", "#", :class => "trending-title"
                  %i 189 Viewers
            %li.large-12.columns.topic-row
              .large-1.columns.no-padding
                %p.count.center 3
              .large-11.columns.no-padding-right.forum-title
                .large-12.columns.no-padding
                  = link_to "Gargantia on the Verdurous...", "#", :class => "trending-title"
                  %i 160 Viewers
            %li.large-12.columns.topic-row
              .large-1.columns.no-padding
                %p.count.center 4
              .large-11.columns.no-padding-right.forum-title
                .large-12.columns.no-padding
                  = link_to "Sword Art Online", "#", :class => "trending-title"
                  %i 138 Viewers
            %li.large-12.columns.topic-row
              .large-1.columns.no-padding
                %p.count.center 5
              .large-11.columns.no-padding-right.forum-title
                .large-12.columns.no-padding
                  = link_to "Oreimo Season 2", "#", :class => "trending-title"
                  %i 113 Viewers

        .large-12.columns.no-padding-left.no-padding-right.side-advert
          :javascript
            google_ad_client = "ca-pub-3410319844519574";
            /* Homepage Sidebar */
            google_ad_slot = "8094424442";
            google_ad_width = 300;
            google_ad_height = 250;

          %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}


- else
  :css
    .hummingbird-header-1, .footer-ad {
      display: none;
    }
  
  .guest-home
    // Nav Bar
    .row.guest-nav
      .large-12.columns
        .small-6.columns
          = image_tag "h-logo.jpg", :class => "h-logo"
        .small-6.columns

          %p.right.hide-for-small.login-link 
            Already a Member?
            = link_to "Login, we missed you!", main_app.new_user_session_path
          %p.right.show-for-small.login-link
            = link_to "Login, we missed you!", main_app.new_user_session_path

    // Tagline Area
    .row.tagline-area
      .large-12.columns
        %h1.center.tagline.hide-for-small Track, Share and Discover New Anime
        %h3.center.small-tagline.show-for-small Track, Share and Discover New Anime
        .large-8.columns.large-centered
          %p.center.flavor-text
            %i.hide-for-small Hummingbird is an anime discovery platform that gives you personalised recommendations based on the anime you love.

    // Top CTA
    .row.top-cta
      .large-6.columns.large-centered
        = form_for BetaInvite.new, url: beta_invites_path do |f|
          .large-8.columns.no-padding
            = f.email_field :email, placeholder: "Enter Email Address..."
          .large-4.columns.no-padding-right.cta-button
            = f.submit "Request Invite", class: 'button expand'

    // Screenshot Banner
    .row.screenshot-banner.hide-for-small
      .large-12.columns.mac-pro
        = image_tag "mac-pro.png"

    // Main features
    .row.main-features
      .large-12.columns
        .large-4.columns
          %h3 
            %i.icon-book
            Curate your library
          %hr
          %p Easily track your Library of anime you’ve watched, plan to watch and are currently watching. Watch anime via Hulu, Crunchyroll and Netflix and more.
        .large-4.columns
          %h3 
            %i.icon-th-list 
            Create & share lists
          %hr
          %p Compile and Share lists of anime such as ‘Series that makes me cry’, ‘Shows to watch with friends’, etc. Share your list for suggestions from friends to perfect it!
        .large-4.columns
          %h3 
            %i.icon-group
            Follow your friends
          %hr
          %p Find and follow your friends to see what they’re watching, enjoying and discussing and give personal recommendations on what to watch next.
      %hr

    // Recommendation Examples
    #recommendationExample

    // Tagline Area
    .row 
      .large-12.columns
        %p.center.secondary-cta-tagline.hide-for-small The easiest way to track, share and discover new anime. <strong>Request your invite now - Free.</strong>
        %p.center.mobile-cta-tagline.show-for-small <strong>Request your invite now - Free.</strong>

    // Bottom CTA
    .row.bottom-cta
      .large-6.columns.large-centered
        = form_for BetaInvite.new, url: beta_invites_path do |f|
          .large-8.columns.no-padding
            = f.email_field :email, placeholder: "Enter Email Address..."
          .large-4.columns.no-padding-right.cta-button
            = f.submit "Request Invite", class: 'button expand'


  %script(type="text/template" id="RecommendationExampleTemplate")
    .row 
      .large-12.columns
        %p.center.find-anime <strong>Find Anime</strong> based on your unique taste
        %p.center.find-anime-description.hide-for-small With Hummingbird you’ll get a refreshingly simple way to discover new anime. 
        .small-12.large-8.columns.large-centered
          %form.hide
            .large-12.columns.recommendation-area
              %input{:placeholder => "Try us with your favorite anime...", :type => "text", :class => "recommendation-input"}
              %i.icon-search.search-button
                
          %h3.center.hide-for-small If you liked <a href="{{url}}">{{title}}</a>, you may also like...
          %h4.center.show-for-small If you liked <a href="{{url}}">{{title}}</a>, you may also like...

    // Recommendation Grid
    .row
      .large-12.columns.no-padding.recommendations.large-centered
        {{#similar}}
        .small-6.large-2.columns.no-padding.recommendation
          %img(class="no-padding" src="{{cover_image}}")
          .large-12.columns.meta-wrapper
            .meta-data
              %p 
                %h5.anime-title <a href="{{url}}">{{title}}</a>
              //%p {{#genres}} {{name}} ·{{/genres}}
              %a(href="javascript: void(0)" class="more-like-this" onClick="$(this).find('i.icon.icon-refresh').addClass('icon-spin'); updateRecommendationExample('{{id}}')")
                %i.icon.icon-refresh
                More Like This
              
        {{/similar}}
      

  :coffee
    recommendationExampleTemplate = Hogan.compile $("#RecommendationExampleTemplate").html()
    
    @updateRecommendationExample = (slug) ->
      $.getJSON "/api/v1/anime/" + slug, (anime) ->
        $.getJSON "/api/v1/anime/" + slug + "/similar?limit=6", (similar) ->
          $("#recommendationExample").html recommendationExampleTemplate.render
            title: anime.title
            url: anime.url
            similar: similar
      return false

    updateRecommendationExample "steins-gate"

