.anime-discover.anime-explore
  .row
    .large-12.columns
      %h4.top-title Trending Lists
      %hr.title-divider
      .large-12.columns.no-padding
        .large-6.columns
          .large-1.columns.no-padding
            = image_tag "http://static.hummingbird.me/users/avatars/000/000/002/thumb/2-new-avatar.png?1375236555"
          .large-11.columns
            .large-12.columns.no-padding
              %h5 Best Mindfucks
              = link_to "JoshFabian", "#"
          .large-12.columns.no-padding
            %p What’s a mindfuck? A movie that plays with your mind, confuses you, and leads you on. It’s not just a movie with a twist ending. Mindfucks are borderline-incoherent, dreamlike, and surreal.

        .large-6.columns
          %ul
            %a{:href => "/anime/guilty-crown"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-selector" => "tooltipkxzeiolmcxr", "data-tooltip" => "", :title => ""}
                  %p.wanna-watch
                  %img{:alt => "Guilty Crown", :src => "http://static.hummingbird.me/anime/cover_images/000/006/349/thumb/6349.jpeg?1375238053"}
                  
            %a{:href => "/anime/gintama--2"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Gintama'"}
                  %p.wanna-watch
                  %img{:alt => "Gintama'", :src => "http://static.hummingbird.me/anime/cover_images/000/005/971/thumb/5971.jpg?1375237694"}

            %a{:href => "/anime/sf-saiyuuki-starzinger-movie"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "SF Saiyuuki Starzinger (Movie)"}
                  %p.wanna-watch
                  %img{:alt => "SF Saiyuuki Starzinger (Movie)", :src => "http://static.hummingbird.me/anime/cover_images/000/007/600/thumb/7600.jpg?1375239266"}

            %a{:href => "/anime/peeping-life-the-perfect-evolution-specials"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Peeping Life: The Perfect Evolution Specials"}
                  %p.wanna-watch
                  %img{:alt => "Peeping Life: The Perfect Evolution Specials", :src => "http://static.hummingbird.me/anime/cover_images/000/007/599/thumb/7599.jpg?1375239265"}

            %a{:href => "/anime/attack-on-titan"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Attack on Titan"}
                  %p.wanna-watch
                  %img{:alt => "Attack on Titan", :src => "http://static.hummingbird.me/anime/cover_images/000/007/442/thumb/7442.png?1375239106"}

            %a{:href => "/anime/attack-on-titan"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Attack on Titan"}
                  %p.wanna-watch
                  %img{:alt => "Attack on Titan", :src => "http://static.hummingbird.me/anime/cover_images/000/007/442/thumb/7442.png?1375239106"}
        %hr
        .large-12.columns.no-padding
        .large-6.columns
          .large-1.columns.no-padding
            = image_tag "http://static.hummingbird.me/users/avatars/000/000/002/thumb/2-new-avatar.png?1375236555"
          .large-11.columns
            .large-12.columns.no-padding
              %h5 Best Mindfucks
              = link_to "JoshFabian", "#"
          .large-12.columns.no-padding
            %p What’s a mindfuck? A movie that plays with your mind, confuses you, and leads you on. It’s not just a movie with a twist ending. Mindfucks are borderline-incoherent, dreamlike, and surreal.

        .large-6.columns
          %ul
            %a{:href => "/anime/guilty-crown"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-selector" => "tooltipkxzeiolmcxr", "data-tooltip" => "", :title => ""}
                  %p.wanna-watch
                  %img{:alt => "Guilty Crown", :src => "http://static.hummingbird.me/anime/cover_images/000/006/349/thumb/6349.jpeg?1375238053"}
                  
            %a{:href => "/anime/gintama--2"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Gintama'"}
                  %p.wanna-watch
                  %img{:alt => "Gintama'", :src => "http://static.hummingbird.me/anime/cover_images/000/005/971/thumb/5971.jpg?1375237694"}

            %a{:href => "/anime/sf-saiyuuki-starzinger-movie"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "SF Saiyuuki Starzinger (Movie)"}
                  %p.wanna-watch
                  %img{:alt => "SF Saiyuuki Starzinger (Movie)", :src => "http://static.hummingbird.me/anime/cover_images/000/007/600/thumb/7600.jpg?1375239266"}

            %a{:href => "/anime/peeping-life-the-perfect-evolution-specials"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Peeping Life: The Perfect Evolution Specials"}
                  %p.wanna-watch
                  %img{:alt => "Peeping Life: The Perfect Evolution Specials", :src => "http://static.hummingbird.me/anime/cover_images/000/007/599/thumb/7599.jpg?1375239265"}

            %a{:href => "/anime/attack-on-titan"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Attack on Titan"}
                  %p.wanna-watch
                  %img{:alt => "Attack on Titan", :src => "http://static.hummingbird.me/anime/cover_images/000/007/442/thumb/7442.png?1375239106"}

            %a{:href => "/anime/attack-on-titan"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Attack on Titan"}
                  %p.wanna-watch
                  %img{:alt => "Attack on Titan", :src => "http://static.hummingbird.me/anime/cover_images/000/007/442/thumb/7442.png?1375239106"}
        %hr
        .large-12.columns.no-padding
        .large-6.columns
          .large-1.columns.no-padding
            = image_tag "http://static.hummingbird.me/users/avatars/000/000/002/thumb/2-new-avatar.png?1375236555"
          .large-11.columns
            .large-12.columns.no-padding
              %h5 Best Mindfucks
              = link_to "JoshFabian", "#"
          .large-12.columns.no-padding
            %p What’s a mindfuck? A movie that plays with your mind, confuses you, and leads you on. It’s not just a movie with a twist ending. Mindfucks are borderline-incoherent, dreamlike, and surreal.

        .large-6.columns
          %ul
            %a{:href => "/anime/guilty-crown"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-selector" => "tooltipkxzeiolmcxr", "data-tooltip" => "", :title => ""}
                  %p.wanna-watch
                  %img{:alt => "Guilty Crown", :src => "http://static.hummingbird.me/anime/cover_images/000/006/349/thumb/6349.jpeg?1375238053"}
                  
            %a{:href => "/anime/gintama--2"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Gintama'"}
                  %p.wanna-watch
                  %img{:alt => "Gintama'", :src => "http://static.hummingbird.me/anime/cover_images/000/005/971/thumb/5971.jpg?1375237694"}

            %a{:href => "/anime/sf-saiyuuki-starzinger-movie"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "SF Saiyuuki Starzinger (Movie)"}
                  %p.wanna-watch
                  %img{:alt => "SF Saiyuuki Starzinger (Movie)", :src => "http://static.hummingbird.me/anime/cover_images/000/007/600/thumb/7600.jpg?1375239266"}

            %a{:href => "/anime/peeping-life-the-perfect-evolution-specials"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Peeping Life: The Perfect Evolution Specials"}
                  %p.wanna-watch
                  %img{:alt => "Peeping Life: The Perfect Evolution Specials", :src => "http://static.hummingbird.me/anime/cover_images/000/007/599/thumb/7599.jpg?1375239265"}

            %a{:href => "/anime/attack-on-titan"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Attack on Titan"}
                  %p.wanna-watch
                  %img{:alt => "Attack on Titan", :src => "http://static.hummingbird.me/anime/cover_images/000/007/442/thumb/7442.png?1375239106"}

            %a{:href => "/anime/attack-on-titan"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Attack on Titan"}
                  %p.wanna-watch
                  %img{:alt => "Attack on Titan", :src => "http://static.hummingbird.me/anime/cover_images/000/007/442/thumb/7442.png?1375239106"}
        %hr
        .large-12.columns.no-padding
        .large-6.columns
          .large-1.columns.no-padding
            = image_tag "http://static.hummingbird.me/users/avatars/000/000/002/thumb/2-new-avatar.png?1375236555"
          .large-11.columns
            .large-12.columns.no-padding
              %h5 Best Mindfucks
              = link_to "JoshFabian", "#"
          .large-12.columns.no-padding
            %p What’s a mindfuck? A movie that plays with your mind, confuses you, and leads you on. It’s not just a movie with a twist ending. Mindfucks are borderline-incoherent, dreamlike, and surreal.

        .large-6.columns
          %ul
            %a{:href => "/anime/guilty-crown"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-selector" => "tooltipkxzeiolmcxr", "data-tooltip" => "", :title => ""}
                  %p.wanna-watch
                  %img{:alt => "Guilty Crown", :src => "http://static.hummingbird.me/anime/cover_images/000/006/349/thumb/6349.jpeg?1375238053"}
                  
            %a{:href => "/anime/gintama--2"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Gintama'"}
                  %p.wanna-watch
                  %img{:alt => "Gintama'", :src => "http://static.hummingbird.me/anime/cover_images/000/005/971/thumb/5971.jpg?1375237694"}

            %a{:href => "/anime/sf-saiyuuki-starzinger-movie"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "SF Saiyuuki Starzinger (Movie)"}
                  %p.wanna-watch
                  %img{:alt => "SF Saiyuuki Starzinger (Movie)", :src => "http://static.hummingbird.me/anime/cover_images/000/007/600/thumb/7600.jpg?1375239266"}

            %a{:href => "/anime/peeping-life-the-perfect-evolution-specials"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Peeping Life: The Perfect Evolution Specials"}
                  %p.wanna-watch
                  %img{:alt => "Peeping Life: The Perfect Evolution Specials", :src => "http://static.hummingbird.me/anime/cover_images/000/007/599/thumb/7599.jpg?1375239265"}

            %a{:href => "/anime/attack-on-titan"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Attack on Titan"}
                  %p.wanna-watch
                  %img{:alt => "Attack on Titan", :src => "http://static.hummingbird.me/anime/cover_images/000/007/442/thumb/7442.png?1375239106"}

            %a{:href => "/anime/attack-on-titan"}
              %li.large-2.columns.single-wrapper
                .popular-card.tip-top{"data-tooltip" => "", :title => "Attack on Titan"}
                  %p.wanna-watch
                  %img{:alt => "Attack on Titan", :src => "http://static.hummingbird.me/anime/cover_images/000/007/442/thumb/7442.png?1375239106"}
        %hr