.anime-discover.panel.twelve.columns
  %h1= title "Review Import"

  .row
    .eight.columns.centered
      .six.columns
        = link_to review_apply_path do
          %span.button Apply
      .six.columns
        = link_to review_cancel_path do
          %span.button Cancel

  %h3 Watchlist
  %table
    %thead
      %tr
        %th Anime
        %th Status
        %th Rating
        %th Episodes Watched
    %tbody
      - @watchlist.each do |wld|
        %tr
          %td= wld[0].title
          %td= wld[1].status
          %td
            - if wld[1].rating
              = 3 + wld[1].rating
              stars
              [#{wld[1].rating >= 0 ? ":)" : ":("}]
            - else
              (not rated)
          %td #{wld[1].episodes_watched}/#{wld[0].episode_count}

  %h3 Reviews
  %table
    %thead
      %tr
        %th(style="width: 30%") Anime
        %th Rating
        %th Content
    %tbody
      - @reviews.each do |review|
        %tr
          %td= review.anime.title
          %td
            %table
              %tr
                %td Story
                %td= review.rating_story
              %tr
                %td Animation
                %td= review.rating_animation
              %tr
                %td Sound
                %td= review.rating_sound
              %tr
                %td Character
                %td= review.rating_character
              %tr
                %td Enjoyment
                %td= review.rating_enjoyment
              %tr
                %td Overall
                %td= review.rating
          %td= truncate(review.content, length: 500, omission: '...')
