.home.panel.twelve.columns
  %h1= title "Review Import"

  = link_to "Apply", review_apply_path, class: 'button'
  = link_to "Cancel", review_cancel_path, class: 'button'

  %h3 Watchlist
  .anime-grid.twelve.columns
    .row
      = render partial: "anime/card", collection: @watchlist, as: :data
    .row
      - if @reviews.length > 0
        .home.user-reviews
          .row.content-body
            .title.twelve-columns
              %h3 Reviews
              = render partial: "reviews/review_summary", collection: @reviews, as: :review
