<div class="panel-heading">
  <h3 class="panel-title">{{title}}</h3>
</div>

<div class="panel-body">
  <ul class="latest-post-list">
    {{#each topic in topics}}
      <li class="latest-post">
        <div class="latest-post-title">
          <a {{bind-attr href="topic.url"}}>{{topic.title}}</a>
        </div>
        <div class="latest-post-details">
          <div class="post-count-and-time">
            {{topic.postCount}} posts
            · {{time-ago time=topic.lastPostTime}}
          </div>
          <div class="pull-right">
            {{#each user in topic.users}}
              <a {{bind-attr title="user.name" href="user.url"}}>
                <img class="recent-post-avatar" {{bind-attr src="user.avatar"}}>
              </a>
            {{/each}}
          </div>
        </div>
      </li>
    {{else}}
      {{#repeat 5}}
        <li class="loading-post">
          <div class="loading-wrapper">
            <div class="loading-image">
              <div class="l-1"></div>
              <div class="l-2"></div>
              <div class="l-3"></div>
              <div class="l-4"></div>
              <div class="l-5"></div>
              <div class="l-6"></div>
            </div>
          </div>
        </li>
      {{/repeat}}
    {{/each}}

    <li class="latest-post-more">
      <a {{bind-attr href="showMoreURL"}}>Show more</a>
    </li>
  </ul>
</div>
