{{#if favorite_anime_list}}
  {{#each anime in favorite_anime_list}}
    <li class="grid-thumb" {{bind-attr data-id=anime.fav_id}}>
      {{#if isEditing}}
        <div class="thumbnail">
          <div class="move-overlay editing">
            <i class="fa fa-arrows"></i>
          </div>
          <img {{bind-attr src=anime.cover_image}} />
        </div>
      {{else}}
        {{#link-to 'anime' anime.slug}}
          <div class="thumbnail">
            <div class="move-overlay">
              <i class="fa fa-arrows">
              </i>
            </div>
            <img {{bind-attr src=anime.cover_image}} />
          </div>
        {{/link-to}}
      {{/if}}
    </li>
  {{/each}}
{{else}}
    <div class="no-favorites text-center">
      {{#if viewingSelf}}
        <h3>You have no favorites.</h3>
        <a href="https://forums.hummingbird.me/t/how-to-adding-an-anime-to-your-favorites"> How to add Favorites</a>
      {{else}}
        <h3>{{user.username}} has no favorites.</h3>
        <p>Clearly they're an individual of fine, discerning tastes.</p>
      {{/if}}
    </div>
{{/if}}
