<li class = "whotofollow">
  <div>
{{!--     <a {{bind-attr href=user.userLink}}> 
      <div class = "user-cover">
       <div class = "cover-photo" {{bind-attr style=user.coverImageStyle}}> </div>
      </div>
    </a> --}}
   <div class="follow-image">
    <a {{bind-attr href=user.userLink}}>  {{avatar user 'thumb'}} </a>
   </div>
   <div class="col-sm-10">
    <a {{bind-attr href=user.userLink}}> <h4>{{user.username}} </h4></a>
    <a class = "btn follow-button" {{action "toggleFollow" user}}> Follow </a>
    <a class = "btn follow-button unfollow" {{action "dismiss" user}}> <i class="fa fa-times"></i></a>
   </div>

   <div class="follow-bio">
    <p class = "mini-bio">
      {{user.miniBio}}
    </p>
   </div>
  </div>
</li>

