<li class = "whotofollow">
<div>
  <div class="follow-image">
    {{#link-to 'user.index' user}}{{avatar user 'thumb'}}{{/link-to}}
  </div>
  <div class="col-sm-10">
    <h4>{{#link-to 'user.index' user}}{{user.username}}{{/link-to}}</h4>
    <a class="btn follow-button" {{action "toggleFollow" user}}>Follow</a>
    <a class="btn follow-button unfollow" {{action "dismiss" user}}>
      <i class="fa fa-times"></i>
    </a>
  </div>

  <div class="follow-bio">
    <p class = "mini-bio">
    {{user.miniBio}}
    </p>
  </div>
</div>
</li>

