<li {{bind-attr class=":notification notification.seen::new"}}>
  <a {{bind-attr href=notification.link}}>
    <div class="avatar">
      {{avatar notification.sourceUser 'thumb_small'}}
    </div>
    <div class="content">
      <span class="who">
        {{notification.sourceUser.username}}
      </span>

      {{#if notification.isProfileComment}}
        wrote a comment on your profile.
      {{/if}}
      {{#if notification.isCommentReply}}
        wrote a reply to your comment.
      {{/if}}

      <div class="time">{{time-ago time=notification.createdAt}}</div>
    </div>
  </a>
</li>
