<nav class='navbar navbar-inverse navbar-fixed-top hb-nav' role='navigation'>
  {{#if showUpdater}}
    {{quick-update}}
  {{/if}}

  <div class='container clearfix'>
    <div class='navbar-header'>
      <a {{action 'toggleMenu'}} class='navbar-temporary'>
        <i class='fa fa-bars'></i>
      </a>

      <a class='navbar-brand animated fadeInDown' {{action 'goToDashboard'}} href='/dashboard'></a>
    </div>

    <ul {{bind-attr class=':nav :navbar-nav :collapse :navbar-collapse showMenu:navbar-visible'}}>
      {{#if currentUser.isSignedIn}}
        <li class='dropdown'>
          <a class='dropdown-toggle' data-toggle='dropdown'>
            Library <b class='caret'></b>
          </a>
          <!-- <i class='dropdown-arrow dropdown-arrow-inverse'></i> -->
          <ul class='dropdown-menu left-nav-section'>
            <li>{{#link-to 'user.library' currentUser.id}}Anime Library{{/link-to}}</li>
            <li>{{#link-to 'user.manga_library' currentUser.id}}Manga Library{{/link-to}}</li>
            <li><a href='/recommendations'>Recommendations</a></li>
          </ul>
        </li>
      {{else}}
        <li class='dropdown active'>
          <a href="/users/sign_in">Dashboard</a>
        </li>
      {{/if}}

      <li class='dropdown'>
        <a class='dropdown-toggle' data-toggle='dropdown'>
          Explore <b class='caret'></b>
        </a>
        <ul class='dropdown-menu left-nav-section'>
          <li><a href='/anime'>What's Trending</a></li>
          <li><a href='/anime/filter/all'>Explore Anime</a></li>
          <li><a href='/anime/upcoming'>Upcoming</a></li>
        </ul>
      </li>

      <li class='dropdown'>
        <a class='dropdown-toggle' data-toggle='dropdown'>
          Community <b class='caret'></b>
        </a>
        <ul class='dropdown-menu left-nav-section'>
          <li>{{#link-to 'groups'}}Groups{{/link-to}}</li>
          <li><a href="https://forums.hummingbird.me">Forums</a></li>
        </ul>
      </li>
      <li class='dropdown'>
        {{#link-to 'apps'}}Apps{{/link-to}}
      </li>
    </ul>


    <ul class="nav navbar-nav navbar-permanent navbar-permanent-left">
      <li>
        {{#if allowQuickUpdate}}
          {{#if showUpdater}}
            <a {{action 'toggleUpdater'}} class="close-recent" href="#" id="recent-toggle">Close</a>
          {{else}}
            <a {{action 'toggleUpdater'}} href="#" id="recent-toggle">Update</a>
          {{/if}}
        {{/if}}
      </li>
    </ul>

    <ul class='nav navbar-nav navbar-right navbar-permanent navbar-permanent-right'>
      {{partial "header/right-content"}}
    </ul>
  </div>
</nav>

{{#if showBlotter}}
  <div class="blotter">
    {{#if blotter.icon}}
      <i {{bind-attr class=":fa :fa-2x blotter.icon"}}></i>
    {{/if}}
    <p>{{blotter.message}}</p>
    {{#if blotter.link}}
      <a {{bind-attr href=blotter.link}}>Info <i class="fa fa-external-link"></i></a>
    {{/if}}
    <a class="btn btn-xs" {{action 'dismissBlotter'}}>Okay, got it!</a>
  </div>
{{/if}}

{{#if unconfirmed}}
  <div class="blotter">
    <i class="fa fa-2x fa-exclamation-circle"></i>
    <p>Uh oh, it looks like you still haven't confirmed your email!</p>
    <a class="btn btn-xs" {{action 'resendEmail'}}>
      {{#if resentEmail}}Sent!{{else}}Resend{{/if}}
    </a>
  </div>
{{/if}}
