<style>
  body {background: #525A65;}
  .signup-cta {display: none;}
</style>
<div class="bg-image-wrapper login clearfix">
  <div class="col-md-8 col-md-offset-2 panel panel-default account-panel">
    <div class="panel-heading">
      <h3>Simply having an account increases your power level.</h3>
    </div>
    <div class="panel-body">
      <form class="account-form col-md-6" {{action "signUp" on="submit"}}>
        <h3>Create an account</h3>
        {{input type="text" class="form-control" value=username placeholder="Username"}}
        {{#unless usernameValid}}
          <div class="alert alert-danger">
            {{#each usernameProblems as |problem|}}
              <p><i class="fa fa-warning"></i> {{problem}}</p>
            {{/each}}
          </div>
        {{/unless}}
        {{input type="email" class="form-control" value=email placeholder="Email address"}}
        {{input type="password" class="form-control" value=password placeholder="Password"}}
        {{#unless passwordValid}}
          <div class="alert alert-danger">
            {{#each passwordProblems as |problem|}}
              <p><i class="fa fa-warning"></i> {{problem}}</p>
            {{/each}}
          </div>
        {{/unless}}
        {{#if errorMessage}}
          <div class="alert alert-danger">
            <p><i class="fa fa-warning"></i> {{errorMessage}}</p>
          </div>
        {{/if}}
        <button type="submit" {{bind-attr disabled=submitDisabled}}>Create</button>

        <p class="switch-form-link">
          Already have an account?
          {{#link-to 'sign-in' (query-params redirectTo=redirectTo)}}
            Sign in.
          {{/link-to}}
        </p>
      </form>

      <div class="col-md-6">
        {{!--
          <button class="btn btn-primary btn-lg btn-block twt-connect" type="button">
            <i class="fa fa-twitter-square"></i> Twitter Connect
          </button>
        --}}
        <a class="btn btn-primary btn-lg btn-block fb-connect" href="/users/auth/facebook">
          <i class="fa fa-facebook-square"></i> Facebook Connect
        </a>
        <hr />
        <div class="fb-likebox">
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FHummingbird%2F460188747373182&amp;width=300&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=325314560922421" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:80px" allowTransparency="true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
