{{#each featuredQuotes}}
  <div class="quote">
    <p>"{{content}}"</p>
    <span class="quote-author">- {{characterName}}</span>
    <div class="quote-like-box">
      <span class="like-button">
        <a {{action "toggleQuoteFavorite" this}}>
          {{#if isFavorite}}
            <i class="fa fa-heart active"></i> Liked!</i></a>
          {{else}}
            <i class="fa fa-heart"></i> Like?</i></a>
          {{/if}}
      </span>
      <span class="quote-divider"></span>
      <span class="total-likes">
        {{pluralize favoriteCount "Like" "Likes"}}
      </span>
    </div>
  </div>
{{/each}}
