<div class="row">
  <div class="columns">
    <div class="library-list columns">
      <div class="nav-wrapper">
        <button class="button" type="button" data-toggle="example-dropdown">Anime</button>
        <ul class="menu">
          <li>
            <a href="#" class="{{if showAll 'active'}}" {{action 'showAll'}}>
              All
            </a>
          </li>
          {{#each statuses as |status|}}
            {{users/components/library-section-button
                status=status
                current=activeStatus
                isLoadingData=isLoadingData
                onClick=(action 'changeStatus')}}
          {{/each}}
        </ul>
      </div>
      <div class="search-library">
        {{one-way-input
          update=(action 'filter')
          placeholder="Search this library..."
          class="search-input"}}
      </div>

      {{#if showAll}}
        {{#each sections as |section|}}
          {{users/components/library-list-section
            section=section}}
        {{/each}}
      {{else}}
        {{users/components/library-list-section
          section=currentSection}}
      {{/if}}
    </div>
  </div>
</div>
