<div class="row">
  <div class="columns">
    <div class="library-list columns">
      <div class="nav-wrapper">
        <button class="button" type="button" data-toggle="example-dropdown">Anime</button>
        <ul class="menu">
          <li>
            <a href="#" class="{{if showAll 'active'}}" {{action 'showAllSections'}}>
              All
            </a>
          </li>
          {{#each sections as |section|}}
            <li>
              <a href="#" class="{{if section.isActive 'active'}}" {{action 'changeSection' section}}>
                {{section.status}}
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="search-library">
        <input class="search-input" placeholder="Search this library..." type="text">
      </div>

      {{#if showAll}}
        {{#each sections as |section|}}
          {{users/components/library-list-section section=section}}
        {{/each}}
      {{else}}
        {{users/components/library-list-section section=currentSection}}
      {{/if}}
    </div>
  </div>
</div>
