<div class="row">
  <div class="columns">
    <div class="library-list columns">
      <div class="nav-wrapper">
        {{! TODO: Media type dropdown }}
        <button
          type="button"
          class="dropdown button"
          data-toggle="media-dropdown">
          {{t "users.library.library" type=(t (concat "media." media))}}
        </button>

        {{! Library status selection }}
        <ul class="menu">
          <li>
            <a href="#" class={{if showAll "active"}} {{action "showAll"}}>
              {{t "users.library.section.all"}}
            </a>
          </li>
          {{#each statuses as |_status|}}
            {{users/components/library-button
                status=_status
                isActive=(and (eq _status.key currentStatus.key) (not showAll))
                isLoading=(not dataLoaded)
                onClick=(pipe-action (action (mut status)) (action "hideAll"))}}
          {{/each}}
        </ul>
      </div>

      {{! Filter Search }}
      <div class="search-library">
        {{one-way-input
            update=(action 'filter')
            class="search-input"
            placeholder=(t "users.library.search")}}
      </div>

      {{! Library Entries }}
      {{#if showAll}}
        {{#each sections as |section|}}
          {{users/components/library-section
              section=section}}
        {{/each}}
      {{else}}
        {{users/components/library-section
            section=currentSection}}
      {{/if}}
    </div>
  </div>
</div>
