<div class="reviews-index col-sm-6 col-sm-offset-3">

<h1 class="series-title hidden-xs">
  {{#link-to 'anime' anime.id}}{{anime.canonicalTitle}}{{/link-to}}
  <small><i class="fa fa-chevron-right"></i> Reviews</small>
</h1>

<a {{bind-attr href=newReviewURL}} class="btn btn-primary" style="margin: 3%; width: 94%">
  Create a new review
</a>
<div class="series-reviews col-sm-12">

<div class="review-listing">
  {{#each model itemController="review" as |review|}}
    {{partial "media/review_summary"}}
  {{else}}
    {{#unless canLoadMore}}
      <div class="trending-review-empty">
        <i class="empty-icon fa fa-meh-o"></i>
        <h4>Well, this is pretty awkward.</h4>
        <p>
          You came to us for reviews and it seems nobody has written one yet. We're going to take a cold shower to wash away the shame. In the meantime, maybe you could write the first review? The fame and fortune are yours for the taking.
        </p>
        <a {{bind-attr href=anime.newReviewURL}} class="btn.btn-default">
          Write the first review
        </a>
      </div>
    {{/unless}}
  {{/each}}
  {{#if canLoadMore}}
    {{load-more action="loadNextPage"}}
  {{/if}}
</div>

</div>

</div>
