<div class="site-header" class="top-bar" data-test-selector="site-header">
  <div class="top-bar-wrapper">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          {{#link-to 'dashboard'}}
            <div class="logo"></div>
          {{/link-to}}
        </li>
        <li class="primary-nav has-submenu">
          <a>Shows</a>
          <ul class="submenu menu vertical" data-submenu>
            <li>
              {{link-to 'Anime' 'anime.index'}}
            </li>
            <li><a href="#">Drama</a></li>
          </ul>
        </li>
        <li class="primary-nav"><a href="#">Manga</a></li>
        <li class="primary-nav"><a href="https://forums.hummingbird.me">Forums</a></li>
        <li class="primary-nav"><a href="#">Downloads</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      {{! TODO: Implement guest state }}
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#" class="circle-button">
            {{fa-icon "search"}}
          </a>
        </li>
        {{#if currentSession.isAuthenticated}}
          <li>
            <a href="#" class="circle-button">
              {{fa-icon "bell-o"}}
            </a>
          </li>
          <li class="has-submenu">
            <a href="#" class="circle-button avatar">
              <img src={{currentSession.account.avatar}}>
            </a>
            <ul class="submenu menu vertical" data-submenu>
              <li>
                {{#link-to 'users.index' currentSession.account}}
                  View Profile
                {{/link-to}}
              </li>
              <li>
                <a href="#" {{action 'invalidateSession'}}>Logout</a>
              </li>
            </ul>
          </li>
        {{else}}
          <li>
            {{link-to 'Sign In' 'sign-in'}}
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
