<div class="site-header" class="top-bar" data-test-selector="site-header">
  <div class="top-bar-wrapper">
    <div class="top-bar-left">
      <ul>
        <li>
          {{#link-to "dashboard"}}
            <div class="logo"></div>
          {{/link-to}}
        </li>
        <li class="primary-nav has-submenu">
          <a>{{t "header.shows"}}</a>
          <ul class="submenu menu vertical" data-submenu>
            <li>
              {{link-to (t "media.anime.name") "anime.index"}}
            </li>
            <li>
              {{link-to (t "media.drama.name") "drama.index"}}
            </li>
          </ul>
        </li>
        <li class="primary-nav">
          {{link-to (t "media.manga.name") "manga.index"}}
        </li>
        <li class="primary-nav"><a href="https://forums.hummingbird.me">{{t "header.forums"}}</a></li>
        <li class="primary-nav"><a href="#">{{t "header.downloads"}}</a></li>
      </ul>
    </div>

    <div class="top-bar-right">
      {{! TODO: Implement guest state }}
      {{#if session.isAuthenticated}}
        <ul>
          <li>
            <a href="#" class="circle-button">
              {{fa-icon "search"}}
            </a>
          </li>
          <li>
            <a href="#" class="circle-button">
              {{fa-icon "bell-o"}}
            </a>
          </li>
          <li class="has-submenu">
            <a href="#" class="circle-button avatar">
              <img src={{session.account.avatar}}>
            </a>
            <ul class="submenu menu vertical" data-submenu>
              <li>
                {{#link-to "users.index" session.account}}
                  {{t "header.user.profile"}}
                {{/link-to}}
              </li>
              <li>
                <a href="#" {{action "invalidateSession"}}>
                  {{t "links.auth.logout"}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      {{else}}
        <ul class="menu">
          <li>
            <a href="#" class="circle-button">
              {{fa-icon "search"}}
            </a>
          </li>
        </ul>
      {{/if}}
    </div>
  </div>
</div>
