<div class="site-header" class="top-bar" data-test-selector="site-header">
  <div class="top-bar-wrapper">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          {{#link-to 'dashboard'}}
            <div class="logo"></div>
          {{/link-to}}
        </li>
        <li class="primary-nav has-submenu">
          <a>{{t 'header.shows'}}</a>
          <ul class="submenu menu vertical" data-submenu>
            <li>
              {{link-to (t 'media.anime') 'anime.index'}}
            </li>
            <li><a href="#">{{t 'media.drama'}}</a></li>
          </ul>
        </li>
        <li class="primary-nav"><a href="#">{{t 'media.manga'}}</a></li>
        <li class="primary-nav"><a href="https://forums.hummingbird.me">{{t 'header.forums'}}</a></li>
        <li class="primary-nav"><a href="#">{{t 'header.downloads'}}</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      {{! TODO: Implement guest state }}
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#" class="circle-button">
            {{fa-icon "search"}}
          </a>
        </li>
        {{#if currentSession.isAuthenticated}}
          <li>
            <a href="#" class="circle-button">
              {{fa-icon "bell-o"}}
            </a>
          </li>
          <li class="has-submenu">
            <a href="#" class="circle-button avatar">
              <img src={{currentSession.account.avatar}}>
            </a>
            <ul class="submenu menu vertical" data-submenu>
              <li>
                {{#link-to 'users.index' currentSession.account}}
                  {{t 'header.user.profile'}}
                {{/link-to}}
              </li>
              <li>
                <a href="#" {{action 'invalidateSession'}}>
                  {{t 'links.auth.logout'}}
                </a>
              </li>
            </ul>
          </li>
        {{else}}
          <li>
            {{link-to (t 'links.auth.sign-in') 'sign-in'}}
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
