- anime, watchlist, width = data[0], data[1], data[2] || "two"
- readonly = data[3] && data[3] == :readonly
.mobile-two.columns{:class => width, :id => "card-#{anime.slug}"}
  .panel.cards.cf
    %figure
      %a{:href => anime_path(anime)}
        .overlay
          .link-block.twelve.columns
            %h5.title #{anime.title}
          .twelve.columns.add-watchlist
            %i.icon-list-alt
            %a{"data-reveal-id" => "watchlist_#{anime.slug}", :href => "#"} Add to Watchlist

          / %p.summary #{truncate(anime.synopsis, length: 300, omission: '...')}
        / %figcaption= link_to anime.title, anime
        = image_tag anime.cover_image.url(:thumb), alt: anime.title

    .progress.six
      %span.meter{:style => "width: #{percentage_completed(anime, watchlist)}%"}
    / .drop
    /   .watchlist
    /     .content
    /       - if !readonly
    /         - Watchlist.valid_statuses.each do |status|
    /           - if !watchlist or (watchlist && watchlist.status != status)
    /             %li= link_to status, add_to_watchlist_path(anime, status: status, width: width), method: :post, remote: user_signed_in?
    /         - if watchlist
    /           %li= link_to "- Remove from Watchlist", remove_from_watchlist_path(anime, width: width), method: :post, confirm: "Are you sure you want to remove #{anime.title} from your Watchlist?", remote: user_signed_in?

    /     - if watchlist
    /       .drop-button 
    /         = watchlist.status
    /         - if !readonly
    /           %a.selector(href="#")
    /     - else
    /       .drop-button Select Watching Status <a href="#" class="selector"></a>
    .community-rating
      .twelve.columns{:class => (anime.wilson_ci > 0.5 ? "positive" : "negative")}
        %i
        %h5= "#{(anime.wilson_ci*100).to_i}%"

    .vote-blocks
      - if user_signed_in? and current_user.star_rating
        .star-rating
          - (-2).upto(2) do |i|
            - if readonly
              - if watchlist and watchlist.rating and watchlist.rating >= i
                %i.icon-star
              - else
                %i.icon-star-empty
            - else
              = link_to update_rating_path(anime, i, width: width), remote: user_signed_in? do
                - if watchlist and watchlist.rating and watchlist.rating >= i
                  %i.icon-star
                - else
                  %i.icon-star-empty
      - else
        - if readonly
          %span.four.columns.like
            - if watchlist and watchlist.positive?
              %strong.active [:)]
            - else
              %strong :)
          %span.four.columns.meh
            - if watchlist and watchlist.positive?
              %strong.active [:|]
            - else
              %strong :|
          %span.four.columns.dislike
            - if watchlist and watchlist.negative?
              %strong.active [:(]
            - else
              %strong :)

        - else
          %span.four.columns.like
            - if watchlist and watchlist.positive?
              %strong.active= link_to "[:)]", update_rating_path(anime, 0, width: width), remote: user_signed_in?
            - else
              %strong= link_to ":)", update_rating_path(anime, 2, width: width), remote: user_signed_in?
          %span.four.columns.meh
            - if watchlist and not (watchlist.positive? or watchlist.negative?)
              %strong.active= link_to "[:|]", update_rating_path(anime, 0, width: width), remote: user_signed_in?
            - else
              %strong= link_to ":|", update_rating_path(anime, 0, width: width), remote: user_signed_in?
          %span.four.columns.dislike
            - if watchlist and watchlist.negative?
              %strong.active= link_to "[:(]", update_rating_path(anime, 0, width: width), remote: user_signed_in?
            - else
              %strong= link_to ":(", update_rating_path(anime, -2, width: width), remote: user_signed_in?

.reveal-modal{:class => "medium", :id => "watchlist_#{anime.slug}"}
  %form
    %fieldset
      %legend Update Your Watchlist
      .row
        .twelve.columns
          %h3= anime.title

        .twelve.columns.line-break
          %label Watchlist Status
          %select
            %option Currently Watching
            %option Plan to Watch
            %option On Hold
            %option Completed
            %option Dropped

        .twelve.columns.line-break
          %label Episodes Watched
          .row.collapse
            .three.mobile-three.columns
              %input{:placeholder => "", :type => "text"}/
            .three.mobile-one.columns
              %span.postfix Out of #{anime.episode_count}

        .twelve.columns.line-break
          %label Rating (optional)
          .vote-blocks
            - if user_signed_in? and current_user.star_rating
              .star-rating
                - (-2).upto(2) do |i|
                  - if readonly
                    - if watchlist and watchlist.rating and watchlist.rating >= i
                      %i.icon-star
                    - else
                      %i.icon-star-empty
                  - else
                    = link_to update_rating_path(anime, i, width: width), remote: user_signed_in? do
                      - if watchlist and watchlist.rating and watchlist.rating >= i
                        %i.icon-star
                      - else
                        %i.icon-star-empty
            - else
              - if readonly
                %span.four.columns.like
                  - if watchlist and watchlist.positive?
                    %strong.active [:)]
                  - else
                    %strong :)
                %span.four.columns.meh
                  - if watchlist and watchlist.positive?
                    %strong.active [:|]
                  - else
                    %strong :|
                %span.four.columns.dislike
                  - if watchlist and watchlist.negative?
                    %strong.active [:(]
                  - else
                    %strong :)

              - else
                %span.four.columns.like
                  - if watchlist and watchlist.positive?
                    %strong.active= link_to "[:)]", update_rating_path(anime, 0, width: width), remote: user_signed_in?
                  - else
                    %strong= link_to ":)", update_rating_path(anime, 2, width: width), remote: user_signed_in?
                %span.four.columns.meh
                  - if watchlist and watchlist.positive?
                    %strong.active= link_to "[:|]", update_rating_path(anime, 0, width: width), remote: user_signed_in?
                  - else
                    %strong= link_to ":|", update_rating_path(anime, 2, width: width), remote: user_signed_in?
                %span.four.columns.dislike
                  - if watchlist and watchlist.negative?
                    %strong.active= link_to "[:(]", update_rating_path(anime, 0, width: width), remote: user_signed_in?
                  - else
                    %strong= link_to ":(", update_rating_path(anime, -2, width: width), remote: user_signed_in?

        .twelve.columns{:style => "margin-bottom: 0px;"}
          %input.button.padded{:type => "submit", :value => "Update Watchlist"}