.four.mobile-two.columns{:class => ("end" if last)}
  .panel
    %figure
      %a{:href => anime_path(anime)}
        .overlay
          %h5.title #{anime.title}
          %p.summary #{truncate(anime.synopsis, length: 300, omission: '...')}
        %figcaption= link_to anime.title, anime
        %img{:src => anime.cover_image.url(:thumb)}
    .progress.six
      %span.meter{:style => "width: #{(rand * 100).to_i}%"}

    %ul#nav
      %li
        %a{:href => "#"} Add to Watchlist
        %ul
          %li
            %a{:href => "#"} Remove from Watchlist

      
      
    .vote-blocks
      %span.like
        - if watchlist and watchlist.positive?
          %strong.active= link_to "[:)]", update_rating_path(anime, :neutral)
        - else
          %strong= link_to ":)", update_rating_path(anime, :positive)
      %span.dislike
        - if watchlist and watchlist.negative?
          %strong.active= link_to "[:(]", update_rating_path(anime, :neutral)
        - else
          %strong= link_to ":(", update_rating_path(anime, :negative)
