.four.mobile-two.columns{:class => ("end" if last), :id => "card-#{anime.slug}"}
  .panel.cards.cf
    %figure
      %a{:href => anime_path(anime)}
        .overlay
          %h5.title #{anime.title}
          %p.summary #{truncate(anime.synopsis, length: 300, omission: '...')}
        %figcaption= link_to anime.title, anime
        %img{:src => anime.cover_image.url(:thumb)}

    .progress.six
      %span.meter{:style => "width: #{percentage_completed(anime, watchlist)}%"}
    .drop
      .watchlist
        .content
          - Watchlist.valid_statuses.each do |status|
            - if !watchlist or (watchlist && watchlist.status != status)
              %li= link_to status, add_to_watchlist_path(anime, status: status), method: :post, remote: true
          - if watchlist
            %li= link_to "- Remove from Watchlist", remove_from_watchlist_path(anime), method: :post, confirm: "Are you sure you want to remove #{anime.title} from your Watchlist?", remote: true

        - if watchlist
          .drop-button #{watchlist.status} <a href="#" class="selector"></a>

        - else
          .drop-button Select Watching Status <a href="#" class="selector"></a>

    .vote-blocks
      - if user_signed_in? and current_user.star_rating
        - (-2).upto(2) do |i|
          = link_to ((watchlist and watchlist.rating and watchlist.rating >= i) ? "★" : "☆"), update_rating_path(anime, i), remote: true
      - else
        %span.like
          - if watchlist and watchlist.positive?
            %strong.active= link_to "[:)]", update_rating_path(anime, 0), remote: true
          - else
            %strong= link_to ":)", update_rating_path(anime, 2), remote: true
        %span.dislike
          - if watchlist and watchlist.negative?
            %strong.active= link_to "[:(]", update_rating_path(anime, 0), remote: true
          - else
            %strong= link_to ":(", update_rating_path(anime, -2), remote: true
