- anime, watchlist, width = data[0], data[1], data[2] || "large-2"
- readonly = data[3] && data[3] == :readonly
.mobile-card.columns{:class => width, :id => "card-#{anime.slug}"}
  .panel.cards.cf
    %figure
      %a{:href => anime_path(anime)}
        .overlay
          .link-block.large-12.columns
            %h5.title #{anime.canonical_title(current_user)}

          .large-12.columns.preview
            %i.icon-external-link
            %a{"data-reveal-id" => "preview_#{anime.slug}", :href => "#"} Quick View

          - if !readonly
            .large-12.columns.add-watchlist
              %i.icon-list-alt
              - if user_signed_in?
                %a{"data-reveal-id" => "watchlist_#{anime.slug}", :href => "#"}
                  - if watchlist
                    Edit Watchlist
                  - else
                    Add to Watchlist
              - else
                = link_to "Add to Watchlist", new_user_session_path

          / %p.summary #{truncate(anime.synopsis, length: 300, omission: '...')}
        / %figcaption= link_to anime.title, anime
        = image_tag anime.cover_image.url(:thumb), alt: anime.canonical_title(current_user)

    .progress.six
      %span.meter{:style => "width: #{percentage_completed(anime, watchlist)}%"}
    .community-rating
      .large-12.columns{:class => (anime.wilson_ci > 0.5 ? "positive" : "negative")}
        %i
        %h5= "#{(anime.wilson_ci*100).to_i}%"

    .vote-blocks
      - if user_signed_in? and current_user.star_rating
        .star-rating
          - 1.upto(5) do |i|
            - if readonly
              - if watchlist and watchlist.rating and watchlist.rating >= i
                %i.icon-star
              - else
                %i.icon-star-empty
            - else
              = link_to update_rating_path(anime, i, width: width), remote: user_signed_in? do
                - if watchlist and watchlist.rating and watchlist.rating >= i
                  %i.icon-star
                - else
                  %i.icon-star-empty
      - else
        - if readonly
          %span.large-4.columns.like
            - if watchlist and watchlist.positive?
              %strong.active [:)]
            - else
              %strong :)
          %span.large-4.columns.meh
            - if watchlist and not (watchlist.positive? or watchlist.negative?)
              %strong.active [:|]
            - else
              %strong :|
          %span.large-4.columns.dislike
            - if watchlist and watchlist.negative?
              %strong.active [:(]
            - else
              %strong :)

        - else
          %span.large-4.columns.like
            - if watchlist and watchlist.positive?
              %strong.active= link_to "[:)]", update_rating_path(anime, "nil", width: width), remote: user_signed_in?
            - else
              %strong= link_to ":)", update_rating_path(anime, 5, width: width), remote: user_signed_in?
          %span.large-4.columns.meh
            - if watchlist and not (watchlist.positive? or watchlist.negative?) and not watchlist.rating.nil?
              %strong.active= link_to "[:|]", update_rating_path(anime, "nil", width: width), remote: user_signed_in?
            - else
              %strong= link_to ":|", update_rating_path(anime, 3, width: width), remote: user_signed_in?
          %span.large-4.columns.dislike
            - if watchlist and watchlist.negative?
              %strong.active= link_to "[:(]", update_rating_path(anime, "nil", width: width), remote: user_signed_in?
            - else
              %strong= link_to ":(", update_rating_path(anime, 1, width: width), remote: user_signed_in?
