.screenshots.twelve.columns
  - if @gallery.length >= 1
    .twelve.columns.mobile-two.columns= image_tag @gallery[0].image.url(:thumb)
    - if @gallery.length >= 3
      .left-small.six.columns.mobile-two.columns= image_tag @gallery[1].image.url(:thumb)
      .right-small.six.columns.mobile-two.columns= image_tag @gallery[2].image.url(:thumb)
      - if @gallery.length >= 4
        .twelve.columns= image_tag @gallery[3].image.url(:thumb)
        - if @gallery.length >= 6
          .left-small.six.columns.mobile-two.columns= image_tag @gallery[4].image.url(:thumb)
          .right-small.six.columns.mobile-two.columns= image_tag @gallery[5].image.url(:thumb)
  - else

    .no-images.twelve.columns
      = image_tag "http://cl.ly/image/1O0Q3j0y1K3w/no-images@2x.png"
      %p No screenshots found for this anime :(
  // %p= link_to "view full gallery", "#"

