.home
  .row.content-body
    / Side Bar
    %p.show-for-small
      %a#sidebarButton.sidebar-button.button{:href => "#sidebar"} Show Anime Filters

    %section#sidebar{:role => "complementary"}
      .three.mobile-twelve.columns
        %ul.accordion
          %li.active
            .title
              %h3 Personalize
            .personalize-filter.content
              %p{:class => ("active" if @filter == "all")}
                = link_to 'All Anime', anime_index_path(:genres => params[:genres])
              %p{:class => ("active" if @filter == "recommended")}
                = link_to 'My Recommendations', filtered_listing_path(:recommended, :genres => params[:genres])
              %p{:class => ("active" if @filter == "unseen")}
                = link_to "Anime I Haven't Seen", filtered_listing_path(:unseen, :genres => params[:genres])
              %p{:class => ("active" if @filter == "unfinished")}
                = link_to "Anime I Haven't Finished", filtered_listing_path(:unfinished, :genres => params[:genres])

        %ul.accordion
          %li.active    
            .title
              %h3 Filter
            .content
              %form.custom{:action => genres_path, :method => :get}
                .row
                  .twelve.columns
                    %input.button.tiny(type="submit" value="Apply")
                    %a.button.tiny.disable_all Deselect All
                    %a.button.tiny.enable_all Select All

                    - @all_genres.each do |genre|
                      %label{:for => genre.slug, "data-width" => "300", :title => genre.description, :class => ("has-tip tip-top" if genre.description && genre.description.length > 0)}
                        %input{:checked => @genre_filter.include?(genre), :name => "g_" + genre.slug, :id => "g_" + genre.slug, :style => "display: none", :type => "checkbox", :value => ".g_#{genre.slug}"}
                        %span.custom.checkbox{:class => ("checked" if @genre_filter.include? genre)}
                        = genre.name

      


    / Thumbnails
    .anime-grid.nine.columns
      - if @filter == "recommended" and !current_user.recommendations_up_to_date
        %div.alert-box We're updating your recommendations. Check back in a minute!
      .row
        = render partial: "anime/card", collection: @anime.map {|x| [x, @watchlist[x.id]] }, as: :data

      .row.pagination-centered
        = paginate(@anime)



  :javascript
    // Filter functionality.
    // TODO make disableAllGenres and enableAllGenres faster.
    function disableAllGenres() {
      $("span.custom.checkbox.checked").click();
    }
    function enableAllGenres() {
      disableAllGenres();
      $("span.custom.checkbox").click();
    }
    $(".disable_all").click(disableAllGenres);
    $(".enable_all").click(enableAllGenres);
