= render 'shared/header'
.home
  .row.content-body
    / Side Bar
    .three.mobile-twelve.columns
      %ul.accordion
        %li.active
          .title
            %h3 Personalize
          .personalize-filter.content
            %p{:class => (@filter == "all" ? "active" : "")}
              = link_to 'All Anime', filtered_listing_path(:all)
            %p
              = link_to 'My Recommendations', '#'
            %p{:class => (@filter == "unseen" ? "active" : "")}
              = link_to "Anime I Haven't Seen", filtered_listing_path(:unseen)
            %p{:class => (@filter == "unfinished" ? "active" : "")}
              = link_to "Anime I Haven't Finished", filtered_listing_path(:unfinished)

      %ul.accordion
        %li.active    
          .title
            %h3 Filter
          .content
            %form.custom
              .row
                .twelve.columns
                  - @all_genres.each do |genre|
                    %label{:for => genre.name, "data-width" => "300", :title => genre.description, :class => (genre.description && genre.description.length > 0) ? "has-tip tip-top" : ""}
                      %input{:checked => true, :name => genre.name, :id => genre.name, :style => "display: none", :type => "checkbox", :value => ".#{genre.name}"}
                      %span.custom.checkbox.checked
                      = genre.name

    / Thumbnails
    .anime-grid.nine.columns
      .row
        - @anime.each do |anime|
          = render partial: "card", locals: {anime: anime, watchlist: @watchlist[anime.id]}

      .row
        = paginate(@anime)

  /* Make entire anime grid card overlay a clickable link */
  /* ==================================================== */
  :javascript
    $(".overlay").click(function (e) {
      if (!e.ctrlKey && !e.metaKey) {
        // Handle click without Ctrl/Cmd.
        window.location = $(this).find("a").attr("href");
      }
      else {
        // Click with Ctrl/Cmd.
        window.open( $(this).find("a").attr("href"), "_blank");
      }
      return false;
    });

= render 'shared/footer'
