- title @anime.title

%h1= @anime.title

%img{:src => @anime.cover_image.url(:thumb)}

%p Age rating: #{@anime.age_rating}
%p Episode count: #{@anime.episode_count}
%p Episode length: #{@anime.episode_length}
%p Status: #{@anime.status}
%p Synopsis: #{@anime.synopsis}
%p 
  Genres: 
  - @genres.each do |genre|
    = link_to genre.name, genre
%p 
  Producers: 
  - @producers.each do |producer|
    = link_to producer.name, producer

%h3 Quotes

- @quotes.each do |quote|
  %blockquote
    = quote.content
    —
    = quote.character_name

%p
  = link_to "[Show all]", anime_quotes_url(@anime)
  = link_to "[Submit quote]", new_anime_quote_url(@anime)

%h3 Youtube Video

%iframe{:width => 560, :height => 315, :frameborder => 0, :allowfullscreen => true, :src => "http://www.youtube.com/embed/#{@anime.youtube_video_id}"}

%h3 Casting

- @castings.each do |casting|
  %p
    = casting.character.name
    \....
    - if casting.voice_actor
      = casting.voice_actor.name
    - else
      (unknown)

%h3 Reviews

- @reviews[0..1].each do |review|
  %h5 #{review.user.name} <small>#{review.positive ? ':)' : ':('}</small>
  %p(style="white-space: pre-wrap")= truncate(review.content, length: 300, omission: '...')

%p
  = link_to "[Show all]", anime_reviews_url(@anime)
