.home
  .row
    / Main Content Section
    / This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens
    .eight.columns
      .panel.anime-details
        .details-left.four.columns
          %img{:src => @anime.cover_image.url(:thumb)}

          .progress.six
            %span.meter{:style => "width: #{(rand * 100).to_i}%"}

          %p.watchlist
            = link_to "- Remove from Watchlist", "#", :method => :post, :confirm => "Are you sure you want to remove #{@anime.title} from your Watchlist?"

          .vote-blocks
            %span.like
              %strong.active= link_to "[:)]", "#"
            %span.dislike
              %strong= link_to ":(", "#"

        .details-right.eight.columns
          - title @anime.title
          %h3= @anime.title

          .small-summary 
            %span #{@anime.episode_count} episodes / #{@anime.episode_length} min. each  ||
            %span #{@anime.age_rating}

          .producers
            %p 
            Producers: 
            - @producers.each do |producer|
              = link_to producer.name, producer
              ,

          .genres
            %p 
            Genres:
            - @genres.each do |genre|
              = link_to genre.name, genre
              ,

          .synopsis
            %strong Status: #{@anime.status}
            %p #{@anime.synopsis}

      .panel.community-rating
        .upper.twelve.columns
          .decoration.three.columns
            %p.left <i></i>
          .six.columns 
            %h6 Community Rating
            %p.percentage-negative <i></i> 72%
            %p.based-on Based on 6,124 Ratings
          .decoration.three.columns
            %p.right <i></i>
        .lower.twelve.columns
          .positive-review.six.columns
            %h6 Top Rated <span>Positive</span> Review
            %p Sword Art Online is a pioneer of its genre in that, the source material dates from all the way back in 2002 (.hack// being of the same vintage). This is important to note as with all pioneering feats, there is an initial sense of wonder and hype, followed by disappointment as the same concept is refined and... <a href="#">read more</a>

            %span.user
              = image_tag "http://placekitten.com/g/200/200"
              = link_to "Kanye West", "#"

          .negative-review.six.columns
            %h6 Top Rated <span>Negative</span> Review
            %p I might as well skip the plot synopsis of Sword Art Online, because odds are you already know it. Sword Art Online has utterly exploded. It is all over the place. It is that one show the EVERYONE is watching, whether it be through genuine interest or sheer bile fascination. And amidst this, it has... <a href="#">read more</a>
            %span.user
              = image_tag "http://placekitten.com/g/200/200"
              = link_to "Felicia Day", "#"

        .footer.twelve.columns
          = link_to "view all reviews", "#"

      .panel.episode-tracker
        %header 
          .eleven.columns
            #{@anime.title} Episodes
          .one.columns
            = link_to "edit", "#"
        .episode-list
          %ul
            %li.episode.active
              .title.ten.columns
                .episode-number s01e05
                .episode-title A Crime Within the Walls
              .view-button.two.columns
                = link_to "", "#"
            %li.episode
              .title.ten.columns
                .episode-number s01e06
                .episode-title  Illusionary Avenger
              .view-button.two.columns
                = link_to "", "#"
            %li.episode
              .title.ten.columns
                .episode-number s01e07
                .episode-title Warmth of the Heart
              .view-button.two.columns
                = link_to "", "#"
            %li.episode
              .title.ten.columns
                .episode-number s01e08
                .episode-title Black and White Sword Dance
              .view-button.two.columns
                = link_to "", "#"
            %footer.twelve.columns
              %p= link_to "view full episode list", "#"

    / Nav Sidebar
    .four.columns
      .trailer
        .flex-video
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube.com/embed/#{@anime.youtube_video_id}", :width => "420"}

      .screenshots
        .twelve.columns
          = image_tag "http://media.animevice.com/uploads/1/18405/598799-sword_art_online___24___large_03.jpg"
        .left-small.six.columns
          = image_tag "http://media.animevice.com/uploads/1/18405/586212-sword_art_online___17___large_28.jpg"
        .right-small.six.columns
          = image_tag "http://media.animevice.com/uploads/1/18405/580363-sword_art_online___13___large_37.jpg"
        .twelve.columns
          = image_tag "http://media.animevice.com/uploads/1/18405/600869-sword_art_online___25___large_06.jpg"
        .left-small.six.columns
          = image_tag "http://media.animevice.com/uploads/1/18405/586212-sword_art_online___17___large_28.jpg"
        .right-small.six.columns
          = image_tag "http://media.animevice.com/uploads/1/18405/580363-sword_art_online___13___large_37.jpg"

        %p= link_to "view full gallery", "#"

      .quotes
        %h5 #{@anime.title} Quotes

        - @quotes.each do |quote|
          %blockquote
            = quote.content
            —
            = quote.character_name
        %p
          = link_to "[Show all]", anime_quotes_url(@anime)
          = link_to "[Submit quote]", new_anime_quote_url(@anime)



  %h3 Casting

  - @castings.each do |casting|
    %p
      = casting.character.name
      \....
      - if casting.voice_actor
        = casting.voice_actor.name
      - else
        (unknown)

  %h3 Reviews

  - @reviews[0..1].each do |review|
    %h5 #{review.user.name} <small>#{review.positive ? ':)' : ':('}</small>
    %p(style="white-space: pre-wrap")= truncate(review.content, length: 300, omission: '...')

  %p
    = link_to "[Show all]", anime_reviews_url(@anime)
