.anime-discover.anime-show
  .row
    / Main Content Section
    / This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens
    .large-8.columns
      .panel.anime-details.cards.cf
        .details-left
          = render partial: "card", locals: {data: [@anime, @watchlist]} 
        .details-right.large-8.columns
          %h3= title(@anime.canonical_title(current_user))

          .small-summary 
            %span #{pluralize @anime.episode_count, 'episode'} / #{@anime.episode_length} min. each  ||
            %span.has-tip{:"data-width" => 200, :title => @anime.age_rating_guide}
              = @anime.age_rating
            - if @anime.alternate_title(current_user) and @anime.alternate_title(current_user).length > 0
              %span (Also known as <strong>#{@anime.alternate_title(current_user)}</strong>)

          .producers
            %p 
            Producers: 
            = @producers.map {|x| link_to(x.name, x) }.join(", ").html_safe

          .genres
            %p 
            Genres:
            = @genres.map {|x| link_to(x.name, x) }.join(", ").html_safe

          .social-links
            %ul.inline-list
              %li
                .fb-like{"data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "50"}
              %li{:style => "background: none; width: 78px;"}
                %a.twitter-share-button{"data-via" => "Hummingbird_me", :href => "https://twitter.com/share"} Tweet
              %li
                .g-plusone{"data-size" => "medium"}
            
          .synopsis
            %strong Status: #{@anime.status}
            %p #{@anime.synopsis}

      - if can? :update, @anime
        .panel.moderation-tools
          %header 
            .large-11.columns
              Moderation Tools

          .moderation-form
            = form_for @anime do |f|
              .row
                / Episode Count and Length
                .large-3.columns
                  = f.label :episode_count, class: 'inline'
                .large-9.columns
                  = f.number_field :episode_count
                .large-3.columns
                  = f.label :episode_length, class: 'inline'
                .large-9.columns
                  = f.number_field :episode_length
                / TheTVDB Series and Season IDs
                .large-3.columns
                  = f.label :thetvdb_series_id, "TheTVDB Series ID", class: 'inline'
                .large-9.columns
                  = f.number_field :thetvdb_series_id
                .large-3.columns
                  = f.label :thetvdb_season_id, "TheTVDB Season ID", class: 'inline'
                .large-9.columns
                  = f.number_field :thetvdb_season_id
                / MAL ID
                .large-3.columns
                  = f.label :mal_id, "MAL ID", class: 'inline'
                .large-9.columns
                  = f.number_field :mal_id
                / English canonical
                .large-3.columns
                  = f.label :english_canonical, "English Title Canonical?", class: 'inline'
                .large-9.columns
                  = f.check_box :english_canonical

                .large-12.columns
                  = f.submit class: 'button padded'
            
            = link_to "Get Episodes from TheTVDB", anime_get_episodes_from_thetvdb_path(@anime), class: 'button', method: :post
            = link_to "Get Metadata from MAL", anime_get_metadata_from_mal_path(@anime), class: 'button', method: :post


      .panel.community-rating
        .upper.large-12.columns
          .decoration.large-3.columns.hide-for-small
            %p.left <i></i>

          - if @anime.wilson_ci
            .large-6.columns 
              %h6 Community Rating
              %p{:class => @anime.wilson_ci >= 0.5 ? "percentage-positive" : "percentage-negative"}
                %i
                #{(@anime.wilson_ci*100).to_i}%
              %p.based-on Based on #{number_with_delimiter @anime.user_count} Ratings

          .decoration.large-3.columns.hide-for-small
            %p.right <i></i>
        .lower.large-12.columns
          .positive-review.large-6.columns
            %h6 Top Rated <span>Positive</span> Review

            - if @top_reviews[:positive]
              %p
                = @top_reviews[:positive].summary || truncate(strip_tags(@top_reviews[:positive].content), length: 300, omission: '...')
                = link_to "read more", anime_review_path(@anime, @top_reviews[:positive])
              %span.user
                = image_tag @top_reviews[:positive].user.avatar.url(:thumb)
                = link_to @top_reviews[:positive].user.name, @top_reviews[:positive].user
            - else
              .no-reviews.large-9.columns.large-centered
                = image_tag "http://cl.ly/image/3u2X0t1B0E11/no-positive-reviews@2x.jpg"
                %p 
                  No positive reviews.
                  %br
                  = link_to new_anime_review_path(@anime) do
                    Write the first!

          .negative-review.large-6.columns
            %h6 Top Rated <span>Negative</span> Review

            - if @top_reviews[:negative]
              %p
                = @top_reviews[:negative].summary || truncate(strip_tags(@top_reviews[:negative].content), length: 300, omission: '...')
                = link_to "read more", anime_review_path(@anime, @top_reviews[:negative])
              %span.user
                = image_tag @top_reviews[:negative].user.avatar.url(:thumb)
                = link_to @top_reviews[:negative].user.name, @top_reviews[:negative].user
            - else
              .no-reviews.large-9.columns.large-centered
                = image_tag "http://cl.ly/image/0T2u2t2J0Z35/no-negative-reviews@2x.jpg"
                %p 
                  No negative reviews.
                  %br
                  = link_to new_anime_review_path(@anime) do
                    Write the first!
                
        .footer.large-12.columns
          = link_to "view all reviews", anime_reviews_path(@anime)

      .panel.episode-tracker
        %header 
          .large-11.columns
            #{@anime.canonical_title(current_user)} Episodes
          / .large-1.columns
          /   = link_to "edit", "#"

        = render partial: "episodes/list_four", locals: {episodes: @episodes, anime: @anime}

      .panel.voice-actors
        %header 
          .large-11.columns
            #{@anime.canonical_title(current_user)} Voice Actors
          / .large-1.columns
          /   = link_to "edit", "#"

        .section-container.auto(data-section)
          - @languages.each do |language|
            %section
              %p.title(data-section-title)
                %a{:href => "##{language}"}= language
              .content
                - @castings.select {|x| x.role == language }.each do |casting|
                  .actor-row.large-12.columns(data-section-content)
                    .character.large-5.columns
                      .headshot.large-2.columns
                        = image_tag casting.character.image.url(:thumb)
                      .name.large-10.columns
                        %p= link_to casting.character.name, "#"
                    .divider.large-2.columns
                      %hr
                    .actor.large-5.columns
                      .name.large-10.columns
                        %p= link_to casting.person.name, "#"
                      .headshot.large-2.columns
                        = image_tag casting.person.image.url(:thumb)
                    
        %footer.large-12.columns
          %p= link_to "view complete cast", "#"

    / Nav Sidebar
    .large-4.columns
      - if @anime.youtube_video_id
        .trailer
          .flex-video
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube.com/embed/#{@anime.youtube_video_id}", :width => "420"}
      .large-12.columns.sidebar-ad
        :javascript
          google_ad_client = "ca-pub-3410319844519574";
          /* Anime Page Sidebar */
          google_ad_slot = "9999756849";
          google_ad_width = 300;
          google_ad_height = 250;
          
        %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}

      = render "mini_gallery"

      .quotes.large-12.columns
        %h5 #{@anime.canonical_title(current_user)} Quotes

        - @quotes.each do |quote|
          %blockquote
            = quote.content
            —
            = quote.character_name
        %p
          = link_to "[Show all]", anime_quotes_url(@anime)
          %a{"data-reveal-id" => "quoteModal", :href => "#"} [Submit quote]



    - if user_signed_in? and current_user.admin?
      .similar-anime.large-12.columns.hide-for-small
        %header
          .large-4.columns
            %hr
          .large-4.columns
            %h3 Similar Anime
          .large-4.columns
            %hr
          .row
            .recommended.large-6.columns
              .panel.large-12.columns
                .large-4.columns
                  = image_tag "http://localhost:3000/system/anime/cover_images/000/000/137/thumb/20539.jpg?1360397891"
                .large-8.columns.end
                  %p.title Accel World
                  %p Sakamoto Ryota still has no job at age 22, and leads a rather dull life. But in the online game, BTOOOM!, he's stronger and more highly respected than anyone else. However, the game he's playing now is no longer virtual...

                  .rating.negative.large-4.columns
                    54%

            .recommended.large-6.columns
              .panel.large-12.columns
                .large-4.columns
                  = image_tag "http://localhost:3000/system/anime/cover_images/000/000/137/thumb/20539.jpg?1360397891"
                .large-8.columns.end
                  %p.title Accel World
                  %p Sakamoto Ryota still has no job at age 22, and leads a rather dull life. But in the online game, BTOOOM!, he's stronger and more highly respected than anyone else. However, the game he's playing now is no longer virtual...

                  .rating.positive.large-4.columns
                    72%

// Quote Modal
#quoteModal.reveal-modal{:class => "medium"}
  = render "quotes/new"

- if user_signed_in?
  = render partial: "watchlists/form_modal", locals: {watchlist: @watchlist || Watchlist.new(user: current_user, anime: @anime)}
