- content_for(:extra_meta_content) do
  - if @anime.show_type == "Movie"
    %meta(property="og:type" content="video.movie")
  - elsif ["OVA", "ONA", "TV"].include?(@anime.show_type) and (@anime.episode_count.nil? or @anime.episode_count == 0 or @anime.episode_count > 1)
    %meta(property="og:type" content="video.tv_show")
  - else
    %meta(property="og:type" content="video.tv_episode")
  %meta(property="og:url"){content: anime_url(@anime)}
  %meta(property="og:description"){content: @anime.synopsis}
  
.anime-discover.anime-show.quote-page
  .row

    // Left Column
    .large-2.columns.no-padding-right
      .quote-thumb
        = image_tag @anime.cover_image.url(:thumb)
      / .series-rating
      /   %i.icon-star
      /   %i.icon-star
      /   %i.icon-star
      /   %i.icon-star-empty
      /   %i.icon-star-empty

      .large-12.columns.no-padding
        .watchlist-status-button{:"data-anime" => @anime.slug, :"data-status" => @watchlist ? @watchlist.status.parameterize : "false"}

      - if @franchise_anime.length > 0 
        .large-12.columns.no-padding.side-block
          %h5 FRANCHISE
          %ul.franchise-list
            - @franchise_anime.each do |anime|
              %li= anime_link anime, class: ('active' if anime == @anime)

      .large-12.columns.no-padding.side-block
        = link_to (image_tag "jlist.png", alt: "J-List"), "http://anime.jlist.com/click/4785?url=http://www.jlist.com/search/all/#{@anime.canonical_title.parameterize.gsub("-", "_")}"
      .large-12.columns.no-padding.side-block
        = link_to (image_tag "amazon.png", alt: "Amazon"), "http://www.amazon.com/s/?field-keywords=#{u @anime.canonical_title}&tag=hummingbir0fe-20"

      - if @similar.length > 0
        .large-12.columns.no-padding.side-block
          %h5 SIMILAR
          - @similar.each do |similar|
            .large-6.columns.sidebar-series.tip-top{"data-options" => "disable-for-touch:true", "data-tooltip" => "", :title => similar.canonical_title(current_user)}
              = link_to (image_tag similar.cover_image.url(:thumb), alt: similar.canonical_title), similar

    // Center Column
    .large-7.columns.center-column
      .panel
        .large-12.columns
          %h2.series-title= title @anime.canonical_title(current_user)
          - if (alt = @anime.alternate_title(current_user)) and alt.strip.length > 0
            %span.series-alt-title (#{alt}) 
          %span.air-date 

        .large-12.columns
          %ul.series-metadata
            / Show Type
            - if @anime.show_type
              %li= @anime.show_type == "TV" ? "TV Series" : @anime.show_type

            / Age Rating
            - if @anime.age_rating
              %li 
                - if @anime.age_rating_guide and @anime.age_rating_guide.strip.length > 0
                  %span.has-tip.tip-bottom(data-tooltip){title: @anime.age_rating_guide}
                    = @anime.age_rating
                - else
                  = @anime.age_rating

            / Episode Count
            - if @anime.episode_count and @anime.episode_count > 0
              - if @anime.episode_count > 1
                %li
                  = @anime.episode_count
                  episodes
            - else
              %li ? episodes

            / Episode Length
            %li
              - if @anime.episode_length and @anime.episode_length > 0
                = @anime.episode_length
              - else
                ?
              - if @anime.episode_count.nil? or @anime.episode_count != 1
                min each
              - else
                minutes

            / Air Dates
            %li= airing_date(@anime)

          %hr
        .large-12.columns
          .genres
            - @anime.genres.each do |genre|
              = link_to genre.name, genre, class: 'series-tag'
          / Synopsis
          %p.series-description 
            - if @anime.synopsis.length > 500
              = truncate @anime.synopsis, length: 500, separator: ' ', omission: '...'
              = link_to_function "[read more]", "$(this).parent().html('#{j @anime.synopsis}')"
            - else
              = @anime.synopsis
          .social-links
            %ul.inline-list
              %li
                .fb-like{"data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "50"}
              %li{:style => "background: none; width: 78px;"}
                %a.twitter-share-button{"data-via" => "Hummingbird_me", :href => "https://twitter.com/share"} Tweet
              %li
                .g-plusone{"data-size" => "medium"}
          %hr

        // Cast
        .large-12.columns
          %h4 CAST

          // Hide me if only one language!!!
          - if @languages.length > 1
            %dl.sub-nav.language-select
              %dt Language:
              - @languages.each_with_index do |language, i|
                %dd{:class => ("active" if i == 0), :id => language}
                  %a(href="javascript:void(0)"){:id => language}= language
                
            :coffee
              $("dl.language-select a").click ->
                language = $(this).attr("id")
                $("dl.language-select dd").removeClass("active")
                $("dl.language-select dd#" + language).addClass("active")
                $("ul.cast").hide()
                $("ul.cast#" + language).show()

          - @languages.each_with_index do |language, i|
            %ul.cast{:id => language, :style => ("display: none" if i != 0)}
              - @castings.select {|x| x.role == language }.each do |casting|
                %li.actor
                  %a.character
                    = image_tag casting.character.image.url(:thumb_small), alt: "#{casting.character.name} - #{@anime.canonical_title}", width: 30
                    = casting.character.name
                  %span.va
                    %a.voice-actor
                      = casting.person.name
                      = image_tag casting.person.image.url(:thumb_small), alt: "#{casting.person.name} - Voice Actor", width: 30, height: 47

              %li.show-more
                %a(data-tooltip title="Coming soon!"){:href => "javascript:void(0)"} Show all actors +
              %hr
            
      .large-12.columns.panel.ad-zone.center
        %ins(class="adsbygoogle" style="display:inline-block;width:468px;height:60px" data-ad-client="ca-pub-3410319844519574" data-ad-slot="4664352842")
        :javascript
          (adsbygoogle = window.adsbygoogle || []).push({});

      .large-12.columns.panel.popular-reviews
        .large-12.columns
          %h4 Trending Reviews
          = render partial: "reviews/review", collection: @reviews, locals: {image: :user}

          :coffee
            $(".chart").easyPieChart
              size: 86
          :css
            .chart {
              margin: 10px;
              font-size: 2em;
              font-weight: bold;
            }

          %hr
          %p.center.reviews-footer 
            = link_to "Write a Review", new_anime_review_path(@anime)
            or
            = link_to "View All Reviews", anime_reviews_path(@anime)

      - if false
        .large-12.columns.option-bar.hide-for-small
          .small-6.large-2.columns
            %p.option-title Activity Feed
          .small-12.large-9.columns.options
            %ul.status-tabs.inline-list
              %li#tab-all.active
                %a{:href => "#all", :onclick => "showRelevantSections('all')"} All
              %li
                %a{:href => "#comments", :onclick => "showRelevantSections('comments')"} Comments
              %li
                %a{:href => "#library", :onclick => "showRelevantSections('library')"} Library
              %li
                %a{:href => "#events", :onclick => "showRelevantSections('events')"} Events

        .large-12.columns.feed.no-padding
          .large-12.columns.feed-form
            %form.comment
              .posting-indicator
                %i.icon-spin.icon-spinner
              %input.comment{:autocomplete => "off", :name => "comment", :placeholder => "Write something...", :type => "text"}/
          %ul.feed-list.activity-feed/
          %div
            %div
              %li.feed-item.cf
                .large-12.columns.feed-wrapper
                  .small-3.large-2.columns.no-padding-right
                    %a{:href => "/users/2-josh"}
                      %img{:alt => "Josh", :src => "http://hummingbird.me/system/users/avatars/000/000/956/thumb/tumblr_mip3faRBwQ1rediswo1_250.gif?1372022638"}/
                  .small-9.large-10.columns
                    %h4.anime-feed-title
                      %a{:href => "/users/2-josh"} Clara
                      commented on
                      %a{:href => "#"} Attack on Titan
                    %hr.feed-divider
                      .large-12.columns.no-padding-left
                        %p.wall-post-copy Can't wait until the next episode! <3
                        %p.time
                          %span.time-ago
                            22 minutes ago
            %div
              %li.feed-item.cf
                .large-12.columns.feed-wrapper
                  .small-3.large-2.columns.no-padding-right
                    %a{:href => "/users/2-josh"}
                      %img{:alt => "Josh", :src => "http://hummingbird.me/system/users/avatars/000/000/002/thumb/534622_473195162710276_654386858_n_(1).jpg?1370705025"}/
                  .small-9.large-10.columns
                    %h4.anime-feed-title
                      %a{:href => "/users/2-josh"} Josh
                      commented on
                      %a{:href => "#"} Attack on Titan
                    %hr.feed-divider
                      .large-12.columns.no-padding-left
                        %p.wall-post-copy I couldn't hold out any longer. I read the manga...
                        %p.time
                          %span.time-ago
                            22 minutes ago
            %div
              %li.feed-item.cf
                .large-12.columns.feed-wrapper
                  .small-3.large-2.columns.no-padding-right
                    %a{:href => "/users/2-josh"}
                      %img{:alt => "Josh", :src => "http://hummingbird.me/system/users/avatars/000/000/002/thumb/534622_473195162710276_654386858_n_(1).jpg?1370705025"}/
                  .small-9.large-10.columns
                    %h4.anime-feed-title
                      %a{:href => "/users/2-josh"} Josh
                      commented on
                      %a{:href => "#"} Attack on Titan
                    %hr.feed-divider
                      .large-12.columns.no-padding-left
                        %p.wall-post-copy I couldn't hold out any longer. I read the manga...
                        %p.time
                          %span.time-ago
                            22 minutes ago          
            %div
              %li.feed-item.cf
                .large-12.columns.feed-wrapper
                  .small-3.large-2.columns.no-padding-right
                    %a{:href => "/users/2-josh"}
                      %img{:alt => "Josh", :src => "http://hummingbird.me/system/users/avatars/000/000/002/thumb/534622_473195162710276_654386858_n_(1).jpg?1370705025"}/
                  .small-9.large-10.columns
                    %h4.anime-feed-title
                      %a{:href => "/users/2-josh"} Josh
                      commented on
                      %a{:href => "#"} Attack on Titan
                    %hr.feed-divider
                      .large-12.columns.no-padding-left
                        %p.wall-post-copy I couldn't hold out any longer. I read the manga...
                        %p.time
                          %span.time-ago
                            22 minutes ago


    // Right Column
    .large-3.columns
      / Rating
      - if @anime.bayesian_average and @anime.bayesian_average > 0.01
        .large-12.columns.no-padding.side-block
          %h5
            RATING:
            = "%.2f" % @anime.bayesian_average

      //trailer
      - if @anime.youtube_video_id and @anime.youtube_video_id.strip.length > 0
        .large-12.columns.no-padding.side-block
          %h5 TRAILER
          %a.sublime{:href => "#"+@anime.youtube_video_id, :"data-uid" => @anime.youtube_video_id, :"data-youtube-id" => @anime.youtube_video_id}
            .play-icon
              %i.icon-play.icon-4x
            %img(width="100%" height="auto"){:src => "http://img.youtube.com/vi/#{@anime.youtube_video_id}/hqdefault.jpg"}
          %video{:poster => "http://img.youtube.com/vi/#{@anime.youtube_video_id}/hqdefault.jpg", :id => @anime.youtube_video_id, :width => 640, :height => 360, :style => "display: none", :"data-uid" => @anime.youtube_video_id, :"data-youtube-id" => @anime.youtube_video_id, :preload => "none", :"data-youtube-suggested-quality" => "hd"}

          / Add a "play" icon once the image has loaded.
          :coffee
            $("a.sublime img").load ->
              $(".sublime .play-icon").css "top", $("a.sublime img").height()/2
            $("a.sublime").click ->
              analytics.track "Viewed Trailer",
                anime: #{@anime.slug.inspect}

      //screns
      - if @anime.gallery_images.count > 0
        .large-12.columns.no-padding.side-block
          %h5 SCREENCAPS
          - @anime.gallery_images.each do |gallery_image|
            = image_tag gallery_image.image.url(:thumb), alt: "#{@anime.canonical_title} Screencap", style: 'padding-top: 5px'

      //quotes
      .large-12.columns.no-padding.side-block
        %h5 QUOTES
        - @quotes.each do |quote|
          %blockquote
            = quote.content
            %br
            &mdash;
            = quote.character_name
        = link_to "[show more]", anime_quotes_path(@anime)
  

/ Sublime Video
%script(type="text/javascript" src="http://cdn.sublimevideo.net/js/najrag6v.js")

