.anime-discover.anime-show
  .row
    / Main Content Section
    / This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens
    .eight.columns
      .panel.anime-details.cards.cf
        .details-left
          = render partial: "card", locals: {data: [@anime, @watchlist]} 
        .details-right.eight.columns
          %h3= title(@anime.title)

          .small-summary 
            %span #{pluralize @anime.episode_count, 'episode'} / #{@anime.episode_length} min. each  ||
            %span #{@anime.age_rating}
            - if @anime.alt_title
              %span (Also known as <strong>#{@anime.alt_title}</strong>)

          .producers
            %p 
            Producers: 
            = @producers.map {|x| link_to(x.name, x) }.join(", ").html_safe

          .genres
            %p 
            Genres:
            = @genres.map {|x| link_to(x.name, x) }.join(", ").html_safe

          .synopsis
            %strong Status: #{@anime.status}
            %p #{@anime.synopsis}

      .panel.community-rating
        .upper.twelve.columns
          .decoration.three.columns.hide-for-small
            %p.left <i></i>

          - if @anime.wilson_ci
            .six.columns 
              %h6 Community Rating
              %p{:class => @anime.wilson_ci >= 0.5 ? "percentage-positive" : "percentage-negative"}
                %i
                #{(@anime.wilson_ci*100).to_i}%
              %p.based-on Based on #{number_with_delimiter @anime.user_count} Ratings

          .decoration.three.columns.hide-for-small
            %p.right <i></i>
        .lower.twelve.columns
          .positive-review.six.columns
            %h6 Top Rated <span>Positive</span> Review
            %p Sword Art Online is a pioneer of its genre in that, the source material dates from all the way back in 2002 (.hack// being of the same vintage). This is important to note as with all pioneering feats, there is an initial sense of wonder and hype, followed by disappointment as the same concept is refined and... <a href="#">read more</a>

            %span.user
              = image_tag "http://placekitten.com/g/200/200"
              = link_to "Kanye West", "#"

          .negative-review.six.columns
            %h6 Top Rated <span>Negative</span> Review
            %p I might as well skip the plot synopsis of Sword Art Online, because odds are you already know it. Sword Art Online has utterly exploded. It is all over the place. It is that one show the EVERYONE is watching, whether it be through genuine interest or sheer bile fascination. And amidst this, it has... <a href="#">read more</a>
            %span.user
              = image_tag "http://placekitten.com/g/200/200"
              = link_to "Felicia Day", "#"

        .footer.twelve.columns
          = link_to "view all reviews", "#"

      .panel.episode-tracker
        %header 
          .eleven.columns
            #{@anime.title} Episodes
          .one.columns
            = link_to "edit", "#"

        = render partial: "episodes/list_four", locals: {episodes: @episodes, anime: @anime}

      .panel.voice-actors
        %header 
          .eleven.columns
            #{@anime.title} Voice Actors
          .one.columns
            = link_to "edit", "#"

        %dl.tabs
          - @languages.each_with_index do |language, i|
            %dd{:class => ("active" if i==0)}
              %a{:href => "##{language}"}= language

        %ul.tabs-content
          - @languages.each_with_index do |language, i|
            %li{:id => "#{language}Tab", :class => ("active" if i==0)}
              %ul
                - @castings.select {|x| x.role == language }.each do |casting|
                  %li.actor-row.twelve.columns
                    .character.five.columns
                      .headshot.two.columns
                        = image_tag "http://placekitten.com/225/350"
                      .name.ten.columns
                        %p= link_to casting.character.name, "#"

                    .divider.two.columns
                      %hr
                    .actor.five.columns
                      .name.ten.columns
                        %p= link_to casting.person.name, "#"
                      .headshot.two.columns
                        = image_tag "http://placekitten.com/g/226/350"
                  

        %footer.twelve.columns
          %p= link_to "view complete cast", "#"

    / Nav Sidebar
    .four.columns
      .trailer
        .flex-video
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube.com/embed/#{@anime.youtube_video_id}", :width => "420"}


      = render "mini_gallery"

      .quotes
        %h5 #{@anime.title} Quotes

        - @quotes.each do |quote|
          %blockquote
            = quote.content
            —
            = quote.character_name
        %p
          = link_to "[Show all]", anime_quotes_url(@anime)
          %a{"data-reveal-id" => "quoteModal", :href => "#"} [Submit quote]

    .similar-anime.twelve.columns.hide-for-small
      %header
        .four.columns
          %hr
        .four.columns
          %h3 Similar Anime
        .four.columns
          %hr
        .row
          .recommended.six.columns
            .panel.twelve.columns
              .four.columns
                = image_tag "http://localhost:3000/system/anime/cover_images/000/000/137/thumb/20539.jpg?1360397891"
              .eight.columns.end
                %p.title Accel World
                %p Sakamoto Ryota still has no job at age 22, and leads a rather dull life. But in the online game, BTOOOM!, he's stronger and more highly respected than anyone else. However, the game he's playing now is no longer virtual...

                .rating.negative.four.columns
                  54%

          .recommended.six.columns
            .panel.twelve.columns
              .four.columns
                = image_tag "http://localhost:3000/system/anime/cover_images/000/000/137/thumb/20539.jpg?1360397891"
              .eight.columns.end
                %p.title Accel World
                %p Sakamoto Ryota still has no job at age 22, and leads a rather dull life. But in the online game, BTOOOM!, he's stronger and more highly respected than anyone else. However, the game he's playing now is no longer virtual...

                .rating.positive.four.columns
                  72%

// Quote Modal
#quoteModal.reveal-modal{:class => "[expand, xlarge, large, medium, small]"}
  = render "quotes/new"


  / %h3 Reviews

  / - @reviews[0..1].each do |review|
  /   %h5 #{review.user.name} <small>#{review.positive ? ':)' : ':('}</small>
  /   %p(style="white-space: pre-wrap")= truncate(review.content, length: 300, omission: '...')

  / %p
  /   = link_to "[Show all]", anime_reviews_url(@anime)
