- title "#{@season.to_s.titleize} #{@season_years[@season]} Anime"

.upcoming-shows
  .row
    .large-12.columns
      %ul.seasons
        - @seasons.each do |season|
          %li
            = link_to season.to_s.titleize + ' ' + @season_years[season].to_s, anime_season_path(season), class: 'button padded' + (@season == season ? ' secondary' : '')

    .large-9.large-centered.columns
      .shows
        .row
          - @anime.each do |anime|
            .large-3.columns.card
              .rounded-panel
                .image
                  = link_to (image_tag anime.cover_image.url(:thumb)), anime
                .title.truncate
                  = anime.canonical_title(current_user)
