- title "#{@season.to_s.titleize} #{@season_years[@season]} Anime"

.upcoming-shows
  .row
    .large-12.columns
      %ul.seasons
        - @seasons.each do |season|
          %li
            = link_to season.to_s.titleize + ' ' + @season_years[season].to_s, anime_season_path(season), class: 'button padded' + (@season == season ? ' secondary' : '')

  .row
    .large-9.large-centered.columns
      .shows
        .row
          - ["TV", "Movie", "OVA", "ONA", "Special"].each do |type|
            - if @anime[type].length > 0
              .large-12.columns
                %h2= type == "TV" ? "TV Series" : type
              %ul.large-block-grid-5
                - @anime[type].each_with_index do |anime, i|
                  %li.card{class: ('end' if i == @anime[type].length-1)}
                    .rounded-panel
                      .image
                        = link_to (image_tag anime.cover_image.url(:thumb)), anime
                      .title.truncate
                        = anime.canonical_title(current_user)
