- user = story.user
%li.feed-item.cf{:class => "story-#{story.id}"}
  .large-12.columns.feed-wrapper
    .small-3.large-2.columns.no-padding-right
      - if story.story_type == "followed"
        = avatar_link user
      - elsif story.story_type == "media_story"
        = link_to image_tag(story.target.cover_image.url(:thumb)), story.target
    .small-9.large-10.columns
      - if story.story_type == "followed"
        %h4.anime-feed-title
          = link_to (user == current_user) ? "You" : user.name, user
          started following
          = pluralize story.substories.count, "person"
      - elsif story.story_type == "media_story"
        %h4.anime-feed-title
          = anime_link story.target
        .anime-feed-genres
          %ul
            - story.target.genres.each_with_index do |genre, i|
              %li= link_to genre
              
      = render story.substories.order('created_at DESC').limit(2)
        
    - if story.substories.length > 2
      .large-12.columns.center
        %a.show-more{:onclick => "alert('Coming soon!')"} 
          <i class="icon-angle-down"></i> 
          Show More

/- if story.story_type == "followed" or story.story_type == "media_story"
/  = render partial: 'stories/followed_story', locals: {story: story}
/- else
/  %li.feed-item.cf
/    .large-1.columns.no-padding-right.hide-for-small
/      = link_to image_tag(story.user.avatar.url(:thumb), class: 'avatar'), main_app.user_path(story.user)
/    .large-11.columns.no-padding-right
/      %p.update-text
/        - if story.story_type == "watchlist_status_update"
/
/          = t (story.data["new_status"] + " html").parameterize.underscore.to_sym, scope: 'stories.watchlist_status_updates', user: link_to(story.user), anime: link_to(story.anime.canonical_title(current_user), story.anime)
/
/        - else
/
/          %pre= story.to_yaml
/
/      %p.update-time
/        = distance_of_time_in_words_to_now story.updated_at
/        ago
