:css
  .header-quote {
    display: none !important;
  }

.large-12.columns.characters
  .row
    .large-12.columns.wrapper.no-padding
      .large-12.columns.option-bar
        .small-6.large-2.columns.hide-for-small
          %p.option-title Haruhi Suzumiya
          
        .small-12.large-9.columns.options 
          /.hide-for-medium-down
          %ul.status-tabs.inline-list
            %li.active
              = link_to "Overview", "#"
            %li
              = link_to "Pictures", "#"
            %li
              = link_to "Biography", "#"
            %li
              = link_to "Voice Actors", "#"
            %li
              = link_to "Quotes", "#"

      .large-12.columns.picture-grid
        .large-7.columns{:style => "padding: 5px; padding-top: 0px;"}
          = image_tag "http://www.free-hdwallpapers.com/wallpapers/anime/525526.jpg"
        .large-5.columns.no-padding
          .large-12.columns.no-padding
            .large-6.columns{:style => "padding: 5px; padding-top: 0px;"}
              = image_tag "http://1.bp.blogspot.com/-7vazgp5SAqw/UKGoBT9QDiI/AAAAAAAAKT4/r6FcX5fpRRk/s1600/Suzumiya+Haruhi+wallpaper.jpg"
            .large-6.columns{:style => "padding: 5px; padding-top: 0px;"}
              = image_tag "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTuTbpkCG4H8SZgAifhAXh8QSSZLSFC6tdIXB5QTLSfUuHSERnJZw"

          .large-12.columns.no-padding
            .large-6.columns{:style => "padding: 5px; padding-top: 0px;"}
              = image_tag "http://images.wikia.com/narutofanon/images/0/0c/Haruhi-Suzumiya.jpg"
            .large-6.columns{:style => "padding: 5px; padding-top: 0px;"}
              = image_tag "http://images5.fanpop.com/image/photos/31300000/the-melancholy-of-haruhi-suzumiya-the-melancholy-of-haruhi-suzumiya-31357871-1920-1200.jpg"
          .large-12.columns{:style => "padding: 5px;"}
            %p{:style => "background: #eee; text-align: center; line-height: 63px;"}= link_to "All Haruhi Suzumiya Pictures"