- title "Chat"

.chat
  .row
    .large-10.columns.main-chat
      .chats 
        .chat-display
          .chat-text
            %ul
              %li.message-block
                .large-1.columns.avatar
                  = image_tag "http://hummingbird.ly/system/users/avatars/000/000/001/thumb/av.jpg?1362343675", :class => "avatar-image"
                .large-11.columns.message
                  %span.name= link_to "Vikhyat", "#" 
                  %p You around?
                .large-1.columns.time-stamp
                  %p 1 hour ago
              %li.message-block
                .large-1.columns.avatar
                  = image_tag "http://hummingbird.ly/system/users/avatars/000/000/002/thumb/avatar.jpg?1362317029", :class => "avatar-image"
                .large-11.columns.message.current-user
                  %span.name= link_to "JoshFabian", "#"
                  %p Yep, stuck here for the next 4 hours.
                .large-1.columns.time-stamp
                  %p 1 hour ago
              %li.message-block
                .large-1.columns.avatar
                  = image_tag "http://hummingbird.ly/system/users/avatars/000/000/001/thumb/av.jpg?1362343675", :class => "avatar-image"
                .large-11.columns.message
                  %span.name= link_to "Vikhyat", "#" 
                  %p What kind of structure would I need to get something similar to the Hipchat web chat interface
                .large-1.columns.time-stamp
                  %p 1 hour ago
              %li.message-block
                .large-1.columns.avatar
                  = image_tag "http://hummingbird.ly/system/users/avatars/000/000/002/thumb/avatar.jpg?1362317029", :class => "avatar-image"
                .large-11.columns.message.current-user
                  %span.name= link_to "JoshFabian", "#"
                  %p Sorry, not sure what you mean by structure?
                .large-1.columns.time-stamp
                  %p 1 hour ago
              %li.message-block
                .large-1.columns.avatar
                  = image_tag "http://hummingbird.ly/system/users/avatars/000/000/001/thumb/av.jpg?1362343675", :class => "avatar-image"
                .large-11.columns.message
                  %span.name= link_to "Vikhyat", "#" 
                  %p I can't figure out the HTML/CSS.
                .large-1.columns.time-stamp
                  %p 1 hour ago
              %li.message-block
                .large-1.columns.avatar
                  = image_tag "http://hummingbird.ly/system/users/avatars/000/000/001/thumb/av.jpg?1362343675", :class => "avatar-image"
                .large-11.columns.message
                  %span.name= link_to "Vikhyat", "#" 
                  %p You around?
                .large-1.columns.time-stamp
                  %p 1 hour ago
              %li.message-block
                .large-1.columns.avatar
                  = image_tag "http://hummingbird.ly/system/users/avatars/000/000/002/thumb/avatar.jpg?1362317029", :class => "avatar-image"
                .large-11.columns.message.current-user
                  %span.name= link_to "JoshFabian", "#"
                  %p Yep, stuck here for the next 4 hours.
                .large-1.columns.time-stamp
                  %p 1 hour ago
              %li.message-block
                .large-1.columns.avatar
                  = image_tag "http://hummingbird.ly/system/users/avatars/000/000/001/thumb/av.jpg?1362343675", :class => "avatar-image"
                .large-11.columns.message
                  %span.name= link_to "Vikhyat", "#" 
                  %p What kind of structure would I need to get something similar to the Hipchat web chat interface
                .large-1.columns.time-stamp
                  %p 1 hour ago
              %li.message-block
                .large-1.columns.avatar
                  = image_tag "http://hummingbird.ly/system/users/avatars/000/000/002/thumb/avatar.jpg?1362317029", :class => "avatar-image"
                .large-11.columns.message.current-user
                  %span.name= link_to "JoshFabian", "#"
                  %p Sorry, not sure what you mean by structure?
                .large-1.columns.time-stamp
                  %p 1 hour ago
              %li.message-block
                .large-1.columns.avatar
                  = image_tag "http://hummingbird.ly/system/users/avatars/000/000/001/thumb/av.jpg?1362343675", :class => "avatar-image"
                .large-11.columns.message
                  %span.name= link_to "Vikhyat", "#" 
                  %p I can't figure out the HTML/CSS.
                .large-1.columns.time-stamp
                  %p 1 hour ago
              
              
    .large-2.columns.onlineUsers
      %h4 Online Users
      %p Loading...
  
  .row
    .large-10.columns
      %form.sendMessage
        .row.collapse
          .small-12.columns
            .small-10.columns
              %input.message(type="text")
            .small-2.columns
              %input.button.prefix(type="submit" value="send")

:coffee
  onlineUsersTemplate = Hogan.compile "
    <h4>Online Users</h4>
    <ul>
      {{#user}}
        <li><a href='{{url}}'>{{name}}</a></li>
      {{/user}}
    </ul>"
  ping = ->
    $.getJSON "/chat/ping", (d) ->
      $(".onlineUsers").html onlineUsersTemplate.render {user: d}
  ping()
  setInterval ping, 8000

  $("form.sendMessage").submit ->
    console.log $("input.message").val()
    return false
 
