- title "Login"

.login-register-card
  .row
    .large-8.columns.large-centered
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .panel.login-box
          %span.login-title Welcome back, we missed you!
          .input-wrap
            .login-input-wrap
              = image_tag "icons/input-arrow.png", :style => "width: 4px; height: 7px;"
              = f.email_field :email, class: 'login-input'
              %span.login-input-ghost E-Mail Address
            .input-hor-divider
            .login-input-wrap
              = image_tag "icons/input-arrow.png", :style => "width: 4px; height: 7px;"
              = f.password_field :password, class: 'login-input'
              %span.login-input-ghost Password
          = f.submit "LOGIN", id: 'login', class: 'login-button'
        
          .password-reset
            = link_to "Forgot your password?", new_password_path(resource_name)
          %span.login-title-small OR, SIGN IN WITH
          = link_to omniauth_authorize_path(resource_name, :facebook) do
            .social-buttons
              #fb-signin.fb-button
                = image_tag "icons/fb-logo.png"
                %span FACEBOOK
          .no-account.large-12.columns
            = render "devise/shared/links"
