%h1= @anime.title

%p Age rating: #{@anime.age_rating}
%p Episode count: #{@anime.episode_count}
%p Episode length: #{@anime.episode_length}
%p Status: #{@anime.status}
%p Synopsis: #{@anime.synopsis}

%h3 Quotes

- @anime.quotes.each do |quote|
  %blockquote
    = quote.content
    —
    = quote.character.name

%h3 Youtube Video

%iframe{:width => 560, :height => 315, :frameborder => 0, :allowfullscreen => true, :src => "http://www.youtube.com/embed/#{@anime.youtube_video_id}"}
