<h2>Mobile Apps</h2>
<div class="block-grid-md-2 block-grid-sm-1">
  {{#each mobileApps as |app|}}
    <div class="block-grid-item">
      <div class="app-card">
        <div class="app-inner">
          <h3 class="app-title">{{app.name}} <span class="app-type">{{app.platform}}</span></h3>
          {{#each app.author as |author|}}
            <small class="app-author">by  <a {{bind-attr href=author.link}}>{{author.name}}</a></small>
          {{/each}}
          <hr>
          <p class="app-desc">{{app.desc}}</p>

          <div class="app-link">
            {{#each app.links as |link|}}
              <a {{bind-attr href=link.link}}>{{link.name}}</a>
            {{/each}}
          </div>
          <div class="app-screens block-grid-md-2 block-grid-sm-1">
            {{#each app.screenshots as |screenshot|}}
              <div class="block-grid-item">
                <img src="{{unbound screenshot}}">
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<hr>
<h2>Desktop Apps</h2>
<div class="block-grid-md-2 block-grid-sm-1">
  {{#each desktopApps as |app|}}
    <div class="block-grid-item">
      <div class="app-card">
        <div class="app-inner">
          <h3 class="app-title">{{app.name}} <span class="app-type">{{app.platform}}</span></h3>
          {{#each app.author as |author|}}
            <small class="app-author">by  <a {{bind-attr href=author.link}}>{{author.name}}</a></small>
          {{/each}}
          <hr>
          <p class="app-desc">{{app.desc}}</p>

          <div class="app-link">
            {{#each app.links as |link|}}
              <a {{bind-attr href=link.link}}>{{link.name}}</a>
            {{/each}}
          </div>
          <div class="app-screens block-grid-sm-1">
            {{#each app.screenshots as |screenshot|}}
              <div class="block-grid-item">
                <img src="{{unbound screenshot}}">
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
