<ul class="series-metadata">
  <li>{{mangaType}}</li>
  <li>
    {{#if volumeCount}}
      {{volumeCount}}
    {{else}}
      ?
    {{/if}}
    volumes
  </li>
  <li>
    {{#if chapterCount}}
      {{chapterCount}}
    {{else}}
      ?
    {{/if}}
    chapters
  </li>
</ul>
