<h1>Sign Up</h1>

{{#if errorMessage}}
  <alert-box type="alert" closable=false>
    {{errorMessage}}
  </alert-box>
{{/if}}

<form {{action 'createAccount' on='submit'}}>
  {{! email input }}
  <label for="email">Email</label>
  {{input value=email placeholder="Email" type="email"}}

  {{! username input}}
  <label for="username">Username</label>
  {{input value=username placeholder="Username"}}
  {{#if (and username errors.username)}}
    <alert-box type="alert" closable=false>
      Username {{errors.username.[0]}}
    </alert-box>
  {{/if}}

  {{! password input }}
  <label for="password">Password</label>
  {{input value=password placeholder="Password" type="password"}}
  {{#if (and password errors.password)}}
    <alert-box type="alert" closable=false>
      Password {{errors.password.[0]}}
    </alert-box>
  {{/if}}

  <button type="submit" disabled={{isSubmitDisabled}}>Sign Up</button>
</form>
