<h1>Sign Up</h1>

{{#if errorMessage}}
  <alert-box type="alert" closable=false>
    {{errorMessage}}
  </alert-box>
{{/if}}

<form {{action 'createAccount' on='submit'}}>
  {{! email input }}
  <label for="email">Email</label>
  {{one-way-input value=model.email placeholder="Email" type="email"
    update=(action (mut model.email))}}
  {{#if (and model.email errors.model.email)}}
    <alert-box type="alert" closable=false>
      Email {{errors.model.email.[0]}}
    </alert-box>
  {{/if}}

  {{! username input}}
  <label for="username">Username</label>
  {{one-way-input value=model.name placeholder="Username"
    update=(action (mut model.name))}}
  {{#if (and model.name errors.model.name)}}
    <alert-box type="alert" closable=false>
      Username {{errors.model.name.[0]}}
    </alert-box>
  {{/if}}

  {{! password input }}
  <label for="password">Password</label>
  {{one-way-input value=model.password placeholder="Password" type="password"
    update=(action (mut model.password))}}
  {{#if (and model.password errors.model.password)}}
    <alert-box type="alert" closable=false>
      Password {{errors.model.password.[0]}}
    </alert-box>
  {{/if}}

  <button type="submit" disabled={{isSubmitDisabled}}>Sign Up</button>
</form>
