<h2 class="series-title hidden-xs">
  {{romajiTitle}}
  {{#if englishTitle}}
    <small>
      {{#bootstrap-tooltip title=englishTitle placement="right"}}
        <i class="fa fa-question-circle"></i>
      {{/bootstrap-tooltip}}
    <small>
  {{/if}}
</h2>

<div class="hidden-xs">
  {{partial "manga/infobar"}}
</div>

<div class="series-description hidden-xs">
  <p>{{truncate-text text=synopsis length=500}}</p>
</div>

<div class="info-tabs">
  <ul class="nav nav-tabs">
    <li {{bind-attr class="showGenres:active"}}>
      <a {{action "switchTo" "Genres"}}> Genres</a>
    </li>
    <li {{bind-attr class="showCharacters:active"}}>
      <a {{action "switchTo" "Characters"}}> Characters</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active genre-tab">
      <div {{bind-attr class=":slider showGenres::hidden"}}>
        {{#each genre in genres}}
          <span class="badge">{{genre}}</span>
        {{/each}}
      </div>
      <div {{bind-attr class=":slider showCharacters::hidden"}}>
        {{partial "manga/characters"}}
      </div>
    </div>
  </div>
</div>
