- last_post = @last_post_and_count[topic.id][0]

.topic{:class => ('ninja-ban' if user_signed_in? and current_user.admin? and topic.user.ninja_banned?)}
  .large-1.columns.avatar.hide-for-small
    = avatar_link last_post.user, :thumb_small
  .large-10.columns.topic-info
    .topic-title
      = link_to topic.subject, forem.forum_topic_path(topic.forum, topic)

    %p.sub-text
      = distance_of_time_in_words_to_now(topic.last_post_at)
      ago by
      = link_to last_post.user.name, main_app.user_path(last_post.user)
      to
      = link_to topic.forum.title, forem.forum_path(topic.forum)
      
  .large-1.columns.comment-count
    %p
      - if topic.pinned?
        %i.fa.fa-thumb-tack
      - elsif topic.locked?
        %i.fa.fa-lock
      - else
        %i.fa.fa-comments
      
      - unless topic.locked?
        = @last_post_and_count[topic.id][1] - 1

