- title "#{@topic.subject}"
.community
  .row
    .large-12.columns
      = render partial: "shared/forem_sidebar", locals: {active_forum: @forum}
      .forum-container.large-9.columns
        .row
          %header.cf
            .large-12.columns
              %h3.forum-title
                %i.fa.fa-chevron-left
                = link_to @forum.name, forem.forum_path(@forum)
        - if forem_admin?
          .row
            .panel(style="margin-bottom: 0")
              %p 
                = link_to t(".lock.#{@topic.locked}"), forem.toggle_lock_admin_topic_path(@topic), :method => :put
                |
                = link_to t(".pin.#{@topic.pinned}"), forem.toggle_pin_admin_topic_path(@topic), :method => :put
        .row
          .discussions.large-12.columns
            - if @topic.pending_review?
              .row.moderation-message
                #topic_moderation.moderation
                  = t(".pending_review")
                  - if forem_admin_or_moderator?(@topic.forum)
                    = form_for @topic, :url => forem.moderate_forum_topic_path(@topic.forum, @topic), :method => :put do |f|
                      = render "forem/moderation/options", :f => f
            .topic-view
              .large-1.columns.avatar.hide-for-small
                = avatar_link @topic.user, :thumb_small
              .large-11.columns.topic-info
                .topic-title= link_to @topic.subject, forem.forum_topic_path(@topic.forum, @topic)
                %p.sub-text 
                  = distance_of_time_in_words_to_now(@topic.created_at)
                  ago by
                  = link_to @topic.user, main_app.user_path(@topic.user)
                  to
                  = link_to @topic.forum.title, forem.forum_path(@topic.forum)
                - if @topic.locked?
                  .right
                    %i.fa.fa-lock.fa-2x
                - if @topic.pinned?
                  .right
                    %i.fa.fa-thumb-tack.fa-2x
                %p.topic-body= forem_format @first_post.text
      .forum-container.replies.large-9.columns
        - if params[:page].nil? or params[:page].to_i == 1 and @posts.length > 0
          %p.pagination-centered= paginate @posts
          = render @posts[1..-1]
        - else
          = render @posts
        %p.pagination-centered= paginate @posts
