.community
  .row
    .twelve.columns
      .forum-sidebar.three.columns
        %ul
          %li
            %span= link_to "Hummingbird Discussion", "#"
          %li
            %span= link_to "Bug Discussion", "#"
          %li
            %span= link_to "General Discussion", "#"
          %li
            %span= link_to "Anime Discussion", "#"
          %li
            %span= link_to "Manga Discussion", "#"

      .forum-container.nine.columns
        .row
          %header.cf
            .nine.columns
              %h3.forum-title <i class="icon-chevron-left"></i> <a href="#">Anime Discussion</a>
            .three.columns
              - if !@topic.subscriber?(forem_user.id)
                %span.button= link_to "Subscribe", forem.subscribe_forum_topic_path(@forum, @topic)
              - else
                %span.button.active= link_to "Unsubscribe", forem.unsubscribe_forum_topic_path(@forum, @topic)
        .row
          .discussions.twelve.columns
            - if @topic.pending_review?
              .row.moderation-message
                #topic_moderation.moderation
                  = t(".pending_review")
                  - if forem_admin_or_moderator?(@topic.forum)
                    = form_for @topic, :url => forem.moderate_forum_topic_path(@topic.forum, @topic), :method => :put do |f|
                      = render "forem/moderation/options", :f => f
            .topic-view
              .one.columns.avatar
                = image_tag "http://hummingbird.ly/system/users/avatars/000/000/085/thumb/picture?1362864710"
              .eleven.columns.topic-info
                .topic-title= link_to "What do you think is the most depressing/haunting anime scene ever?"
                %p.sub-text about 30 minutes ago by <a href="#">Lakros</a> to <a href="#">Anime Discussion</a>
                %p.topic-body Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
              .row
                .toolbar
                  %ul
                    %li.reply-button 
                      <i class="icon-reply"></i> <a href="#{forem.new_topic_post_path(@topic)}">Reply</a>
                    %li.quote-button 
                      <i class="icon-quote-left"></i> <a href="#">Quote</a>
                    %li.edit-button 
                      <i class="icon-pencil"></i> <a href="#">Edit</a>
                    %li.delete-button 
                      <i class="icon-trash"></i> <a href="#">Delete</a>
        .reply-header.twelve.columns
          %h3 36 Replies
      .forum-container.replies.nine.columns
        .topic-reply.row
          .discussions.twelve.columns
            .topic-view
              .one.columns.avatar
                = image_tag "http://hummingbird.ly/system/users/avatars/000/000/085/thumb/picture?1362864710"
              .eleven.columns.topic-info
                .username= link_to "Username"
                %p.sub-text about 30 minutes ago
                %p.topic-body Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              .row
                .toolbar
                  %ul
                    %li.reply-button 
                      <i class="icon-reply"></i> <a href="#{forem.new_topic_post_path(@topic)}">Reply</a>
                    %li.quote-button 
                      <i class="icon-quote-left"></i> <a href="#">Quote</a>
                    %li.edit-button 
                      <i class="icon-pencil"></i> <a href="#">Edit</a>
                    %li.delete-button 
                      <i class="icon-trash"></i> <a href="#">Delete</a>
        .topic-reply.row
          .discussions.twelve.columns
            .topic-view
              .one.columns.avatar
                = image_tag "http://hummingbird.ly/system/users/avatars/000/000/085/thumb/picture?1362864710"
              .eleven.columns.topic-info
                .username= link_to "Username"
                %p.sub-text about 30 minutes ago
                %p.topic-body Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              .row
                .toolbar
                  %ul
                    %li.reply-button 
                      <i class="icon-reply"></i> <a href="#{forem.new_topic_post_path(@topic)}">Reply</a>
                    %li.quote-button 
                      <i class="icon-quote-left"></i> <a href="#">Quote</a>
                    %li.edit-button 
                      <i class="icon-pencil"></i> <a href="#">Edit</a>
                    %li.delete-button 
                      <i class="icon-trash"></i> <a href="#">Delete</a>

        .topic-reply.row
          .discussions.twelve.columns
            .topic-view
              .one.columns.avatar
                = image_tag "http://hummingbird.ly/system/users/avatars/000/000/085/thumb/picture?1362864710"
              .eleven.columns.topic-info
                .username= link_to "Username"
                %p.sub-text about 30 minutes ago
                %p.topic-body Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              .row
                .toolbar
                  %ul
                    %li.reply-button 
                      <i class="icon-reply"></i> <a href="#{forem.new_topic_post_path(@topic)}">Reply</a>
                    %li.quote-button 
                      <i class="icon-quote-left"></i> <a href="#">Quote</a>
                    %li.edit-button 
                      <i class="icon-pencil"></i> <a href="#">Edit</a>
                    %li.delete-button 
                      <i class="icon-trash"></i> <a href="#">Delete</a>



/ <div id='topic' class='#{'un' unless @topic.locked?}locked'>
/ #{render :partial => 'forem/topics/head', :locals => { :topic => @topic }}
/ %menu
/   - if @topic.can_be_replied_to? && can?(:reply, @topic)
/     = link_to t(".reply"), forem.new_topic_post_path(@topic)
/   - if @topic.user == forem_user || forem_admin?
/     = link_to t(".delete"), forem.forum_topic_path(@forum, @topic), :method => :delete, :confirm => t("are_you_sure")
/   - if forem_user
/     - if !@topic.subscriber?(forem_user.id)
/       = link_to t(".subscribe"), forem.subscribe_forum_topic_path(@forum, @topic)
/     - else
/       = link_to t(".unsubscribe"), forem.unsubscribe_forum_topic_path(@forum, @topic)
/ - if forem_admin?
/   = link_to t(".hide.#{@topic.hidden}"), forem.toggle_hide_admin_topic_path(@topic), :method => :put
/   |
/   \#{link_to t(".lock.#{@topic.locked}"), forem.toggle_lock_admin_topic_path(@topic), :method => :put} |
/   \#{link_to t(".pin.#{@topic.pinned}"), forem.toggle_pin_admin_topic_path(@topic), :method => :put}
/ - if @topic.pending_review?
/   #topic_moderation.moderation
/     = t(".pending_review")
/     - if forem_admin_or_moderator?(@topic.forum)
/       = form_for @topic, :url => forem.moderate_forum_topic_path(@topic.forum, @topic), :method => :put do |f|
/         = render "forem/moderation/options", :f => f
/ = forem_pages_widget(@posts)
/ #posts
/   = render :partial => "forem/posts/post", :collection => @posts
/ = forem_pages_widget(@posts)
