{{#link-to 'reviews.show' id}}
  <div class="review rounded-block">
    <div class="reviewer-thumb-wrapper hidden-xs">
      {{avatar user 'thumb'}}
    </div>
    <div class="reviewer-name-wrapper">
      <h4 class="reviewer-name">
        <span class="subtext"> review by</span>
        {{user.username}}
      </h4>
      <span class="review-stars">
        {{stars rating}}
      </span>
      <p class="review-summary">{{summary}}</p>
      <p class="review-likes">
        {{positiveVotes}} out of {{totalVotes}} users found this review helpful.
      </p>
    </div>
  </div>
{{/link-to}}
