<style>.global-footer { display: none }</style>

<div class="media-browse">
  <div class="media-grid columns">
    {{! TODO: Componentize }}
    <div class="filter-options">
      <div class="filter-wrapper">
        {{! Date Range }}
        <div class="filter-widget">
          <div class="filter-header">
            <label class="filter-title">Year</label>
            <span class="filter-values">{{year.[0]}} - {{year.[1]}}</span>
          </div>
          {{foundation-slider
              start=1914 end=2016 step=1
              initialStart=year.[0] initialEnd=year.[1]
              doubleSided=true
              decimal=0
              onUpdate=(action (mut year))
              onRelease=(route-action "refresh")}}
          <div class="filter-legend">
            <div class="low-value">1914</div>
            <div class="high-value">2016</div>
          </div>
        </div>

        {{! Rating }}
        <div class="filter-widget">
          <div class="filter-header">
            <label class="filter-title">Avg. Score</label>
            <span class="filter-values">{{averageRating.[0]}} - {{averageRating.[1]}}</span>
          </div>
          {{foundation-slider
              start=0.5 end=5.0 step=0.5
              initialStart=averageRating.[0] initialEnd=averageRating.[1]
              doubleSided=true
              decimal=1
              onUpdate=(action (mut averageRating))
              onRelease=(route-action "refresh")}}
          <div class="filter-legend">
            <div class="low-value">
              {{fa-icon "star-half-o"}}
            </div>
            <div class="high-value">
              {{#each (repeat 5) as |_|}}
                {{fa-icon "star"}}
              {{/each}}
            </div>
          </div>
        </div>

        {{! Where to Watch }}
        <div class="filter-widget">
          <div class="filter-header">
            <label class="filter-title">Streaming (U.S.)</label>
            <span class="filter-values">{{streamers.length}}</span>
          </div>
          {{#box-select
              class="box-select"
              selection=(to-lower (map-by "siteName" model.streamers))
              selected=streamers
              onSelect=(action (mut streamers)) as |option|}}
            <span class={{option}}></span>
          {{/box-select}}
        </div>

        {{! Episodes }}
        <div class="filter-widget">
          <div class="filter-header">
            <label class="filter-title">Episodes</label>
            <span class="filter-values">{{episodeCount.[0]}} - {{episodeCount.[1]}}</span>
          </div>
          {{foundation-slider
              start=1 end=1000 step=1
              initialStart=episodeCount.[0] initialEnd=episodeCount.[1]
              doubleSided=true
              decimal=0
              onUpdate=(action (mut episodeCount))
              onRelease=(route-action "refresh")}}
          <div class="filter-legend">
            <div class="low-value">1</div>
            <div class="high-value">∞</div>
          </div>
        </div>

        {{! Age Rating }}
        <div class="filter-widget">
          <div class="filter-header">
            <label class="filter-title">Rating</label>
            <span class="filter-values">{{ageRating.length}}</span>
          </div>
          {{#box-select
              class="rating-select"
              selection=model.ageRatings
              selected=ageRating
              onSelect=(action (mut ageRating)) as |option|}}
            {{option}}
          {{/box-select}}
        </div>

        {{! Genres }}
        <div class="filter-widget">
          <div class="filter-header">
            <label class="filter-title">Categories</label>
            <span class="filter-values">{{genres.length}}</span>
          </div>
          {{#box-select
              class="category-select"
              selection=(map-by "name" model.genres)
              selected=genres
              onSelect=(action (mut genres)) as |option|}}
            <a href="#">{{option}}</a>
          {{/box-select}}
        </div>
      </div>
    </div>

    <div class="search-media">
      {{fa-icon "search"}}
      {{one-way-input
          type="search"
          update=(route-action "updateText")
          placeholder="Search by title, director, studio, or voice actor"}}
    </div>
    <div class="media-posters">
      <div class="row">
        {{#each model.media as |anime|}}
          {{media-poster-summary media=anime}}
        {{/each}}
      </div>

      {{scrolling-paginator
          model=model.media
          update=(route-action "updateNextPage")}}
    </div>
  </div>
</div>