<style>.global-footer {display: none;}</style>
<div class="media-browse">
  <div class="media-grid columns">
    <div class="filter-options">
      <div class="filter-wrapper">
        <!-- Date Range Filter -->
        <div class="filter-widget">
          <div class="filter-header">
            <label class="filter-title">Year</label>
            <span class="filter-values">{{years.[0]}} - {{years.[1]}}</span>
          </div>
          {{foundation-slider start=1914 end=2016
                              initialStart=years.[0] initialEnd=years.[1]
                              doubleSided=true decimal=0
                              onUpdate=(action 'setRange' 'year')
                              onRelease=(action 'setRangeAndReload' 'year')}}
          <div class="filter-legend">
            <div class="low-value">
              1914
            </div>
            <div class="high-value">
              2016
            </div>
          </div>
          <button class="expanded dropdown button" data-toggle="timeframe-dropdown">Using slider</button>
          <div class="dropdown-pane" id="timeframe-dropdown" data-dropdown data-auto-focus="true">
            <ul>
              <li><a href="#">Test</a></li>
            </ul>
          </div>
        </div>

        <!-- Rating Filter -->
         <div class="filter-widget">
          <div class="filter-header">
            <label class="filter-title">Avg. Score</label>
            <span class="filter-values">{{ratings.[0]}} - {{ratings.[1]}}</span>
          </div>
          {{foundation-slider start=0.5 end=5.0 step=0.5
                              initialStart=ratings.[0] initialEnd=ratings.[1]
                              doubleSided=true decimal=1
                              onUpdate=(action 'setRange' 'averageRating')
                              onRelease=(action 'setRangeAndReload' 'averageRating')}}
          <div class="filter-legend">
            <div class="low-value">
              <i class="fa fa-star-half-o"></i>
            </div>
            <div class="high-value">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>

        <!-- Where to Watch Filter -->
         <div class="filter-widget">
          <div class="filter-header">
            <label class="filter-title">Streaming (U.S.)</label>
            <span class="filter-values">{{streamersCount}}</span>
          </div>
          {{box-select class="box-select"
                       choices=availableStreamers
                       chosen=streamersArray
                       onSet=(action 'setArray' 'streamers')}}
          <div class="language-select">
            <input id="subbed" type="checkbox" checked="checked"><label for="subbed">Subbed</label>
            <input id="dubbed" type="checkbox" checked="checked"><label for="dubbed">Dubbed</label>
          </div>
        </div>


        <!-- Episode Filter -->
         <div class="filter-widget">
          <div class="filter-header">
            <label class="filter-title">Episodes</label>
            <span class="filter-values">{{episodeCountArray.[0]}} - {{episodeCountArray.[1]}}</span>
          </div>
          {{foundation-slider start=1 end=1000 step=1
                              initialStart=episodeCountArray.[0]
                              initialEnd=episodeCountArray.[1]
                              doubleSided=true decimal=0
                              onUpdate=(action 'setRange' 'episodeCount')
                              onRelease=(action 'setRangeAndReload' 'episodeCount')}}
          <div class="filter-legend">
            <div class="low-value">
              1
            </div>
            <div class="high-value">
              ∞
            </div>
          </div>
        </div>


        <!-- Rating Filter -->
         <div class="filter-widget">
          <div class="filter-header">
            <label class="filter-title">Rating</label>
            <span class="filter-values">{{ageRatingsCount}}</span>
          </div>
          {{box-select class="rating-select"
                       choices=availableAgeRatings
                       chosen=ageRatingsArray
                       onSet=(action 'setArray' 'ageRating')}}
        </div>



        <!-- Categories Filter -->
         <div class="filter-widget">
          <div class="filter-header">
            <label class="filter-title">Categories</label>
            <span class="filter-values">{{genresCount}}</span>
          </div>
          {{box-select class="category-select"
                       choices=availableGenres
                       chosen=genresArray
                       onSet=(action 'setArray' 'genres')}}
        </div>
      </div>
    </div>


    <div class="search-media">
      <i class="fa fa-search"></i>
      {{one-way-input
        type=search
        update=(action 'filterText')
        placeholder="Search by title, director, studio or voice actor"}}
    </div>
    <div class="media-posters">
      <div class="row">
        {{#each media as |anime|}}
          {{! TODO: Componentize }}
          <div class="poster-wrapper">
            <div class="grid-poster">
              <img src="http://localhost:3000{{anime.posterImage}}">
              <div class="poster-overlay">
                <div class="shared-friends">
                  <a href="#" class="friend-avatar"><img src="https://static.hummingbird.me/users/avatars/000/044/425/thumb_small/tumblr_mjf1jtHNm61s7110mo1_250.jpg?1440141803"></a>
                  <a href="#" class="friend-count">03</a>
                </div>
                <div class="trailer">
                  <a data-open="media-trailer"><i class="fa fa-play"></i></a>
                </div>
              </div>
            </div>
            <div class="ellipsis">
              <a href="#" class="media-title">{{anime.canonicalTitle}}</a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>


<!-- Trailer modal -->
<div class="reveal media-trailer" id="media-trailer" data-reveal>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <iframe width="100%" height="520" src="https://www.youtube.com/embed/K2Qs-S2huTo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  <div class="trailer-info">
    <div class="info-header">
      <h4>Fullmetal Alchemist: Brotherhood</h4>
      <ul class="type-tags">
        <li>TV</li>
        <li>PG-13</li>
        <li class="average-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i>
        </li>
      </ul>
    </div>

  </div>
</div>

<script>
  $(document).scroll(function(){
    if ($(document).scrollTop() >= 51) {
      $('.filter-options').addClass('scrolled');
      $('.search-media').addClass('scrolled');     
    }
    else { 
      $('.filter-options').removeClass('scrolled');
      $('.search-media').removeClass('scrolled'); 
    }
  });
</script>
