{{#each featuredQuotes as |quote|}}
  <div class="quote">
    <p>"{{quote.content}}"</p>
    <span class="quote-author">- {{quote.characterName}}</span>
    <div class="quote-like-box">
      <span class="like-button">
        <a {{action "toggleQuoteFavorite" quote}}>
          {{#if quote.isFavorite}}
            <i class="fa fa-heart active"></i> Liked!
          {{else}}
            <i class="fa fa-heart"></i> Like?
          {{/if}}
        </a>
      </span>
      <span class="quote-divider"></span>
      <span class="total-likes">
        {{pluralize quote.favoriteCount "Like" "Likes"}}
      </span>
    </div>
  </div>
{{/each}}
