<ul class="series-metadata">
  <li>{{model.showType}}</li>
  <li {{bind-attr title=ageRatingGuide}}>{{model.ageRating}}</li>
  <li>
    {{model.displayEpisodeCount}} episodes
  </li>
  <li>
    {{#if model.episodeLength}}
      {{model.episodeLength}}
    {{else}}
      ?
    {{/if}}
    min
  </li>
  <li>{{model.formattedAirDates}}</li>
</ul>
