{{!-- Background Image --}}
{{#if coverImage}}
  <div class="bg-image-wrapper series" {{bind-attr style=coverImageStyle}}></div>
{{/if}}
<div class="wrapper-fade"></div>

{{!-- Library Container --}}
{{!-- bg-image when there is a background image, no-bg-image when there isn't. --}}
<div {{bind-attr class=":container coverImage:bg-image:no-bg-image"}}>
  {{!-- Library Table Row --}}
  <div class="row">
    <div class="top-buttons">
      <ul class="left-buttons">
        <li>
          <div class="btn-group">
            <button {{bind-attr class=":btn :btn-default :dropdown-toggle :top-button libraryStatus:active"}} type="button" data-toggle="dropdown">
              {{#if libraryEntry.status}}
                {{libraryEntry.status}}
              {{else}}
                add to library
              {{/if}}
            </button>
            <ul class="dropdown-menu">
              <li><a {{action setLibraryStatus "Currently Watching"}}>Currently Watching</a></li>
              <li><a {{action setLibraryStatus "Plan to Watch"}}>Plan to Watch</a></li>
              <li><a {{action setLibraryStatus "Completed"}}>Completed</a></li>
              <li><a {{action setLibraryStatus "On Hold"}}>On Hold</a></li>
              <li><a {{action setLibraryStatus "Dropped"}}>Dropped</a></li>
              <li><a {{action removeFromLibrary}}>Remove from Library</a></li>
            </ul>
          </div>
        </li>
        {{#if libraryEntry.status}}
          <li>
            <button type="button" {{bind-attr class=":btn :btn-default :top-button :heart libraryEntry.isFavorite:active"}} {{action toggleFavorite}}>
              <i {{bind-attr class=":fa libraryEntry.isFavorite:fa-heart:fa-heart-o"}}></i>
            </button>
          </li>
        {{/if}}
      </ul>
      <ul class="right-buttons">
        <li>
          {{#if currentUser.isSignedIn}}
            <button {{bind-attr class=":btn :btn-default :top-button isDirty:active"}} {{action openModal 'EditAnime' this}}><i class='fa fa-pencil'></i></button>
          {{/if}}
        </li>
      </ul>
    </div>
    <div class="gallery hidden-xs">
      {{#if youtubeVideoId}}
        <div class="trailer hidden-sm">
          <a {{action openModal 'Youtube' this}}>
            <div class="play-icon"><i class="fa fa-play fa-4x"></i></div>
            <img width="100%" height="auto" {{bind-attr src=trailerPreviewImage}}>
          </a>
        </div>
      {{/if}}

      <ul class="gallery-images">
        {{#each imageURL in screencaps}}
          <li class="gallery-image"><img {{bind-attr src=imageURL}}></li>
        {{/each}}
      </ul>
    </div>
    <div class="series-body">
      <div class="panel panel-default series-panel">
        <div class="series-sidebar">
          <div class="series-title-wrapper hidden-sm hidden-md hidden-lg">
            <h4 class="series-title">{{canonicalTitle}}</h4>
          </div>

          <div class="poster-container">
            <img class="series-poster" {{bind-attr src=posterImage}}>
          </div>

          <div class="series-infobar hidden-sm hidden-md hidden-lg">{{partial "anime/infobar"}}</div>
          <div class="sidebar-copy">
            <div class="series-description hidden-sm hidden-md hidden-lg">
              <p>{{truncate-text text=synopsis length=500}}</p>
            </div>
          </div>

          <div class="personal-rating active">
          </div>
          {{!--
            <h5 class="sidebar-title text-center">Your Rating</h5>
            <!-- Star Rating -->
            <ul class="star-rating">
              <li class="star"><i class="fa fa-star"></i></li>
              <li class="star"><i class="fa fa-star"></i></li>
              <li class="star"><i class="fa fa-star"></i></li>
              <li class="star"><i class="fa fa-star-half-o"></i></li>
              <li class="star"><i class="fa fa-star-o"></i></li>
            </ul>
          </div>
          --}}

          {{#if bayesianRating}}
            <div class="community-rating">
              <h5 class="sidebar-title text-center">Community Rating: {{roundedBayesianRating}}</h5>
              {{community-rating communityRatings}}
            </div>
          {{/if}}

          <div id="affiliate" class="buy-series">
            <h5 class="sidebar-title">Where to Buy</h5>
            <div class="affiliate-button">
              <a href="#"><img src="http://hummingbird.me/assets/jlist-936b9137d45e73fb901ef36592fb840e.png"></a>
            </div>
            <div class="affiliate-button">
              <a href="#"><img src="http://hummingbird.me/assets/amazon-217b6b780588b2293069a5778925a2f4.png"></a>
            </div>
            <hr>
          </div>

          {{!--
          <div id="affiliate" class="watch-series">
            <h5 class="sidebar-title">Where to Watch</h5>
            <div class="affiliate-button">
              <a href="#"><img src="http://cl.ly/image/3T34020P1h0f/hulu.png"></a>
            </div>
          </div>

          <div class="current-watching hidden-xs">
            <h5 class="sidebar-title">Currently Watching</h5>
            <div class="related-user-wrapper">
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/000/001/thumb_small/av.jpg?1383103791"></a>
                <span class="overlay"></span>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/017/742/thumb/tewi.jpg?1383369463"></a>
                <span class="overlay"></span>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/015/510/thumb_small/Kurapika's_Judgement_Chain_Resized.gif?1383345464"></a>
                <span class="overlay"></span>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/018/229/thumb/Excalibur_Poster.jpg?1382542336"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/013/405/thumb/Izayoi_Face.jpg?1383382546"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/003/660/thumb_small/3660-erikaav-2.gif?1380293586"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/002/186/thumb_small/vlcsnap-2013-10-31-19h44m40s41.png?1383269579"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/005/425/thumb/Saber_vs._Lancer.gif?1383286920"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/007/884/thumb/orly.gif?1381872582"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/005/097/thumb/Dance.gif?1382799146"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/010/314/thumb/neosignal.jpg?1382241023"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/006/330/thumb/TuxAv.png?1381784629"></a>
              </div>
              <span class="additional-users">+ 459 others</span>
            </div>
          </div> --}}
        </div>

        <div class="series-content">
          <h2 class="series-title hidden-xs">
            {{canonicalTitle}}
            {{#if alternateTitle}}
              <small>{{#bootstrap-tooltip title=alternateTitle placement="right"}}<i class="fa fa-question-circle"></i>{{/bootstrap-tooltip}}</small>
            {{/if}}
          </h2>
          <div class="hidden-xs">{{partial "anime/infobar"}}</div>
          <div class="series-description hidden-xs">
            <p>{{truncate-text text=synopsis length=500}}</p>
          </div>
          <div class="info-tabs">
            <ul class="nav nav-tabs">
              <li {{bind-attr class="showGenres:active"}}><a href="javascript:void(0)" {{action switchTo "Genres"}}>Genres</a></li>
              <li class="hidden-xs" {{bind-attr class="showFranchise:active"}}><a href="javascript:void(0)" {{action switchTo "Franchise"}}>Franchise</a></li>
              {{#unless notYetAired}}
                <li class="hidden-xs" {{bind-attr class="showQuotes:active"}}><a href="javascript:void(0)" {{action switchTo "Quotes"}}>Quotes</a></li>
              {{/unless}}
              <li {{bind-attr class=":dropdown showCast:active"}}>
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Cast <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {{#each language in languages}}
                    <li><a href="javascript:void(0)" {{action setLanguage language}}>{{language}}</a></li>
                  {{/each}}
                </ul>
              </li>
              {{!-- <!-- more drop-down -->
              <li {{bind-attr class=":dropdown showCast:active"}}>
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {{#each language in languages}}
                    <li><a href="javascript:void(0)" {{action setLanguage language}}>{{language}}</a></li>
                  {{/each}}
                </ul>
              </li> --}}

              <li class="hidden-xs" {{bind-attr class="showStudios:active"}}><a href="javascript:void(0)" {{action switchTo "Studios"}}>Studios</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active genre-tab">
                {{#if showGenres}}
                  {{partial "anime/genres"}}
                {{/if}}
                {{#if showFranchise}}
                  {{partial "anime/franchise"}}
                {{/if}}
                {{#if showQuotes}}
                  {{partial "anime/featured_quotes"}}
                {{/if}}
                {{#if showCast}}
                  {{partial "anime/cast"}}
                {{/if}}
                {{#if showStudios}}
                  {{partial "anime/studios"}}
                {{/if}}
              </div>
            </div>
            <div class="banner-ad" style="display: none">
              <img src="http://cl.ly/image/1J302K0d191e/Image%202013.11.04%205%3A30%3A33%20PM.jpeg">
            </div>
            {{#unless notYetAired}}
              <h4>Trending Reviews <a {{bind-attr href=fullReviewsURL}} class="btn btn-xs btn-default pull-right">view all</a></h4>
              {{#each trendingReviews}}
                <a {{bind-attr href=reviewURL}}>
                  <div class="trending-review rounded-block">
                    <div class="reviewer-thumb-wrapper hidden-xs">
                      {{avatar user 'thumb'}}
                    </div>
                    <div class="reviewer-name-wrapper">
                      <h4 class="reviewer-name"><span class="subtext">review by</span> {{user.username}}</h4>
                      <span class="review-stars">
                        {{stars rating}}
                      </span>
                      <p class="review-summary">{{summary}}</p>
                    </div>
                  </div>
                </a>
              {{else}}
                <div class="trending-review-empty">
                  <i class="empty-icon fa fa-meh"></i>
                  <h4>Well, this is pretty awkward.</h4>
                  <p>You came to us for reviews and it seems nobody has written one yet. We're going to take a cold shower to wash away the shame. In the meantime, maybe you could write the first review? The fortune and fame are yours for the taking.</p>
                  <a {{bind-attr href=newReviewURL}} class="btn btn-default">Write the first review</a>
                </div>
              {{/each}}
            {{/unless}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

