{{!-- Background Image --}}
<div class="bg-image-wrapper series" style="background:url('http://cl.ly/image/2d3v1H0f2g19/grayscale.jpg'); background-position-y: -250px;"></div>
<div class="wrapper-fade"></div>

{{!-- Library Container --}}
<div class="container bg-image">
  {{!-- Library Table Row --}}
  <div class="row">
    <div class="col-xs-12 col-md-12 top-buttons">
      <ul class="left-buttons">
        <li>
        <button type="button" class="btn btn-default top-button heart"><i class="icon-heart-empty"></i></button>
        </li>
        <li>
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle top-button" type="button" data-toggle="dropdown">
            add to library
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Currently Watching</a></li>
            <li><a href="#">Plan to Watch</a></li>
            <li><a href="#">Completed</a></li>
            <li><a href="#">On Hold</a></li>
            <li><a href="#">Dropped</a></li>
          </ul>
        </div>
        </li>
      </ul>
      <ul class="right-buttons">
        <li>
        <button type="button" class="btn btn-default top-button">Follow Series</button>
        </li>
      </ul>
    </div>
    <div class="col-md-3 gallery">
      <ul class="gallery-images">
        {{#each imageURL in screencaps}}
          <li class="col-xs-6 col-md-12 no-padding-left"><img {{bind-attr src=imageURL}}></li>
        {{/each}}
      </ul>
    </div>
    <div class="col-xs-12 col-md-9 series-body">
      <div class="panel panel-default series-panel clearfix">
        <div class="col-xs-12 col-md-3 series-sidebar">
          <div class="series-poster col-xs-5 col-md-12 no-padding">
            <img {{bind-attr src=posterImage}}>
          </div>
          <div class="col-xs-7 text-center">
            <h4 class="series-title">{{canonicalTitle}}</h4>
          </div>
          <div class="community-rating col-xs-7 col-md-12 no-padding">
            <hr>
            <h5 class="sidebar-title text-center">Community Ratings</h5>
            <ul class="community-rating-wrapper">
              <li class="legend">1</li>
              <li class="rating-column">
              <div class="rating-value" style="height: 0%;">
              </div>
              </li>
              <li class="rating-column">
              <div class="rating-value" style="height: 0%;">
              </div>
              </li>
              <li class="rating-column">
              <div class="rating-value" style="height: 0%;">
              </div>
              </li>
              <li class="rating-column">
              <div class="rating-value" style="height: 0%;">
              </div>
              </li>
              <li class="rating-column">
              <div class="rating-value" style="height: 0%;">
              </div>
              </li>
              <li class="rating-column">
              <div class="rating-value" style="height: 0%;">
              </div>
              </li>
              <li class="rating-column">
              <div class="rating-value" style="height: 33.333333333333336%;">
              </div>
              </li>
              <li class="rating-column">
              <div class="rating-value" style="height: 100%;">
              </div>
              </li>
              <li class="rating-column">
              <div class="rating-value" style="height: 66.66666666666667%;">
              </div>
              </li>
              <li class="rating-column last">
              <div class="rating-value" style="height: 33.333333333333336%;">
              </div>
              </li>
              <li class="legend">5</li>
            </ul>
            <hr>
          </div>
          <div id="affiliate" class="buy-series col-xs-12 col-sm-7 col-md-12 no-padding">
            <h5 class="sidebar-title">Where to Buy</h5>
            <div class="col-xs-6 col-md-12 no-padding">
              <a href="#"><img src="http://hummingbird.me/assets/jlist-936b9137d45e73fb901ef36592fb840e.png"></a>
            </div>
            <div class="col-xs-6 col-md-12 no-padding">
              <a href="#"><img src="http://hummingbird.me/assets/amazon-217b6b780588b2293069a5778925a2f4.png"></a>
            </div>
            <hr>
          </div>
          <div id="affiliate" class="watch-series col-xs-12 col-sm-7 col-md-12 no-padding">
            <h5 class="sidebar-title">Where to Watch</h5>
            <div class="col-xs-6 col-md-12 no-padding">
              <a href="#"><img src="http://cl.ly/image/3T34020P1h0f/hulu.png"></a>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-9 series-content">
          <h2 class="series-title">{{canonicalTitle}}</h2>
          {{partial "anime/infobar"}}
          <div class="series-description">
            <p>{{truncate-text text=synopsis length=500}}</p>
            <div class="social-links clearfix">
              <ul class="inline-list">
                <li style="background: none; width: 78px; margin-right: 10px;">
                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1381275758.html#_=1381748393383&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fhummingbird.me%2Fanime%2Fbakemonogatari&amp;size=m&amp;text=Bakemonogatari%20%7C%20Hummingbird&amp;url=http%3A%2F%2Fhummingbird.me%2Fanime%2Fbakemonogatari&amp;via=Hummingbird_me" class="twitter-share-button twitter-tweet-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 107px; height: 20px;"></iframe>
                </li>
                <li>
                <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px; background-position: initial initial; background-repeat: initial initial;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1381748393311" name="I0_1381748393311" src="https://apis.google.com/u/0/_/+1/fastbutton?usegapi=1&amp;bsv=o&amp;size=medium&amp;hl=en-US&amp;origin=http%3A%2F%2Fhummingbird.me&amp;url=http%3A%2F%2Fhummingbird.me%2Fanime%2Fbakemonogatari&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.rH61Rx8ffI0.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTN6m7GNFgp1JmU00eC9SBpsNGIq5w#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1381748393311&amp;parent=http%3A%2F%2Fhummingbird.me&amp;pfname=&amp;rpctoken=29101695" data-gapiattached="true" title="+1"></iframe></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="info-tabs">
            <ul class="nav nav-tabs">
              <li {{bind-attr class="showGenres:active"}}><a href="javascript:void(0)" {{action switchTo "Genres"}}>Genres</a></li>
              <li {{bind-attr class="showFranchise:active"}}><a href="javascript:void(0)" {{action switchTo "Franchise"}}>Franchise</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active genre-tab">
                {{#if showGenres}}
                  {{#each genre in genres}}
                    <span class="badge"><a href="javascript:void(0)">{{genre}}</a></span>
                  {{/each}}
                {{/if}}
                {{#if showFranchise}}
                  {{#if franchise.isLoaded}}
                    {{#each franchise}}
                      <div class="rounded-block col-md-12 clearfix franchise-show">
                        <div class="col-md-2 no-padding">
                          <img class="series-poster" {{bind-attr src=posterImage}}>
                        </div>
                        <div class="col-md-10">
                          <h4 class="series-title">{{#link-to 'anime' id}}{{canonicalTitle}}{{/link-to}}</h4>
                          {{partial "anime/infobar"}}
                          <p>{{truncate-text text=synopsis length=300}}</p>
                        </div>
                      </div>
                    {{/each}}
                  {{else}}
                    {{loading-indicator}}
                  {{/if}}
                {{/if}}
                <hr>
              </div>
            </div>
          </div>
          <div class="info-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#genres" data-toggle="tab">Genres</a></li>
              <li class="dropdown">
              <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Cast <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                <li class=""><a href="#dropdown1" tabindex="-1" data-toggle="tab">Japanese</a></li>
                <li><a href="#dropdown2" tabindex="-1" data-toggle="tab">Korean</a></li>
              </ul>
              </li>
              <li class=""><a href="#studios" data-toggle="tab">Studios</a></li>
              <li class=""><a href="#franchise" data-toggle="tab">Franchise</a></li>
              <li class=""><a href="#quotes" data-toggle="tab">Quotes</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in genre-tab" id="genres">
                <span class="badge"><a href="#">Adventure</a></span>
                <span class="badge"><a href="#">Comedy</a></span>
                <span class="badge"><a href="#">Drama</a></span>
                <span class="badge"><a href="#">Mystery</a></span>
                <span class="badge"><a href="#">Supernatural</a></span>
                <span class="badge"><a href="#">Romance</a></span>
                <span class="badge"><a href="#">Horror</a></span>
                <hr>
              </div>
              <div class="tab-pane fade genre-tab" id="studios">
                <div class="col-md-12 rounded-block clearfix no-padding-right">
                  <div class="col-md-12 no-padding studio-name">
                    produced by <strong>Shaft</strong>, also known for:
                  </div>
                  <div class="col-xs-2 col-md-2 no-padding-left">
                    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/003/919/thumb/Watanabe-Hitagi0-650x856.jpg?1377464077">
                  </div>
                  <div class="col-xs-2 col-md-2 no-padding-left">
                    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/003/919/thumb/Watanabe-Hitagi0-650x856.jpg?1377464077">
                  </div>
                  <div class="col-xs-2 col-md-2 no-padding-left">
                    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/003/919/thumb/Watanabe-Hitagi0-650x856.jpg?1377464077">
                  </div>
                  <div class="col-xs-2 col-md-2 no-padding-left">
                    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/003/919/thumb/Watanabe-Hitagi0-650x856.jpg?1377464077">
                  </div>
                  <div class="col-xs-2 col-md-2 no-padding-left">
                    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/003/919/thumb/Watanabe-Hitagi0-650x856.jpg?1377464077">
                  </div>
                  <div class="col-xs-2 col-md-2 no-padding-left">
                    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/003/919/thumb/Watanabe-Hitagi0-650x856.jpg?1377464077">
                  </div>
                </div>
                <span><strong>Licensed by: &nbsp;</strong></span>
                <span class="badge"><a href="#">Aniplex</a></span>
                <span class="badge"><a href="#">Kodansha</a></span>
                <span class="badge"><a href="#">Aniplex of America</a></span>
                <hr>
              </div>
              <div class="tab-pane fade" id="dropdown1">
                <ul class="cast" id="Korean" style="">
                  <li class="actor">
                  <a class="character">
                    <img alt="Karen Araragi - Bakemonogatari" src="http://static.hummingbird.me/characters/images/000/027/159/thumb_small/27159.jpg?1375254267" width="30">
                    Karen Araragi
                  </a>
                  <span class="va">
                    <a class="voice-actor">
                      Seon Hye Kim
                      <img alt="Seon Hye Kim - Voice Actor" height="47" src="http://static.hummingbird.me/people/images/000/000/128/thumb_small/128.jpg?1375223304" width="30">
                    </a>
                  </span>
                  </li>

                  <li class="actor">
                  <a class="character">
                    <img alt="Tsukihi Araragi - Bakemonogatari" src="http://static.hummingbird.me/characters/images/000/027/160/thumb_small/27160.jpg?1375254268" width="30">
                    Tsukihi Araragi
                  </a>
                  <span class="va">
                    <a class="voice-actor">
                      Myeong seon Lee
                      <img alt="Myeong seon Lee - Voice Actor" height="47" src="http://static.hummingbird.me/people/images/000/000/507/thumb_small/507.jpg?1375223509" width="30">
                    </a>
                  </span>
                  </li>

                  <li class="actor">
                  <a class="character">
                    <img alt="Hitagi Senjougahara - Bakemonogatari" src="http://static.hummingbird.me/characters/images/000/027/158/thumb_small/27158.jpg?1375254267" width="30">
                    Hitagi Senjougahara
                  </a>
                  <span class="va">
                    <a class="voice-actor">
                      Jeong Mi Bae
                      <img alt="Jeong Mi Bae - Voice Actor" height="47" src="http://static.hummingbird.me/people/images/000/001/080/thumb_small/1080.jpg?1375223840" width="30">
                    </a>
                  </span>
                  </li>
                  <li class="actor">
                  <a class="character">
                    <img alt="Koyomi Araragi - Bakemonogatari" src="http://static.hummingbird.me/characters/images/000/027/157/thumb_small/27157.jpg?1375254266" width="30">
                    Koyomi Araragi
                  </a>
                  <span class="va">
                    <a class="voice-actor">
                      Yeong Seon Kim
                      <img alt="Yeong Seon Kim - Voice Actor" height="47" src="http://static.hummingbird.me/people/images/000/000/377/thumb_small/377.jpg?1375223441" width="30">
                    </a>
                  </span>
                  </li>
                  <hr>
                </ul>
              </div>
              <div class="tab-pane fade" id="dropdown2">
                <ul class="cast" id="Korean" style="">
                  <li class="actor">
                  <a class="character">
                    <img alt="Karen Araragi - Bakemonogatari" src="http://static.hummingbird.me/characters/images/000/027/159/thumb_small/27159.jpg?1375254267" width="30">
                    Karen Araragi
                  </a>
                  <span class="va">
                    <a class="voice-actor">
                      Seon Hye Kim
                      <img alt="Seon Hye Kim - Voice Actor" height="47" src="http://static.hummingbird.me/people/images/000/000/128/thumb_small/128.jpg?1375223304" width="30">
                    </a>
                  </span>
                  </li>

                  <li class="actor">
                  <a class="character">
                    <img alt="Tsukihi Araragi - Bakemonogatari" src="http://static.hummingbird.me/characters/images/000/027/160/thumb_small/27160.jpg?1375254268" width="30">
                    Tsukihi Araragi
                  </a>
                  <span class="va">
                    <a class="voice-actor">
                      Myeong seon Lee
                      <img alt="Myeong seon Lee - Voice Actor" height="47" src="http://static.hummingbird.me/people/images/000/000/507/thumb_small/507.jpg?1375223509" width="30">
                    </a>
                  </span>
                  </li>

                  <li class="actor">
                  <a class="character">
                    <img alt="Hitagi Senjougahara - Bakemonogatari" src="http://static.hummingbird.me/characters/images/000/027/158/thumb_small/27158.jpg?1375254267" width="30">
                    Hitagi Senjougahara
                  </a>
                  <span class="va">
                    <a class="voice-actor">
                      Jeong Mi Bae
                      <img alt="Jeong Mi Bae - Voice Actor" height="47" src="http://static.hummingbird.me/people/images/000/001/080/thumb_small/1080.jpg?1375223840" width="30">
                    </a>
                  </span>
                  </li>
                  <li class="actor">
                  <a class="character">
                    <img alt="Koyomi Araragi - Bakemonogatari" src="http://static.hummingbird.me/characters/images/000/027/157/thumb_small/27157.jpg?1375254266" width="30">
                    Koyomi Araragi
                  </a>
                  <span class="va">
                    <a class="voice-actor">
                      Yeong Seon Kim
                      <img alt="Yeong Seon Kim - Voice Actor" height="47" src="http://static.hummingbird.me/people/images/000/000/377/thumb_small/377.jpg?1375223441" width="30">
                    </a>
                  </span>
                  </li>
                  <hr>
                </ul>
              </div>
              <div class="tab-pane fade genre-tab" id="franchise">
                <div class="rounded-block col-md-12 clearfix">
                  <div class="col-xs-2 col-md-2 no-padding">
                    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/004/800/thumb/4800.jpg?1375236592">
                  </div>
                  <div class="col-xs-10 col-md-10">
                    <h4 class="series-title">Bakemonogatari: Recap</h4>
                    <ul class="series-metadata">
                      <li>TV</li>
                      <li> R17+ </li>
                      <li> 15 episodes </li>
                      <li> 24 min </li>
                      <li> Aired Jul 2009 - Jun 2010 </li>
                    </ul>
                    <p>A recap of episodes 1-5 of Bakemonogatari.</p>
                  </div>
                </div>
                <div class="rounded-block col-md-12 clearfix">
                  <div class="col-md-2 no-padding">
                    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/006/546/thumb/Nisemonogatari.png?1377466076">
                  </div>
                  <div class="col-xs-10 col-md-10">
                    <h4 class="series-title">Nisemonogatari</h4>
                    <ul class="series-metadata">
                      <li>TV</li>
                      <li> R17+ </li>
                      <li> 15 episodes </li>
                      <li> 24 min </li>
                      <li> Aired Jul 2009 - Jun 2010 </li>
                    </ul>
                    <p>In Bakemonogatari, the story centers on Koyomi Araragi, a third-year high school student who has recently survived a vampire attack, and finds himself mixed up with all kinds of apparitions: gods, ghosts, myths, and spirits. However, in Nisemonogatari, we pick up right where we left off and follow Koyomi as the psychological twists delve deeper and deeper. (Source: ANN)</p>
                  </div>
                </div>
                <div class="rounded-block col-md-12 clearfix">
                  <div class="col-xs-2 col-md-2 no-padding">
                    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/007/294/thumb/126724426597167459.png?1377467270">
                  </div>
                  <div class="col-xs-10 col-md-10">
                    <h4 class="series-title">Nekomonogatari: Kuro</h4>
                    <ul class="series-metadata">
                      <li>TV</li>
                      <li> R17+ </li>
                      <li> 15 episodes </li>
                      <li> 24 min </li>
                      <li> Aired Jul 2009 - Jun 2010 </li>
                    </ul>
                    <p>Koyomi Araragi is a student who has recently survived a vampire attack, with the help of his friend Hanekawa Tsubasa. Now, he finds that she has been possessed by an oddity called the Curse Cat, and is now attacking people, including her parents. He must now find a way to help get rid of the Curse Cat. (Source: ANN)</p>
                  </div>
                </div>
                <div class="rounded-block col-md-12 clearfix">
                  <div class="col-xs-2 col-md-2 no-padding">
                    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/007/573/thumb/monogataris2.jpg?1375909461">
                  </div>
                  <div class="col-xs-10 col-md-10">
                    <h4 class="series-title">Monogatari Series: Second Season</h4>
                    <ul class="series-metadata">
                      <li>TV</li>
                      <li> R17+ </li>
                      <li> 15 episodes </li>
                      <li> 24 min </li>
                      <li> Aired Jul 2009 - Jun 2010 </li>
                    </ul>
                    <p>Walking to school one day Tsubasa Hanekawa encounters a huge white tiger apparition at a crossroads that talks to her. The next day her house burns down. Homeless, and not wanting to stay with her family, she lies and tells them she has a place to stay, but instead sleeps in the old cram school. She's awakened by an angry and upset Hitagi Senjogahara who ridicules her for worrying her and drags her to her place to stay instead. The two of them soon discover that Araragi has gone missing and...</p>
                  </div>
                </div>
                <div class="rounded-block col-md-12 clearfix">
                  <div class="col-xs-2 col-md-2 no-padding">
                    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/008/032/thumb/Kanbaru.Suruga.full.994373.jpg?1380044093">
                  </div>
                  <div class="col-xs-10 col-md-10">
                    <h4 class="series-title">Hanamonogatari</h4>
                    <ul class="series-metadata">
                      <li>TV</li>
                      <li> R17+ </li>
                      <li> 15 episodes </li>
                      <li> 24 min </li>
                      <li> Aired Jul 2009 - Jun 2010 </li>
                    </ul>
                    <p>Hanamonogatari is the sixth part of the Monogatari series and contains the story of the Suruga Devil.</p>
                  </div>
                </div>
                <div class="rounded-block col-md-12 clearfix">
                  <div class="col-xs-2 col-md-2 no-padding">
                    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/005/649/thumb/KZWy3.jpg?1377469473">
                  </div>
                  <div class="col-xs-10 col-md-10">
                    <h4 class="series-title">Kizumonogatari</h4>
                    <ul class="series-metadata">
                      <li>TV</li>
                      <li> R17+ </li>
                      <li> 15 episodes </li>
                      <li> 24 min </li>
                      <li> Aired Jul 2009 - Jun 2010 </li>
                    </ul>
                    <p>"I think it's about time I talked about Kiss-Shot-Acerola-Orion Heart-Under-Blade. I believe it's something I have to do. I met her in the spring break between my second and third years of high school. That meeting had such impact and was also quite devastating." (Source: Araragi Koyomi Novel )</p>
                  </div>
                </div>
                <hr>
              </div>
              <div class="tab-pane fade genre-tab" id="quotes">
                <div class="rounded-block col-md-12 clearfix">
                  <p><strong>Senjougahara Hitagi:</strong> If I kill you, that means I'll be the one closest to you when you're on your deathbed. Isn't it romantic?</p>
                  <span class="favorited-by">Favorited by 7 users - <a href="#">Favorite this quote</a></span>
                  <span class="report-quote"><a href="#">Report Quote</a></span>
                </div>
                <div class="rounded-block col-md-12 clearfix">
                  <p><strong>Senjougahara Hitagi:</strong> If I kill you, that means I'll be the one closest to you when you're on your deathbed. Isn't it romantic?</p>
                  <span class="favorited-by">Favorited by 7 users - <a href="#">Favorite this quote</a></span>
                  <span class="report-quote"><a href="#">Report Quote</a></span>
                </div>
                <div class="rounded-block col-md-12 clearfix">
                  <p><strong>Senjougahara Hitagi:</strong> If I kill you, that means I'll be the one closest to you when you're on your deathbed. Isn't it romantic?</p>
                  <span class="favorited-by">Favorited by 7 users - <a href="#">Favorite this quote</a></span>
                  <span class="report-quote"><a href="#">Report Quote</a></span>
                </div>
                <div class="rounded-block col-md-12 clearfix">
                  <p><strong>Senjougahara Hitagi:</strong> If I kill you, that means I'll be the one closest to you when you're on your deathbed. Isn't it romantic?</p>
                  <span class="favorited-by">Favorited by 7 users - <a href="#">Favorite this quote</a></span>
                  <span class="report-quote"><a href="#">Report Quote</a></span>
                </div>
                <div class="rounded-block col-md-12 clearfix">
                  <p><strong>Senjougahara Hitagi:</strong> If I kill you, that means I'll be the one closest to you when you're on your deathbed. Isn't it romantic?</p>
                  <span class="favorited-by">Favorited by 7 users - <a href="#">Favorite this quote</a></span>
                  <span class="report-quote"><a href="#">Report Quote</a></span>
                </div>
                <hr>
              </div>
            </div>
          </div>
          <h4>Trending Reviews</h4>
          <div class="col-md-12 rounded-block clearfix">
            <div class="col-xs-2 col-md-2 no-padding-left">
              <img class="reviewer-thumb" src="http://static.hummingbird.me/users/avatars/000/005/425/thumb/Saber-Alter.gif?1380294926">
            </div>
            <div class="col-xs-10 col-md-10 no-padding-left">
              <h4 class="reviewer-name"><span class="subtext">review by</span> HitotsuSenshi</h4>
              <span class="review-stars">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class=" icon-star-half-empty"></i>
              </span>
              <p class="review-summary">Bakemonogatari is a superb anime with very few flaws. Engaging story and top notch animation are where it truly shines.</p>
            </div>
          </div>

          <div class="col-md-12 rounded-block clearfix">
            <div class="col-xs-2 col-md-2 no-padding-left">
              <img class="reviewer-thumb" src="http://static.hummingbird.me/users/avatars/000/006/772/thumb/tumblr_inline_mrnpjey3zI1qz4rgp.gif?1380295938">
            </div>
            <div class="col-xs-10 col-md-10 no-padding-left">
              <h4 class="reviewer-name"><span class="subtext">review by</span> Cuntologics</h4>
              <span class="review-stars">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
              </span>
              <p class="review-summary">Bakemonogatari is a stellar title which never fails to impress you with its spontaneous word play and delicious visuals.</p>
            </div>
          </div>

          <div class="col-md-12 rounded-block clearfix">
            <div class="col-xs-2 col-md-2 no-padding-left">
              <img class="reviewer-thumb" src="http://static.hummingbird.me/users/avatars/000/003/362/thumb/3362-shinobu_platinum_crop.jpg?1380293363">
            </div>
            <div class="col-xs-10 col-md-10 no-padding-left">
              <h4 class="reviewer-name"><span class="subtext">review by</span> TsunTsunSama</h4>
              <span class="review-stars">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
              </span>
              <p class="review-summary">A great anime for almost everyone, Unique and Fun.</p>
            </div>
          </div>

          <div class="col-md-12 rounded-block clearfix">
            <div class="col-xs-2 col-md-2 no-padding-left">
              <img class="reviewer-thumb" src="http://static.hummingbird.me/users/avatars/000/002/946/thumb/2946-addsafasfasfsafasf.jpg?1380293053">
            </div>
            <div class="col-xs-10 col-md-10 no-padding-left">
              <h4 class="reviewer-name"><span class="subtext">review by</span> Alf</h4>
              <span class="review-stars">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class=" icon-star-half-empty"></i>
                <i class="icon-star-empty"></i>
              </span>
              <p class="review-summary">Hands down one of the best slices of life ever, taking a boring genre and making a darkly intriguing original story.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

