<div class="series-header">
  {{!-- <div class="bg-image-wrapper series" {{bind-attr style=coverImageStyle}}></div> --}}
  <div class="bg-image-wrapper series" style="background: url('http://static.hummingbird.me/anime/cover_images/000/007/442/thumb/Attack-On-Titan-HD-Wallpapers-Pack2.jpg?1384816727'); background-position: 50% -0px;"></div>
  <div class="container">

    {{!-- Anime poster image --}}
    <div class="poster-container">
      {{#link-to 'anime.index'}}
        {{!-- <img class="series-poster" {{bind-attr src=posterImage}}> --}}
        <img class="series-poster" src="http://static.hummingbird.me/anime/poster_images/000/007/442/large/7442.png?1383501242">
      {{/link-to}}
    </div>

    <div class="middle-column">
      <h2 class="series-title">
        {{canonicalTitle}}
        {{#if alternateTitle}}
          <small class="alternate-title">
            ({{alternateTitle}})
          </small>
        {{/if}}
      </h2>
      <div class="series-infobar">{{partial "anime/infobar"}}</div>
      <div class="synopsis">
        <p>{{truncate-text text=synopsis length=500}}</p>
      </div>
      {{!-- This is literally just copy-pasted static html from production. Needs replaced with the actual code. 
      I don't understand handlebars or emblem well enough to convert between the two while maintaining functionality. --}}
      {{partial "anime/info_tabs"}}
    </div>
    <div class="right-column">
      <div class="top-buttons">
        <div class="btn-group">
          <button {{bind-attr class=":btn :btn-default :dropdown-toggle :top-button libraryStatus:active"}} type="button" data-toggle="dropdown">
            {{#if libraryEntryExists}}
              {{libraryEntry.status}}
            {{else}}
              Add to Library
            {{/if}}
          </button>
          <ul class="dropdown-menu">
            <li><a {{action "setLibraryStatus" "Currently Watching"}}>Currently Watching</a></li>
            <li><a {{action "setLibraryStatus" "Plan to Watch"}}>Plan to Watch</a></li>
            <li><a {{action "setLibraryStatus" "Completed"}}>Completed</a></li>
            <li><a {{action "setLibraryStatus" "On Hold"}}>On Hold</a></li>
            <li><a {{action "setLibraryStatus" "Dropped"}}>Dropped</a></li>
            <li><a {{action "removeFromLibrary"}}>Remove from Library</a></li>
          </ul>
        </div>
      </div>
      <div class="series-ratings clearfix">
        {{#if currentUser.isSignedIn}}
          {{#if libraryEntryExists}}
            <div class="personal-rating active">
              <h5 class="sidebar-title text-center">Your Rating</h5>
              {{awesome-rating type=currentUser.ratingType editable="true" action="setLibraryRating" rating=libraryEntry.rating}}
            </div>
          {{/if}}
        {{/if}}

        {{#if bayesianRating}}
          <div class="community-rating">
            <h5 class="sidebar-title text-center">Community Rating: {{roundedBayesianRating}}</h5>
            {{community-rating communityRatings}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="episode-bar">
  <div class="container">
    <h2 class="grey-title"> 
      <a href="#">
        Episodes 
        <i class="fa fa-angle-right"></i>
      </a>
    </h1>
      <ul class="episode-thumbs block-grid-5">
        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib1.huluim.com/video/60211296?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 1</div>   
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>

        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib2.huluim.com/video/60211297?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 2</div>
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>

        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib3.huluim.com/video/60211298?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 3</div>  
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>

        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib4.huluim.com/video/60211299?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 4</div>  
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>

        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib3.huluim.com/video/60214794?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 5</div>  
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>
      </ul>
  </div>
</div>

<div class="container">
  <div class="series-reviews">
    <h2 class="grey-title"> 
      <a href="#">
        Reviews 
        <i class="fa fa-angle-right"></i>
      </a>
    </h1>
    <div class="review-listing">
      {{partial "anime/trending-reviews"}}
    </div>
  </div>

  <div class="series-gallery">
    <h2 class="grey-title"> 
      Screencaps
    </h1>
    <div class="gallery">
      <ul class="block-grid-2">
        {{#each imageURL in screencaps}}
          <li class="block-grid-item"><img {{bind-attr src=imageURL}}></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>