{{!-- Background Image --}}
{{#if coverImage}}
  <div class="bg-image-wrapper series" {{bind-attr style=coverImageStyle}}></div>
{{/if}}
<div class="wrapper-fade"></div>

<div {{bind-attr class=":container coverImage:bg-image:no-bg-image"}}>
  {{!-- Library Table Row --}}
  <div class="row">
    <div class="top-buttons">
      <ul class="left-buttons">
        <li>
          <div class="btn-group">
            <button {{bind-attr class=":btn :btn-default :dropdown-toggle :top-button libraryStatus:active"}} type="button" data-toggle="dropdown">
              {{#if libraryEntryExists}}
                {{libraryEntry.status}}
              {{else}}
                add to library
              {{/if}}
            </button>
            <ul class="dropdown-menu">
              <li><a {{action "setLibraryStatus" "Currently Watching"}}>Currently Watching</a></li>
              <li><a {{action "setLibraryStatus" "Plan to Watch"}}>Plan to Watch</a></li>
              <li><a {{action "setLibraryStatus" "Completed"}}>Completed</a></li>
              <li><a {{action "setLibraryStatus" "On Hold"}}>On Hold</a></li>
              <li><a {{action "setLibraryStatus" "Dropped"}}>Dropped</a></li>
              <li><a {{action "removeFromLibrary"}}>Remove from Library</a></li>
            </ul>
          </div>
        </li>
        {{#if libraryEntryExists}}
          <li>
            <button type="button" {{bind-attr class=":btn :btn-default :top-button :heart libraryEntry.isFavorite:active"}} {{action "toggleFavorite"}}>
              <i {{bind-attr class=":fa libraryEntry.isFavorite:fa-heart:fa-heart-o"}}></i>
            </button>
          </li>
        {{/if}}
      </ul>
      <ul class="right-buttons">
        <li>
          {{#if currentUser.isSignedIn}}
            <button {{bind-attr class=":btn :btn-default :top-button isDirty:active"}} {{action "openModal" 'edit-anime' this}}><i class='fa fa-pencil'></i></button>
          {{/if}}
        </li>
      </ul>
    </div>
    <div class="gallery hidden-xs">
      {{#if youtubeVideoId}}
        <div class="trailer hidden-sm">
          <a {{action "openModal" 'youtube' this}}>
            <div class="play-icon"><i class="fa fa-play fa-4x"></i></div>
            <img width="100%" height="auto" {{bind-attr src=trailerPreviewImage}}>
          </a>
        </div>
      {{/if}}

      {{#unless nsfw}}
        {{ad-unit adId="1293379" adClass="257f81e798bd68dd81e60f42838f361f"}}
      {{/unless}}

      <ul class="gallery-images">
        {{#each imageURL in screencaps}}
          <li class="gallery-image"><img {{bind-attr src=imageURL}}></li>
        {{/each}}
      </ul>
    </div>
    <div class="series-body">
      <div class="panel panel-default series-panel">
        <div class="series-sidebar">
          <!-- Mobile title -->
          <div class="series-title-wrapper visible-xs">
            <h4 class="series-title">
              {{canonicalTitle}}
              {{#if alternateTitle}}
                <small>({{alternateTitle}})</small>
              {{/if}}
            </h4>
          </div>

          <div class="poster-container">
            {{#link-to 'anime.index'}}
              <img class="series-poster" {{bind-attr src=posterImage}}>
            {{/link-to}}
          </div>

          <div class="sidebar-copy visible-xs">
            <div class="series-infobar">{{partial "anime/infobar"}}</div>
          </div>

          <div class="series-description visible-xs">
            <p>{{truncate-text text=synopsis length=300}}</p>
          </div>

          {{#if currentUser.isSignedIn}}
            {{#if libraryEntryExists}}
              <div class="personal-rating active">
                <h5 class="sidebar-title text-center">Your Rating</h5>
                {{awesome-rating type=currentUser.ratingType editable="true" action="setLibraryRating" rating=libraryEntry.rating}}
              </div>
            {{/if}}
          {{/if}}

          {{#if bayesianRating}}
            <div class="community-rating">
              <h5 class="sidebar-title text-center">Community Rating: {{roundedBayesianRating}}</h5>
              {{community-rating communityRatings}}
            </div>
          {{/if}}

          <div id="affiliate" class="buy-series">
            <h5 class="sidebar-title">Where to Buy</h5>
            <div class="affiliate-button">
              <a {{bind-attr href=amazonLink}} target="_blank"><img src="/images/amazon-purchase.png"></a>
            </div>
            <hr>
          </div>

          {{!--
          <div id="affiliate" class="watch-series">
            <h5 class="sidebar-title">Where to Watch</h5>
            <div class="affiliate-button">
              <a href="#"><img src="http://cl.ly/image/3T34020P1h0f/hulu.png"></a>
            </div>
          </div>

          <div class="current-watching hidden-xs">
            <h5 class="sidebar-title">Currently Watching</h5>
            <div class="related-user-wrapper">
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/000/001/thumb_small/av.jpg?1383103791"></a>
                <span class="overlay"></span>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/017/742/thumb/tewi.jpg?1383369463"></a>
                <span class="overlay"></span>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/015/510/thumb_small/Kurapika's_Judgement_Chain_Resized.gif?1383345464"></a>
                <span class="overlay"></span>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/018/229/thumb/Excalibur_Poster.jpg?1382542336"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/013/405/thumb/Izayoi_Face.jpg?1383382546"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/003/660/thumb_small/3660-erikaav-2.gif?1380293586"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/002/186/thumb_small/vlcsnap-2013-10-31-19h44m40s41.png?1383269579"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/005/425/thumb/Saber_vs._Lancer.gif?1383286920"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/007/884/thumb/orly.gif?1381872582"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/005/097/thumb/Dance.gif?1382799146"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/010/314/thumb/neosignal.jpg?1382241023"></a>
              </div>
              <div class="related-user">
                <a href="#"><img class="responsive-image" src="http://static.hummingbird.me/users/avatars/000/006/330/thumb/TuxAv.png?1381784629"></a>
              </div>
              <span class="additional-users">+ 459 others</span>
            </div>
          </div> --}}
        </div>

        <div class="series-content">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>

