<div class="chat-container">
  <div class="online-users">
    <ul>
      <li class="header">
        <i class="fa fa-users"></i>
        {{pluralize onlineUsers.length "Online User" "Online Users"}}
      </li>
      {{#each onlineUsers}}
        <li>
          {{#link-to 'user' username}}
            <img {{bind-attr src=avatar}}>
            {{username}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="chat-window">
    <div class="chat-items">
      <ul>
        {{#each msg in this itemViewClass="chatMessage"}}
          <li {{bind-attr class=msg.classes}}>
            <div {{bind-attr class=":username msg.admin"}} {{action "replyUser" msg.username}}>
              {{msg.username}}
              {{#if msg.admin}}
                <i class="fa fa-shield" title="This user is an admin" alt="This user is an admin"></i>
              {{/if}}
            </div>
            <div {{bind-attr class=":message msg.time::pending"}}>
              {{#if msg.formattedMessage}}
                {{{msg.formattedMessage}}}
                <span class="time">{{format-time msg.time "h:mm a"}}</span>
                {{#if controller.currentUser.isAdmin}}
                  <span class="mod-actions">
                    <a {{action "deleteMessage" msg.id}}><i class="fa fa-trash-o"></i></a>
                  </span>
                {{/if}}
              {{else}}
                {{msg.message}}
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="entry">
      <form {{action "sendMessage" on="submit"}} >
        {{input value=message id="chat-input" placeholder="Say something..." autocomplete="off"}}
        <button class="btn btn-primary" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>

<div id="chat-sound"></div>
