<div class="chat-container">
  <div class="online-users">
    <ul>
      <li class="header">
        <i class="fa fa-users"></i>
        {{pluralize onlineUsers.length "Online User" "Online Users"}}
      </li>
      {{#each onlineUsers}}
        <li>
          {{#link-to 'user' username}}
            <img {{bind-attr src=avatar}}>
            {{username}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="chat-window">
    <div class="chat-items">
      <ul>
        {{#each itemViewClass="chatMessage"}}
          <li>
            <div class="username" {{action "replyUser" username}}>{{username}}</div>
            <div {{bind-attr class=":message delivered::pending"}}>
              {{#if formattedMessage}}
                {{{formattedMessage}}}
              {{else}}
                {{message}}
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="entry">
      <form {{action "sendMessage" on="submit"}} >
        {{input value=message placeholder="Say something..." autocomplete="off"}}
        <button class="btn btn-primary" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
