{{quick-update}}

<div class="user-dashboard">
  <div class="feed-head-advert">
    {{ad-unit adId="1293413" adClass="257f81e798bd68dd81e60f42838f361f"}}
  </div>
  <a id="left-column" class="mobile-tab btn btn-default" href="#left-column"> Show Sidebar</a>
  <a id="right-column" class="mobile-tab btn btn-default" href="#right-column"> Show Activity Feed</a>

  <div class="row">
    <div class="secondary-info">
      {{community-loading-widget}}
      {{community-widget title="Industry news" showMoreURL="http://forums.hummingbird.me/category/industry-news" apiCall="http://forums.hummingbird.me/category/industry-news.json"}}
      <div class="feed-sm-sidebar-advert">
        {{ad-unit adId="1298407" adClass="257f81e798bd68dd81e60f42838f361f"}}
      </div>
      {{community-widget title="Community discussions" showMoreURL="http://forums.hummingbird.me/" apiCall="http://forums.hummingbird.me/latest.json?exclude_category=industry%20news"}}
      <div class="feed-sidebar-advert">
        {{ad-unit adId="1298406" adClass="257f81e798bd68dd81e60f42838f361f"}}
      </div>
    </div>

    <div class="user-feed">
      {{post-comment username=currentUser.username}}

      {{each content itemController="story" itemViewClass="Hummingbird.StoryView"}}

      {{#if canLoadMore}}
        {{load-more classNames="light" action="loadNextPage"}}
      {{/if}}
    </div>
  </div>
</div>
