<div class="container">
  <div class="row">
    <div class="col-md-12 edits" style="margin-top: 40px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          Pending Edits
        </div>
        <div class="panel-body">
          {{#if content}}
            <div class="edit-list">
              {{#each content itemController="editItem"}}
                <div class="edit-entry">
                  <span class="edit-entry-left">
                    <span class="edit-type">
                      {{objectType}}
                    </span>
                    {{! link to content }}
                    {{#if anime}}
                      {{#link-to 'anime' item}}
                        {{item.displayTitle}}
                      {{/link-to}}
                    {{/if}}
                    {{#if manga}}
                      {{#link-to 'manga' item}}
                        {{item.displayTitle}}
                      {{/link-to}}
                    {{/if}}
                  </span>
                  <span class="edit-entry-right">
                    <span class="edit-entry-user">
                      {{#link-to 'user' user}}
                        {{user.username}}
                      {{/link-to}}
                    </span>
                    <span class="edit-entry-time">
                      {{time-ago time=createdAt}}
                    </span>
                    <span class="edit-entry-actions">
                      <a href="#" {{action 'toggleDiff'}}>
                        <i {{bind-attr class=":fa isDiffShown:fa-arrow-up:fa-arrow-down"}}></i> View
                      </a>
                    </span>
                  </span>
                </div>

                {{#if isDiffShown}}
                  <div class="edit-entry-diff">
                    {{#if outdated}}
                      <div class="alert alert-danger">
                        {{model.item.displayTitle}} has been updated since this edit was created.
                      </div>
                    {{/if}}
                    {{#if comment}}
                      <div class="alert alert-info">
                        <h4>{{user.username}} left you a comment!</h4>
                        {{comment}}
                      </div>
                    {{/if}}
                    <dl>
                      {{#each changes}}
                        <dt class="diff-type">{{this.[0]}}</dt>
                        <dd class="diff-body">{{this.[1]}}</dd>
                      {{/each}}
                    </dl>
                    <div class="diff-actions">
                      <a class="btn btn-success" {{action "approveEdit"}}>
                        <i class="fa fa-check"></i> Approve
                      </a>
                      <a class="btn btn-danger" {{action "rejectEdit"}}>
                        <i class="fa fa-close"></i> Reject
                      </a>
                    </div>
                  </div>
                {{/if}}
              {{/each}}

              {{#if canLoadMore}}
                {{load-more classNames="light" action="loadNextPage"}}
              {{/if}}
            </div>
          {{else}}
            <p class="edits-none">There aren't any pending anime changes.</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
