<nav class='navbar navbar-inverse navbar-fixed-top hb-nav' role='navigation'>
  {{partial "header/recently-watched"}}

  <div class='container clearfix'>
    <div class='navbar-header'>

      <a {{action 'toggleMenu'}} class='navbar-temporary'>
        <i class='fa fa-bars'></i>
      </a>

      {{#if currentUser.isSignedIn}}
        {{#link-to 'dashboard' class="navbar-brand"}}<img src="/assets/logo-new.jpg" width="119px" height="20px">{{/link-to}}
      {{else}}
        <a class='navbar-brand' href='/'><img src="/assets/logo-new.jpg" width="119px" height="20px"></a>
      {{/if}}

    </div>

    <ul {{bind-attr class=':nav :navbar-nav :collapse :navbar-collapse showMenu:navbar-visible'}}>
      {{#if currentUser.isSignedIn}}
        <li class='dropdown active'>
          <a class='dropdown-toggle' data-toggle='dropdown'>
            Dashboard <b class='caret'></b>
          </a>
          <!-- <i class='dropdown-arrow dropdown-arrow-inverse'></i> -->
          <ul class='dropdown-menu left-nav-section'>
            <li>{{#link-to 'user.index' currentUser}}Profile{{/link-to}}</li>
            <li>{{#link-to 'user.library' currentUser}}Library{{/link-to}}</li>
            <li><a href='/recommendations'>Recommendations</a></li>
          </ul>
        </li>
      {{else}}
        <li class='dropdown active'>
          <a href="/users/sign_in">Dashboard</a>
        </li>
      {{/if}}

      <li class='dropdown'>
        <a class='dropdown-toggle' data-toggle='dropdown'>
          Explore <b class='caret'></b>
        </a>
        <ul class='dropdown-menu left-nav-section'>
          <li><a href='/anime'>What's Trending</a></li>
          <li><a href='/anime/filter/all'>Explore Anime</a></li>
          <li><a href='/anime/upcoming'>Upcoming</a></li>
        </ul>
      </li>

      <li class='dropdown'>
        <a href="http://forums.hummingbird.me">Community</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-permanent navbar-permanent-left">
      <li>
        {{#if currentUser.isSignedIn}}
          {{#if showUpdater}}
            <a {{action 'toggleUpdater'}} class="close-recent" href="#" id="recent-toggle">Close</a>
          {{else}}
            <a {{action 'toggleUpdater'}} href="#" id="recent-toggle">Update</a>
          {{/if}}
        {{/if}}
      </li>
    </ul>

    <ul class='nav navbar-nav navbar-right navbar-permanent navbar-permanent-right'>
      {{partial "header/right-content"}}
    </ul>
  </div>
</nav>
