<div class="container settings">
  <div class="row">
    <h2>Settings</h2>
  </div>
  <div class="row">
    <div class="secondary-info">
      <div class="panel panel-default" id="account-settings">
        <div class="panel-heading"><h3 class="panel-title">Account</h3></div>
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-sm-4" for="username">Username</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="username" {{bind-attr value=username}}>
                <span class="help-block">Usernames can contain letters, numbers, and underscores</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="email">Email</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="email" {{bind-attr value=email}}>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default" id="security-settings">
        <div class="panel-heading"><h3 class="panel-title">Security</h3></div>
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-sm-4" for="password">New Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="password" {{bind-attr value=password}}>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="password-confirm">Again</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="password-confirm" {{bind-attr value=passwordConfirm}}>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default" id="backup-settings">
        <div class="panel-heading">
          <h3 class="panel-title">Backup and Restore</h3>
          <span class="last-backup">last backup: {{lastBackup}}</span>
        </div>
        <div class="panel-body">
          <div class="row">
            <label class="control-label col-sm-6">Dropbox Backup</label>
            <div class="col-sm-6">
              {{#if hasDropbox}}
                <button type="button" class="col-sm-6 btn btn-success"><i class="fa fa-refresh"></i> Sync</button>
                <button type="button" class="col-sm-6 btn btn-danger">Disconnect</button>
              {{else}}
                <button type="button" class="col-sm-6 col-sm-offset-6 btn btn-default"><i class="fa fa-dropbox"></i> Connect</button>
                {{/if}}
              </div>
          </div>
          <div class="row">
            <label class="control-label col-sm-9">Manual Backup</label>
            <div class="col-sm-3">
              <button type="button" class="col-sm-12 btn btn-default">Download</button>
            </div>
          </div>
          <div class="row">
            <label class="control-label col-sm-9">MAL Import</label>
            <div class="col-sm-3">
              <button type="button" class="col-sm-12 btn btn-default">Upload</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-info">
      <div class="panel panel-default" id="content-settings">
        <div class="panel-heading"><h3 class="panel-title">Content</h3></div>
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <label class="control-label col-sm-4" for="titles">Adult Content</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type="radio" name="adult" id="show" value="1" {{bind-attr checked="showAdultContent"}}> Show
              </label>
              <label class="radio-inline">
                <input type="radio" name="adult" id="hide" value="0" {{bind-attr checked="hideAdultContent"}}> Hide
              </label>
              <span class="help-block">With adult content hidden, you will not see R18+ anime or manga in your feed, in libraries, or in search.</span>
            </div>
            <label class="control-label col-sm-4">Ratings</label>
            <div class="col-sm-8 ratings-picker">
              <label class="radio-inline">
                <input type="radio" name="rating" id="advanced" value="advanced"
                       {{bind-attr checked="hasAdvancedRatings"}} {{action "setRatingSystem" "advanced"}}>
                {{awesome-rating type="advanced" rating="2.5"}}
              </label>
              <label class="radio-inline">
                <input type="radio" name="rating" id="simple" value="simple"
                       {{bind-attr checked="hasSimpleRatings"}} {{action "setRatingSystem" "simple"}}>
                {{awesome-rating type="simple"}}
              </label>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="titles">Titles</label>
              <div class="col-sm-8">
                <select class="form-control" id="titles">
                  <option>Canonical</option>
                  <option>Romanized</option>
                  <option>English</option>
                </select>
                <span class="help-block">You can still see the others: this is just the main one.</span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default" id="connections-settings">
        <div class="panel-heading"><h3 class="panel-title">Connections</h3></div>
        <div class="panel-body">
          <button class="btn fb-connect">Facebook Connect</button>
        </div>
      </div>
      <div class="panel panel-default settings-buttons">
        <div class="center-block panel-body">
          <button class="btn btn-primary">Save</button>
          <button class="btn btn-default">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
