<div {{bind-attr class=":user-cover showEditMenu:edit-menu:no-edit"}}>
  <div class="cover-photo" {{bind-attr style=coverImageStyle}}>
    {{#if viewingSelf}}
      <div class="edit-cover">
        <label for="cover-image">
          <i class="fa fa-camera"></i> Edit Cover (1400w x 330h)
        </label>
        {{view HB.FileUpload action="coverSelected"
                             id="cover-image"}}
      {{/if}}
    </div>
    <div class="cover-overlay-wrapper">
      <div class="dark-overlay"></div>
      <div class="cover-overlay" {{bind-attr style=coverImageOverlayStyle}}></div>
    </div>
    <svg height="0">
      <filter id="blur">
        <feGaussianBlur stdDeviation="3"/>
      </filter>
      <mask id="blur-fade" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox">
        <linearGradient id="blur-gradient" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1">
          <stop stop-color="white" stop-opacity="0" offset="0.5"></stop>
          <stop stop-color="white" stop-opacity="1" offset="1"></stop>
        </linearGradient>
        <rect x="0" y="0" width="1" height="1" fill="url(#blur-gradient)"></rect>
      </mask>
    </svg>
  </div>
</div>

<div class="container relative">
  <div class="row">
    <div {{bind-attr class=":user-cover-options showEditMenu:edit-menu:no-edit"}}>
      <div class="col-sm-12 user-wrapper">
        <div class="col-sm-2 col-md-2 user-avatar clearfix">
          <div class="large-avatar">
            {{avatar model 'thumb'}}
            <div class="edit-avatar">
              <label for="avatar-image">
                <i class="fa fa-camera"></i> Edit Avatar
              </label>
              {{view HB.FileUpload action="avatarSelected" id="avatar-image"}}
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-10 no-padding account-wrapper">
          <div class="account-info">
            <h2 class="username"> {{username}}</h1>
            {{#if showEditMenu}}
              {{!-- <div {{bind-attr class=":edit-bio-chars bioCharsLeft:hasleft:noleft"}}>
                {{bioCharCounter}} left
              </div> --}}
              {{{textarea class="edit-bio" rows="2" maxlength="140" placeholder="Briefly tell us about yourself..." value=truncatedBio}}}
            {{else}}
              <p class="user-bio">
                {{truncatedBio}}
              </p>
            {{/if}}
          </div>
          <ul class="follow-widgets inline-list">
            <li>
              {{#link-to 'user.following'}}
                <small class="follow-title">following</small>
                <h2 class="follow-count">{{followingCount}}</h2>
              {{/link-to}}
            </li>
            <li>
              {{#link-to 'user.followers'}}
                <small class="follow-title">followers</small>
                <h2 class="follow-count">{{followerCount}}</h2>
              {{/link-to}}
            </li>
            <li>
              {{#if viewingSelf}}
                {{#if showEditMenu}}
                  <button class="btn btn-default btn-lg follow-button save" {{action 'saveEditMenu'}}>
                    <i class="fa fa-pencil"></i> Save
                  </button>
                {{else}}
                  <button class="btn btn-default btn-lg follow-button" {{action "toggleEditMenu" this}}>
                    <i class="fa fa-pencil"></i> Edit
                  </button>
                {{/if}}
              {{else}}
                {{#if isFollowed}}
                  <button class="btn btn-default btn-lg follow-button unfollow" {{action "toggleFollow" this}}>
                    Unfollow
                  </button>
                {{else}}
                  <button class="btn btn-default btn-lg follow-button" {{action "toggleFollow" this}}>
                    <i class="fa fa-plus"></i> Follow
                  </button>
                {{/if}}
              {{/if}}
            </li>
          </ul>
          <ul class="inline-list clearfix">
            {{!-- {{#if viewingSelf}}
              <li>
                <label for="cover-image">
                  <i class="fa fa-upload"></i> Upload Cover
                </label>
                {{view HB.FileUpload action="coverSelected"
                                     id="cover-image"}}
              </li>
              <li>
                <label for="avatar-image">
                  <i class="fa fa-upload"></i> Upload Avatar
                </label>
                {{view HB.FileUpload action="avatarSelected"
                                     id="avatar-image"}}
              </li>
            {{else}}
              <li>
                {{#bootstrap-tooltip title="Coming soon!" placement="bottom"}}
                  <i class="fa fa-exchange"></i> Compare
                {{/bootstrap-tooltip}}
              </li>
              <li>
                {{#bootstrap-tooltip title="Coming soon!" placement="bottom"}}
                  <i class="fa fa-envelope-o"></i> Message
                {{/bootstrap-tooltip}}
              </li>
            {{/if}} --}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="profile-navigation">
  <div class="container">
    <div class="row">
      <ul class="inline-list clearfix">
        <li class="nav-link">
          {{#link-to 'user.index'}}Feed{{/link-to}}
        </li>
        <li class="nav-link">
          {{#link-to 'user.library'}}Library{{/link-to}}
        </li>
        <li class="nav-link">
          {{#link-to 'user.reviews'}}Reviews{{/link-to}}
        </li>
        <li class="nav-link">
          <a {{bind-attr href=forumProfile}}>Forums</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="feed-head-advert">
    {{ad-unit adId="1293413" adClass="257f81e798bd68dd81e60f42838f361f"}}
  </div>
</div>

<div class="min-height-wrapper">
  {{outlet}}
</div>
