{{! TODO: Move to component }}
<div class="user-cover no-edit">
  <div class="cover-photo" style={{coverImageStyle}}>
    <div class="row">
      <div class="user-info">
        <div class="primary-info">
          <div class="cover-avatar">
            <img src={{user.avatar}}>
          </div>
          <div class="mini-bio">
            <h3 class="cover-username">
              {{user.name}}
            </h3>
            <p>
              {{user.bio}}
            </p>
          </div>
        </div>
        <div class="follow-info">
          <div class="followers">
            <div class="bubble">
              <h3 class="count">
                {{user.followingCount}}
              </h3>
              <label>Following</label>
            </div>
          </div>
          <div class="following">
            <div class="bubble">
              <h3 class="count">
                {{user.followersCount}}
              </h3>
              <label>Followers</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dark-overlay"></div>
  </div>
</div>

{{! TODO: Move to component }}
<div class="user-nav">
  <div class="row align-justify">
    <ul class="menu columns">
      <li>
        {{link-to 'Activity' 'users.index'}}
      </li>
      <li>
        {{link-to 'Library' 'users.library'}}
      </li>
      <li>
        {{link-to 'Reviews' 'users.reviews'}}
      </li>
      <li>
        {{link-to 'Lists' 'users.lists'}}
      </li>
    </ul>
    <div class="columns">
      {{#if isViewingSelf}}
        {{! TODO: Edit Button }}
      {{else}}
        {{follow-button}}
      {{/if}}
    </div>
  </div>
</div>

{{! users/* templates rendered here }}
{{outlet}}
