{{! TODO: Needs style love }}

<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <div class="medium-6 columns">
      <h5 class="text-center">Sign up for Hummingbird</h5>

      {{#if errorMessage}}
        <p class="text-center" style="color: red;">
          {{errorMessage}}
        </p>
      {{/if}}

      <form {{action "createAccount" on="submit"}}>
        {{! username input }}
        <label>
          Username
          {{one-way-input
            value=user.name
            update=(action (mut user.name))
            placeholder="username"
            data-test-selector="username"}}
          {{! username errors }}
          {{#if (and user.name errors.user.name)}}
            <span class="form-error is-visible">
              Username {{errors.user.name.[0]}}
            </span>
          {{/if}}
        </label>

        {{! email input }}
        <label>
          Email
          {{one-way-input
            value=user.email
            update=(action (mut user.email))
            type="email"
            placeholder="email@example.com"
            data-test-selector="email"}}
          {{! email errors }}
          {{#if (and user.email errors.user.email)}}
            <span class="form-error is-visible">
              Email {{errors.user.email.[0]}}
            </span>
          {{/if}}
        </label>

        {{! password input }}
        <label>
          Password
          {{one-way-input
            value=user.password
            update=(action (mut user.password))
            type="password"
            placeholder="password"
            data-test-selector="password"}}
          {{! password errors }}
          {{#if (and user.password errors.user.password)}}
            <span class="form-error is-visible">
              Password {{errors.user.password.[0]}}
            </span>
          {{/if}}
        </label>

        <button
          type="submit"
          class="expanded button"
          disabled={{if (not isValid) "disabled"}}
          data-test-selector="sign-up">
          Sign Up
        </button>
      </form>

      <p class="text-center">
        Already have an account?
        {{link-to 'Sign In.' 'sign-in'}}
      </p>
    </div>

    <div class="medium-6 columns">
      {{social-connect}}
    </div>
  </div>
</div>
