<h1>Sign Up</h1>

{{#if errorMessage}}
  {{#foundation-callout type="alert" closable=false}}
    {{errorMessage}}
  {{/foundation-callout}}
{{/if}}

<form {{action 'createAccount' on='submit'}}>
  {{! email input }}
  <label for="email">Email</label>
  {{one-way-input value=model.email placeholder="Email" type="email"
    update=(action (mut model.email)) data-test-selector="email"}}
  {{#if (and model.email errors.model.email)}}
    {{! TODO: Don't use callouts for this use the form-error stuff }}
    {{#foundation-callout type="alert" closable=true}}
      Email {{errors.model.email.[0]}}
    {{/foundation-callout}}
  {{/if}}

  {{! username input}}
  <label for="username">Username</label>
  {{one-way-input value=model.name placeholder="Username"
    update=(action (mut model.name)) data-test-selector="username"}}
  {{#if (and model.name errors.model.name)}}
    {{! TODO: Don't use callouts for this use the form-error stuff }}
    {{#foundation-callout type="alert" closable=false}}
      Username {{errors.model.name.[0]}}
    {{/foundation-callout}}
  {{/if}}

  {{! password input }}
  <label for="password">Password</label>
  {{one-way-input value=model.password placeholder="Password" type="password"
    update=(action (mut model.password)) data-test-selector="password"}}
  {{#if (and model.password errors.model.password)}}
    {{! TODO: Don't use callouts for this use the form-error stuff }}
    {{#foundation-callout type="alert" closable=false}}
      Password {{errors.model.password.[0]}}
    {{/foundation-callout}}
  {{/if}}

  <button type="submit" disabled={{isSubmitDisabled}} data-test-selector="sign-up">
    Sign Up
  </button>
</form>
