{{! TODO: Needs style love }}

<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <div class="medium-6 columns">
      <h5 class="text-center">
        {{t "sign-up.header"}}
      </h5>

      {{#if errorMessage}}
        <p class="text-center" style="color: red;" data-test-selector="error-message">
          {{errorMessage}}
        </p>
      {{/if}}

      <form {{action "createAccount" on="submit"}}>
        {{! username input }}
        <label>
          {{t "sign-up.username"}}
          {{one-way-input
            value=user.name
            update=(action (mut user.name))
            placeholder="username"
            data-test-selector="username"}}
          {{! username errors }}
          {{#if (and user.name (v-get user "name" "isInvalid"))}}
            <span class="form-error is-visible">
              {{v-get user "name" "message"}}
            </span>
          {{/if}}
        </label>

        {{! email input }}
        <label>
          {{t "sign-up.email"}}
          {{one-way-input
            value=user.email
            update=(action (mut user.email))
            type="email"
            placeholder="email@example.com"
            data-test-selector="email"}}
          {{! email errors }}
          {{#if (and user.email (v-get user "email" "isInvalid"))}}
            <span class="form-error is-visible">
              {{v-get user "email" "message"}}
            </span>
          {{/if}}
        </label>

        {{! password input }}
        <label>
          {{t "sign-up.password"}}
          {{one-way-input
            value=user.password
            update=(action (mut user.password))
            type="password"
            placeholder="password"
            data-test-selector="password"}}
          {{! password errors }}
          {{#if (and user.password (v-get user "password" "isInvalid"))}}
            <span class="form-error is-visible">
              {{v-get user "password" "message"}}
            </span>
          {{/if}}
        </label>

        <button
          type="submit"
          class="expanded button"
          disabled={{if user.validations.isInvalid "disabled"}}
          data-test-selector="sign-up">
          {{t "auth.sign-up"}}
        </button>
      </form>

      <p class="text-center">
        {{t "sign-up.has-account"}}
        {{link-to (t "auth.sign-in") "sign-in"}}
      </p>
    </div>

    <div class="medium-6 columns">
      {{social-connect}}
    </div>
  </div>
</div>
