- title "Community"

.community
  .row
    .large-12.columns
      = render partial: "shared/forem_sidebar", locals: {active_forum: nil}

      .forum-container.large-9.columns
        .row
          %header.cf
            .large-9.columns
              %h3.forum-title= link_to "Recent Topics", "#"
            .large-3.columns 
              /%span.button= link_to "Create Topic", "#"
        .row
          .discussions.large-12.columns
            = render @topics
        %p= paginate @topics

      %br
      %footer#admin_link
        - if forem_admin?
          = link_to t("area", :scope => "forem.admin"), forem.admin_root_path
