- title "#{@forum.name}"

.community
  .row
    .large-12.columns
      = render partial: "shared/forem_sidebar", locals: {active_forum: @forum}

      .forum-container.large-9.columns
        .row
          %header.cf
            .large-12.columns
              %h3.forum-title= link_to @forum.title, forem.forum_path(@forum)
            /.large-3.columns
            /  - if @forum.title.strip != "Site News & Updates" or (user_signed_in? and current_user.admin?)
            /    %span.button= link_to "Create Topic", forem.new_forum_topic_path(@forum)
        .row
          .discussions.large-12.columns
            = render @topics
        %p= paginate @topics

/if can? :moderate, @forum
/%span.button= link_to "Moderator Tools", forem.forum_moderator_tools_path(@forum)

/<%= forem_pages_widget(@topics) %>
/
/<table class='topics subdued' cellspacing='0'>
/  <thead>
/    <tr>
/      <th class="icon"></th>
/      <th class="byline"><%= t('forem.topic.headings.topic') -%></th>
/      <th class="latest-post"><%= t('forem.topic.headings.latest') -%></th>
/      <th class="posts-count"><%= t('forem.topic.headings.posts') -%></th>
/      <th class="views-count"><%= t('forem.topic.headings.views') -%></th>
/    </tr>
/  </thead>
/  <tbody>
/    <% if @topics.empty? %>
/      <tr><td colspan='5' align='center'><%= t('forem.topic.none') %></td></tr>
/    <% end %>
/    <%= render @topics %>
/  </tbody>
/</table>
/
/<%= forem_pages_widget(@topics) %>

