%h3 New "#{@anime.title}" review

- if user_signed_in?
  = form_for (@review = Review.new), url: anime_reviews_path(@anime) do |f|
    = f.label :content
    = f.text_area :content, rows: 7, :id => "redactor_content"
    .user-reviews
      - if current_user.star_rating? or true
        .advanced-rating
          .rating.six.columns
            = radio_button "review", "rating", 2, :id => 'star5'
            %label{:for => "star5"}
            = radio_button "review", "rating", 1, :id => 'star4'
            %label{:for => "star4"}
            = radio_button "review", "rating", 0, :id => 'star3'
            %label{:for => "star3"}
            = radio_button "review", "rating", -1, :id => 'star2'
            %label{:for => "star2"}
            = radio_button "review", "rating", -2, :id => 'star1'
            %label{:for => "star1"}
      - else
        .simple-rating
          .four.columns
            %label{:for => "like"}
              %input{:name => "like", :type => "radio"}/
              %span.like 
                %strong :)
            %label{:for => "dislike"}
              %input{:checked => "", :name => "dislike", :type => "radio"}/
              %span.dislike
                %strong :(
    = f.submit class: "button"

  :javascript
    $('.simple-rating input:radio').addClass('input_hidden');
    $('.simple-rating label').click(function(){
        $(this).addClass('active').siblings().removeClass('active');
        $(this).find('input').attr("checked", true);
        $(this).siblings().find('input').removeAttr("checked");
    });
- else
  %p You need to be signed in to write reviews.
  %p= link_to "Login", new_user_session_path, class: 'button'
