.six.columns
  .panel
    .three.columns
      = image_tag review.anime.cover_image.url(:thumb)
      .vote-blocks.twelve.columns
        - (-2).upto(2) do |i|
          = review.rating >= i ? "★" : "☆"
    .nine.columns
      %h3= review.anime.title
      %p
        = truncate(review.content, length: 250, omission: '...')
        %br
        = link_to "Read more", anime_review_path(review.anime, review)


