.row.content-body.review-index.anime-discover
  .row
    .twelve.columns
      .review-list.cf
        .twelve.columns
          .row
            .nine.columns
              %h1 Anime Reviews
            .three.columns
              .three.columns
                
              .nine.columns.sort
                %select
                  %option Most Recent
                  %option Most Helpful
          .row
            %section#sidebar
              .three.mobile-twelve.columns
                %ul.accordion
                  %li.active
                    .title
                      %h3 Personalize
                    .personalize-filter.content
                      %p{:class => ("active" if @filter == "all")}
                        = link_to 'All Anime', anime_index_path(:genres => params[:genres])
                      %p{:class => ("active" if @filter == "recommended")}
                        = link_to 'My Recommendations', filtered_listing_path(:recommended, :genres => params[:genres])
                      %p{:class => ("active" if @filter == "unseen")}
                        = link_to "Anime I Haven't Seen", filtered_listing_path(:unseen, :genres => params[:genres])
                      %p{:class => ("active" if @filter == "unfinished")}
                        = link_to "Anime I Haven't Finished", filtered_listing_path(:unfinished, :genres => params[:genres])

                %ul.accordion
                  %li.active    
                    .title
                      %h3 Filter
                    .content
                      %form.custom{:action => genres_path, :method => :get}
                        .row
                          .twelve.columns
                            .six.mobile-two.columns
                              %a.disable_all Deselect All
                            .six.mobile-two.columns
                              %a.enable_all Select All
                            .twelve.columns
                              %input.apply-button.button.padded(type="submit" value="Apply")

            .nine.columns
              .review.twelve.columns
                .thumbnail.two.columns
                  = image_tag "http://hummingbird.ly/system/8b8e38ec83820ddf61641bc3fc97fee11aab67ea_thumb.jpg?1361876352"
                .eight.columns
                  %p.anime-title= link_to "Deadman Wonderland", "#"
                  %p.username Written by <a href="#">Username</a>
                  %p.summary Deadman Wonderland has some cool characters, a really crappy story, and stops at 12 episodes for a reason.
                  = link_to "Read Review", "#"
                .two.columns
                  .rating-diamond.score-3

              .review.twelve.columns
                .thumbnail.two.columns
                  = image_tag "http://hummingbird.ly/system/c858b38e9d485f97505d8479a2a064d3e9965ed9_thumb.jpg?1361873806"
                .eight.columns
                  %p.anime-title= link_to "Tsukuyomi: Moon Phase", "#"
                  %p.username Written by <a href="#">Username</a>
                  %p.summary A solid anime for teenaged girls into vampire stories with a great soundtrack and fun characters. 
                  = link_to "Read Review", "#"
                .two.columns
                  .rating-diamond.score-8

              .review.twelve.columns
                .thumbnail.two.columns
                  = image_tag "http://hummingbird.ly/system/69eea0b536f37295c14e7447ee8899c5a72ed059_thumb.jpg?1361875894"
                .eight.columns
                  %p.anime-title= link_to "FullMetal Alchemist: Brotherhood"
                  %p.username Written by <a href="#">Username</a>
                  %p.summary The king is dead. Long live the king! I never imagined saying that about one of my tops in a span of less than 10 years, much less for a... 
                  = link_to "Read Review", "#"
                .two.columns
                  .rating-diamond.score-9

              .review.twelve.columns
                .thumbnail.two.columns
                  = image_tag "http://hummingbird.ly/system/ef5600db4e1b9af0bacc5b9b12a8b91b58b9f8b8_thumb.jpg?1361874039"
                .eight.columns
                  %p.anime-title= link_to "Sister Princess RePure"
                  %p.username Written by <a href="#">Username</a>
                  %p.summary A psuedo-sequel that is a treat for fans, and a bore for all others. 
                  = link_to "Read Review", "#"
                .two.columns
                  .rating-diamond.score-7
