.review-index.anime-discover
  .filter-toolbar{:style => "background: white; position: relative; height: 50px; margin-bottom: 50px;"}
    .row
      .twelve.columns
        %form.autosubmit
          %ul.inline-list
            %li.three.columns
              %select{:class => "single-select", :name => "filter"}

          %ul.inline-list
            %li.three.columns
              %select{:multiple => "multiple", :class => "multiple-select", :name => "genres[]"}
  
          %ul.inline-list
            %li.three.columns
              %select{:multiple => "multiple", :class => "multiple-nofilter", :name => "multiple-nofilter"}

          %ul.inline-list
            %li.three.columns
              %select{:multiple => "multiple", :class => "multiple-nofilter", :name => "multiple-nofilter"}
                %option{:selected => "selected"}
                  Watch Anywhere
                %option{:disabled => "disabled"}
                  Netflix
                %option{:disabled => "disabled"}
                  Hulu
                %option{:disabled => "disabled"}
                  Crunchyroll
                %option{:disabled => "disabled"}
                  Funimation
                %option{:disabled => "disabled"}
                  Viz
  .row
    .twelve.columns
      .review-list.cf
        .twelve.columns
          .row  
            .two.columns.sort
              %select
                %option Most Recent
                %option Most Helpful
          .row
            .twelve.columns
              .review.twelve.columns
                .thumbnail.one.columns
                  = image_tag "http://hummingbird.ly/system/8b8e38ec83820ddf61641bc3fc97fee11aab67ea_thumb.jpg?1361876352"
                .nine.columns
                  %p.anime-title= link_to "Deadman Wonderland", "#"
                  %p.username Written by <a href="#">Username</a>
                  %p.summary Deadman Wonderland has some cool characters, a really crappy story, and stops at 12 episodes for a reason.
                  = link_to "Read Review", "#"
                .diamond-wrapper.one.columns
                  .rating-diamond.score-3

              .review.twelve.columns
                .thumbnail.one.columns
                  = image_tag "http://hummingbird.ly/system/c858b38e9d485f97505d8479a2a064d3e9965ed9_thumb.jpg?1361873806"
                .nine.columns
                  %p.anime-title= link_to "Tsukuyomi: Moon Phase", "#"
                  %p.username Written by <a href="#">Username</a>
                  %p.summary A solid anime for teenaged girls into vampire stories with a great soundtrack and fun characters. 
                  = link_to "Read Review", "#"
                .diamond-wrapper.one.columns
                  .rating-diamond.score-8

              .review.twelve.columns
                .thumbnail.one.columns
                  = image_tag "http://hummingbird.ly/system/69eea0b536f37295c14e7447ee8899c5a72ed059_thumb.jpg?1361875894"
                .nine.columns
                  %p.anime-title= link_to "FullMetal Alchemist: Brotherhood"
                  %p.username Written by <a href="#">Username</a>
                  %p.summary The king is dead. Long live the king! I never imagined saying that about one of my tops in a span of less than 10 years, much less for a... 
                  = link_to "Read Review", "#"
                .diamond-wrapper.one.columns
                  .rating-diamond.score-9

              .review.twelve.columns
                .thumbnail.one.columns
                  = image_tag "http://hummingbird.ly/system/ef5600db4e1b9af0bacc5b9b12a8b91b58b9f8b8_thumb.jpg?1361874039"
                .nine.columns
                  %p.anime-title= link_to "Sister Princess RePure"
                  %p.username Written by <a href="#">Username</a>
                  %p.summary A psuedo-sequel that is a treat for fans, and a bore for all others. 
                  = link_to "Read Review", "#"
                .diamond-wrapper.one.columns
                  .rating-diamond.score-7
