.anime-discover.anime-show.anime-show-full
  .row
    .large-3.columns
      = render partial: 'anime/card', locals: {data: [@anime, @watchlist, 'large-12']}

    .large-9.columns
      .panel 
        %h4= title "#{@anime.canonical_title(current_user)} Reviews"
        = link_to new_anime_review_path(@anime) do
          %span= "Write a review for #{@anime.canonical_title(current_user)}"

      - @reviews.each do |review|
        .panel
          %h5 #{review.user.name}
          %p= (review.summary || truncate(strip_tags(review.content), length: 500, omission: '...')).gsub("&nbsp;", " ")
          %p 
            = review.votes.to_i
            of
            = pluralize review.evaluations.length, "user"
            found this review useful.
            |
            - if @user_evaluations[review.id] && @user_evaluations[review.id].value == 1.0
              %strong Useful
            - else
              = link_to "Useful", vote_anime_review_path(@anime, review, type: "up"), method: :post
            \/
            - if @user_evaluations[review.id] && @user_evaluations[review.id].value != 1.0
              %strong Not Useful
            - else
              = link_to "Not Useful", vote_anime_review_path(@anime, review, type: "down"), method: :post
            |
            = link_to "See full review", anime_review_path(@anime, review)
