:css
  .hummingbird-header figure {border-bottom: 3px solid #fd7532;}
.anime-discover.full-reviews
  .row.content-body
    .row
      .review-info.twelve.columns
        .two.columns
          %span.avatar= image_tag @review.user.avatar.url(:thumb)
          %p.username= link_to @review.user.name, @review.user 
        .ten.columns
          %span.anime-title
            = link_to @review.anime.title, @review.anime
            Review
    .row
      .sharing-sidebar.two.columns
        .float-wrap.scrollToFixed
          %p Share this review:
          %span.facebook
            .fb-like{"data-layout" => "box_count", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}

          %span.twitter 
            %a.twitter-share-button{"data-count" => "vertical", "data-lang" => "en", "data-via" => "twitterapi", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

          %span.google-plus
            .g-plus{"data-action" => "share", "data-annotation" => "vertical-bubble", "data-height" => "60"}
            :javascript
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
          %span.rate-review
            %p Rate Review
            .rating-thumbs.twelve.columns
              .positive-vote.six.columns
                = link_to vote_anime_review_path(@anime, @review, type: "up"), method: :post, class: ('active' if @evaluation && @evaluation.value == 1.0) do
                  %i.icon-thumbs-up.icon.icon-2x
              .negative-vote.six.columns
                = link_to vote_anime_review_path(@anime, @review, type: "down"), method: :post, class: ('active' if @evaluation && @evaluation.value != 1.0) do
                  %i.icon-thumbs-down.icon-2x

      .main-content.seven.columns
        %div(style="margin-top: 14px")
          - if @review.source == "mal_import"
            %div= simple_format_review(@review.content)
          - else
            %div= sanitize_review @review.content

      .extra-sidebar.three.columns
        .screenshots.twelve.columns
          - @review.anime.gallery_images.each do |gimage|
            .twelve.columns.mobile-two.columns
              = image_tag gimage.image.url(:thumb)
          /%p= link_to "view full gallery", "#"


    .row
      .review-score.seven.columns.offset-by-two
        .four.columns
          .rating-diamond{:class => "score-#{@review.rating}"}

        .eight.columns
          %h1= rating_description(@review.rating).upcase
          %p= @review.summary || truncate(@review.content, length: 140, omission: '...')

          .sub-ratings.twelve.columns
            %ul
              %li.two.columns
                %h4= @review.rating_story || @review.rating
                %p Story

              %li.two.columns
                %h4= @review.rating_animation || @review.rating
                %p Animation

              %li.two.columns
                %h4= @review.rating_sound || @review.rating
                %p Sound

              %li.two.columns
                %h4= @review.rating_sound || @review.rating
                %p Character

              %li.two.columns
                %h4= @review.rating_enjoyment || @review.rating
                %p Enjoyment

              %li.two.columns.end
                %h4= @review.rating
                %p Overall


    .row.stopScrollToFixed
      - if current_user == @review.user
        = link_to "Edit this review", edit_anime_review_path(@anime, @review)
      .new-reviews.twelve.columns
        %h3 Latest Reviews
        #yourCarouselId.touchcarousel.minimal-light
          %ul.touchcarousel-container
            / TouchCarousel items, place any HTML content inside them (img tag is inserted as an example)
            - @recent_reviews.each do |review|
              %li.touchcarousel-item
                = link_to anime_review_path(review.anime, review) do
                  .carousel_img{:style => "background-image: url(#{review.anime.cover_image.url(:thumb)});"}
                .meta
                  %h3= review.anime.title
                  %h1= review.rating
                  %p.cite written by
                  %p= review.user.name

:javascript
  jQuery(function($) {
      $("#yourCarouselId").touchCarousel({
        loopItems: true,
        itemsPerMove: 2, 
        scrollbar: false,  
        autoplay:true,
        dragUsingMouse:false,    
      });
  });

// https://github.com/bigspotteddog/ScrollToFixed
:javascript
  $(document).ready(function() {
    $('.scrollToFixed').scrollToFixed({
      marginTop: 70, 
      limit: $(".stopScrollToFixed").offset().top - $('.scrollToFixed').outerHeight() - 200, 
      unfixed: function() {
        $('.scrollToFixed').css('left', 10)
          .css('top', parseInt($('.scrollToFixed').css('top')) - $('.scrollToFixed').outerHeight() - 8);
      }
    });
  });
