- title "#{@anime.canonical_title(current_user)} Review by #{@review.user.name}"

- content_for(:extra_meta_content) do
  %meta(property="og:type" content="article")
  %meta(property="og:description"){:content => @review.summary}
  %meta(property="article:published_time"){:content => @review.created_at.iso8601}
  %meta(property="article:modified_time"){:content => @review.updated_at.iso8601}
  %meta(property="article:author"){:content => user_url(@review.user)}


:css
  .hummingbird-header figure {border-bottom: 3px solid #fd7532;}
.anime-discover.full-reviews
  .row.content-body
    .row
      .review-info.large-12.columns
        .large-2.columns
          %span.avatar= image_tag @review.user.avatar.url(:thumb)
          %p.username= link_to @review.user.name, @review.user
        .large-10.columns
          %span.anime-title
            = link_to @review.anime.canonical_title(current_user), @review.anime
            Review
    .row
      .sharing-sidebar.large-2.columns
        .float-wrap.scrollToFixed
          %p Share this review:
          %span.facebook
            .fb-like{"data-layout" => "box_count", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}

          %span.twitter
            %a.twitter-share-button{"data-count" => "vertical", "data-text" => "#{@review.summary}", "data-via" => "Hummingbird_me", :href => "https://twitter.com/share"} Tweet

          %span.google-plus
            .g-plus{"data-action" => "share", "data-annotation" => "vertical-bubble", "data-height" => "60"}

          %span.rate-review
            %p Rate Review
            .rating-thumbs.large-12.columns
              .positive-vote.large-6.columns
                = link_to vote_anime_review_path(@anime, @review, type: "up"), method: :post, class: ('active' if @evaluation && @evaluation.positive?) do
                  %i.fa.fa-thumbs-up.fa-2x
              .negative-vote.large-6.columns
                = link_to vote_anime_review_path(@anime, @review, type: "down"), method: :post, class: ('active' if @evaluation && !@evaluation.positive) do
                  %i.fa.fa-thumbs-down.fa-2x

      .main-content.large-7.columns
        %div(style="margin-top: 14px")
          - if current_user == @review.user

            %a{:href => "#{edit_anime_review_path(@anime, @review)}"}
              %i.fa.fa-pencil
              Edit Review


          - if @review.source == "mal_import"
            %div= simple_format_review(@review.content)

          - else
            %div= sanitize_review @review.content

      .extra-sidebar.large-3.columns
        .screenshots.large-12.columns
          - @review.anime.gallery_images.each do |gimage|
            .large-12.columns.mobile-two.columns
              = image_tag gimage.image.url(:thumb)
          /%p= link_to "view full gallery", "#"


    .row
      .review-score.large-7.columns.large-offset-2
        .large-4.columns
          .rating-diamond{:class => "score-#{@review.rating}"}

        .large-8.columns
          %h1.summary-title= (rating_description(@review.rating) || "").upcase
          %p.summary-title= strip_tags(@review.summary || truncate(@review.content, length: 140, omission: '...'))

          .sub-ratings.large-12.columns
            %ul
              %li.large-2.columns
                %h4= @review.rating_story || @review.rating
                %p Story

              %li.large-2.columns
                %h4= @review.rating_animation || @review.rating
                %p Animation

              %li.large-2.columns
                %h4= @review.rating_sound || @review.rating
                %p Sound

              %li.large-2.columns
                %h4= @review.rating_character || @review.rating
                %p Character

              %li.large-2.columns
                %h4= @review.rating_enjoyment || @review.rating
                %p Enjoyment

              %li.large-2.columns.end
                %h4= @review.rating
                %p Overall


    .row.stopScrollToFixed
      .new-reviews.large-12.columns
        %h3 Latest Reviews
        #yourCarouselId.touchcarousel.minimal-light
          %ul.touchcarousel-container
            / TouchCarousel items, place any HTML content inside them (img tag is inserted as an example)
            - @recent_reviews.each do |review|
              = link_to anime_review_path(review.anime, review) do
                %li.touchcarousel-item 
                  .carousel_img{:style => "background-image: url(#{review.anime.poster_image.url(:large)});"}
                  .meta
                    %h3= review.anime.canonical_title(current_user)
                    %h1= review.rating
                    %p.cite written by
                    %p= review.user.name

:javascript
  jQuery(function($) {
      $("#yourCarouselId").touchCarousel({
        loopItems: true,
        itemsPerMove: 2, 
        scrollbar: false,  
        autoplay:true,
        dragUsingMouse:false,    
      });
  });

// https://github.com/bigspotteddog/ScrollToFixed
:javascript
  $(document).ready(function() {
    $('.scrollToFixed').scrollToFixed({
      marginTop: 70, 
      limit: $(".stopScrollToFixed").offset().top - $('.scrollToFixed').outerHeight() - 200, 
      unfixed: function() {
        $('.scrollToFixed').css('left', 10)
          .css('top', parseInt($('.scrollToFixed').css('top')) - $('.scrollToFixed').outerHeight() - 8);
      }
    });
  });
