:css
  .hummingbird-header figure {border-bottom: 3px solid #fd7532;}
.anime-discover.full-reviews
  .row.content-body
    .row
      .review-info.twelve.columns
        .two.columns
          %span.avatar= image_tag @review.user.avatar.url(:thumb)
          %p.username= link_to @review.user.name, @review.user 
        .ten.columns
          %span.anime-title
            = link_to @review.anime.title, @review.anime
            Review
    .row
      .sharing-sidebar.two.columns
        .float-wrap.scrollToFixed
          %p Share this review:
          %span.facebook
            .fb-like{"data-layout" => "box_count", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}

          %span.twitter 
            %a.twitter-share-button{"data-count" => "vertical", "data-lang" => "en", "data-via" => "twitterapi", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

          %span.google-plus
            .g-plus{"data-action" => "share", "data-annotation" => "vertical-bubble", "data-height" => "60"}
            :javascript
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
          %span.rate-review
            %p Rate Review
            .rating-thumbs.twelve.columns
              .positive-vote.six.columns
                = link_to vote_anime_review_path(@anime, @review, type: "up"), method: :post, class: ('active' if @evaluation && @evaluation.value == 1.0) do
                  %i.icon-thumbs-up.icon.icon-2x
              .negative-vote.six.columns
                = link_to vote_anime_review_path(@anime, @review, type: "down"), method: :post, class: ('active' if @evaluation && @evaluation.value != 1.0) do
                  %i.icon-thumbs-down.icon-2x

      .main-content.seven.columns
        %div(style="margin-top: 14px")
          - if @review.source == "mal_import"
            %div= simple_format_review(@review.content)
          - else
            Todo.

      .extra-sidebar.three.columns
        .screenshots.twelve.columns
          - @review.anime.gallery_images.each do |image|
            .twelve.columns.mobile-two.columns
              = image_tag image.url(:thumb)
          /%p= link_to "view full gallery", "#"


    .row
      .review-score.seven.columns.offset-by-two
        .four.columns
          .rating-diamond.score-75
        .eight.columns
          %h1 GOOD
          %p Full Metal Alchemist is a fresh new concept that is well worth the praise that it has received over the past 3-4 months. Highly recommended.

          .sub-ratings.twelve.columns
            %ul
              %li.two.columns
                %h4 8
                %p Story

              %li.two.columns
                %h4 9
                %p Animation

              %li.two.columns
                %h4 9
                %p Sound

              %li.two.columns
                %h4 7
                %p Character

              %li.two.columns
                %h4 9
                %p Enjoyment

              %li.two.columns.end
                %h4 9
                %p Overall


    .row.stopScrollToFixed
      .new-reviews.twelve.columns
        %h3 Latest Reviews
        #yourCarouselId.touchcarousel.minimal-light
          %ul.touchcarousel-container
            / TouchCarousel items, place any HTML content inside them (img tag is inserted as an example)
            %li.touchcarousel-item
              %a{:href => "#"}
                .carousel_img{:style => "background-image: url(http://localhost:3000/system/01d88b28135d5b7329e95a00dc178e41c9a2aad6_thumb.jpg?1361799259);"}
              .meta
                %h3 Vampire Anime
                %h1 8.5
                %p.cite written by
                %p Username

            %li.touchcarousel-item
              %a{:href => "#"}
                .carousel_img{:style => "background-image: url(http://localhost:3000/system/4cca5d024a6cec17fb601e5bcbaa735e5a0ed862_thumb.jpg?1361799257);"}
              .meta
                %h3 Dragon Ball
                %h1 8.5
                %p.cite written by
                %p Username

            %li.touchcarousel-item
              %a{:href => "#"}
                .carousel_img{:style => "background-image: url(http://localhost:3000/system/0aa0a75fe8647eab5f6bcddcb66884763aeecac7_thumb.jpg?1361799259);"}
              .meta
                %h3 Genshiken
                %h1 8.5
                %p.cite written by
                %p Username

            %li.touchcarousel-item
              %a{:href => "#"}
                .carousel_img{:style => "background-image: url(http://localhost:3000/system/47bd269b9fe1e83aa5a2ba57db403a090f830a7d_thumb.jpg?1361799268);"}
              .meta
                %h3 Monster
                %h1 8.5
                %p.cite written by
                %p Username

            %li.touchcarousel-item
              %a{:href => "#"}
                .carousel_img{:style => "background-image: url(http://localhost:3000/system/d3f1caad4e74cd6db861402190db4f3833c1c271_thumb.jpg?1361799239);"}
              .meta
                %h3 Full Metal Panic!
                %h1 8.5
                %p.cite written by
                %p Username

            %li.touchcarousel-item
              %a{:href => "#"}
                .carousel_img{:style => "background-image: url(http://localhost:3000/system/cb6ef53097aa5e4c0e872ee115eab4e655be61c5_thumb.jpg?1361799255);"}
              .meta
                %h3 Samurai Champloo
                %h1 8.5
                %p.cite written by
                %p Username

            %li.touchcarousel-item
              %a{:href => "#"}
                .carousel_img{:style => "background-image: url(http://localhost:3000/system/eabda55dc625121afaa9edf89dc8a383baa28e5a_thumb.jpg?1362250113);"}
              .meta
                %h3 Blue Exorcist
                %h1 8.5
                %p.cite written by
                %p Username

            %li.touchcarousel-item
              %a{:href => "#"}
                .carousel_img{:style => "background-image: url(http://localhost:3000/system/f1f81717ac6c3de38b9536903e9b7e552b9cc89d_thumb.jpg?1362250112);"}
              .meta
                %h3 Cuticle Detective Inaba
                %h1 8.5
                %p.cite written by
                %p Username

            %li.touchcarousel-item
              %a{:href => "#"}
                .carousel_img{:style => "background-image: url(http://localhost:3000/system/9d98738bb9f74171cf3a316a7ed1b063c51ad464_thumb.jpg?1362250111);"}
              .meta
                %h3 Sword Art Online
                %h1 8.5
                %p.cite written by
                %p Username

            %li.touchcarousel-item
              %a{:href => "#"}
                .carousel_img{:style => "background-image: url(http://localhost:3000/system/0f7a347f58b56ea08cfccb8016044b26a5cf0ec3_thumb.jpg?1361799255);"}
              .meta
                %h3 Spirited Away
                %h1 8.5
                %p.cite written by
                %p Username

            %li.touchcarousel-item
              %a{:href => "#"}
                .carousel_img{:style => "background-image: url(http://localhost:3000/system/d595e1ef0195a45605fbfe99e2692f884ff3be2c_thumb.jpg?1361799269);"}
              .meta
                %h3 Samurai X: Trust and Betrayal
                %h1 8.5
                %p.cite written by
                %p Username
:javascript
  jQuery(function($) {
      $("#yourCarouselId").touchCarousel({
        loopItems: true,
        itemsPerMove: 2, 
        scrollbar: false,  
        autoplay:true,
        dragUsingMouse:false,    
      });
  });

// https://github.com/bigspotteddog/ScrollToFixed
:javascript
  $(document).ready(function() {
    $('.scrollToFixed').scrollToFixed({
      marginTop: 70, 
      limit: $(".stopScrollToFixed").offset().top - $('.scrollToFixed').outerHeight() - 200, 
      unfixed: function() {
        $('.scrollToFixed').css('left', 10)
          .css('top', parseInt($('.scrollToFixed').css('top')) - $('.scrollToFixed').outerHeight() - 8);
      }
    });
  });
