<button class="button" data-toggle="status-dropdown" data-test-selector="library-status-button-entry">
  <span>
    {{#if entry}}
      {{status}}
    {{else}}
      {{#if isLoading}}
        {{fa-icon icon="spinner" spin=true}}
      {{else}}
        Add to Library
      {{/if}}
    {{/if}}
  </span>
</button>

{{#unless isLoading}}
  <div class="dropdown-pane" id="status-dropdown" data-dropdown>
    <ul>
      {{#each statuses as |status|}}
        <li>
          <a {{action 'updateStatus' status}}>
            {{status}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/unless}}
