<button
  type="button"
  class="dropdown button"
  disabled={{if (or updateTask.isRunning (not entryIsLoaded)) "disabled"}}
  data-toggle="status-dropdown"
  data-test-selector="library-status-button"
>
  {{#if updateTask.isIdle}}
    {{#if entry}}
      {{currentStatus}}
    {{else}}
      {{#if entryIsLoaded}}
        Add to Library
      {{else}}
        Loading...
        {{fa-icon "spinner" spin=true}}
      {{/if}}
    {{/if}}
  {{else}}
    Updating...
    {{fa-icon "spinner" spin=true}}
  {{/if}}
</button>

{{#zf-dropdown id="status-dropdown"}}
  <ul class="no-bullet">
    {{#each statuses as |status|}}
      <li data-test-selector="library-list-button-status">
        <a onclick={{perform updateTask status}}>
          {{status.string}}
        </a>
      </li>
    {{/each}}
  </ul>
{{/zf-dropdown}}
