!!!
%html
  %head
    %title
      - if yield(:title).length > 0
        #{yield(:title)} | Hummingbird
      - else
        Hummingbird
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %script{:src => "//use.typekit.net/nlt2ped.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    - if Rails.env.production?
      :javascript
        var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
        analytics.load("c6svkipfq3");
    
  = render 'shared/header'
  %body#page.off-canvas.slide-nav
    = yield
  = render 'shared/footer'
  - if Rails.env.production? and user_signed_in?
    :javascript
      analytics.identify(#{current_user.name.inspect}, {
        email: '#{current_user.email}',
        username: '#{current_user.name}'
      });

