!!!
%html
  %head
    %title
      - if yield(:title).length > 0
        #{yield(:title)} | Hummingbird
      - else
        Hummingbird
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    - if user_signed_in?
      %p
        = link_to "Sign out", destroy_user_session_path, :method => :delete
        or
        = link_to "Edit profile", edit_user_registration_path
    - else
      %p
        = link_to "Sign in", new_user_session_path
        or
        = link_to "Sign up", new_user_registration_path
    = yield
