!!!
%html
  %head
    %title
      - if yield(:title).length > 0
        #{yield(:title)} | Hummingbird
      - else
        Hummingbird
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %script{:src => "//use.typekit.net/nlt2ped.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    
  = render 'shared/header'
  %body#page.off-canvas.slide-nav
    = yield
  = render 'shared/footer'
