- content_for :content do
  .row.user-watchlist
    .large-2.columns.sidebar.hide-for-small
      .large-12.columns.avatar
        - if can? :update, @user
          .avatar-upload-button
            %a{"data-dropdown" => "avatar-upload", :href => "#"} 
              %i.icon-picture
              %span Edit Avatar
            %ul#avatar-upload.f-dropdown.content{"data-dropdown-content" => ""}
              %li.help
                %span Avatar Size 190x190
              %li.upload
                = form_for(@user, url: user_avatar_path(@user), html: {method: :put, multipart: true, style: 'display: inline'}) do |f|
                  .file-upload
                    %i.icon-upload-alt 
                    = f.file_field :avatar, id: 'user_avatar'
                    Upload from Computer

        = image_tag @user.avatar_url, :class => "avatar-image"
        %span.karma
          = number_with_delimiter @user.reputation_for(:karma).to_i 
          Karma
        %p.last-seen.hide Last Seen - <span class="time-ago">1 hour ago</span>


      .large-12.columns.user-block
        %h4.username= @user.name
        %span.waifu.hide
          Waifu - 
          = link_to "Haruhi Suzumiya", "#"
      .large-12.columns.user-links
        .link-wrapper
          %ul
            %li.hide= link_to "Activity Feed", "#"
            %li.hide= link_to "About", user_path(@user)
            %li= link_to "Library", user_watchlist_path(@user)
            %li.hide= link_to "Reviews", user_reviews_path(@user)
            %li.hide= link_to "Forum Posts", user_forum_posts_path(@user)
            %li.hide= link_to "Following", "#"
            %li.hide= link_to "Followers", "#"
            - if @user == current_user
              %li= link_to "Account Settings", main_app.edit_user_registration_path

    .large-8.columns.large-offset-2.main-content
      .large-12.columns.cover-photo
        - if can? :update, @user
          .cover-upload-button.hide-for-small
            %a{"data-dropdown" => "cover-upload", :href => "#"} 
              %i.icon-picture
              %span Edit Cover Photo
            %ul#cover-upload.f-dropdown.content{"data-dropdown-content" => ""}
              %li.help
                %span Cover Size 760x250
              %li.upload
                = form_for(@user, url: user_cover_image_path(@user), html: {method: :put, multipart: true, style: 'display: inline'}) do |f|
                  .file-upload
                    %i.icon-upload-alt 
                    = f.file_field :cover_image, id: 'user_avatar'
                    Upload from Computer
        .small-12.columns.small-centered.mobile-header.show-for-small
          = image_tag @user.avatar_url, :class => "mobile-avatar"
          %h3 Josh Fabian
          .small-12.columns.cover-buttons
            %span.line-button.compare= link_to "Compare"
            %span.line-button= link_to "Suggest Anime"
          .row
            .small-10.columns.small-centered.mobile-navigation
              %a.button.small.padded.dropdown{"data-dropdown" => "drop1", :href => "#"} Profile Navigation
              %br
              %ul#drop1.f-dropdown
                %li.hide= link_to "Activity Feed", "#"
                %li.hide= link_to "About", user_path(@user)
                %li= link_to "Library", user_watchlist_path(@user)
                %li.hide= link_to "Reviews", user_reviews_path(@user)
                %li.hide= link_to "Forum Posts", user_forum_posts_path(@user)
                %li.hide= link_to "Following", "#"
                %li.hide= link_to "Followers", "#"
                - if @user == current_user
                  %li= link_to "Account Settings", main_app.edit_user_registration_path


        = image_tag @user.cover_image.url(:thumb), :class => "cover-image"

        .cover-photo-shadow
          .small-8.columns.anime-time.hide-for-small
            %p.anime-time-info I've watched #{format_minutes @user.life_spent_on_anime} of anime.
          .small-12.large-4.columns.cover-buttons.hide
            %span.line-button.compare= link_to "Compare"
            %span.line-button= link_to "Suggest Anime"


      = yield

    .large-2.columns.adzone.hide-for-small
      / BuySellAds Zone Code
      #bsap_1285892.bsarocks.bsap_950293d851bcefaeefee4413e822bb8c
        
  :coffee
    $(".file-upload input").change ->
      $(this).closest("form").submit()

= render :template => 'layouts/application'

