!!!
%html
  %head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# hummingbird: http://ogp.me/ns/fb/hummingbird#")
    %title Hummingbird

    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags

    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(property="fb:app_id" content="325314560922421")
    %meta(name="fragment" content="!")
    %meta(name="og:title" content="Hummingbird")
    = yield

    :javascript
      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37633900-1']);
      _gaq.push(['_setDomainName', 'hummingbird.me']);
      _gaq.push(['_setCustomVar', 1, 'Anonymous', #{!current_user}, 2]);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      // Twitter
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

      // Facebook
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=452427161479702";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

  %body
    -# / Temporary:
    -# - if Rails.env.development?
    -#   :javascript
    -#     var dont_refresh = true;
    -# - else
    -#   :javascript
    -#     var dont_refresh;
    -#     if (location.href.match(/new_feed/)) {
    -#       dont_refresh = true;
    -#     } else {
    -#       dont_refresh = false;
    -#     }

    :javascript
      (function(){
        var bsa = document.createElement('script');
           bsa.type = 'text/javascript';
           bsa.async = true;
           bsa.src = 'http://s3.buysellads.com/ac/bsa.js';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
      })();

    #fb-root

    / Content
    #ember-root

    / Preload Models
    :javascript
      window.currentUserName = #{(user_signed_in? ? current_user.name : nil).to_json};
      window.preloadData = #{(@preload || []).to_json};

    = javascript_include_tag "application"

    / Segment.io
    - if Rails.env.production?
      :javascript
        var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
        analytics.load("c6svkipfq3");
      - if user_signed_in?
        :javascript
          analytics.identify('#{j current_user.name}', {
            email: '#{j current_user.email}',
            username: '#{j current_user.name}'
          });

