- content_for(:content) do
  .row
    .large-9.columns.search-body.no-padding
      .large-9.columns.search-head
        %h2 Found #{@results.total_count} results for <i>#{params[:query]}</i>
        .row
          %form(action="/search")
            .small-9.columns
              %input.big-form{:placeholder => "Search Anime, People and Forum Posts", :type => "text", :value => params[:query], :name => "query"}
                %input{:type => "hidden", :name => "type", :value => @search_type}
            .small-3.columns.no-padding-left
              %input.large.button.expand.padded{:type => "submit", :value => "Search"}
      .large-12.columns.option-bar
        .small-6.large-2.columns.hide-for-small
          %p.option-title Search Results

        .small-12.large-9.columns.options
          %ul.status-tabs.inline-list
            - %w[ anime manga users ].each do |t|
              %li{:class => ("active" if @search_type == t)}
                = link_to t.titleize, search_path(type: t, query: params[:query])
      = yield
    .large-3.columns.hide-for-small{:style => "margin-top: 15px;"}
      :javascript
        google_ad_client = "ca-pub-3410319844519574";
        /* Search Sidebar */
        google_ad_slot = "3057926049";
        google_ad_width = 300;
        google_ad_height = 250;
      %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}



= render :template => 'layouts/application'
